textarea{
    resize: none;
}
.addCollComm{
    cursor: pointer;
}


/* freeze first col and row */
.main-table{
    /* height: 800px; */
  }
  table.table-striped.quick-table th, table.table-striped.quick-table td {
    width: 190px;
  }
  table.table-striped.quick-table {
    table-layout: fixed;
    width:100%;
  }
  table.table-striped.quick-table td:first-child, table.table-striped.quick-table th:first-child
  /* table.table-striped.quick-table td:nth-child(2), table.table-striped.quick-table th:nth-child(2), */
  /* table.table-striped.quick-table thead tr th, table.table-striped.quick-table thead tr th .table-search label */
  {
    position:sticky;
    left:0;
    top: 0;
    z-index:1;
    background-color: #00B96F;
    color: #fff;
  }
  table.table-striped.quick-table th:first-child {
    z-index:2;
  }
  /* freeze first col and row */






  
.top-container {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

.status {
  height: 20px;
  width: 40px;
}

.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
.red {
  background-color: red;
}
.grey {
  background-color: grey;
}
.blue {
  background-color: blue;
}
.purple {
  background-color: purple;
}