textarea{
    resize: none;
}
.addCollComm{
    cursor: pointer;
}


/* freeze first col and row */
.main-table{
    height: 800px;
  }
  table.table-striped.quick-table th, table.table-striped.quick-table td {
    width: 190px;
  }
  table.table-striped.quick-table {
    table-layout: fixed;
    width:100%;
  }
  table.table-striped.quick-table td:first-child, table.table-striped.quick-table th:first-child,
  /* table.table-striped.quick-table td:nth-child(2), table.table-striped.quick-table th:nth-child(2), */
  table.table-striped.quick-table thead tr th, table.table-striped.quick-table thead tr th .table-search label{
    position:sticky;
    left:0;
    top: 0;
    z-index:1;
    background-color: grey;
    color: #fff;
  }
  table.table-striped.quick-table th:first-child {
    z-index:2;
  }
  /* freeze first col and row */