textarea{
    resize: none;
}
.addCollComm{
    cursor: pointer;
}


/* freeze first col and row */
.main-table{
  height: 700px;
}
  table.table-striped.quick-table th, table.table-striped.quick-table td {
    width: 190px;
  }
  table.table-striped.quick-table {
    table-layout: fixed;
    width:100%;
  }
  table.table-striped.quick-table td:nth-child(1), table.table-striped.quick-table th:nth-child(1),
  table.table-striped.quick-table thead tr th 
  {
    position:sticky;
    left:0;
    top: 0;
    z-index:1;
    background-color: #00B96F;
    color: #fff;
  }
  table.table-striped.quick-table th:first-child {
    z-index:2;
  }
  /* freeze first col and row */
  table.table-striped.edit-table td:first-child, table.table-striped.edit-table th:first-child{
    background-color: #00B96F;
    color: #fff;
  }





  
  .red-color{
    color: red;
  }
.top-container {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

.status {
  height: 20px;
  width: 40px;
}

.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
.red {
  background-color: red;
}
.grey {
  background-color: grey;
}
.blue {
  background-color: blue;
}
.purple {
  background-color: purple;
}
.orange {
  background-color: pink;
}
.highlight{
  background: #dad5d5;
}
.table-search:focus-within label {
  color: #434B52;
}
.table.table-striped.folder-table tr td, .table.table-striped.folder-table tr th {
  text-align: left;
  padding-left: 10px;
}
.table.table-striped.folder-table tr td a{
  color: #222;
}
.table.table-striped.folder-table tr td a img{
  padding-right: 10px;
}
.write-note {
  max-height: none;
}