
<div class="container-fluid">
  <div class="row">
     <div class="col-md-4">
           <div class="form-group">
              <p class="p16">{{'viewCollections.label' | translate}}</p>
           </div>
     </div>
  </div>
  <div class="row">
     <div class="offset-md-4"></div>
     <div class="col-md-8 col-12">
           <div class="cust-tabs-2">
              <ul class="nav nav-tabs float-right">
                 <li class="nav-item">
                    <a [ngClass]="{'active':parameter.dash_flag == 1}" (click)="changeFlag(1)" class="nav-link" data-toggle="tab" href="#tw">{{'filters.time.thisWeek' | translate}}</a>
                 </li>
                 <li class="nav-item">
                    <a [ngClass]="{'active':parameter.dash_flag == 2}" (click)="changeFlag(2)" class="nav-link" data-toggle="tab" href="#tm">{{'filters.time.thisMonth' | translate}}</a>
                 </li>
                 <li class="nav-item">
                    <a [ngClass]="{'active':parameter.dash_flag == 3}" (click)="changeFlag(3)" class="nav-link" data-toggle="tab" href="#lm">{{'filters.time.lastMonth' | translate}}</a>
                 </li>
                 <li class="nav-item">
                    <a [ngClass]="{'active':parameter.dash_flag == 4}" (click)="changeFlag(4)" class="nav-link" data-toggle="tab" href="#lt">{{'filters.time.lifetime' | translate}}</a>
                 </li>
                 <li class="nav-item">
                    <a [ngClass]="{'active':parameter.dash_flag == 5}" (click)="changeFlag(5)" class="nav-link" data-toggle="tab" href="#cust">{{'filters.time.custom.label' | translate}}</a>
                 </li>
              </ul>
           </div>
     </div>
  </div>

  <div class="row">
  <div class="col-12">
        <div *ngIf="parameter.dash_flag == 5" class="row">
           <div class="offset-lg-7"></div>
           <div class="col-lg-2 col-md-2 col-sm-5 col-5">
           <div class="form-group marginB0">
              <label>{{'filters.time.custom.from' | translate}}</label>
              <p-calendar [locale]="locale" showIcon="true" [(ngModel)]="parameter.min" [maxDate]="today" showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2040"></p-calendar>
           </div>
           </div>
           <div class="col-lg-2 col-md-2 col-sm-5 col-5">
           <div class="form-group marginB0">
              <label>{{'filters.time.custom.to' | translate}}</label>
              <p-calendar [locale]="locale" showIcon="true" [(ngModel)]="parameter.max" [minDate]="parameter.min" [maxDate]="today" showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2040"></p-calendar>
           </div>
           </div>
           <div class="col-lg-1 col-md-2 col-sm-2 col-6">
           <div class="form-group btn-cont">
              <label class="addMT3">&nbsp;</label>
              <button class="btn btn-calender" href="javascript://" (click)="getListing()"
              [disabled]="!parameter.min || !parameter.max">{{'filters.time.custom.applyBtn' | translate}}</button>
           </div>
           </div>
        </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-2 col-md-2">
        <div class="form-group">
        <label>{{'filters.location.country' | translate}}</label>
        <select class="form-control" (change)="onCountryChange($event.target.value)">
           <option value="0">{{'filters.location.allOption' | translate}}</option>
           <option *ngFor="let item of location.countries" [value]="item.id">{{item.name}}</option>
        </select>
        </div>
  </div>
  <div class="col-lg-2 col-md-2">
        <div class="form-group">
        <label>{{'filters.location.state' | translate}}</label>
        <select class="form-control" (change)="onStateChange($event.target.value)">
           <option value="0">{{'filters.location.allOption' | translate}}</option>
           <option *ngFor="let item of location.states" [value]="item.id">{{item.name}}</option>
        </select>
        </div>
  </div>
  <div class="col-lg-2 col-md-2">
        <div class="form-group">
           <label>{{'filters.location.city' | translate}}</label>
           <select class="form-control" (change)="onCityChange($event.target.value)">
              <option value="0">{{'filters.location.allOption' | translate}}</option>
           <option *ngFor="let item of location.cities" [value]="item.id">{{item.name}}</option>
           </select>
        </div>
  </div>

  <div class="col-lg-2 col-md-2">
        <div class="form-group">
           <label>{{'filters.location.locality' | translate}}</label>
        <select class="form-control" (change)="getLocalityBuildings($event.target.value)">
           <option value="0">{{'filters.location.allOption' | translate}}</option>
           <option *ngFor="let item of location.localities" [value]="item.id">{{item.name}}</option>
        </select>
        </div>
  </div>

  <div class="col-lg-2 col-md-2">
     <div class="form-group marginB0">
        <label>{{'filters.location.building' | translate}}</label>
           <select class="form-control" (change)="setBuilding($event.target.value)">
              <option value="0">{{'filters.location.allOption' | translate}}</option>
           <option *ngFor="let building of parameter.buildings" value="{{building.id}}">{{building.name}}</option>
           </select>
     </div>
  </div>
  
  <div class="col-lg-1 col-md-2">
        <div class="form-group btn-cont">
        <label style="display: block; margin-top: 3px;">&nbsp;</label>
        <button type="button" (click)="getListing()" class="btn btn-primary-new width100P P86">{{'filters.location.applyBtn' | translate}}</button>
        </div>
  </div>

  <div class="col-lg-1 col-md-2">
        <div class="form-group btn-cont">
        <label style="display: block; margin-top: 3px;">&nbsp;</label>
        <button type="button" (click)="resetFilters()" class="btn btn-primary-new width100P P86">{{'filters.location.resetBtn' | translate}}</button>
        </div>
  </div>
</div>

     <div class="cust-tabs">
      <div class="row flex-wrap-reverse">
      
      <div class="col-xl-10 col-lg-12 col-md-12 col-sm-12 col-12">
      <ul class="nav nav-tabs">
            <li class="nav-item">
            <a [ngClass]="{'active':parameter.flag==1}" (click)="changeAppUnappFlag(1)" class="nav-link cursor-pointer" >{{'filters.flag.approved' | translate}}</a>
            </li>
            <li class="nav-item">
            <a [ngClass]="{'active':parameter.flag==0}" (click)="changeAppUnappFlag(0)" class="nav-link cursor-pointer" >{{'filters.flag.unapproved' | translate}}</a>
            </li>
      </ul>
      </div>
      <div class="col-xl-2 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="add-new pull-right">
                  <!-- *ngIf="admin?.admin_acl['Building Management']?.can_create==1 || admin?.permissions?.can_data_collector==1"  -->
            <a 
            class="btn" href="javascript://" routerLink="/dashboard/collections/add-collection/0">{{'viewCollections.addNew' | translate}}</a>
      </div>
      </div>
      </div>
     <div class="tab-content white-bg">
        <div class="tab-pane active">
           <div class="tabel-section">
              <div class="table-responsive">
                 <table class="table table-striped table-align-left">
                    <tr>
                       <th style="width:4%; text-align:left;">
                          <div class="table-search">
                             <label>{{'table.th.iDAccount' | translate}}</label>
                          </div>
                       </th>
                       <th style="width:10%; text-align:left;">
                          <div class="table-search">
                             <label>{{'table.th.buyerName' | translate}}</label>
                             <div class="searh-3">
                                <input autocomplete="off" class="width100px" type="text" [(ngModel)]="parameter.buyer_name" (keyup.enter)="getListing()" >
                                <button *ngIf="parameter.buyer_name" (click)="getListing()"><i class="fa fa-search"></i></button>
                             </div>
                          </div>
                       </th>
                       <th style="width:10%; text-align:left;">
                          <div class="table-search">
                             <label>{{'table.th.buyerLegalRepresentative' | translate}}</label>
                          </div>
                       </th>
                       <th style="width:10%; text-align:left;">
                          <div class="table-search">
                             <label>{{'table.th.sellerName' | translate}}</label>
                             <div class="searh-3">
                                <input autocomplete="off" class="width100px" type="text" [(ngModel)]="parameter.seller_name" (keyup.enter)="getListing()" >
                                <button *ngIf="parameter.seller_name" (click)="getListing()"><i class="fa fa-search"></i></button>
                             </div>
                          </div>
                       </th>
                       <th style="width:10%; text-align:left;">
                          <div class="table-search">
                             <label>{{'table.th.sellerLegalRepresentative' | translate}}</label>
                          </div>
                       </th>
                       <th style="width:10%; text-align:left;">
                          <div class="table-search">
                             <label>{{'table.th.nameOfBuilding' | translate}}</label>
                             <div class="searh-3">
                                <input autocomplete="off" class="width100px" type="text" [(ngModel)]="parameter.building_name" (keyup.enter)="getListing()" >
                                <button *ngIf="parameter.building_name" (click)="getListing()"><i class="fa fa-search"></i></button>
                             </div>
                          </div>
                       </th>
                       <th style="width:10%; text-align:left;">
                          <div class="table-search">
                             <label>{{'table.th.nameOfTower' | translate}}</label>
                             <div class="searh-3">
                                <input autocomplete="off" class="width100px" type="text" [(ngModel)]="parameter.tower_name" (keyup.enter)="getListing()" >
                                <button *ngIf="parameter.tower_name" (click)="getListing()"><i class="fa fa-search"></i></button>
                             </div>
                          </div>
                       </th>
                       <th style="width:10%; text-align:left;">
                          <div class="table-search">
                             <label>{{'table.th.nameOfApartment' | translate}}</label>
                             <div class="searh-3">
                                <input autocomplete="off" class="width100px" type="text" [(ngModel)]="parameter.apartment_name" (keyup.enter)="getListing()" >
                                <button *ngIf="parameter.apartment_name" (click)="getListing()"><i class="fa fa-search"></i></button>
                             </div>
                          </div>
                       </th>
                       <th style="width:10%; text-align:left;">
                          <div class="table-search">
                             <label>{{'table.th.configuration' | translate}}</label>
                             <div class="searh-3">
                                <input autocomplete="off" class="width100px" type="text" [(ngModel)]="parameter.config_name" (keyup.enter)="getListing()" >
                                <button *ngIf="parameter.config_name" (click)="getListing()"><i class="fa fa-search"></i></button>
                             </div>
                          </div>
                       </th>
                       <th style="width:10%; text-align:left;">
                          <div class="table-search">
                             <label>{{'table.th.locality' | translate}}</label>
                          </div>
                       </th>
                       <th style="width:8%;vertical-align:top;">
                          <div (click)="sort_by(1)" class="d-flex table-search">
                             <label>{{'table.th.purchaseDate' | translate}}</label>
                           </div>
                       </th>

                       <th style="width:4%;vertical-align:top;">
                          <div class="d-flex table-search">
                             <label>{{'table.th.lastConcept' | translate}}</label>
                          </div>
                       </th>
                       <th style="width:8%;vertical-align:top;">
                          <div class="d-flex table-search">
                             <label>{{'table.th.lastDateOfPayment' | translate}}</label></div>
                       </th>
                       <th style="width:4%;vertical-align:top;">
                          <div class="d-flex table-search">
                             <label class="width100px">{{'table.th.lastAmount' | translate}}</label>
                          </div>
                       </th>
                       <th style="width:4%;vertical-align:top;">
                          <div  class="d-flex table-search">
                             <label>{{'table.th.nextConcept' | translate}}</label>
                          </div>
                       </th>
                       <th style="width:5%;vertical-align:top;">
                          <div class="d-flex table-search">
                             <label>{{'table.th.nextDateOfPayment' | translate}}</label>
                          </div>
                       </th>
                       <th style="width:5%;vertical-align:top;">
                          <div class="table-search">
                             <label class="width100px">{{'table.th.nextAmount' | translate}}</label>
                          </div>
                       </th>
                       <th style="width:10%; text-align:left;">
                              <div class="table-search">
                              <label>{{'table.th.currency' | translate}}</label>
                              </div>
                        </th>
                       <th style="width:6%;vertical-align:top;">
                          <div class="table-search">
                             <label>{{'table.th.sozuCommission' | translate}}</label>
                          </div>
                       </th>
                       <th style="width:5%;vertical-align:top;">
                          <div class="table-search">
                             <label>{{'table.th.agentCommission' | translate}}</label>
                          </div>
                       </th>
                       <th style="width:5%;vertical-align:top;">
                          <div class="table-search">
                             <label>{{'table.th.commissionAgent' | translate}}</label>
                          </div>
                       </th>
                       <th style="width:10%; text-align:left;">
                          <div class="table-search">
                             <label>{{'table.th.price' | translate}}</label>
                          </div>
                       </th>
                       <th style="width:10%; text-align:left;">
                          <div class="table-search">
                             <label>{{'table.th.penalty' | translate}}</label>
                          </div>
                       </th>
                       <th style="width:10%; text-align:left;">
                          <div class="table-search">
                             <label>{{'table.th.amountPaid' | translate}}</label>
                          </div>
                       </th>
                       <th style="width:10%; text-align:left;">
                           <div class="table-search">
                              <label>{{'table.th.remaniningAmount' | translate}}</label>
                           </div>
                        </th>
                        <th style="width:10%; text-align:left;">
                        <div class="table-search">
                           <label>{{'table.th.statusAccount' | translate}}</label>
                        </div>
                     </th>
                       <th style="width:10%;" *ngIf="parameter.flag!=5">
                          <div class="table-search">
                             <label>{{'table.th.actions.label' | translate}}</label>
                          </div>
                       </th>
                    </tr>
              
                    <tr *ngFor="let p of items | paginate: { itemsPerPage: parameter.itemsPerPage, currentPage: parameter.page, totalItems: total }; let i=index">
                    <td><span>{{p?.id ? p?.id : ('table.tr.td.NA' | translate)}}</span></td>
                     <td>
                        <span *ngIf="p?.buyer_type == 1">{{p?.buyer?.name ? p?.buyer?.name : ('table.tr.td.NA' | translate)}}</span>
                        <span *ngIf="p?.buyer_type == 2">{{p?.buyer_legal_entity?.comm_name ? p?.buyer_legal_entity?.comm_name : ('table.tr.td.NA' | translate)}}</span>
                        <span *ngIf="p?.buyer_type == 3">{{p?.buyer?.name ? p?.buyer?.name : ('table.tr.td.NA' | translate)}}</span>
                     </td>
                     <td><span>{{p?.buyer_leg_rep_name ? p?.buyer_leg_rep_name : ('table.tr.td.NA' | translate)}}</span></td>
                     <td>
                        <span *ngIf="p?.seller_type == 1">{{p?.seller?.name ? p?.seller?.name : ('table.tr.td.NA' | translate)}}</span>
                        <span *ngIf="p?.seller_type == 2">{{p?.seller_legal_entity?.comm_name ? p?.seller_legal_entity?.comm_name : ('table.tr.td.NA' | translate)}}</span>
                        <span *ngIf="p?.seller_type == 3">{{p?.seller?.name ? p?.seller?.name : ('table.tr.td.NA' | translate)}}</span>
                     </td>    
                     <td><span>{{p?.seller_leg_rep_name ? p?.seller_leg_rep_name : ('table.tr.td.NA' | translate)}}</span></td>
                     <td class="cursor-pointer" title="{{'table.title.clickToViewDetails' | translate}}">
                        <strong>{{p?.property?.building?.name ? p?.property?.building?.name: ('table.tr.td.NA' | translate)}}</strong>
                     </td>
                     <td><span>{{p?.property?.building_towers ? p?.property?.building_towers?.tower_name : ('table.tr.td.NA' | translate)}}</span></td>
                     <td><span>{{p?.property?.name ? p?.property?.name : ('table.tr.td.NA' | translate)}}</span></td>
                     <td>
                        <span>{{p?.property?.building_configuration?.name}}</span>
                        </td>
                     <td><span>{{p?.property?.locality?.name ? p?.property?.locality?.name : ('table.tr.td.NA' | translate)}}</span></td>
                     <td><span>{{p.deal_purchase_date || ('table.tr.td.NA' | translate)}}</span></td>

                     <td><span>{{p?.last_payment?.name || ('table.tr.td.NA' | translate)}}</span></td>
                     <td><span>{{(p?.last_payment?.payment_date ? (p?.last_payment?.payment_date | date:'yyyy-MM-dd') : ('table.tr.td.NA' | translate) )}}</span></td>
                     <td><span> {{p?.currency?.symbol}} {{ (p?.last_payment?.amount || 0) | roundNumber}}</span></td>
                     <td><span>{{p?.next_payment?.name || ('table.tr.td.NA' | translate)}}</span></td>
                     <td><span>{{p?.next_payment?.date || ('table.tr.td.NA' | translate)}}</span></td>
                     <td><span>{{p?.currency?.symbol}} {{ (p?.next_payment?.amount || 0) | roundNumber}}</span></td>

                     <td><span>{{p?.currency?.code || ('table.tr.td.NA' | translate)}}</span></td>
                     <td><span>{{p.comm_total_commission || ('table.tr.td.NA' | translate)}}</span></td>
                     <td><span>{{p.comm_shared_commission || ('table.tr.td.NA' | translate)}}</span></td>
                     <td *ngIf="p?.deal_commission_agents?.length">
                        <span>{{p?.deal_commission_agents[0]?.name || ('table.tr.td.NA' | translate)}}</span>
                     </td>
                     <td *ngIf="!p?.deal_commission_agents?.length">
                        <span>{{('table.tr.td.NA' | translate)}}</span>
                     </td>
                     <td><span>{{p?.currency?.symbol ? p?.currency?.symbol : '$'}} {{(p?.deal_price || 0) | roundNumber}}</span></td>
                     <td><span>{{p?.currency?.symbol}} {{(p?.penalty || 0) | roundNumber}}</span></td>
                     <td><span>{{p?.currency?.symbol}} {{(p?.paid || 0) | roundNumber}}</span></td>
                     <td><span>{{p?.currency?.symbol}} {{((p?.total || 0) - (p?.paid || 0)) | roundNumber}}</span></td>
                     <td>{{'table.tr.td.NA' | translate}}</td>
                     <td>
                     <div class="table-actions">
                        <button [disabled]="admin?.admin_acl['Property Management']?.can_update==0"
                           routerLink="../edit-collection/{{p.id}}" title="{{'table.title.editDetails' | translate}}" 
                           class="action-icon"><img src="assets/img/edit.png" alt="img"></button>
                        
                        <button [disabled]="admin?.admin_acl['Property Management']?.can_update==0"
                        (click)="quickCollectionView(p, i)" title="{{'table.title.quickVisuaization' | translate}}" 
                        class="action-icon"><img src="assets/img/eye-icon.png" alt="img"></button>  
  
                        <button [disabled]="admin?.admin_acl['Property Management']?.can_update==0"
                        (click)="showPenaltyPaymentPopup(p, i, 'penalty-popup')" title="{{'table.title.penaltyPayment' | translate}}" 
                        class="action-icon"><img src="assets/img/stamp.png" alt="img"></button>  

                        <button [disabled]="admin?.admin_acl['Property Management']?.can_update==0"
                        (click)="showApplyPaymentPopup(p, i, 'apply-popup')" title="{{'table.title.applyPayment' | translate}}" 
                        class="action-icon"><img src="assets/img/ic_payment.png" alt="img"></button>  

                        <button [disabled]="admin?.admin_acl['Property Management']?.can_update==0"
                        (click)="showCollectionCommReceipt(p, i, 'commission-popup')" title="{{'table.title.collectionCommission' | translate}}" 
                        class="action-icon"><img src="assets/img/ic_commission.png" alt="img"></button>  

                        <button *ngIf="p.is_approved == 1" [disabled]="admin?.admin_acl['Property Management']?.can_update==0" 
                        (click)="changeStatus(p, 0);" class="action-icon" 
                        title="{{'table.title.unapprove' | translate}}"><img src="assets/img/ic_disapprove.png" alt="img"></button>
                       
                        <button *ngIf="p.is_approved == 0" [disabled]="admin?.admin_acl['Property Management']?.can_update==0" 
                        (click)="changeStatus(p, 1);" class="action-icon" 
                        title="{{'table.title.approve' | translate}}"><img src="assets/img/tick.png" alt="img"></button>

                        <button [disabled]="admin?.admin_acl['Property Management']?.can_update==0"
                        (click)="getNotes(p)" title="{{'table.title.collectionNotes' | translate}}" 
                        class="action-icon"><img src="assets/img/chat-icon.png" alt="img"></button>  

                        <button [disabled]="admin?.admin_acl['Property Management']?.can_update==0"
                        (click)="deletePopup(p, i)" title="{{'table.title.delete' | translate}}" 
                        class="action-icon"><img src="assets/img/ic_delete.png" alt="img"></button>  
                        
                    </div>

                     </td>
                    </tr>
                 </table>
                 <div class="padding20 center" *ngIf="total == 0">
                       <img src="assets/img/404-error.png">
                 </div>
              </div>
           </div>
        </div>
        <div class="tab-pane container fade" id="seller">{{'table.th.sellerTabOn' | translate}}</div>
     </div>
  </div>
  
<div class="btn-cont marginT15" *ngIf="total">
     <div class="row">
         <div class="col-6">
             <div class="title-group">
                 <p>{{'table.pagination.showing' | translate}} {{items?.length}} {{'table.pagination.outof' | translate}} {{total}}</p>
             </div>
         </div>
         <div class="col-6 text-right">
             <pagination-controls class="my-pagination" (pageChange)="getPage($event)"></pagination-controls>
         </div>
     </div>
 </div>
</div>

<a href="javascript://" data-toggle="modal" data-target="#collection-notes" #notesModalOpen></a>
<div class="modal animated" id="collection-notes">
      <div class="modal-dialog fadeIndown">
            <div class="modal-content notary-avail">
                  <div class="modal-header popup-header">
                        <h4>{{'table.title.collectionNotes' | translate}}</h4>
                        <button style="display: none;" type="button" class="close" data-dismiss="modal" #notesModalClose>&times;</button>
                        <button type="button" class="close" (click)="closeNotesModal()">&times;</button>
                  </div>

                  <div class="modal-body">
                        <div class="white-bg">
                              <div class="row">
                                    <div class="col-6">
                                          <p class="p16 marginB0">{{'commonBlock.writeANote' | translate}}</p>
                                    </div>
                                    <div class="col-6 text-right">
                                          <a class="add" href="javascript://" (click)="addNote()">{{'commonBlock.add' | translate}}</a>

                                          <ng-template #noAddPermissiom>
                                                <a class="add" href="javascript://">{{'commonBlock.add' | translate}}</a>
                                          </ng-template>
                                    </div>
                              </div>
                        </div>
                        <div class="form-group-2">
                              <div class="form-group">
                                    <textarea rows="3" required class="form-control note" name="note" [(ngModel)]="model.note"></textarea>
                              </div>
                        </div>
                        <div *ngIf="parameter.items?.length!=0" [ngStyle]="{'max-height':sent_as === 1 ? '250px' : '' }" class="write-note white-bg"
                              malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
                              <div class="wn-block" *ngFor="let item of parameter.items; let i=index">
                                    <div class="circle">
                                          <span></span>
                                    </div>
                                    <a class="delete" href="javascript://" (click)="deleteLeadPopup(item.id, i)">{{'commonBlock.delete' | translate}}</a>

                                    <ng-template #noDeletePermissiom>
                                          <a class="delete" href="javascript://">{{'commonBlock.delete' | translate}}</a>
                                    </ng-template>
                                    <!-- <p class="time">{{item.updated_at | chatTime: 'YYYY-MM-DD H:m:s': 2}}</p> -->
                                    <pre class="p13" *ngIf="!item.show">{{item.note.slice(0, 90)}} <span class="read-more" *ngIf="item.note.length>100" (click)="item.show=true">Read more</span></pre>
                                    <pre class="p13" *ngIf="item.show">{{item.note}}</pre>
                              </div>
                        </div>
                        <div *ngIf="parameter.items?.length==0" class="write-note white-bg" [ngStyle]="{'height':sent_as === 1 ? '230px' : '245px' }">
                              <p class="show-not-found">
                                    {{'message.error.noNoteFound' | translate}}
                              </p>
                        </div>
                  </div>
            </div>
      </div>
</div>



<a href="javascript://" data-toggle="modal" data-target="#penaltyModal" #penaltyModalOpen></a>
<div class="modal animated" id="penaltyModal">
    <div class="modal-dialog fadeIndown">
        <div class="modal-content notary-avail">
              <div class="modal-header popup-header">
          <h4>{{'viewCollections.addPenalty' | translate}}</h4>
            <button style="display: none;" type="button" class="close" data-dismiss="modal" #penaltyModalClose>&times;</button>
            <button type="button" class="close" (click)="closePenaltyPaymentPopup(); addForm.reset()">&times;</button>
        </div>
  
        <form class="form-horizontal padding0" role="form" ngNativeValidate #addForm="ngForm" (ngSubmit)="applyCollectionPenalty(addForm.value)">
          <div class="modal-body">
            <div class="row">
              <div class="col-12">
                <div class="spacer40"></div>
              </div>
              <div class="col-12">
                <div class="form-group-2">
                    <label>{{'viewCollections.choosePaymentConcept' | translate}}<span class="color-red">*</span></label>
                    <div class="form-group">
                        <select name="payment_choice" required class="form-control" [(ngModel)]="payment_choice_id">
                              <option value="">{{'viewCollections.choosePaymentConcept' | translate}}</option>
                              <option *ngFor="let bt of paymentConcepts" [value]="bt.id" 
                               [disabled]="bt?.penalty || bt?.collection_payment"> {{bt?.name}}</option>
                        </select>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group-2">
                    <label>{{'viewCollections.enterPaymentAmt' | translate}}<span class="color-red">*</span></label>
                    <div class="form-group">
                    <input autocomplete="off" required type="number" step="0.01" min="0" class="form-control" [(ngModel)]="paymentAmount" 
                        name="paymentAmount">
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group-2">
                    <label>{{'viewCollections.description' | translate}}</label>
                    <div class="form-group">
                          <textarea rows="3" [(ngModel)]="description" name="description" class="form-control"></textarea>
                 </div>
                </div>
              </div>
              <div class="col-12">
                <div class="btn-cont text-right">
                    <button type="submit" class="btn btn-primary-new">
                        {{'addForm.addBtn' | translate}}</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  

<a href="javascript://" data-toggle="modal" data-target="#entityModal" #paymentModalOpen></a>
<div class="modal animated" id="entityModal">
    <div class="modal-dialog fadeIndown">
        <div class="modal-content notary-avail">
              <div class="modal-header popup-header">
          <h4>{{'viewCollections.applyPayment' | translate}}</h4>
            <button style="display: none;" type="button" class="close" data-dismiss="modal" #paymentModalClose>&times;</button>
            <button type="button" class="close" (click)="closePaymentModal(); addForm.reset()">&times;</button>
        </div>
  
        <form autocomplete="off" class="form-horizontal padding0" role="form" ngNativeValidate #addForm="ngForm" (ngSubmit)="applyCollectionPayment(addForm.value)">
          <div class="modal-body">
            <div class="row">
              <div class="col-12">
                <div class="spacer40"></div>
              </div>
              <div class="col-12">
                <div class="form-group-2">
                    <label>{{'viewCollections.choosePaymentConcept' | translate}} <span class="color-red">*</span></label>
                    <div class="form-group">
                        <select name="payment_choice" #applyPaymentChoiceId required class="form-control" [(ngModel)]="payment_choice_id" (ngModelChange)="setPaymentAmount($event)">
                              <option value="">{{'viewCollections.choosePaymentConcept' | translate}}</option>
                              <!-- <option *ngFor="let bt of paymentConcepts" [ngValue]="bt" 
                               [disabled]="bt?.collection_payment"> {{bt?.name}}</option> -->
                               <option *ngFor="let bt of paymentConcepts" [ngValue]="bt"> 
                                 {{bt?.name}} 
                                 <!-- <span *ngIf="bt?.is_paid_calculated"> | Paid</span> -->
                                </option>
                        </select>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group-2">
                    <label>{{'viewCollections.choosePaymentMethod' | translate}} <span class="color-red">*</span></label>
                    <div class="form-group">
                        <select name="payment_method" #applyPaymentMethodId required class="form-control" [(ngModel)]="payment_method_id">
                              <option value="">{{'viewCollections.choosePaymentMethod' | translate}}</option>
                              <option *ngFor="let bt of paymentMethods" [value]="bt.id"> {{bt?.name}}</option>
                        </select>
                  </div>
                </div>
              </div>
              <div class="col-12" *ngIf="typeOfPayment=='apply-popup' && selectedPaymentConcept">
                <div class="form-group-2">
                    <label>{{'viewCollections.programmedDate' | translate}}<span class="color-red">*</span></label>
                    <div class="form-group">
                    <input readonly class="form-control" value="{{selectedPaymentConcept?.date}}" name="pendingPayment">
                  </div>
                </div>
              </div>
              <div class="col-12" *ngIf="typeOfPayment=='apply-popup'">
                <div class="form-group-2">
                    <label>{{'viewCollections.pendingExtraAmt' | translate}}<span class="color-red">*</span></label>
                    <div class="form-group">
                    <input readonly class="form-control" value="{{pendingPayment}}" name="pendingPayment">
                  </div>
                </div>
              </div>
              <div class="col-12" *ngIf="typeOfPayment=='apply-popup'">
                <div class="form-group-2">
                    <label>{{'viewCollections.penaltyAmount' | translate}}<span class="color-red">*</span></label>
                    <div class="form-group">
                    <input readonly class="form-control" value="{{penaltyAmount}}" name="penaltyAmount">
                  </div>
                </div>
              </div>
              <div class="col-12" *ngIf="typeOfPayment=='apply-popup'">
                <div class="form-group-2">
                    <label>{{'viewCollections.currentAmtTobePaid' | translate}}<span class="color-red">*</span></label>
                    <div class="form-group">
                    <input autocomplete="off" required type="number" step="0.01" min="0" class="form-control" [(ngModel)]="currentAmount" 
                        name="currentAmount">
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group-2">
                    <label>{{'viewCollections.totalAmtToBePaid' | translate}}<span class="color-red">*</span></label>
                    <div class="form-group">
                    <input autocomplete="off" required type="number" step="0.01" min="0" class="form-control" [(ngModel)]="paymentAmount" 
                        name="paymentAmount">
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group-2">
                    <label>{{'viewCollections.choosePaymentReceipt' | translate}} <span class="color-red">*</span></label>
                    <div class="form-group">
                        <input type="file" name="docFile" #docsFile1
                        accept=".doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/pdf,image/x-png,image/jpg,image/jpeg"
                        (change)="onSelectFile($event.target.files)">
                    </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group-2">
                    <label>{{'viewCollections.paymentDate' | translate}}</label><span class="color-red">*</span>
                    <div class="form-group">
                      <div class="clearfix"></div>
                      <p-calendar class="form-control" autocomplete="off" [style]="{'width':'100%'}" name="date" class="sz-calendar" [locale]="locale" showIcon="true" 
                        (onSelect)="onSelect($event)" [maxDate]="today"
                        showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2040"></p-calendar>
                    </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group-2">
                    <label>{{'viewCollections.description' | translate}}</label>
                    <div class="form-group">
                          <textarea rows="3" [(ngModel)]="description" name="description" class="form-control"></textarea>
                 </div>
                </div>
              </div>
              <div class="col-12">
                <div class="btn-cont text-right">
                    <button type="submit" class="btn btn-primary-new">
                        <img *ngIf="parameter.loading" src="assets/img/loader_gif.gif" height="20">
                        {{'addForm.addBtn' | translate}}</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  


<a href="javascript://" data-toggle="modal" data-target="#coll-comm-Modal" #viewCollectionOpen></a>
<div class="modal animated" id="coll-comm-Modal">
    <div class="modal-dialog modal-lg fadeIndown">
        <div class="modal-content notary-avail">
              <div class="modal-header popup-header">
          <h4>{{'viewCollections.collection' | translate}}</h4>
            <button style="display: none;" type="button" class="close" data-dismiss="modal" #viewCollectionClose>&times;</button>
            <button type="button" class="close" (click)="closeCollCommissionModal()">&times;</button>
        </div>
         <div class="modal-body">
            <div class="row">
              <div class="col-12">
                <div class="spacer40"></div>
              </div>

              <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                              <th><b>{{'viewCollections.concept' | translate}}</b></th>
                              <th><b>Month</b></th>
                              <th><b>Payment Date</b></th>
                              <th><b>Paid</b></th>
                              <th><b>Outstanding Payment</b></th>
                              <th><b>Penalty FLP</b></th>
                              <th><b>Purchased Commission</b></th>
                              <th><b>Date Of PC</b></th>
                              <th><b>Collection Commission</b></th>
                              <th><b>Date Of CC</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of paymentConcepts; let i=index">
                              <td>{{p?.name}}</td>
                              <td>{{p?.date}}</td>
                              <td>{{p?.date}}</td>
                              <td> {{items[collectionIndex]?.currency?.symbol}} {{p?.amount}}</td>
                              <td> {{items[collectionIndex]?.currency?.symbol}} {{p?.amount}}</td>
                              <td> {{items[collectionIndex]?.currency?.symbol}} {{p?.amount}}</td>
                              <td> {{items[collectionIndex]?.currency?.symbol}} {{p?.amount}}</td>
                              <td> {{items[collectionIndex]?.currency?.symbol}} {{p?.amount}}</td>
                              <td> {{items[collectionIndex]?.currency?.symbol}} {{p?.amount}}</td>
                              <td> {{items[collectionIndex]?.currency?.symbol}} {{p?.amount}}</td>
                        </tr>
                    </tbody>
              </table>
            </div>
          </div>
      </div>
    </div>
  </div>


  
<a href="javascript://" data-toggle="modal" data-target="#coll-receipt-Modal" #collectionReceiptOpen></a>
<div class="modal animated" id="coll-receipt-Modal">
    <div class="modal-dialog fadeIndown">
        <div class="modal-content notary-avail">
              <div class="modal-header popup-header">
          <h4>{{'viewCollections.commissionPayment' | translate}}</h4>
            <button style="display: none;" type="button" class="close" data-dismiss="modal" #collectionReceiptClose>&times;</button>
            <button type="button" class="close" (click)="closeCollReceiptModal(); addForm.reset()">&times;</button>
        </div>
  
        <form autocomplete="off" class="form-horizontal padding0" role="form" ngNativeValidate #addForm="ngForm" (ngSubmit)="applyCollectionPayment(addForm.value)">
          <div class="modal-body">
            <div class="row">
              <div class="col-12">
                <div class="spacer40"></div>
              </div>
              <div class="col-12">
                <div class="form-group-2">
                    <label>{{'viewCollections.chooseCommissionType' | translate}} <span class="color-red">*</span></label>
                    <div class="form-group">
                        <select name="commission_type" #collectionTypeSelect required class="form-control" (change)="setCommissionType($event.target.value)"
                          [(ngModel)]="commission_type">
                              <option value="">{{'viewCollections.chooseCommissionType' | translate}}</option>
                              <option value="1">{{'viewCollections.purchaseCommission' | translate}}</option>
                              <option value="2">{{'viewCollections.collectionCommission' | translate}}</option>
                        </select>
                  </div>
                </div>
              </div>
              <div class="col-12" *ngIf="commission_type==1">
                <div class="form-group-2">
                    <label>{{'viewCollections.choosePaymentConcept' | translate}} <span class="color-red">*</span></label>
                    <div class="form-group">
                        <select name="payment_choice" #applyPaymentChoiceId1 required class="form-control" [(ngModel)]="payment_choice_id" (ngModelChange)="setPaymentAmount($event)">
                              <option value="">{{'viewCollections.choosePaymentConcept' | translate}}</option>
                              <option *ngFor="let bt of paymentConcepts" [ngValue]="bt" 
                              [disabled]="bt?.payment_made==0 || bt?.purchase_payment"> {{bt?.payment_choice?.name}}</option>
                        </select>
                  </div>
                </div>
              </div>
              <div class="col-12" *ngIf="commission_type==2">
                <div class="form-group-2">
                    <label>{{'viewCollections.choosePaymentConcept' | translate}} <span class="color-red">*</span></label>
                    <div class="form-group">
                        <select name="payment_choice" #applyPaymentChoiceId2 required class="form-control" [(ngModel)]="payment_choice_id" (ngModelChange)="setPaymentAmount($event)">
                              <option value="">{{'viewCollections.choosePaymentConcept' | translate}}</option>
                              <option *ngFor="let bt of paymentConcepts" [ngValue]="bt" 
                               [disabled]="bt?.payment_made==0 || bt?.payment"> {{bt?.payment_choice?.name}}</option>
                        </select>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group-2">
                    <label>{{'viewCollections.choosePaymentMethod' | translate}} <span class="color-red">*</span></label>
                    <div class="form-group">
                        <select name="payment_method" required #applyPaymentMethodId1 class="form-control" [(ngModel)]="payment_method_id">
                              <option value="">{{'viewCollections.choosePaymentMethod' | translate}}</option>
                              <option *ngFor="let bt of paymentMethods" [value]="bt.id"> {{bt?.name}}</option>
                        </select>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group-2">
                    <label>{{'viewCollections.enterPaymentAmt' | translate}}<span class="color-red">*</span></label>
                    <div class="form-group">
                    <input autocomplete="off" required type="number" step="0.01" min="0" class="form-control" [(ngModel)]="paymentAmount" 
                        name="paymentAmount">
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group-2">
                    <label>{{'viewCollections.choosePaymentReceipt' | translate}} <span class="color-red">*</span></label>
                    <div class="form-group">
                        <input type="file" name="docFile" #docsFile2
                        accept=".doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/pdf,image/x-png,image/jpg,image/jpeg"
                        (change)="onSelectFile($event.target.files)">
                    </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group-2">
                    <label>{{'viewCollections.paymentDate' | translate}} <span class="color-red">*</span> </label>
                    <div class="form-group">
                      <div class="clearfix"></div>
                      <p-calendar class="form-control" autocomplete="off" [style]="{'width':'100%'}" name="date" class="sz-calendar" [locale]="locale" showIcon="true" 
                        (onSelect)="onSelect($event)" [maxDate]="today"
                        showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2040"></p-calendar>
                    </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group-2">
                    <label>{{'viewCollections.description' | translate}}</label>
                    <div class="form-group">
                          <textarea rows="3" [(ngModel)]="description" name="description" class="form-control"></textarea>
                 </div>
                </div>
              </div>
              <div class="col-12">
                <div class="btn-cont text-right">
                    <button type="submit" class="btn btn-primary-new">
                        <img *ngIf="parameter.loading" src="assets/img/loader_gif.gif" height="20">
                        {{'addForm.addBtn' | translate}}</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  
