
<div class="container-fluid">
    <div class="white-bg padding15">
        <div class="row">
          <div class="col-lg-3 col-md-12 col-sm-6 col-12">
              <div class="df-profile">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
                <img src="http://via.placeholder.com/48x48" alt="img">
                <div class="df-info">
                    <p class="p14">Lola Simmons</p>
                    <p class="p12">Status: Open</p>
                </div>
              </div>
          </div>
          <div class="col-lg-5 col-md-12 col-sm-6 col-12">
              <div class="profile-list">
                <ul>
                    <li>
                      <div class="df-info">
                          <p class="p14 marginB0">Eric Cook</p>
                          <p class="p12">CSR Buyer</p>
                      </div>
                    </li>
                    <li>
                      <div class="df-info">
                          <p class="p14 marginB0">Mario Sims</p>
                          <p class="p12">CSR Closer</p>
                      </div>
                    </li>
                </ul>
              </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 col-12">
              <div class="form-group d-flex marginT10 float-right right-side">
                <select class="form-control green-select marginL15">
                    <option>Actions</option>
                    <option>Actions</option>
                    <option>Actions</option>
                </select>
              </div>
          </div>
        </div>
    </div>
    <div class="spacer30"></div>
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="white-bg padding30">
              <div class="row">
                <div class="col-md-6">
                    <h6>Details</h6>
                </div>
                <div class="col-md-6">
                    <div class="edit text-right"><a href="javascript://">Edit</a></div>
                </div>
              </div>
              <div class="details-table">
                <table class="table">
                    <tr>
                      <td style="padding-left:0"><label>Full Name</label></td>
                      <td colspan="2">Derek Bowman</td>
                    </tr>
                    <tr>
                      <td style="padding-left:0"><label>Contact Number</label></td>
                      <td colspan="2">471-089-2300</td>
                    </tr>
                    <tr>
                      <td style="padding-left:0"><label>Email address</label></td>
                      <td colspan="2">derekbowman@gmail.com</td>
                    </tr>
                    <tr>
                      <td  style="padding-left:0"><label><strong>Property Selected</strong></label></td>
                      <td>
                          <p class="p14 marginB0">2 BHK</p>
                          <p class="p12 marginB0"><strong>Green House Apartments</strong></p>
                          <p class="p11"><i>Sarovar Builders</i></p>
                      </td>
                      <td><a class="view-all-2" href="javascript://"> View Property</a></td>
                    </tr>
                    <tr>
                      <td  style="padding-left:0"><label><strong>Meeting Schedule</strong></label></td>
                      <td colspan="2">
                          <p class="date">02-Oct-2018, 04:00pm</p>
                      </td>
                    </tr>
                </table>
              </div>
          </div>
          <div class="spacer30"></div>
          <div class="white-bg padding15">
        <div class="row">
          <div class="col-6">
              <p class="p16 marginB0">Write a Note</p>
          </div>
          <div class="col-6 text-right"><a class="add" href="javascript://">Add</a></div>
        </div>
    </div>
    <div class="write-note white-bg">
        <div class="wn-block">
          <div class="circle">
              <span></span>
          </div>
          <a class="delete" href="javascript://">Delete</a>  
          <p class="time">07 Apr 2018 · 10:30AM</p>
          <p class="p13">Hey! I am interested in the  property you’ve listed. I was thinking of having a look at it..<a class="view-more" href="javascript://">view more</a></p>
        </div>
        <div class="wn-block">
          <div class="circle">
              <span></span>
          </div>
          <a class="delete" href="javascript://">Delete</a>
          <p class="time">07 Apr 2018 · 10:30AM</p>
          <p class="p13">Hey! I am interested in the  property you’ve listed. I was thinking of having a look at it..<a class="view-more" href="javascript://">view more</a></p>
        </div>
    </div>
    <div class="upload-document-block white-bg">
        <div class="page-title-2 border-0">
          <div class="row">
              <div class="col-md-6">
                <h4>Documents</h4>
              </div>
              <div class="col-md-6">
                <div class="uplpad-document">
                    <span>+ Upload Document</span>
                    <input type="file" name="">
                </div>
              </div>
          </div>
          <table class="table">
              <tbody><tr>
                <td>
                    <label class="cust-check-bx">Property Possession Papers
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    </label>
                </td>
              </tr>
              <tr>
                <td>
                    <label class="cust-check-bx">Identity Proof of both parties
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    </label>
                </td>
              </tr>
              <tr>
                <td>
                    <label class="cust-check-bx">Photographs (2.5*2.5 inches) of both parties
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    </label>
                </td>
              </tr>
              <tr>
                <td>
                    <label class="cust-check-bx">Guarantor ID proofs from buyer 
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    </label>
                </td>
              </tr>
          </tbody></table>
        </div>
    </div>
    <div class="all-document-block white-bg">
      <div class="page-title-2 border-0">
      <div class="row">
        <div class="col-9">
            <h4>All Documents</h4>
            <p class="p11 marginB0">From both seller and buyer</p>
  
            </div>
            <div class="col-3 text-right">
            <a class="view" href="javascript://">View</a>
            </div>
        </div>
      </div>
      </div>
  
        </div>
  
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="white-bg">
          <div class="page-title-3 marginB0">
          <h4><i><img src="assets/img/chat-icon.png" alt="img"></i> Chat</h4>
        </div>
        <div class="cust-tabs-4">
          <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#csr-closer">CSR Closer</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#notary">Notary</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#bank">Bank</a>
              </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
              <div class="tab-pane active" id="csr-closer">
                <div class="chat-window white-bg">
                    <div class="chat-top">
                      <a href="javascript://">
                          <div class="profile">
                            <div class="fig-block">
                                <img src="http://via.placeholder.com/62x62" alt="img">
                            </div>
                            <div class="profile-info">
                                <h6>Cole Washington</h6>
                                <p class="p12">CSR Closer</p>
                            </div>
                          </div>
                      </a>
                    </div>
                    <div class="chat-area scrollbox" tabindex="0" style="width: 488px; padding-right: 27px; outline: none; overflow: hidden;">
                      <div class="chat-user chat-user-two">
                          <p> Hey! I am interested in the  property you’ve listed. I was thinking of having a look at it. Can we schedule a tour? and Is the price listed fixed? Thanks. </p>
                          <span class="time">
                          2:05pm, May 01, 2014
                          </span>
                      </div>
                      <div class="chat-user chat-user-one">
                          <p> Hey! I am interested in the  property you’ve listed. I was thinking of having a look at it. Can we schedule a tour? and Is the price listed fixed? Thanks. </p>
                          <span class="time">
                          2:05pm, May 01, 2014
                          </span>
                      </div>
                      <div class="chat-user chat-user-two">
                          <p> Hey! I am interested in the  property you’ve listed. I was thinking of having a look at it. Can we schedule a tour? and Is the price listed fixed? Thanks. </p>
                          <span class="time">
                          2:05pm, May 01, 2014
                          </span>
                      </div>
                      <div class="chat-user chat-user-one">
                          <p> Hey! I am interested in the  property you’ve listed. I was thinking of having a look at it. Can we schedule a tour? and Is the price listed fixed? Thanks. </p>
                          <span class="time">
                          2:05pm, May 01, 2014
                          </span>
                      </div>
                    </div> 
                    <div class="chat-text">
                      <input class="chat-input" type="text" name="" placeholder="Type your message here …">
                      <button class="btn">Send</button>
                    </div>
                </div>
              </div>
              <div class="tab-pane container fade" id="notary">Notary</div>
              <div class="tab-pane container fade" id="bank">Bank</div>
          </div>
        </div>
  
        </div>
        </div>
    </div>
  </div>