
<div class="container-fluid">
  <div class="row">
      <div class="col-md-6">
        <div class="title-group">
            <h5>Appointments</h5>
            <p></p>
        </div>
      </div>
  </div>

<div class="white-bg padding20">
   <!-- <p class="p14">My appointments</p> -->
   <div class="row">
      <div class="col-4">
        <select class="form-control" [(ngModel)]="parameter.year">
          <option *ngFor="let y of yearList" [value]="y">{{y}}</option>
        </select> 
      </div>
      <div class="col-4">
        <select class="form-control" [(ngModel)]="parameter.month" (change)="getAppointments()">
          <option *ngFor="let m of constant.months" [value]="m.id">{{m.name}}</option>
        </select> 
      </div>
   </div>
   <div class="spacer30 clearfix"></div>
   <ul class="month-date">
     <li class="cursor-pointer" *ngFor="let item of appointmentDates" title="Click to view list" (click)="meetings = item.meetings">
      <span>{{item.day}}</span>
      <b>{{item.date}}</b>
      <span *ngIf="item.meeting_count>0" class="meeting-count" [ngClass]="{'green':item.meeting_count > 0}">{{item.meeting_count}}</span>
     </li>
   </ul>
   <div class="spacer30 clearfix"></div>
   <div *ngFor="let item of meetings">
      <div class="col-4 white-bg padding15 shadow-new">
          <div class="appoint  marginT0">
                        
              <div class="ap-row">
                 <div class="ap-col">
                    <p class="a-text">{{item?.appointment_date|date :'shortTime'}}</p>
                    <p class="no-show">{{item?.status?.name}}</p>
                 </div>
                 <div class="ap-col">
                    <p class="a-text">{{item?.lead?.user.name | titlecase}}</p>
                    <p class="a-text">{{item?.lead?.user.dial_code}} {{item?.lead?.user.phone}}</p>
                 </div>
                 <div class="ap-col">
                    <button title="Edit Appointment" [disabled]="admin?.admin_acl['Appointments']?.can_update==0" (click)="openAppintment(item)" class="action-icon float-right">
                      <img src="assets/img/edit.png" alt="img">
                    </button>
                 </div>
              </div>      
           </div>
          
        </div>
   </div>
</div>
</div>


<!-- add note modal -->
<a data-toggle="modal" data-target="#editAppointment" #modalOpen></a>
<div class="modal animated" id="editAppointment">
    <div class="modal-dialog fadeIndown">
      <div class="modal-content">
        <div class="modal-header modal-header-new">
            <h4 class="modal-title">Appointment</h4>
            <button type="button" class="close" data-dismiss="modal" #modalClose>&times;</button>
        </div>
          <div class="modal-body modal-body-new model-appointment">
            <div class="row">

              <div class="col-sm-12 col-12">
                  <div class="user fig-block upload-cover-img">
                  <img class="floor-plan" [src]="appointmentNew?.lead?.user?.image" onerror="this.src='assets/img/default_img.png'" />
                  <input accept="image/*" name="" type="file">
                  </div>
              </div>
              <div class="col-sm-12 col-12 text-center" >
                  <p class="p18">{{appointmentNew?.lead?.user?.name | titlecase}}</p>
                  <p class="p14">{{appointmentNew?.lead?.user?.dial_code}} {{appointmentNew?.lead?.user?.phone}}</p>
              </div>

              <div class="col-12">
                <div class="form-group-2">
                   <div class="form-group">
                    <label>Date and Time</label>
                    <input class="form-control" type="datetime-local" [ngModel] ="appointmentNew.appointment_date | date:'yyyy-MM-ddTHH:mm'" (ngModelChange)="appointmentNew.appointment_date = $event">
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group-2">
                    <div class="form-group">
                      <label>Status</label>
                      <select class="form-control" [(ngModel)]="appointmentNew.status_id">
                        <option *ngFor="let item of appointStatuses" [value]="item.id">{{item.name}}</option>
                      </select>
                  </div>
                </div>
              </div>
              <div class="col-12">
                  <div class="btn-cont text-right">
                      <button (click)="saveAppointment()" type="submit" class="btn btn-primary">Save Appointment</button>
                  </div>
              </div>
            </div>
          </div>
  
      </div>
    </div>
  </div>

