<ngx-loading [show]="parameter.loading"></ngx-loading>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10 col-md-8 col-8">
          <div class="title-group">
              <h5>{{title}}</h5>
              <p>Showing {{parameter.items?.length}} out of {{parameter.total}}</p>
          </div>
        </div>
        <!-- <div [ngClass]="parameter.userType=='inhouse-broker' ? 'col-lg-7 col-md-4 col-4' : 'col-lg-10 col-md-8 col-8'">
          <div class="title-group">
              <h5>{{title}}</h5>
              <p>Showing {{parameter.items?.length}} out of {{parameter.total}}</p>
          </div>
        </div> -->

        <!-- <div class="col-lg-3 col-md-4 col-4" *ngIf="parameter.userType=='inhouse-broker'">
          <div class="form-group marginB0">
              <select title="Choose Broker Type" class="form-control" (change)="setBrokerType($event.target.value)">
                <option value="0">Inhouse Broker</option>
                <option value="1">Outside Agent</option>
              </select>
          </div>
        </div> -->
        
        <div class="col-lg-2 col-md-4 col-4">
          <div class="btn-cont text-right">
              <a class="btn" href="javascript://" style="display: none;" data-toggle="modal" data-target="#add" #modalOpen>Add New</a>
              <a *ngIf="admin?.admin_acl['Data Collector Management']?.can_create==1 && parameter.userType=='data-collectors' ||
                admin?.admin_acl['Seller Management']?.can_create==1 && parameter.userType=='csr-sellers' ||
                admin?.admin_acl['Buyer Management']?.can_create==1 && parameter.userType=='csr-buyers' ||
                admin?.admin_acl['Broker Management']?.can_create==1 && parameter.userType=='inhouse-broker' ||
                admin?.admin_acl['Outside Broker Management']?.can_create==1 && parameter.userType=='outside-broker' ||
                admin?.admin_acl['Closer Management']?.can_create==1 && parameter.userType=='csr-closers'" class="btn btn-primary-new width100P" href="javascript://" (click)="openAddModal()">Add New</a>
          </div>
        </div>
    </div>
  
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-6 col-6">
        <div class="form-group marginB0">
            <label>Country</label>
            <select title="Choose Country" class="form-control" (change)="getStates($event.target.value)">
              <option value="-1">All</option>
              <option *ngFor="let country of parameter.countries" value="{{country.id}}">{{country.name_en}}</option>
            </select>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-6 col-6">
        <div class="form-group marginB0">
            <label>State</label>
            <select title="Choose State" class="form-control" (change)="getCities($event.target.value)">
              <option value="-1">All</option>
              <option *ngFor="let state of parameter.states" value="{{state.id}}">{{state.name_en}}</option>
            </select>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-6 col-6">
        <div class="form-group marginB0">
            <label>City</label>
            <select title="Choose City" class="form-control" (change)="getLocalities($event.target.value)">
              <option value="-1">All</option>
              <option *ngFor="let city of parameter.cities" value="{{city.id}}">{{city.name_en}}</option>
            </select>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-6 col-6">
        <div class="form-group marginB0">
            <label>Locality</label>
            <select title="Choose Locality" class="form-control" (change)="getLocalityBuildings($event.target.value)">
              <option value="-1">All</option>
              <option *ngFor="let locality of parameter.localities" value="{{locality.id}}">{{locality.name_en}}</option>
            </select>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-6 col-6">
        <div class="form-group marginB0">
            <label>Building</label>
            <select title="Choose Building" class="form-control" (change)="setBuilding($event.target.value)">
              <option value="-1">All</option>
              <option *ngFor="let building of parameter.buildings" value="{{building.id}}">{{building.name}}</option>
            </select>
        </div>
      </div>
      <div class="col-lg-1 col-md-3 col-sm-6 col-6">
        <div class="form-group btn-cont">
          <label style="display: block; margin-top: 3px;">&nbsp;</label>
          <button type="button" (click)="getInhouseUsers()" class="btn btn-primary-new width100P P86">Apply</button>
        </div>
      </div>
      <div class="col-lg-1 col-md-3 col-sm-6 col-6">
        <div class="form-group btn-cont">
          <label style="display: block; margin-top: 3px;">&nbsp;</label>
          <button type="button" (click)="resetFilters()" class="btn btn-primary-new width100P P86">Reset</button>
        </div>
      </div>
  </div>
    <hr>


    
    <div class="white-bg">
      <div class="tabel-section">
        <div class="table-responsive">

        <table class="table table-striped">
          <tr>
            <th style="width:6%">&nbsp;</th>
            <th style="width:15%" *ngIf="parameter.userType == 'outside-broker'">
              <div class="table-search">
                  <label>Company Name</label>
                  <div class="searh-3">
                    <input type="text" [(ngModel)]="parameter.company_name" (keyup.enter)="searchUserByCompanyName(parameter.company_name)" name="">
                    <button type="button" *ngIf="parameter.company_name" (click)="searchUserByCompanyName(parameter.company_name)"><i class="fa fa-search"></i></button>
                  </div>
              </div>
            </th>
            <th style="width:15%">
              <div class="table-search">
                  <label>Name</label>
                  <div class="searh-3">
                    <input type="text" [(ngModel)]="parameter.name" (keyup.enter)="searchUserByName(parameter.name)" name="">
                    <button type="button" *ngIf="parameter.name" (click)="searchUserByName(parameter.name)"><i class="fa fa-search"></i></button>
                  </div>
              </div>
            </th>
            <th style="width:18%; text-align:left;">
              <div class="table-search">
                  <label>Contact Number</label>
                  <div class="searh-3">
                    <input type="text" [(ngModel)]="parameter.phone" (keyup.enter)="searchUserByPhone(parameter.phone)" name="">
                    <button type="button" *ngIf="parameter.phone" (click)="searchUserByPhone(parameter.phone)"><i class="fa fa-search"></i></button>
                  </div>
              </div>
            </th>
            <th style="width:20%">
              <div class="table-search">
                  <label>Email Address</label>
                  <div class="searh-3">
                    <input type="text" [(ngModel)]="parameter.email" (keyup.enter)="searchUserByEmail(parameter.email)" name="">
                    <button type="button" *ngIf="parameter.email" (click)="searchUserByEmail(parameter.email)"><i class="fa fa-search"></i></button>
                  </div>
              </div>
            </th>
            <th *ngIf="parameter.userType == 'inhouse-broker' || parameter.userType == 'outside-broker' || parameter.userType == 'csr-closers' ||
            parameter.userType == 'csr-sellers' || parameter.userType == 'csr-buyers'" style="width:8%; vertical-align: top;">
              Leads<a (click)="setLeadSort()" href="javascript://"><img [ngClass]="{'upsidedown':this.lead_sort==2}" src="assets/img/top-arrow.png" alt="img"></a>
            </th>
            <th *ngIf="parameter.userType == 'data-collectors'" style="width:22%; vertical-align: top;">
              Building<a (click)="setLeadSort()" href="javascript://"><img [ngClass]="{'upsidedown':this.lead_sort==2}" [ngClass]="{'upsidedown':this.price_sort==2}" src="assets/img/top-arrow.png" alt="img"></a>
            </th>
            <th style="width:19%">
              &nbsp;
            </th>
          </tr>

            <tr *ngFor="let item of parameter.items| paginate: { itemsPerPage: parameter.itemsPerPage, currentPage: parameter.p, totalItems: parameter.total }; let i = index">
              <td> 
                  <img [src]="item.image" class="rounded-circle" onerror='src="assets/img/default_img.png"' alt="img">
                <!-- <img [src]="item.image| img:'small'" class="rounded-circle" onerror='src="constant.userPlaceholder"' alt="img"> -->
              </td>
              <td class="text-left" *ngIf="parameter.userType == 'outside-broker'">
                <span class="name">{{item.company_name ? item.company_name : 'NA'}}</span>
              </td>
              <td class="text-left text-ellipsis120">
                <span class="name">{{item.name}}</span>
              </td>
              <td class="text-left" *ngIf="item.phone">{{item.dial_code && item.dial_code!=undefined ? item.dial_code : constant.dial_code}}-{{item.phone}}</td>
              <td class="text-left" *ngIf="!item.phone">NA</td>
              <td class="text-left">{{item.email}}</td>
              <td *ngIf="parameter.userType == 'csr-sellers' || parameter.userType == 'csr-buyers' ||
                    parameter.userType == 'inhouse-broker' || parameter.userType == 'outside-broker' || parameter.userType == 'csr-closers'; else showBuildings">{{item.lead_count?item.lead_count:'0'}}</td>
              <td *ngIf="parameter.userType == 'data-collectors'" >{{item.added_buildings_count?item.added_buildings_count:'0'}}</td>
              <td>
                <a *ngIf="admin?.admin_acl['Building Management']?.can_read==1 && parameter.userType == 'data-collectors'" title="View Projects" href="javascript://" routerLink="/dashboard/projects/view-projects/{{item.id}}" class="icon-block edit-icon">
                  <img src="assets/img/ic_projects_manage.png" alt="img">
                </a>
                <a *ngIf="admin?.admin_acl['Seller Lead Management']?.can_read==1 && parameter.userType == 'csr-sellers'" title="View Leads" href="javascript://" routerLink="/dashboard/leads/csr-sellers-leads/{{item.id}}" class="icon-block edit-icon">
                  <img src="assets/img/ic_leads.png" alt="img">
                </a>
                <a *ngIf="admin?.admin_acl['Buyer Lead Management']?.can_read==1 && parameter.userType == 'csr-buyers'" title="View Leads" href="javascript://" routerLink="/dashboard/leads/csr-buyers-leads/{{item.id}}" class="icon-block edit-icon">
                  <img src="assets/img/ic_leads.png" alt="img">
                </a>
                <a *ngIf="admin?.admin_acl['Broker Lead Management']?.can_read==1 && parameter.userType == 'inhouse-broker'" title="View Leads" href="javascript://" routerLink="/dashboard/leads/inhouse-broker-leads/{{item.id}}" class="icon-block edit-icon">
                  <img src="assets/img/ic_leads.png" alt="img">
                </a>
                <a *ngIf="admin?.admin_acl['Outside Broker Lead Management']?.can_read==1 && parameter.userType == 'outside-broker'" title="View Leads" href="javascript://" routerLink="/dashboard/leads/outside-broker-leads/{{item.id}}" class="icon-block edit-icon">
                  <img src="assets/img/ic_leads.png" alt="img">
                </a>
                <a *ngIf="admin?.admin_acl['Closer Lead Management']?.can_read==1 && parameter.userType == 'csr-closers'" title="View Leads" href="javascript://" routerLink="/dashboard/leads/csr-closers-leads/{{item.id}}" class="icon-block edit-icon">
                  <img src="assets/img/ic_leads.png" alt="img">
                </a>
                
                <a class="btn" href="javascript://" style="display: none;" data-toggle="modal" data-target="#view" #viewModalOpen></a>
                <a title="View Roles" href="javascript://" (click)="viewDetails(item, i)" class="icon-block edit-icon"><img src="assets/img/eye-icon.png" alt="img"></a>

                <button title="Edit Details" [disabled]="admin?.admin_acl['Data Collector Management']?.can_update==0 && parameter.userType=='data-collectors' ||
                  admin?.admin_acl['Seller Management']?.can_update==0 && parameter.userType=='csr-sellers' ||
                  admin?.admin_acl['Buyer Management']?.can_update==0 && parameter.userType=='csr-buyers' ||
                  admin?.admin_acl['Broker Management']?.can_update==0 && parameter.userType=='inhouse-broker' ||
                  admin?.admin_acl['Closer Management']?.can_update==0 && parameter.userType=='csr-closers' ||
                  admin?.admin_acl['Outside Broker Management']?.can_delete==0 && parameter.userType=='outside-broker'" 
                (click)="editUser(item, i)" class="action-icon"><img src="assets/img/edit.png" alt="img"></button>

                <button [disabled]="admin?.admin_acl['Data Collector Management']?.can_delete==0 && parameter.userType=='data-collectors' ||
                  admin?.admin_acl['Seller Management']?.can_delete==0 && parameter.userType=='csr-sellers' ||
                  admin?.admin_acl['Buyer Management']?.can_delete==0 && parameter.userType=='csr-buyers' ||
                  admin?.admin_acl['Broker Management']?.can_delete==0 && parameter.userType=='inhouse-broker' ||
                  admin?.admin_acl['Closer Management']?.can_delete==0 && parameter.userType=='csr-closers' ||
                  admin?.admin_acl['Outside Broker Management']?.can_delete==0 && parameter.userType=='outside-broker'"
                (click)="blockUnblockPopup(i, item.id, item.is_blocked==1?0:1, parameter.type)" 
                title="{{item.is_blocked==1?'Unblock User':'Block User'}}" 
                [ngClass]="{'unblock-bg':item.is_blocked==1}"
                class="action-icon">
                <img src="assets/img/block.png" alt="img">
              </button>
              <button [disabled]="admin?.admin_acl['Outside Broker Management']?.can_purge==0" (click)="deletePopup(item, i);" class="action-icon" title="Delete Agent"><img src="assets/img/ic_delete.png" alt="img"></button>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="center" *ngIf="parameter.total == 0">
        <img src="assets/img/404-error.png">
      </div>

  </div>
  <div class="btn-cont text-right marginT15">
  
      <pagination-controls class="my-pagination" (pageChange)="getPage($event)"></pagination-controls>
  </div>
</div>


<div class="modal animated" id="add">
    <div class="modal-dialog fadeIndown modal-lg">
       <div class="modal-content">
          <div class="modal-header">
             <button type="button" style="display: none;" class="close" data-dismiss="modal" #modalClose>&times;</button>
             <button type="button" class="close" (click)="closeModal(); addForm.reset()">&times;</button>
          </div>
  
          <form class="form-horizontal form-model0P" role="form" ngNativeValidate #addForm="ngForm" (ngSubmit)="addNewUser(addForm)">
          <div class="modal-body">
              <div class="row">
                 <div [ngClass]="model.is_external_agent ? 'col-3' : 'col-6'">
                    <div class="add-img" style="background-size: cover;" [style.background-image]="image">
                    <input accept="image/*" type="file" name="" (change)="onSelectFile1($event, 'url', 'image')">
                    <label *ngIf="!image">+ Add Image</label>
                    </div>
                 </div>
                 <div class="col-3" *ngIf="model.is_external_agent">
                    <div class="add-img" style="background-size: cover;" [style.background-image]="company_logo">
                    <input accept="image/*" type="file" name="" (change)="onSelectFile1($event, 'url2', 'company_logo')">
                    <label *ngIf="!company_logo">+ Add Logo</label>
                    </div>
                 </div>
                 <div class="col-6">
                    <div class="btn-cont text-right">
                      <button *ngIf="!model.id" type="submit" [disabled]="addForm.invalid" class="btn btn-primary">ADD</button>
                       <button *ngIf="model.id" type="submit" [disabled]="addForm.invalid" class="btn btn-primary">UPDATE</button>
                    </div>
                 </div>
                 <div class="col-12">
                    <div class="spacer40"></div>
                 </div>
                 <div class="col-12">
                    <div class="form-group-2">
                       <label>Name <span class="color-red">*</span></label>
                       <div class="form-group">
                        <input autocomplete="off" type="text" class="form-control" required [(ngModel)]="model.name" name="name">
                      </div>
                    </div>
                 </div>
                 <div class="col-12">
                    <div class="form-group-2">
                       <label>Contact number <span class="color-red">*</span></label>
                       <div class="form-group">
                        <input minlength="6" maxlength="16" autocomplete="off" type="text" 
                          [pattern]="constant.phonePattern" class="form-control" id="phone" 
                          required minlength="1" [(ngModel)]="model.phone" name="phone"
                          ng2TelInput #phonetest
                          (intlTelInputObject)="telInputObject($event)"
                          [ng2TelInputOptions]="initialCountry" 
                          (countryChange)="onCountryChange($event)" />
                      </div>
                    </div>
                 </div>
                 <div class="col-12">
                    <div class="form-group-2">
                       <label>Email ID <span class="color-red">*</span></label>
                       <div class="form-group">
                        <input autocomplete="off" [pattern]="constant.emailPattern" type="email" class="form-control" required [(ngModel)]="model.email" name="email">
                      </div>
                    </div>
                 </div>
              </div>
              <div *ngFor="let add of model.address; let j=index">
                <app-address [countries]="parameter.countries" [address]="add" [index]="j" [status]="false" [disabledBuildings]="disabledBuildings" (disabledBuilding)="disabledBuildingId(j)" (removeAddress)="removeAddressObj($event)"></app-address>
              </div>
  
              <div class="col-12" *ngIf="model.address?.length!=0">
                  <div class="btn-cont center">
                    <button type="button" class="btn btn-primary margin0" (click)="addEmptyObj()">
                      <img src="assets/img/add.png" alt="img">
                    </button>
                  </div>
               </div>
              
              <div class="row">
                <div class="col-12">
                  <div class="access-controls">
                    <label [ngClass]="{'access-control11': model.is_broker_seller_dev == true}" class="cust-check-bx2">CSR Seller/Developer
                      <input type="checkbox" name="is_broker_seller_dev" [(ngModel)]="model.is_broker_seller_dev">
                      <span class="checkmark"></span>
                    </label>
      
                    <label [ngClass]="{'access-control11': model.is_buyer_renter == true}" class="cust-check-bx2">CSR Buyer/Renter
                      <input type="checkbox" [(ngModel)]="model.is_buyer_renter" name="is_buyer_renter">
                      <span class="checkmark"></span>
                    </label>
      
                    <label [ngClass]="{'access-control11': model.is_broker == true}" class="cust-check-bx2">Inhouse Agent
                      <input type="checkbox" [(ngModel)]="model.is_broker" name="is_broker">
                      <span class="checkmark"></span>
                    </label>
      
                    <label [ngClass]="{'access-control11': model.is_external_agent == true}" class="cust-check-bx2">Outside Agent
                      <input type="checkbox" [(ngModel)]="model.is_external_agent" name="is_external_agent">
                      <span class="checkmark"></span>
                    </label>
      
                    <label [ngClass]="{'access-control11': model.is_data_collector == true}" class="cust-check-bx2">Data Collector
                      <input type="checkbox" [(ngModel)]="model.is_data_collector" name="is_data_collector">
                      <span class="checkmark"></span>
                    </label>
                    <label [ngClass]="{'access-control11': model.is_csr_closer == true}" class="cust-check-bx2">CSR Closure
                      <input type="checkbox" [(ngModel)]="model.is_csr_closer" name="is_csr_closer">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
              </div>
              
              <div class="spacer30"></div>

              <!-- <div class="row" *ngIf="model.is_broker">
                <div class="col-12">
                  <div class="form-group-2">
                    <label>Type Of Broker</label>
                    <select title="Choose Broker Type" class="form-control" (change)="setBrokerForModel($event.target.value)">
                      <option value="0" [selected]="model.is_broker == 1 && model.is_external_agent == '0'">Inhouse Broker</option>
                      <option value="1" [selected]="model.is_broker == 1 && model.is_external_agent == '1'">Outside Agent</option>
                    </select>
                  </div>
                </div>
              </div> -->
              
              <div class="row" *ngIf="model.is_external_agent">
                <div class="col-12">
                  <div class="form-group-2">
                     <label>Company Name <span class="color-red">*</span></label>
                     <div class="form-group">
                      <input autocomplete="off" type="text" class="form-control" required [(ngModel)]="model.company_name" name="company_name">
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group-2">
                     <label>Description <span class="color-red">*</span></label>
                     <div class="form-group">
                      <textarea autocomplete="off" required rows="3" class="form-control" name="description" [(ngModel)]="model.description"></textarea>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group-2">
                     <label>Address <span class="color-red">*</span></label>
                     <div class="form-group">
                      <input required placeholder="Search for address" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search2 (input)="loadPlaces('adr', 'lat', 'lng', 'searchElementRef')" name="adr" [(ngModel)]="model.adr" autocomplete="off">
                    </div>
                  </div>
                  <div class="form-group-2">
                      <label>Location Pin on Map<span class="color-red">*</span></label>
                     <div class="form-group">
                      <agm-map class="height200" [latitude]="model.lat" [longitude]="model.lng" [scrollwheel]="false" (mapClick)="placeMarker($event, 'lat', 'lng', 'adr')" [zoom]="constant.zoom">
                        <agm-marker [latitude]="model.lat" [longitude]="model.lng"></agm-marker>
                      </agm-map>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group-2">
                     <label>Branch </label>
                     <div class="form-group">
                      <input placeholder="Search for branch office" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search1 (input)="loadPlaces('branch_office', 'branch_lat', 'branch_lng', 'search1ElementRef')" name="branch_office" [(ngModel)]="model.branch_office" autocomplete="off">
                    </div>
                  </div>
                  <div class="form-group-2">
                     <label>Location Pin on Map</label>
                     <div class="form-group">
                      <agm-map class="height200" [latitude]="model.branch_lat" [longitude]="model.branch_lng" [scrollwheel]="false" (mapClick)="placeMarker($event, 'branch_lat', 'branch_lng', 'branch')" [zoom]="constant.zoom">
                        <agm-marker [latitude]="model.branch_lat" [longitude]="model.branch_lng"></agm-marker>
                      </agm-map>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-6">
                  <div class="form-group-2">
                     <label>Company Images</label>
                     <div class="form-group">
                      <input placeholder="Search for address" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search2 (input)="loadPlaces('adr', 'lat', 'lng', 'searchElementRef')" name="adr" [(ngModel)]="model.adr" autocomplete="off">
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group-2">
                     <label>Company Video</label>
                     <div class="form-group">
                      <div class="add-project-img-more marginT0">
                        <img *ngIf="model.company_images?.length>0" [src]="model.company_images[0]?.image" onerror="this.src='assets/img/placeholder.png'" class="img-fluid">
                        <div class="upload-caption">
                          <p *ngIf="model?.company_images?.length > 1" class="number" (click)="modelOpenFun()">+{{model?.company_images?.length-1}}</p>
                          <p *ngIf="model?.company_images?.length <= 1" class="green-color"  (click)="modelOpenFun()">+ Add more images</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>
           </div>
          </form>
  
       </div>
    </div>
  </div>


<!-- view inhouse user modal -->
<div class="modal animated" id="view">
    <div class="modal-dialog fadeIndown modal-lg">
       <div class="modal-content">
          <div class="modal-header" style="padding: 5%; padding-bottom: 0;">
            <h4 class="modal-title">Assigned Roles</h4>
            <button type="button" style="display: none;" class="close" data-dismiss="modal" #viewModalClose>&times;</button>
            <button type="button" class="close" (click)="closeViewModal()">&times;</button>
          </div>
  
          <form class="form-horizontal form-model0P" role="form" ngNativeValidate #addForm1="ngForm" (ngSubmit)="addNewUser(addForm1)">
          <div class="modal-body">
              <!-- <div *ngFor="let add of model.address; let j=index">
                <app-address [address]="add" [index]="j" [status]="true" (removeAddress)="removeAddressObj($event)"></app-address>
              </div> -->
  
              <div class="access-controls">
                 <label [ngClass]="{'access-control11': model.is_broker_seller_dev == true}" class="cust-check-bx2">CSR Broker/Seller/Developer
                   <input disabled type="checkbox" name="is_broker_seller_dev" [(ngModel)]="model.is_broker_seller_dev">
                   <span class="checkmark"></span>
                 </label>
   
                 <label [ngClass]="{'access-control11': model.is_buyer_renter == true}" class="cust-check-bx2">CSR Buyer/Renter
                   <input disabled type="checkbox" [(ngModel)]="model.is_buyer_renter" name="is_buyer_renter">
                   <span class="checkmark"></span>
                 </label>
   
                 <label [ngClass]="{'access-control11': model.is_broker == true}" class="cust-check-bx2">Inhouse Agent
                   <input disabled type="checkbox" [(ngModel)]="model.is_broker" name="is_broker">
                   <span class="checkmark"></span>
                 </label>

                 <label [ngClass]="{'access-control11': model.is_external_agent == true}" class="cust-check-bx2">Outside Agent
                  <input type="checkbox" [(ngModel)]="model.is_external_agent" name="is_external_agent">
                  <span class="checkmark"></span>
                </label>
   
                 <label [ngClass]="{'access-control11': model.is_data_collector == true}" class="cust-check-bx2">Data Collector
                   <input disabled type="checkbox" [(ngModel)]="model.is_data_collector" name="is_data_collector">
                   <span class="checkmark"></span>
                 </label>
                 <label [ngClass]="{'access-control11': model.is_csr_closer == true}" class="cust-check-bx2">CSR Closure
                   <input disabled type="checkbox" [(ngModel)]="model.is_csr_closer" name="is_csr_closer">
                   <span class="checkmark"></span>
                 </label>
              </div>
           </div>
          </form>
  
       </div>
    </div>
  </div>
  


<span data-target="#add-more-img" data-toggle="modal" #moreImgModalOpen></span>
<div class="modal add-more-popup" id="add-more-img">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Images</h4>
        <button type="button" class="close" data-dismiss="modal" #moreImgModalClose>&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="uploaded-img-block" *ngIf="file1.files?.length > 0">
          <div class="uploaded-img" *ngFor="let item of file1.files; let i=index">
            <a class="remove" (click)="file1.remove(i)"><img src="assets/img/remove-icon.png" alt="img"></a>
            <img *ngIf="item" class="u-img" [src]="item.image" alt="img">
            <img *ngIf="!item" class="u-img" src="http://via.placeholder.com/300x300" alt="img">
          </div>
        </div>
        <div class="add-more-images">
          <input type="file" name="add-more" multiple max="6" accept="image/*" (change)="file1Select($event)">
          <span>+ Add more images</span>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer btn-cont">
        <button type="button" (click)="saveImages()" class="btn btn-primary">Submit</button>
      </div>

    </div>
  </div>
</div>