.delete {
    background-color: #00B96F;
    color: white;
    width: 75px;
    font-size: 12px;
    border-color: #00B96F;
    text-align: center;
  }
  /* button:disabled {
    background-color: #ced4da;
    border-color: #ced4da;
    color: #00B96F;
 } */