<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-12 col-12">
    <div malihu-scrollbar [scrollbarOptions]="scrollbarOptions" class="chat-name-list white-bg">
       <div *ngIf="loadingConversation" class="chat-window white-bg"><img style="width:100%" src="assets/img/loading_content.gif"></div>
       <a *ngFor="let con of conversations" [ngClass]="{'active':con.selected == true}" href="javascript://">
          <div class="profile" (click)="selectConversation(con)">
             <div class="fig-block">
                <img [src]="con.image" onerror='src="http://via.placeholder.com/62x62"' alt="img" />
             </div>
             <div class="profile-info">
                <h6>{{con?.name}}</h6>
                <p class="p12" *ngIf="con?.phone">{{con?.dial_code? con?.dial_code: constant.dial_code}} -{{con?.phone}}</p>
                <p class="p12" *ngIf="!con?.phone">NA</p>
                <i class="fa fa-angle-right float-right"></i>
             </div>
          </div>
       </a>
    </div>
 </div>

 <div class="col-lg-8 col-md-8 col-sm-12 col-12">
    <div *ngIf="loadingMessages" class="chat-window white-bg"><img style="width:100%" src="assets/img/loading_content.gif"></div>
    <div *ngIf="conversation && !loadingMessages" class="chat-window white-bg">
       <div class="chat-top">
           <a href="javascript://">
             <div class="profile">
                <div class="fig-block">
                   <img [src]="conversation?.other?.image" onerror='src="http://via.placeholder.com/62x62"' alt="img">
                </div>
                <div class="profile-info">
                   <h6>{{conversation?.other?.name}}</h6>
                   <p class="p12" *ngIf="conversation?.other?.phone">{{conversation?.other?.dial_code? conversation?.other?.dial_code: constant.dial_code}} -{{conversation?.other?.phone}}</p>
                    <p class="p12" *ngIf="!conversation?.other?.phone">NA</p>
                   <p class="p12">{{conversation?.other?.phone}}</p>
                </div>
             </div>
          </a>

       </div>

       <div malihu-scrollbar [scrollbarOptions]="scrollbarOptions" class="chat-area scrollbox" #chatWin>
        <div *ngIf="loadmore" class="chat-load-more" (click)="loadMore()" >
          Previous Messages <img *ngIf="loadmoring" src="assets/img/loading-p.gif">
        </div> 
        <div *ngFor="let m of messages;let i = index" [ngClass]="m.conversation_user.admin_id == admin_id ? 'chat-user-one' :'chat-user-two'" class="chat-user">
          <p *ngIf="m.message_type == 1" style="word-wrap: break-word;">
            <span *ngIf="m.loading" class="m-loader"><img style="width:30px !important;" src="assets/img/loading-p.gif"></span>
            <span>{{m.message}}</span>
          </p>

          <a *ngIf="m.message_type == 2" href="{{m.image}}" data-lightbox="image" title="image" >
            <span>
              <img class="ui bordered small image" src="{{m.image}}">
              <div *ngIf="m.loading" class="loaderr"></div>
            </span>
          </a>
       
          <div class="chat-vid" *ngIf="m.message_type == 3 && !m.play">
            <span>
                <img class="ui bordered small image" src="{{m.image}}">
                <img *ngIf="!m.loading" class="vid-icon" (click)="playVideo(i)" src="assets/img/play-button.png" />
                <div *ngIf="m.loading" class="loaderr"></div>
                <div class="clearfix"></div>
          </span>
          </div>
          <video *ngIf="m.message_type == 3 && m.play" src="{{m.video}}" autoplay type="video/mp4" controls></video>
          
          <div class="chat-shared-file" *ngIf="m.message_type == 4">
            <p *ngIf="m.loading" class="m-loader"><img src="assets/img/loading-p.gif"></p>
            <span *ngIf="!m.loading">
              <a href="javascript://" href="{{m.attachment}}"><span>{{m.attachment_name}}</span>
              </a>
            </span>
          </div>
            
          
            <div class="time clearfix" *ngIf="m.updated_at">
              {{m.updated_at| moment}} {{m.play}}
            </div>
         </div>

         <div *ngIf="messages?.length==0">
            <p class="show-not-found">
              No message found.
            </p>
         </div>
  
       </div>

       <div style="position: absolute; z-index: 1; margin: 0px; padding: 0px; other: block; left: 581px; top: 91px;"><div class="enscroll-track track3" style="position: relative; height: 367px;"><a href="" class="handle3" style="position: absolute; z-index: 1; height: 199.244px; top: 0px;"><div class="top"></div><div class="bottom"></div></a></div></div>

       <div class="chat-text">
        <div class="dropdown attach-items">
          <a href="javascript://" class="dropdown-toggle" data-toggle="dropdown" #optionsButton>
            <i class="fa fa-paperclip" aria-hidden="true"></i>
          </a>
          <div class="dropdown-menu">
            <div class="dropdown-item">
              <input type="file" name="image" accept="image/*" (change)="onSelectFile('image', $event)">
              <i class="fa fa-camera" aria-hidden="true"></i>
              <span>Photo</span>
            </div>
            <a class="dropdown-item"> 
              <!-- <input type="file" name="video" id="videoFileObject" name="video" accept="video/mp4,video/x-m4v,video/*" (change)="showCanvas($event)"> -->
              <input type="file" name="video1" accept="video/mp4,video/x-m4v,video/*" (change)="showCanvas($event)">
              <i class="fa fa-video-camera" aria-hidden="true"></i>
              <span>Video</span>
            </a>
            <a class="dropdown-item">    
                <input type="file" name="attachment" accept=".doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/pdf" (change)="saveAttachment($event)">
              <i class="fa fa-file" aria-hidden="true"></i>
              <span>Document</span>
            </a>
          </div>
        </div>
        <input id="message" autocomplete="off" [(ngModel)]="textMessage" (keyup.enter)="setText()" class="chat-input" type="text" name="message" placeholder="Type your message here …">
        
        <!-- <div class="chat-attached-file" *ngIf="model.message_type == 2">
          <div class="attached-inner">
            <a href="javascript://" (click)="updateModel('image')" class="close">&times;</a>
            <div class="fig-block"><img class="img-fluid" src="{{model.image}}" alt="img"></div>
          </div>
        </div>
        <div class="chat-attached-file">
          <div class="attached-inner">
            <a href="javascript://" (click)="updateModel('video')" class="close">&times;</a>
            <div class="fig-block">
                <video style="width: 100%; height: 100%;" src="{{model.video}}" class="video55" autoplay type="video/mp4" controls></video>
            </div>
          </div>
        </div>
        <div class="chat-attached-file" *ngIf="model.message_type == 4">
          <div class="attached-inner">
            <a href="javascript://" (click)="updateModel('video')" class="close">&times;</a>
            <div class="fig-block">
              <div class="chat-shared-file">
                <a href="javascript://"><span>{{model.attachment_name}}</span>
                  <i class="fa fa-times" (click)="updateModel('attachment')" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div> -->
        <video style="width: 100%; height: 100%;" src="{{videoSrc}}" class="video55" autoplay type="video/mp4" controls></video>
        <canvas style="display: none;" width="800" height="600" id="canvas"></canvas>

        <button (click)="sendMessage()" class="btn">Send</button>
        
       </div>
    </div>
    </div>
  </div>
