<div class="white-bg padding15">
    <p class="p16 marginB0">{{'commonBlock.fillInInformation' | translate}}</p>
</div>

<hr class="margin0" *ngIf="_leadData">

<!-- <div class="white-bg padding40 fill-info" malihu-scrollbar [scrollbarOptions]="scrollbarOptions"> -->
        <div class="white-bg padding40 fill-info" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">

    <div class="form-group-5">
        <label>{{'commonBlock.whatYouAreLookingFor' | translate}}</label>
        <div class="clearfix"></div>
        <label class="cust-radio">
            <input [disabled]="sent_as==2" name="looking_for" type="radio" (change)="_leadData.prefs.looking_for = 1"
                [checked]="_leadData.prefs.looking_for == 1 ?'checked':''">
            <span class="checkmark">{{'leadDetails.buy' | translate}}</span>
        </label>
        <label class="cust-radio">
            <input [disabled]="sent_as==2" name="looking_for" type="radio" (change)="_leadData.prefs.looking_for = 2"
                [checked]="_leadData.prefs.looking_for == 2 ?'checked':''">
            <span class="checkmark">{{'leadDetails.sale' | translate}}</span>
        </label>
        <label class="cust-radio">
            <input [disabled]="sent_as==2" name="looking_for" type="radio" (change)="_leadData.prefs.looking_for = 3"
                [checked]="_leadData.prefs.looking_for == 3 ?'checked':''">
            <span class="checkmark">{{'leadDetails.rent' | translate}}</span>
        </label>
        <div class="clearfix"></div>
    </div>

    <!-- <div class="form-group-5 marginT20" *ngIf="!_leadData?.user_id">
        <label>{{'commonBlock.configuration' | translate}}</label>
        <div class="clearfix"></div>
        <p class="p10">{{'commonBlock.iWouldLikeToKnwMoreAbtYou' | translate}}</p>

        <p class="p11">{{'commonBlock.bedroom' | translate}}</p>
        <label class="cust-radio" *ngFor="let count of configurationCount">
            <input [disabled]="sent_as==2" name="bedroom" type="radio" (change)="setPrefValue('bedroom', count)"
                [checked]="_leadData.prefs.bedroom == count ?'checked':''">
            <span class="checkmark">{{count}}</span>
        </label>
        <div class="clearfix"></div>

        <p class="p11">{{'commonBlock.bathroom' | translate}}</p>
        <label class="cust-radio" *ngFor="let count of configurationCount">
            <input [disabled]="sent_as==2" name="bathroom" type="radio" (change)="setPrefValue('bathroom', count)"
                [checked]="_leadData.prefs.bathroom == count ?'checked':''">
            <span class="checkmark">{{count}}</span>
        </label>
        <div class="clearfix"></div>

        <p class="p11">{{'commonBlock.halfBathroom' | translate}}</p>
        <label class="cust-radio" *ngFor="let count of configurationCount">
            <input [disabled]="sent_as==2" name="half_bathroom" type="radio" (change)="setPrefValue('half_bathroom', count)"
                [checked]="_leadData.prefs.half_bathroom == count ?'checked':''">
            <span class="checkmark">{{count}}</span>
        </label>
        <div class="clearfix"></div>
    </div> -->
    <div class="form-group-5 marginT20">
        <label>{{'commonBlock.configuration' | translate}}</label>
        <div class="clearfix"></div>
        <p class="p10">{{'commonBlock.iWouldLikeToKnwMoreAbtYou' | translate}}</p>

        <p class="p11">{{'commonBlock.bedroom' | translate}}</p>
        <label class="cust-radio" *ngFor="let bedroom of bedrooms; let i=index">
            <input [disabled]="sent_as==2" type="checkbox"
            (click)="setAccepted(bedroom)" name="radio1"
            [checked]="bedroom.is_selected == 0 ? '' : 'checked'" >
            <span class="checkmark">{{bedroom.name}}</span>
        </label>
        <div class="clearfix"></div>
        <!-- [checked]="bedroom.is_selected == 0 ? '' : 'checked'" -->
        <p class="p11">{{'commonBlock.bathroom' | translate}}</p>
        <label class="cust-radio" *ngFor="let bathroom of bathrooms; let i=index">
            <input [disabled]="sent_as==2" type="checkbox" 
            (click)="setAccepted(bathroom)" name="bathroom"
            [checked]="bathroom.is_selected == 0 ? '' : 'checked'">
            <span class="checkmark">{{bathroom.name}}</span>
        </label>
        <div class="clearfix"></div>
        <!-- [checked]="bathroom.is_selected == 0 ? '' : 'checked'" -->
        <p class="p11">{{'commonBlock.halfBathroom' | translate}}</p>
        <label class="cust-radio" *ngFor="let half_bedroom of half_bathrooms; let i=index">
            <input [disabled]="sent_as==2" type="checkbox" 
            (click)="setAccepted(half_bedroom)" name="half_bedroom"
            [checked]="half_bedroom.is_selected == 0 ? '' : 'checked'">
            <span class="checkmark">{{half_bedroom.name}}</span>
        </label>
        <div class="clearfix"></div>
        <!-- [checked]="half_bedroom.is_selected == 0 ? '' : 'checked'" -->
    </div>
    <div class="form-group-4 marginT20">
        <label>{{'commonBlock.priceExpectations' | translate}}</label>
        <div class="row">
            <div class="col-md-4 col-sm-12 col-12">
                <!-- <div class="form-group-3 eca">
                    <span class="input-group-addon">$</span>
                    <input class="form-control" type="number" name="min_price" [(ngModel)]="_leadData.prefs.min_price">
                </div> -->
                <div class="input-group m-b">
                    <span class="input-group-addon marginR2">$</span>
                    <input [disabled]="sent_as==2" class="form-control" type="number" name="min_price" [(ngModel)]="_leadData.prefs.min_price">
                </div>
            </div>
            <div class="col-md-2 col-sm-12 col-12">
                {{'commonBlock.to' | translate}}
            </div>
            <div class="col-md-4 col-sm-12 col-12">
                <div class="input-group m-b">
                    <span class="input-group-addon marginR2">$</span>
                    <input [disabled]="sent_as==2" class="form-control" type="number" name="max_price" [(ngModel)]="_leadData.prefs.max_price">
                </div>
                <!-- <div class="form-group-3 eap">
                    <span class="input-group-addon">$</span>
                    <input class="form-control" type="number" name="max_price" [(ngModel)]="_leadData.prefs.max_price">
                </div> -->
            </div>
        </div>
    </div>

    <div class="form-group-5 marginT20">
        <label>{{'commonBlock.whatTypeOfPropertyYouAreLookingFor' | translate}}</label>
        <div class="clearfix"></div>
        <label class="cust-radio" *ngFor="let property_type of _leadData.buyer_property_type; let i=index">
            <input [disabled]="sent_as==2" type="checkbox" (click)="setValue('buyer_property_type', i)"
                [checked]="property_type.is_selected == 0 ? '' : 'checked'" name="radio1">
            <span class="checkmark">{{property_type.name}}</span>
        </label>
        <div class="clearfix"></div>
    </div>

    <div class="form-group-5 date-picker marginT20">
        <label>{{'commonBlock.planningDate' | translate}}</label>
        <div class="clearfix"></div>
        <p-calendar  [style]="{'width':'100%'}" [disabled]="sent_as==2" [locale]="locale" showIcon="true" (onSelect)="onSelect($event)" [(ngModel)]="_leadData.prefs.planning_to_buy"
            showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2040"></p-calendar>
        <div class="clearfix"></div>
    </div>
    <!-- <div class="form-group-5 marginT20" *ngIf="!_leadData?.user_id">
        <label>{{'commonBlock.expectedAmenity' | translate}}</label>
        <div class="clearfix"></div>
        
        <ng-multiselect-dropdown [disabled]="sent_as==2" class="section-section2" *ngIf="_leadData.buyer_amenities"
            [placeholder]="'Choose Amenities'"
            [data]="allAmenities"
            [(ngModel)]="selectedAmenities"
            [settings]="dropdownSettings"
            (onDeSelect)="onItemDeSelect($event)"
            (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)">
        </ng-multiselect-dropdown>
        <div class="clearfix"></div>
    </div> -->
    <div class="form-group-5 marginT20">
        <label>{{'advanceSearch.AmenitiesProj' | translate}}</label>
        <div class="clearfix"></div>
        
        <ng-multiselect-dropdown [disabled]="sent_as==2" class="section-section2" *ngIf="_leadData.buyer_amenities"
            [placeholder]="'Choose Amenities'"
            [data]="allAmenities"
            [(ngModel)]="selectedAmenities"
            [settings]="dropdownSettings"
            (onDeSelect)="onItemDeSelect($event)"
            (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)">
        </ng-multiselect-dropdown>
        <div class="clearfix"></div>
    </div>
    <div class="form-group-5 marginT20" >
        <label>{{'advanceSearch.AmenitiesProp' | translate}}</label>
        <div class="clearfix"></div>
        
        <ng-multiselect-dropdown [disabled]="sent_as==2" class="section-section2" *ngIf="_leadData.properties_amenities"
            [placeholder]="'Choose Amenities'"
            [data]="allPropAmenities"
            [(ngModel)]="selectedPropAmenities"
            [settings]="dropdownSettings"
            (onDeSelect)="onItemDePropSelect($event)"
            (onSelect)="onItemPropSelect($event)"
            (onSelectAll)="onSelectAll($event)">
        </ng-multiselect-dropdown>
        <div class="clearfix"></div>
    </div>
    <div class="form-group-5 marginT20">
        <label>{{'commonBlock.closeProximity' | translate}}</label>
        <div class="clearfix"></div>
        <label class="cust-radio" *ngFor="let proximity_place of _leadData.buyer_proximity; let i=index">
            <input [disabled]="sent_as==2" type="checkbox" (click)="setValue('buyer_proximity', i)"
                [checked]="proximity_place.is_selected == 0 ? '' : 'checked'" name="radio3">
            <span class="checkmark">{{proximity_place.name}}</span>
        </label>
        <label class="cust-radio">
            <input [disabled]="sent_as==2" type="checkbox" (click)="setProximityValue($event, showOtherTextBox ? false : true)"
                [checked]="showOtherTextBox ? 'checked' : ''" name="radio3">
            <span class="checkmark">{{'commonBlock.other' | translate}}</span>
        </label>
        <textarea [disabled]="sent_as==2" *ngIf="showOtherTextBox" [(ngModel)]="_leadData.prefs.proximity_other" class="form-control" rows="3" name="proximity_other">{{_leadData.prefs.proximity_other}}</textarea>
        <div class="clearfix"></div>
    </div>

    <div class="form-group-5 marginT20">
        <label>{{'addForm.preferableBuyers.maritalStatus1' | translate}}</label>
        <div class="clearfix"></div>
        <label class="cust-radio" *ngFor="let marrital_status of marrital_status_list; let i=index">
            <input [disabled]="sent_as==2" type="radio" (change)="setPrefValue('marital_statuses_id', marrital_status.id)"
            [checked]="_leadData.prefs.marital_statuses_id == marrital_status.id ?'checked':''" name="radio4">
            <span class="checkmark">{{marrital_status.name_en}}</span>
        </label>
        <div class="clearfix"></div>
    </div>

    <div class="form-group-5 marginT20">
        <label>{{'commonBlock.familySize' | translate}}</label> <br>
        <label class="cust-radio" *ngFor="let count of configurationCount">
            <input [disabled]="sent_as==2" name="family_size" type="radio" (change)="setPrefValue('family_size', count)"
                [checked]="_leadData.prefs.family_size == count ?'checked':''">
            <span class="checkmark">{{count}}</span>
        </label>
        <div class="clearfix"></div>
    </div>
    <div class="form-group-5 marginT20">
        <label>{{'commonBlock.parkingLOts' | translate}}</label> <br>
        <label class="cust-radio" *ngFor="let count of configurationCount">
            <input [disabled]="sent_as==2" name="parking_lot" type="radio" (change)="setPrefValue('parking_lot', count)"
                [checked]="_leadData.prefs.parking_lot == count ?'checked':''">
            <span class="checkmark">{{count}}</span>
        </label>
        <div class="clearfix"></div>
    </div>
    <!-- <div class="form-group-5 marginT20" *ngIf="!_leadData?.user_id">
        <label>{{'commonBlock.carsYouHave' | translate}}</label>
        <div class="clearfix"></div>
        <label class="cust-radio" *ngFor="let car_type of _leadData.buyer_car_type; let i=index">
            <input [disabled]="sent_as==2" type="radio" (click)="setCarType(car_type.id)"
                [checked]="car_type.is_selected == 0 ? '' : 'checked'" name="radio4">
            <span class="checkmark">{{car_type.name}}</span>
        </label>
        <div class="clearfix"></div>
    </div> -->
    <!-- <div class="inline-form-group-2 marginT20">
        <div class="row">
            <div class="col-6"><label class="float-left">{{'commonBlock.doYouHavePets' | translate}}</label></div>
            <div class="col-5">
                <label class="cust-check-bx">
                    <input [disabled]="sent_as==2" type="checkbox" value="{{_leadData.prefs.pets == 1 ? 'true' : 'false'}}" [(ngModel)]="_leadData.prefs.pets"
                        name="pets">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div> -->

    <div class="inline-form-group-2 marginT20">
        <div class="row">
            <div class="col-6"><label class="float-left">{{'commonBlock.doYouHaveKids' | translate}}</label></div>
            <div class="col-5">
                <label class="cust-check-bx">
                    <input [disabled]="sent_as==2" type="checkbox" value="{{_leadData.prefs.kid_count == 1 ? 'true' : 'false'}}"
                        [(ngModel)]="_leadData.prefs.kid_count" name="kid_count">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>

    <div class="form-group-5 marginT20">
        <label>{{'addForm.preferableBuyers.job' | translate}}</label>
        <div class="clearfix"></div>
        <label class="cust-radio">
            <input [disabled]="sent_as==2" name="job" type="radio" (change)="_leadData.prefs.job = 1"
                [checked]="_leadData.prefs.job == 1 ?'checked':''">
            <span class="checkmark">{{'leadDetails.student' | translate}}</span>
        </label>
        <label class="cust-radio">
            <input [disabled]="sent_as==2" name="job" type="radio" (change)="_leadData.prefs.job = 2"
                [checked]="_leadData.prefs.job == 2 ?'checked':''">
            <span class="checkmark">{{'leadDetails.pro' | translate}}</span>
        </label>
        <div class="clearfix"></div>
    </div>

    <div class="inline-form-group-2 marginT20">
        <div class="row">
            <div class="col-6"><label class="float-left">{{'addForm.preferableBuyers.petsfrn' | translate}}</label></div>
            <div class="col-5">
                <label class="cust-check-bx">
                    <input [disabled]="sent_as==2" type="checkbox" value="{{_leadData.prefs.pets == 1 ? 'true' : 'false'}}" [(ngModel)]="_leadData.prefs.pets"
                        name="pets">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>
   

    <!-- <div class="inline-form-group-2 marginT20" *ngIf="_leadData?.user_id">
        <div class="row">
            <div class="col-6"><label class="float-left">{{'addForm.preferableBuyers.lbgt' | translate}}</label></div>
            <div class="col-5">
                <label class="cust-check-bx">
                    <input [disabled]="sent_as==2" type="checkbox" value="{{_leadData.prefs.live_community == 1 ? 'true' : 'false'}}"
                        [(ngModel)]="_leadData.prefs.live_community" name="live_community">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div> -->

    <!-- <div class="form-group-5 marginT20" *ngIf="_leadData.prefs.looking_for==1">
        <label>{{'commonBlock.youAreLookingFor' | translate}}</label>
        <div class="clearfix"></div>
        <label class="cust-radio" *ngFor="let property_purpose of _leadData.property_purposes; let i=index">
            <input [disabled]="sent_as==2" type="checkbox" (click)="setValue('property_purposes', i)"
                [checked]="property_purpose.is_selected == 0 ? '' : 'checked'" name="radio3">
            <span class="checkmark">{{property_purpose.name}}</span>
        </label>
        <div class="clearfix"></div>
    </div> -->
    
    
    <!-- <div class="btn-cont text-right">
        <button *ngIf="sent_as!=2" [disabled]="(sent_as==constant.userType.csr_buyer && (admin?.admin_acl['Buyer Lead Management']?.can_update==0 || admin?.permissions?.can_csr_buyer==0)) ||
                            (sent_as==constant.userType.inhouse_broker && (admin?.admin_acl['Inhouse Agent Lead Management']?.can_update==0 || admin?.permissions?.can_in_house_broker==0))"
            type="button" class="btn btn-primary" (click)="addPreferences()">{{'commonBlock.save' | translate}}</button>
    </div> -->
    <div class="btn-cont text-right">
        <button class="btn btn-primary" (click)="SearchPreferences()" [disabled]="_leadData?.user_id" data-toggle="modal"
            data-target="#add-property-popup" style="margin-right: 10px;">
            {{'commonBlock.search' | translate}}</button>
  
        <button class="btn btn-primary" (click)="addPreferences()" [disabled]="_leadData?.user_id">
            {{'commonBlock.save' | translate}}</button>
    </div>
</div>

<!-- add property to interested_properties -->
<div class="modal" id="add-property-popup">
    <div class="modal-dialog modal-lg">
      <div class="modal-content notary-avail">
        <div class="modal-header popup-header">
          <h4 class="modal-title">{{'commonBlock.propertiesAvailable' | translate}}</h4>
          <button type="button" class="close" data-dismiss="modal" #hidePropertyModal>&times;</button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label>{{'filters.location.country' | translate}}</label>
                <select class="form-control" (change)="onCountryChange($event.target.value)">
                  <option value="0">{{'filters.location.allOption' | translate}}</option>
                  <option *ngFor="let item of location.countries" [value]="item.id">{{item.name}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>{{'filters.location.state' | translate}}</label>
                <select class="form-control" (change)="onStateChange($event.target.value)">
                  <option value="0">{{'filters.location.allOption' | translate}}</option>
                  <option *ngFor="let item of location.states" [value]="item.id">{{item.name}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>{{'filters.location.city' | translate}}</label>
                <select class="form-control" (change)="onCityChange($event.target.value)">
                  <option value="0">{{'filters.location.allOption' | translate}}</option>
                  <option *ngFor="let item of location.cities" [value]="item.id">{{item.name}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>{{'filters.location.locality' | translate}}</label>
                <select class="form-control" (change)="onLocalityChange($event.target.value)">
                  <option value="0">{{'filters.location.allOption' | translate}}</option>
                  <option *ngFor="let item of location.localities" [value]="item.id">{{item.name}}</option>
                </select>
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-3">
              <div class="form-group btn-cont">
                <button class="btn btn-primary" (click)="propertySearch()">{{'commonBlock.viewProperties' | translate}}</button>
              </div>
            </div>
            <div class="col-md-9 pull-right">
              <pagination-controls id="page1" *ngIf="parameter.total>constant.p" class="my-pagination"
                (pageChange)="getPage($event)"></pagination-controls>
            </div>
            <!-- <div class="col-md-3">
                    <div class="form-group btn-cont">
                    <button class="btn btn-primary" (click)="addPropertyToInterest()">Add Properties</button>
                    </div>
                </div> -->
          </div>
  
          <table class="table" *ngIf="parameter?.items?.length!=0">
            <tbody>
              <tr
                *ngFor="let item of parameter.items| paginate: { id:'page1', itemsPerPage: parameter.itemsPerPage, currentPage: parameter.page, totalItems: parameter.total }; let i=index">
                <td>
                  <div class="n-avail-profile">
                    <img [src]="item.image| img:'thumb'" onerror='src="assets/img/house.png"' alt="img">
                    <div class="n-avail-info">
                      <p title="Apartment" class="p12">{{item.name}}</p>
                      <p class="p13">{{item.building.name}} &middot; {{item.building_towers.tower_name}} &middot;
                        {{item.building_towers.num_of_floors == 0 ? ('commonBlock.groundFloor' | translate) : ('commonBlock.floor' | translate) + ' ' + item.building_towers.num_of_floors}}
                      </p>
                      <!-- <p class="p10 marginB0">{{item.building.address ? item.building.address : 'NA'}}</p> -->
                      <p class="p10">
                        <app-property-configuration *ngIf="item.configuration" [configuration]="item.configuration"></app-property-configuration>
                        <span>&middot; {{item.property_type.name}}</span>
                      </p>
                      <!-- <p class="p10">{{item.configuration.name}}</p> -->
                    </div>
                  </div>
                </td>
                <td>
                  <!-- <label class="cust-check-bx float-right">
                        <input type="radio" name="bank_id1" (click)="addLeadInterestedProperty(item.id)">
                        <span class="checkmark"></span>
                        </label> -->
                  <label class="cust-check-bx float-right">
                    <input [checked]="item.checked == true ? 'checked': ''" type="checkbox" name="bank_id1"
                      (click)="addLeadInterestedProperty(item.id)">
                    <span class="checkmark"></span>
                  </label>
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="parameter?.items?.length==0 && parameter.noResultFound">
            <p class="show-not-found">{{'message.error.noPropertyFoundForFilters' | translate}}</p>
          </div>
          <div *ngIf="!parameter.noResultFound && parameter?.items?.length==0">
            <p class="show-not-found">{{'message.error.selectFilters' | translate}}</p>
          </div>
  
          <div *ngIf="property_ids.length>0" class="row pull-right">
            <div class="form-group btn-cont">
              <button class="btn btn-primary" (click)="addPropertyToInterest()">{{'commonBlock.addProperties' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



<!-- <div class="white-bg padding15">
    <p class="p16 marginB0">Fill in Information</p>
</div>
<hr class="margin0" *ngIf="_leadData">
<div class="white-bg padding40 fill-info" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
    <div class="form-group-4">
        <label>Close proximity needed to</label>
        <div class="clearfix"></div>
        <label class="cust-radio" *ngFor="let proximity_place of _leadData.proximity_places_array; let i=index">
            <input type="checkbox" (click)="setValue('proximity_places_array', i)"
                [checked]="proximity_place.is_selected == 0 ? '' : 'checked'" name="radio3">
            <span class="checkmark">{{proximity_place.name}}</span>
        </label>
        <div class="clearfix"></div>
    </div>
    <div class="form-group-4 marginT20"></div>
    <div class="row">
        <div class="col-sm-12 col-12">
            <div class="form-group-4">
                <label>Family Size</label>
                <input min="1" class="form-control" [(ngModel)]="_leadData.family_size" type="number" name="family_size">
            </div>
        </div>
    </div>
    <div class="inline-form-group-2 marginT20">
        <div class="row">
            <div class="col-6"><label class="float-left">Do you have pets?</label></div>
            <div class="col-5">
                <label class="cust-check-bx">
                    <input type="checkbox" value="{{_leadData.pets == 1 ? 'true' : 'false'}}" [(ngModel)]="_leadData.pets"
                        name="pets">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="inline-form-group-2 marginT20">
        <div class="row">
            <div class="col-6"><label class="float-left">Do you have kids?</label></div>
            <div class="col-5">
                <label class="cust-check-bx">
                    <input type="checkbox" value="{{_leadData.kid_count == 1 ? 'true' : 'false'}}"
                        [(ngModel)]="_leadData.kid_count" name="kid_count">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group-4 marginT20">
        <div class="row">
            <div class="col-sm-12 col-12">
                <div class="form-group-4">
                    <label>Price range</label>
                    <nouislider *ngIf="_leadData.price_range" name="price_range" [connect]="true"
                        [min]="constant.minValue" [max]="constant.maxValue" [step]="constant.steps" [tooltips]="true"
                        [(ngModel)]="_leadData.price_range"></nouislider>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group-4 date-picker marginT20">
        <label>How soon planning to buy/rent</label>
        <div class="clearfix"></div>
        <p-calendar showIcon="true" (onSelect)="onSelect($event)" [(ngModel)]="_leadData.planning_to_buy"
            showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2040"></p-calendar>
        <div class="clearfix"></div>
    </div>
    <div class="form-group-4 marginT20">
        <label>Number of Cars</label>
        <div class="clearfix"></div>
        <label class="cust-radio" *ngFor="let car_type of _leadData.car_types; let i=index">
            <input type="radio" (click)="setCarType('car_types', i, car_type.id)"
                [checked]="car_type.is_selected == 0 ? '' : 'checked'" name="radio4">
            <span class="checkmark">{{car_type.name}}</span>
        </label>
        <div class="clearfix"></div>
    </div>
    <div class="form-group-4 marginT20">
        <label>Configuration</label>
        <div class="clearfix"></div>
        <label class="cust-radio" *ngFor="let configuration of _leadData.configurations_array; let i=index">
            <input type="checkbox" (click)="setValue('configurations_array', i)"
                [checked]="configuration.is_selected == 0 ? '' : 'checked'" name="radio2">
            <span class="checkmark">{{configuration.name}}</span>
        </label>
        <div class="clearfix"></div>
    </div>
    <div class="form-group-4 marginT20">
        <label>Property Type</label>
        <div class="clearfix"></div>
        <label class="cust-radio" *ngFor="let property_type of _leadData.property_types_array; let i=index">
            <input type="checkbox" (click)="setValue('property_types_array', i)"
                [checked]="property_type.is_selected == 0 ? '' : 'checked'" name="radio1">
            <span class="checkmark">{{property_type.name}}</span>
        </label>
        <div class="clearfix"></div>
    </div>


    <div class="btn-cont text-right">

        <button
            [disabled]="(sent_as==constant.userType.csr_buyer && (admin?.admin_acl['Buyer Lead Management']?.can_update==0 || admin?.permissions?.can_csr_buyer==0)) ||
                            (sent_as==constant.userType.inhouse_broker && (admin?.admin_acl['Inhouse Agent Lead Management']?.can_update==0 || admin?.permissions?.can_in_house_broker==0))"
            type="button" class="btn btn-primary" (click)="addPreferences()">Save</button>
    </div>

</div> -->