
<div class="white-bg padding15">
    <p class="p16 marginB0">Fill in Information</p>
</div>
<hr class="margin0" *ngIf="fillInfo">
<div class="white-bg padding40 fill-info" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
    <form ngNativeValidate #addForm="ngForm" (ngSubmit)="addPreferences()">
    <div class="form-group-4">
        <label>Close proximity needed to</label>
        <div class="clearfix"></div>
        <label class="cust-radio" *ngFor="let proximity_place of fillInfo.proximity_places_array; let i=index">
            <input type="checkbox" (click)="setValue('proximity_places_array', i)" [checked]="proximity_place.is_selected == 0 ? '' : 'checked'" name="radio3">
            <span class="checkmark">{{proximity_place.name}}</span>
        </label>
        <div class="clearfix"></div>
    </div>
    <div class="form-group-4 marginT20"></div>
    <div class="row">
        <div class="col-sm-12 col-12">
            <div class="form-group-4">
                <label>Family Size</label>
                <input min="1" class="form-control" required [(ngModel)]="fillInfo.family_size" type="number" name="family_size">
            </div>
        </div>
    </div>
    <div class="inline-form-group-2 marginT20">
        <div class="row">
            <div class="col-6"><label class="float-left">Pets</label></div>
            <div class="col-5">
                <label class="cust-check-bx">
                <input type="checkbox" value="{{fillInfo.pets == 1 ? 'true' : 'false'}}" [(ngModel)]="fillInfo.pets" name="pets">
                <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group-4 marginT20">
    <div class="row">
        <div class="col-sm-12 col-12">
            <div class="form-group-4">
                <label>Price range</label>
                <nouislider *ngIf="fillInfo.price_range" name="price_range" [connect]="true" [min]="constant.minValue" [max]="constant.maxValue" [step]="constant.steps" [tooltips]="true" [(ngModel)]="fillInfo.price_range"></nouislider>
            </div>
        </div>
    </div>
    </div>
    <div class="form-group-4 date-picker marginT20">
        <label>How soon planning to buy/rent</label>
        <div class="clearfix"></div>
        <!-- {{m.created_at  | chatTime: 'YYYY-MM-DD H:m:s': 5}} -->
        <!-- <input type="date" required [(ngModel)]="fillInfo.planning_to_buy | date:'yyyy-MM-dd'" value="{{fillInfo.planning_to_buy}}" name="planning_to_but" class="form-control" id="datetimepicker"> -->
        <!-- <input type="date" required [(ngModel)]="fillInfo.planning_to_buy" value="{{fillInfo.planning_to_buy}}" name="planning_to_but" class="form-control" id="datetimepicker"> -->
        <input type="date" [ngModel]="fillInfo.planning_to_buy  | date:'yyyy-MM-dd' " (ngModelChange)="fillInfo.planning_to_buy = $event;" name="planning_to_but" class="form-control" id="datetimepicker">
        <div class="clearfix"></div>
        <!-- <span class="sel-date">Select date</span> -->
    </div>
    <div class="form-group-4 marginT20">
        <label>Car Types</label>
        <div class="clearfix"></div>
        <label class="cust-radio" *ngFor="let car_type of fillInfo.car_types; let i=index">
        <input required type="radio" (click)="setValue('car_types', i)" [checked]="car_type.is_selected == 0 ? '' : 'checked'" name="radio4">
        <span class="checkmark">{{car_type.name}}</span>
        </label>
        <div class="clearfix"></div>
    </div>
    <div class="form-group-4 marginT20">
        <label>Configuration</label>
        <div class="clearfix"></div>
        <label class="cust-radio" *ngFor="let configuration of fillInfo.configurations_array; let i=index">
            <input type="checkbox" (click)="setValue('configurations_array', i)" [checked]="configuration.is_selected == 0 ? '' : 'checked'" name="radio2">
            <span class="checkmark">{{configuration.name}}</span>
        </label>
        <div class="clearfix"></div>
    </div>
    <div class="form-group-4 marginT20">
        <label>Property Type</label>
        <div class="clearfix"></div>
        <label class="cust-radio" *ngFor="let property_type of fillInfo.property_types_array; let i=index">
            <input type="checkbox" (click)="setValue('property_types_array', i)" [checked]="property_type.is_selected == 0 ? '' : 'checked'" name="radio1">
            <span class="checkmark">{{property_type.name}}</span>
        </label>
        <div class="clearfix"></div>
    </div>


    <div class="btn-cont text-right">
        <!-- <button type="submit" [disabled]="addForm.invalid" class="btn btn-primary">Save</button> -->
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
    </form>
</div>
