<div class="container-fluid ">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
       <div class="form-group">
          <p class="p16">{{'viewProjects.Expenditures' | translate}}</p>
       </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
       <div class="form-group" style="float: right;">
          <button class="action-icon" (click)="getProjectSelection(true)"
          title="{{'table.title.selectColumns' | translate}}"><i class="fa fa-pause" 
              style="cursor: pointer;"></i></button>               
       </div>
    </div>
 </div>
  
 <div class="row">
  <div class="offset-md-4"></div>
  <div class="col-md-8 col-12">
    <div class="cust-tabs-2">
      <ul class="nav nav-tabs float-right">
        <li class="nav-item">
          <a [ngClass]="{'active':parameter.dash_flag == 1}" (click)="changeFlag(1)" class="nav-link"
            data-toggle="tab" href="#tw">{{'filters.time.thisWeek' | translate}}</a>
        </li>
        <li class="nav-item">
          <a [ngClass]="{'active':parameter.dash_flag == 2}" (click)="changeFlag(2)" class="nav-link"
            data-toggle="tab" href="#tm">{{'filters.time.thisMonth' | translate}}</a>
        </li>
        <li class="nav-item">
          <a [ngClass]="{'active':parameter.dash_flag == 3}" (click)="changeFlag(3)" class="nav-link"
            data-toggle="tab" href="#lm">{{'filters.time.lastMonth' | translate}}</a>
        </li>
        <li class="nav-item">
          <a [ngClass]="{'active':parameter.dash_flag == 4}" (click)="changeFlag(4)" class="nav-link"
            data-toggle="tab" href="#lt">{{'filters.time.lifetime' | translate}}</a>
        </li>
        <li class="nav-item">
          <a [ngClass]="{'active':parameter.dash_flag == 5}" (click)="changeFlag(5)" class="nav-link"
            data-toggle="tab" href="#cust">{{'filters.time.custom.label' | translate}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div *ngIf="parameter.dash_flag == 5" class="row">
      <div class="offset-lg-7"></div>
      <div class="col-lg-2 col-md-2 col-sm-5 col-5">
        <div class="form-group marginB0">
          <label>{{'filters.time.custom.from' | translate}}</label>
          <p-calendar dateFormat="dd/M/yy" [locale]="locale" showIcon="true" [(ngModel)]="parameter.min"
            [maxDate]="today" showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true"
            yearRange="2000:2040"></p-calendar>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-5 col-5">
        <div class="form-group marginB0">
          <label>{{'filters.time.custom.to' | translate}}</label>
          <p-calendar dateFormat="dd/M/yy" [locale]="locale" showIcon="true" [(ngModel)]="parameter.max"
            [minDate]="parameter.min" [maxDate]="today" showButtonBar="true" [monthNavigator]="true"
            [yearNavigator]="true" yearRange="2000:2040"></p-calendar>
        </div>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-2 col-6">
        <div class="form-group btn-cont">
          <label class="addMT3">&nbsp;</label>
          <button class="btn btn-calender" href="javascript://" (click)="getListing()"
            [disabled]="!parameter.min || !parameter.max">{{'filters.time.custom.applyBtn' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-2 col-md-2">
    <div class="form-group">
      <label>{{'filters.location.country' | translate}}</label>
      <select class="form-control" (change)="onCountryChange($event.target.value)" [(ngModel)]="parameter.country_id">
        <option value="0">{{'filters.location.allOption' | translate}}</option>
        <option *ngFor="let item of location.countries" [value]="item.id">{{item.name}}</option>
      </select>
    </div>
  </div>
  <div class="col-lg-2 col-md-2">
    <div class="form-group">
      <label>{{'filters.location.state' | translate}}</label>
      <select class="form-control" (change)="onStateChange($event.target.value)" [(ngModel)]="parameter.state_id">
        <option value="0">{{'filters.location.allOption' | translate}}</option>
        <option *ngFor="let item of location.states" [value]="item.id">{{item.name}}</option>
      </select>
    </div>
  </div>
  <div class="col-lg-2 col-md-2">
    <div class="form-group">
      <label>{{'filters.location.city' | translate}}</label>
      <select class="form-control" (change)="onCityChange($event.target.value)" [(ngModel)]="parameter.city_id">
        <option value="0">{{'filters.location.allOption' | translate}}</option>
        <option *ngFor="let item of location.cities" [value]="item.id">{{item.name}}</option>
      </select>
    </div>
  </div>

  <div class="col-lg-2 col-md-2">
    <div class="form-group">
      <label>{{'filters.location.locality' | translate}}</label>
      <select class="form-control" (change)="getLocalityBuildings($event.target.value)" [(ngModel)]="parameter.locality_id">
        <option value="0">{{'filters.location.allOption' | translate}}</option>
        <option *ngFor="let item of location.localities" [value]="item.id">{{item.name}}</option>
      </select>
    </div>
  </div>

  <div class="col-lg-2 col-md-2">
    <div class="form-group marginB0">
      <label>{{'filters.location.building' | translate}}</label>
      <select class="form-control" (change)="setBuilding($event.target.value)" [(ngModel)]="parameter.building_id">
        <option value="0">{{'filters.location.allOption' | translate}}</option>
        <option *ngFor="let building of parameter.buildings" value="{{building.id}}">{{building.name}}</option>
      </select>
    </div>
  </div>



  <div class="col-lg-1 col-md-2">
    <div class="form-group btn-cont">
      <label style="display: block; margin-top: 3px;">&nbsp;</label>
      <button type="button" (click)="getListing()"
        class="btn btn-primary-new width100P P86">{{'filters.location.applyBtn' | translate}}</button>
    </div>
  </div>

  <div class="col-lg-1 col-md-2">
    <div class="form-group btn-cont">
      <label style="display: block; margin-top: 3px;">&nbsp;</label>
      <button type="button" (click)="resetFilters()"
        class="btn btn-primary-new width100P P86">{{'filters.location.resetBtn' | translate}}</button>
    </div>
  </div>
</div>

<div class="row flex-wrap-reverse">
  <div class="col-lg-2 col-md-2"></div>
  <div class="col-lg-6 col-md-6"></div>
  <div class="col-xl-2 col-lg-12 col-md-12 col-sm-12 col-12"></div>
  <div class="col-xl-2 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="add-new pull-right text-left">
      <a class="btn" (click)="this.getExportlisting()" href="javascript://">
        {{'table.exportDataBtn' | translate}}</a>
    </div>
  </div>
 
</div>


  <div class="cust-tabs">
    <div class="tab-content white-bg">
      <div class="tab-pane active">
        <div class="tabel-section">
          <div class="table-responsive main-table">
            <table class="table table-striped table-align-left quick-table">
              <thead id="myHeader">
                <tr>
                  <th style="clear: both;
                  overflow: hidden;
                  white-space: nowrap;text-align:left;" [style.z-index]="100">
                    <div class="table-search">
                      <label>{{'table.th.Expenditures_ID' | translate}}</label>
                      <div class="searh-3">
                        <input autocomplete="off" type="text" [(ngModel)]="parameter.expenditures_id"
                          (keyup.enter)="getListing()">
                        <button *ngIf="parameter.expenditures_id" (click)="getListing()"><i
                            class="fa fa-search"></i></button>
                      </div>
                    </div>
                  </th>
                  <th style="clear: both;
                  overflow: hidden;
                  white-space: nowrap;text-align:left;" [style.z-index]="100">
                    <div class="table-search">
                      <label>{{'table.th.Collection_ID' | translate}}</label>
                      <div class="searh-3">
                        <input autocomplete="off" type="text" [(ngModel)]="parameter.collection_id"
                          (keyup.enter)="getListing()">
                        <button *ngIf="parameter.collection_id" (click)="getListing()"><i
                            class="fa fa-search"></i></button>
                      </div>
                    </div>
                  </th>
                  <th style="text-align:left; width: 15%;" *ngIf="selectedColumnsToShow?.buyer_name">
                    <div class="table-search">
                      <label>{{'table.th.buyerName' | translate}}</label>
                      <div class="searh-3">
                        <input autocomplete="off" class="width100px" type="text" [(ngModel)]="parameter.buyer_name"
                          (keyup.enter)="getListing()">
                        <button *ngIf="parameter.buyer_name" (click)="getListing()"><i
                            class="fa fa-search"></i></button>
                      </div>
                    </div>
                  </th>
                  <th style="text-align:left; width: 15%;" *ngIf="selectedColumnsToShow?.expenditure_concept">
                    <div class="table-search">
                      <label>{{'table.th.Expenditure_concept' | translate}}</label>
                      <div class="searh-3">
                        <select [(ngModel)]="selectedValue"
                        (change)="getListing($event.target.value)" 
                        name="thing">
                        <option value="">{{'table.th.all' | translate}}</option>
                        <option *ngFor="let c of paymentChoices; let i = index;" [value]="c.id">{{c.name_en}}</option>
                      </select>
                      </div>
                    </div>
                  </th>
                  <th style="clear: both;
                  overflow: hidden;
                  white-space: nowrap;text-align:left;"
                   *ngIf="selectedColumnsToShow?.expenditure_date">
                    <div class="table-search">
                      <label>{{'table.th.Expenditure_date' | translate}}</label>
                    </div>
                  </th>
                  <th style="text-align:left; width: 150px;" *ngIf="selectedColumnsToShow?.amount">
                    <div class="table-search">
                      <label>{{'table.th.Amount' | translate}}</label>
                    </div>
                  </th>
                  <th style="text-align:left; width: 140px;" *ngIf="selectedColumnsToShow?.project_name">
                    <div class="table-search">
                      <label>{{'table.th.Project_name' | translate}}</label>
                      <div class="searh-3">
                        <input autocomplete="off" class="width100px" type="text" [(ngModel)]="parameter.building_name"
                          (keyup.enter)="getListing()">
                        <button *ngIf="parameter.building_name" (click)="getListing()"><i
                            class="fa fa-search"></i></button>
                      </div>
                    </div>
                  </th>
                  <th style="text-align:left; width: 120px;" *ngIf="selectedColumnsToShow?.property_name">
                    <div class="table-search">
                      <label>{{'table.th.Property_name' | translate}}</label>
                      <div class="searh-3">
                        <input autocomplete="off" class="width100px" type="text" [(ngModel)]="parameter.property_name"
                          (keyup.enter)="getListing()">
                        <button *ngIf="parameter.property_name" (click)="getListing()"><i
                            class="fa fa-search"></i></button>
                      </div>
                    </div>
                  </th>
                  <!-- <th style="text-align:left; width: 190px;" *ngIf="selectedColumnsToShow?.expenditure_status">
                    <div class="table-search">
                      <label>{{'table.th.Expenditure_status' | translate}}</label>
                      <select [(ngModel)]="parameter.collection_status" (change)="parameter.page=1;getListing()">
                        <option value="" selected>{{'table.th.all' | translate}}</option>
                        <option *ngFor="let c of collectionStatus" value="{{c.value}}">
                          {{c.name}}</option>
                      </select>
                    </div>
                  </th>  -->
                  <th style="width: 100px;" *ngIf="selectedColumnsToShow?.actions">
                    <div class="table-search">
                      <label>{{'table.th.actions.label' | translate}}</label>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody class="content">
                <tr  *ngFor="let p of items | paginate: { itemsPerPage: parameter.itemsPerPage, currentPage: parameter.page, totalItems: total }; let i=index">
                  <td>
                    <span>{{p?.id ? p?.id : ('table.tr.td.NA' | translate)}}</span>
                  </td>
                  <td>
                    <span class="green-color cursor-pointer" routerLink="/dashboard/collections/view-collections/{{p?.collection_payment_choice?.property_collection_id}}">{{p?.collection_payment_choice?.property_collection_id ? p?.collection_payment_choice?.property_collection_id : ('table.tr.td.NA' | translate)}}</span>
                  </td>
                  <td *ngIf="selectedColumnsToShow?.buyer_name">
                    <span *ngIf="p?.property_collection.buyer_type == 1" (click)="userinfo(p.buyer)" style="cursor: pointer;color:#00B96F;">
                      {{p?.buyer?.name ? (p?.buyer?.name + ' ' + p?.buyer?.first_surname + ' ' +
                      p?.buyer?.second_surname) : ('table.tr.td.NA' | translate)}}
                    </span>
                    <span *ngIf="p?.property_collection.buyer_type == 2" (click)="legalinfo(p)" style="cursor: pointer;color:#00B96F;">
                      {{buyer_legal_entity?.comm_name ? (buyer_legal_entity?.comm_name) : ('table.tr.td.NA' |
                      translate)}}
                    </span>
                    <span *ngIf="p?.property_collection.buyer_type == 3" (click)="userinfo(p.buyer)" style="cursor: pointer;color:#00B96F;">
                      {{p?.buyer?.name ? (p?.buyer?.name + ' ' + p?.buyer?.first_surname + ' ' +
                      p?.buyer?.second_surname) : ('table.tr.td.NA' | translate)}}
                    </span>
                  </td>
                  <td *ngIf="selectedColumnsToShow?.expenditure_concept">
                    <span>
                      {{p?.collection_payment_choice?.name ? (p?.collection_payment_choice?.name) : ('table.tr.td.NA' | translate)}}
                    </span>
                  </td>
                  <td *ngIf="selectedColumnsToShow?.expenditure_date">
                    <span>{{p?.expenditure_date ? this.getDateWRTTimezone(p?.expenditure_date, 'DD/MMM/YYYY') :
                      ('table.tr.td.NA' | translate)}}</span>
                  </td>
                  <td *ngIf="selectedColumnsToShow?.amount">
                    <span>{{( p?.amount || 0) | currency}}</span>
                  </td>
                  <td class="cursor-pointer" title="{{'table.title.clickToViewDetails' | translate}}" *ngIf="selectedColumnsToShow?.project_name">
                    {{p?.building?.name ? (p?.building?.name) : ('table.tr.td.NA' | translate)}}
                  </td>
                  <td *ngIf="selectedColumnsToShow?.property_name">
                  <span class="green-color cursor-pointer" 
                        (click)="this.navigateToProperty(p?.property?.id)">
                    {{p?.property?.name ? (p?.property?.name) : ('table.tr.td.NA' | translate)}}</span>
                  </td>
                  <td *ngIf="selectedColumnsToShow?.actions">
                    <div class="table-actions">
                      <button 
                      [disabled]="admin?.admin_acl['Manage Collections']?.can_update==0"
                      title="{{'table.title.editPayment' | translate}}" 
                      class="action-icon"
                      (click)="editCollectionCommReceipt(p)">
                      <img src="assets/img/edit.png" alt="img">
                     </button>
                      <!-- <button [disabled]="admin?.admin_acl['Manage Collections']?.can_update==0"
                        (click)="cancelPopup(p, i, p?.is_cancelled == 0 ? 1 : 0)"
                        title="{{'table.title.cancel_item' | translate}}"
                        class="action-icon" [ngClass]="{'unblock-bg':p?.is_cancelled==1}"><img
                          src="assets/img/block.png" alt="img" disabled>
                        </button> -->
                    </div>
                  </td> 
          
                </tr>
              </tbody>
            </table>
            <div class="padding20 center" *ngIf="total == 0">
              <img src="assets/img/404-error.png">
           </div>
          </div>
        </div>
      </div>
      <div class="tab-pane container fade" id="seller">{{'table.th.sellerTabOn' | translate}}</div>
    </div>
  </div>

  <div class="btn-cont marginT15" >
    <div class="row">
      <div class="col-6">
        <div class="title-group">
          <p>{{'table.pagination.showing' | translate}} {{items?.length}} {{'table.pagination.outof' | translate}}
            {{total}}</p>
        </div>
      </div>
      <div class="col-6 text-right">
        <pagination-controls class="my-pagination" (pageChange)="getPage($event)"></pagination-controls>
      </div>
    </div>
  </div>

  <!-- select columns -->
<a data-toggle="modal" data-target="#link-select-columns-model" #openSelectColumnsModal style="display: none;"></a>
<div class="modal" id="link-select-columns-model">
   <div class="modal-dialog" style="width: max-content; margin: 0 auto;">
      <div class="modal-content notary-avail">
         <div class="modal-header popup-header">
            <h4 class="modal-title">{{'table.title.columnsSelection' | translate}}</h4>
            <button type="button" class="close" #closeSelectColumnsModal data-dismiss="modal">&times;</button>
         </div>
         <div class="modal-body">
            <p class="modal-title">{{'table.title.selectTheColumnYouWantToVisualize' | translate}}</p>
          <br/>
          <div class="row">
            <div class="col-md-8 col-6">
                     <label class="p16-two">
                       <input class="form-control" class="is_commission_sale_enabled" type="checkbox"
                         name="SelectAll" (change)="changeSelectAll()"  [(ngModel)]="isSelectAllColumns" >
                       <span style="margin-left: 10px; vertical-align: super;">{{'commonBlock.selectAll' |
                         translate}}</span>
                     </label>
            </div>
            <div class="col-md-4 col-6 btn-cont">
               <a class="btn btn-primary pull-right" href="javascript://"
                  (click)="applyShowSelectedColumns()">{{'filters.location.applyBtn' | translate}}</a>
            </div>
         </div>
         <div class="spacer40"></div>
            <div class="row">
               <div class="col-md-8 col-6">
                  <input style="max-width:200px;background-color: white;" (keyup.enter)="getProjectSelection(false, keyword)" [(ngModel)]="keyword"
                     class="form-control" type="text" name="keyword"
                     placeholder="{{'addForm.placeholder.search' | translate}}">
               </div>
               <div class="col-md-4 col-5 btn-cont">
                  <a class="btn btn-primary pull-right" href="javascript://"
                     (click)="getProjectSelection(false, keyword)">{{'viewProperty.search' | translate}}</a>
               </div>
            </div>

            <div class="spacer40"></div>
            <div class="modal-table-data" malihu-scrollbar>
               <table class="table">
                  <tr *ngFor="let item of select_columns_list; let ii=index">
                     <td>
                        <div class="row">
                           <div class="col-md-12 col-12">
                              <label class="p16-two">
                                 <input class="form-control" class="is_commission_sale_enabled" type="checkbox"
                                        name="checkbox{{ii}}" [(ngModel)]="item.isCheckBoxChecked" (change)="changeSelect()">
                                 <span style="margin-left: 10px; vertical-align: super;">
                                    {{this.language_code == 'en' ? item.name_en : item.name_es }}
                                 </span>
                                 </label>
                           </div>
                        </div>
                     </td>
                  </tr>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>


<a href="javascript://" data-toggle="modal" data-target="#edit-coll-receipt-Modal" #editCollectionReceiptOpen></a>
<div class="modal animated" id="edit-coll-receipt-Modal">
  <div class="modal-dialog fadeIndown modal-lg fadeIndown modal-lg">
    <div class="modal-content notary-avail">
      <div class="modal-header popup-header">
        <h4>{{'viewCollections.editPayment' | translate}}</h4>
        <button style="display: none;" type="button" class="close" data-dismiss="modal"
          #editCollectionReceiptClose>&times;</button>
        <button type="button" class="close" (click)="closeEditCollReceiptModal(); addForm.reset()">&times;</button>
      </div>

      <form autocomplete="off" class="form-horizontal padding0" role="form" ngNativeValidate #addForm="ngForm"
      (ngSubmit)="updateCollectionCommPayment()">
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="spacer20"></div>
          </div>
          <div class="col-6">
            <div class="form-group-2">
              <label>{{'viewCollections.choosePaymentMethod' | translate}} <span class="color-red">*</span></label>
              <div class="form-group">
                <select name="payment_method" required #applyPaymentMethodId1 class="form-control"
                  [(ngModel)]="payment_method_id">
                  <option value="">{{'viewCollections.choosePaymentMethod' | translate}}</option>
                  <option *ngFor="let bt of paymentMethods" [value]="bt.id"> {{bt?.name}}</option>
                </select>
              </div>
            </div>
          </div>
          <!-- <div class="col-6">
            <div class="form-group-2">
              <label>{{'table.th.Payment_concept' | translate}}<span class="color-red">*</span></label>
              <div class="form-group">
                <select [(ngModel)]="payment_choice_id"
                (change)="changeThing($event.target.value)" 
                name="thing" class="form-control" required>
                  <option value="">{{'viewCollections.choosePaymentMethod' | translate}}</option>
                  <option *ngFor="let bt of paymentChoices; let i = index;" [value]="bt.id"> {{bt?.name}}</option>
                </select>
              </div>
            </div>
          </div> -->
          <div class="col-6">
            <div class="form-group-2">
              <label>{{'viewCollections.choosePaymentReceipt' | translate}} <span class="color-red">*</span></label>
              <div class="form-group">
                <p *ngIf="docFile">
                  <span>
                    <a target="_blank" href="{{docFile}}">{{'quickVisualization.clickToViewReceipt' | translate}}</a>
                  </span>
                  <span>
                    <a class="remove" (click)="docFile=''"><img src="assets/img/remove-icon.png" alt="img"></a>
                  </span>
                </p>
                <input *ngIf="!docFile" type="file" name="docFile" #docsFile1
                  accept=".doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/pdf,image/x-png,image/jpg,image/jpeg"
                  (change)="onSelectFile($event.target.files, 'docFile')">
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group-2">
              <label>{{'viewCollections.paymentDate' | translate}} <span class="color-red">*</span> </label>
              <div class="form-group">
                <div class="clearfix"></div>
                <p-calendar dateFormat="dd/M/yy" class="form-control" autocomplete="off" [(ngModel)]="payment_date"
                  [style]="{'width':'100%'}" name="date" class="sz-calendar" [locale]="locale" showIcon="true"
                  (onSelect)="onSelect($event)" [maxDate]="today" showButtonBar="true" [monthNavigator]="true"
                  [yearNavigator]="true" yearRange="2000:2040"></p-calendar>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group-2">
              <label>{{'table.th.Amount_paid' | translate}}</label>
              <div class="form-group">
                <div class="clearfix"></div>
                <input type="text" [(ngModel)]="amount" name="amount" class="form-control" readonly>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="form-group-2">
              <label>{{'viewCollections.description' | translate}}<span class="color-red">*</span></label>
              <div class="form-group">
                <textarea rows="3" [(ngModel)]="description" name="description2" class="form-control" required></textarea>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="btn-cont text-right">
              <button type="submit" class="btn btn-primary-new">
                <img *ngIf="parameter.loading" src="assets/img/loader_gif.gif" height="20">
                {{'addForm.updateBtn' | translate}}</button>
            </div>
          </div>
        </div>

      </div>
    </form>
    </div>
  </div>
</div>
</div>

