
<div class="container-fluid">
  <div class="row">
      <div class="col-md-4">
          <div class="form-group">
              <p class="p16">{{'leads.CreditAgentLeads' | translate}}</p>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-4">
          <div class="form-group" *ngIf="admin?.admin_acl['Credit Agent Lead Management']?.can_read==1 && !this.parameter.assignee_id">
              <div class="d-flex">
              <div class="autocomplete">
                  <input placeholder="{{'addForm.placeholder.searchCSRSeller' | translate}}" style="max-width:200px" list="amenities" [(ngModel)]="parameter.keyword" (input)="getCsrListing()" class="form-control" type="text" name="keyword" (focusout)="closeCsrListing()">
                  <div id="myInputautocomplete-list" class="autocomplete-items">
                      <div *ngFor="let item of users" (click)="selectCsrUser(item)">{{item.email}}</div>
                  </div>
              </div>
              </div>
          </div>
      </div>
      <div class="col-md-8 col-12">
          <div class="cust-tabs-2">
              <ul class="nav nav-tabs">
              <li class="nav-item">
                  <a class="nav-link" href="javascript://" [ngClass]="{'active':parameter.flag==1}" (click)="changeFlag(1)">{{'filters.time.thisWeek' | translate}}</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="javascript://" [ngClass]="{'active':parameter.flag==2}" (click)="changeFlag(2)" >{{'filters.time.thisMonth' | translate}}</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="javascript://" [ngClass]="{'active':parameter.flag==3}" (click)="changeFlag(3)" >{{'filters.time.lastMonth' | translate}}</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="javascript://" [ngClass]="{'active':parameter.flag==4}" (click)="changeFlag(4)" >{{'filters.time.lifetime' | translate}}</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="javascript://" [ngClass]="{'active':parameter.flag==5}" (click)="parameter.flag=5" >{{'filters.time.custom.label' | translate}}</a>
              </li>
              </ul>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-12">
          <div *ngIf="parameter.flag == 5" class="row">
              <div class="offset-lg-7"></div>
              <div class="col-lg-2 col-md-2 col-sm-5 col-5">
              <div class="form-group marginB0">
                  <label>{{'filters.time.custom.from' | translate}}:</label>
                  <p-calendar showIcon="true" [locale]="locale" [(ngModel)]="parameter.min" [maxDate]="today" showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2040"></p-calendar>
              </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-5 col-5">
              <div class="form-group marginB0">
                  <label>{{'filters.time.custom.to' | translate}}:</label>
                  <p-calendar showIcon="true" [locale]="locale" [(ngModel)]="parameter.max" [minDate]="parameter.min" [maxDate]="today" showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2040"></p-calendar>
              </div>
              </div>
              <div class="col-lg-1 col-md-2 col-sm-2 col-6">
              <div class="form-group btn-cont">
                  <label class="addMT3">&nbsp;</label>
                  <button class="btn btn-calender" href="javascript://" (click)="getListing(); getCSRDashBoardData();"
                      [disabled]="!parameter.min || !parameter.max">{{'filters.time.custom.applyBtn' | translate}}</button>
              </div>
              </div>
          </div>
      </div>
  </div>
  <div class="listingResults" >
      <div class="row" *ngIf="admin?.admin_acl['Credit Agent Lead Management']?.can_read==1 && !this.parameter.assignee_id">
          <div class="col-md-2">
              <div class="form-group">
              <label>{{'filters.location.country' | translate}}</label>
              <select class="form-control" (change)="onCountryChange($event.target.value)">
                  <option value="0">{{'filters.location.allOption' | translate}}</option>
                  <option *ngFor="let item of location.countries" [value]="item.id">{{item.name}}</option>
              </select>
              </div>
          </div>
          <div class="col-md-2">
              <div class="form-group">
              <label>{{'filters.location.state' | translate}}</label>
              <select class="form-control" (change)="onStateChange($event.target.value)">
                  <option value="0">{{'filters.location.allOption' | translate}}</option>
                  <option *ngFor="let item of location.states" [value]="item.id">{{item.name}}</option>
              </select>
              </div>
          </div>
          <div class="col-md-2">
              <div class="form-group">
              <label>{{'filters.location.city' | translate}}</label>
                  <select class="form-control" (change)="onCityChange($event.target.value)">
                  <option value="0">{{'filters.location.allOption' | translate}}</option>
                  <option *ngFor="let item of location.cities" [value]="item.id">{{item.name}}</option>
                  </select>
              </div>
          </div>
  
          <div class="col-md-2">
              <div class="form-group">
              <label>{{'filters.location.locality' | translate}}</label>
              <select class="form-control" (change)="onLocalityChange($event.target.value)">
                  <option value="0">{{'filters.location.allOption' | translate}}</option>
                  <option *ngFor="let item of location.localities" [value]="item.id">{{item.name}}</option>
              </select>
              </div>
          </div>
  
          <div class="col-md-2">
              <div class="form-group btn-cont">
              <label style="display: block; margin-top: 3px;">&nbsp;</label>
              <button type="button" (click)="getListing(); getCSRDashBoardData();" class="btn btn-primary-new width100P">{{'filters.location.applyBtn' | translate}}</button>
              </div>
          </div>
  
          <div class="col-md-2">
              <div class="form-group btn-cont">
              <label style="display: block; margin-top: 3px;">&nbsp;</label>
              <button type="button" (click)="resetFilters()" class="btn btn-primary-new width100P">{{'filters.location.resetBtn' | translate}}</button>
              </div>
          </div>
      </div>
      <div *ngIf="selectedUser as item" class="sigle-row-table">
      <table class="table table-striped">
      <tbody><tr>
          <td>
              <!-- <img class="rounded-circle" [src]="item.image| img:'small'" onerror='this.src="assets/img/default_img.png"' alt="img"> -->
              <img *ngIf="item.image" class="rounded-circle" onerror='src="assets/img/default_img.png"' alt="img"
                            [defaultImage]="item.image| img:'thumb'" [lazyLoad]="item.image">
              <img *ngIf="!item.image" class="rounded-circle" src="assets/img/default_img.png" alt="img">
          </td>
          <td class="text-left">
              <span class="name">{{item.name | titlecase}}</span>
          </td>
          <td class="text-left">{{item.phone}}</td>
          <td class="text-left">{{item.email}}</td>
          <td>
              <a (click)="removeCsrUser()" href="javascript://" class="icon-block edit-icon"><img src="assets/img/remove-icon.png" alt="remove" title="{{'table.title.remove' | translate}}" /></a>
          </td>
          </tr>
      </tbody>
      </table>
</div>
<div class="row">
   <div class="col-lg-8 col-md-12 col-sm-12 col-12">
      <div class="info-box all-leads">
         <div class="row">
            <div class="col-md-6 col-sm-6 col-12" [ngClass]="{'active':parameter.count_flag == 1}" (click)="changeCountFlag(1)">
               <div class="one-row ">
                  <div class="o-block">
                     <h5>{{'table.th.leads' | translate}}</h5>
                     <small>{{'table.th.total' | translate}}</small>
                  </div>
                  <div class="o-block">
                     <a class="view-all" href="javascript://">{{'table.th.viewAll' | translate}}</a>
                     <h4>{{dash?.lead_total || 0}}</h4>
                  </div>
               </div>
            </div>
            <div class="col-md-6 col-sm-6 col-12" [ngClass]="{'active':parameter.count_flag == 2}" (click)="changeCountFlag(2)">
               <div class="one-row">
                  <div class="o-block">
                     <h5>{{'table.th.leads' | translate}}</h5>
                     <small>{{'leads.leadsOpen' | translate}}</small>
                  </div>
                  <div class="o-block">
                     <a class="view-all" href="javascript://">{{'table.th.viewAll' | translate}}</a>
                     <h4>{{dash?.lead_open || 0}}</h4>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="info-box all-leads">
         <div class="row">
            <div class="col-md-6 col-sm-6 col-12" [ngClass]="{'active':parameter.count_flag == 3}" (click)="changeCountFlag(3)">
               <div class="one-row ">
                  <div class="o-block">
                     <h5>{{'table.th.leads' | translate}}</h5>
                     <small>{{'leads.leadsClosed' | translate}}</small>
                  </div>
                  <div class="o-block">
                     <a class="view-all" href="javascript://">{{'table.th.viewAll' | translate}}</a>
                     <h4>{{dash?.lead_close || 0}}</h4>
                  </div>
               </div>
            </div>
            <div class="col-md-6 col-sm-6 col-12" [ngClass]="{'active':parameter.count_flag == 4}" (click)="changeCountFlag(4)">
               <div class="one-row">
                  <div class="o-block">
                     <h5>{{'table.th.leads' | translate}}</h5>
                     <small>{{'leads.leadsLost' | translate}}</small>
                  </div>
                  <div class="o-block">
                     <a class="view-all" href="javascript://">{{'table.th.viewAll' | translate}}</a>
                     <h4>{{dash?.lead_lost || 0}}</h4>
                  </div>
               </div>
            </div>
         </div>
      </div>

   </div>
   <div class="col-lg-4 col-md-12 col-sm-12 col-12">
      <div class="chat-msg all-leads" style="padding:0px">
          <div class="padding20" *ngIf="dash.lead_total == 0">{{'message.error.noRecordFound' | translate}}</div>
          <ngx-charts-pie-chart [results]="chartView"></ngx-charts-pie-chart>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-12">
      <div class="spacer40"></div>
   </div>

</div>
<div class="row">
   <div class="col-lg-6 col-md-6 col-6">
      <div class="title-group">
         <h5>{{'table.th.leads' | translate}} 
          <span *ngIf="parameter.count_flag == 1">({{'table.th.total' | translate}})</span>
          <span *ngIf="parameter.count_flag == 2">({{'table.th.withoutProperty' | translate}})</span>
          <span *ngIf="parameter.count_flag == 3">({{'table.th.withProperty' | translate}})</span>
          <span *ngIf="parameter.count_flag == 4">({{'table.th.pendingProperties' | translate}})</span>
         </h5>
      </div>
   </div>
   <div class="col-lg-6 col-md-6 col-5" *ngIf="admin?.admin_acl['Credit Agent Lead Management']?.can_read==1 && !this.parameter.assignee_id">
      <div class="add-new text-right">
          <a class="btn" (click)="bulkAssign()" href="javascript://">{{'table.th.bulkReassign' | translate}}</a>
      </div>
  </div>
</div>
<div class="white-bg">
   <div class="tabel-section">
      <div class="table-responsive">
         <table class="table table-striped border-0">
            <tbody>
            <tr>
              <!-- <th *ngIf="admin?.admin_acl['Credit Agent Lead Management']?.can_read==1 && !this.parameter.assignee_id" style="width:5%;">
                  <div class="table-search">
                      <label>{{'table.th.all' | translate}}</label>
                      <div>
                          <label class="cust-check-bx marginT0">
                              <input class="width1" type="checkbox" (click)="selectAll(parameter.is_selected)" name="document">
                              <span class="checkmark"></span>
                          </label>
                      </div>
                  </div>
              </th> -->
              <th style="width:8%">
                <div class="table-search"><label>{{'table.th.lead_date' | translate}}</label></div>
            </th>
              <th style="width:5%;">
                  <div class="table-search">
                          <label>{{'table.th.image' | translate}}</label>
                  </div>
              </th>
              <th style="width:10%;">
                  <div class="table-search">
                          <label>{{'table.th.name' | translate}}</label>
                     <div class="searh-3">
                      <input autocomplete="address-level4" type="text" name="name" [(ngModel)]="parameter.name" (keyup.enter)="getListing()">
                      <button *ngIf="parameter.name" (click)="getListing()"><i class="fa fa-search"></i></button>
                    </div>
                  </div>
              </th>
              <th style="width:10%;">
                  <div class="table-search">
                          <label>{{'table.th.firstSurname' | translate}}</label>
                          <div class="searh-3">
                            <input autocomplete="address-level4" type="text" name="first_surname" [(ngModel)]="parameter.first_surname" (keyup.enter)="getListing()">
                            <button *ngIf="parameter.first_surname" (click)="getListing()"><i class="fa fa-search"></i></button>
                          </div>
                  </div>
              </th>
              <th style="width:10%;">
                  <div class="table-search">
                          <label>{{'table.th.secondSurname' | translate}}</label>
                          <div class="searh-3">
                            <input autocomplete="address-level4" type="text" name="second_surname" [(ngModel)]="parameter.second_surname" (keyup.enter)="getListing()">
                            <button *ngIf="parameter.second_surname" (click)="getListing()"><i class="fa fa-search"></i></button>
                          </div>
                  </div>
              </th>
              <th style="width:10%;">
                  <div class="table-search">
                          <label>{{'table.th.contactNumber' | translate}}</label>
                     <div class="searh-3">
                          <input autocomplete="address-level4" type="text" name="phone" [(ngModel)]="parameter.phone" (keyup.enter)="getListing()">
                          <button *ngIf="parameter.phone" (click)="getListing()"><i class="fa fa-search"></i></button>
                      </div>
                  </div>
              </th>
              <th style="width:20%;">
                  <div class="table-search">
                          <label>{{'table.th.emailAddress' | translate}}</label>
                     <div class="searh-3">
                          <input autocomplete="address-level4" type="text" name="email" [(ngModel)]="parameter.email" (keyup.enter)="getListing()">
                          <button *ngIf="parameter.email" (click)="getListing()"><i class="fa fa-search"></i></button>
                     </div>
                  </div>
               </th>
               <th style="width:10%;">
                  <div class="table-search">
                          <label>{{'table.th.price' | translate}}</label>
                  </div>
               </th>
               <th style="width:10%;">
                  <div class="table-search">
                          <label>{{'table.th.mortgageLoanType' | translate}}</label>
                  </div>
               </th>
               <th style="width:10%;">
                  <div class="table-search">
                          <label>{{'table.th.creditAssignee' | translate}}</label>
                  </div>
               </th>
               <th style="width:10%">
                <div class="table-search">
                    <label>{{'table.th.status' | translate}}</label>
                    <div class="searh-3">
                        <select [(ngModel)]="parameter.status_id" (change)="changeFilter('status_id', parameter.status_id)" name="status_id">
                            <option value="">{{'table.th.all' | translate}}</option>
                            <option *ngFor="let tempStatusName of addChangeStatusNames" value="{{tempStatusName.id}}">
                               {{translate.defaultLang == 'en'? tempStatusName.name : tempStatusName.name_es}}
                            </option>
                         </select>
                    </div>
                </div>
            </th>
            <th style="width:10%">
                <div class="table-search">
                    <label>{{'table.th.statusHistory' | translate}}</label>
                </div>
            </th>
               <th style="width:15%;">
                <label>&nbsp;</label>
               </th>
            </tr>
            <tr class="cursor-pointer" title="{{'table.title.clickToViewDetails' | translate}}" *ngFor="let item of items| paginate: { itemsPerPage: parameter.itemsPerPage, currentPage: parameter.page, totalItems: parameter.total }; let i =index"
            (click)="viewLeadDetails(item.id, item)">
              <!-- <td *ngIf="admin?.admin_acl['Credit Agent Lead Management']?.can_read==1 && !this.parameter.assignee_id" (click)="$event.stopPropagation()">
                  <label class="cust-check-bx marginT0">
                  <input type="checkbox" [(ngModel)]="item.selected" name="document">
                  <span class="checkmark"></span>
                  </label>
              </td> -->
              <td>
                <span class="name" *ngIf="item.created_at">{{item.created_at | date}}</span>
            </td>
              <td >
                  <img class="rounded-circle" *ngIf="item.image" onerror='src="assets/img/default_img.png"' alt="img"
                            [defaultImage]="item.image| img:'thumb'" [lazyLoad]="item.image">
                  <img class="rounded-circle" *ngIf="!item.image" src="assets/img/default_img.png" alt="img">
              </td>
              <td class="text-left">
                <span class="name">{{item.name | titlecase}}</span>
               </td>
               <td class="text-left">
                 <span class="name">{{item.first_surname | titlecase}}</span>
                </td>
                <td class="text-left">
                  <span class="name">{{item.second_surname | titlecase}}</span>
                 </td>
               <td class="text-left" *ngIf="item.phone">{{item.dial_code}}-{{item.phone.trim()}}</td>
               <td class="text-left" *ngIf="!item.phone">{{'table.tr.td.NA' | translate}}</td>
              <td class="text-left">
                  {{item.email}}
              </td>
              <td class="text-left">
                {{(item.price || 0) | currency}}
            </td>
            <td>
                <span *ngFor="let m of item?.mortgage_loan_types; let j=index">{{m.name_es}} <span *ngIf="j<item?.mortgage_loan_types?.length-1">, </span> </span>
            </td>
               <td class="text-left green-color" (click)="$event.stopPropagation()"><span class="cursor-pointer" (click)="openModel(item)">{{item?.admin ? item?.admin?.name:('leads.linkCreditAgent' | translate)}}</span></td>
               <td class="text-left green-color cursor-pointer" (click)="$event.stopPropagation()">
                <span (click)="openAddChangeStatusModel(item)">
                    {{item?.status && translate.defaultLang == 'en' ? item.status.status_details.name.slice(0, 11) :
                    item?.status && translate.defaultLang != 'en' ? item.status.status_details.name_es.slice(0, 11) :
                    ('table.tr.td.add' | translate)}}
                </span>
            </td>
            <td class="text-left green-color cursor-pointer"(click)="$event.stopPropagation()" > <span (click)="openStatusHistoryModel(item)">{{item.admin_id ? ('table.tr.td.view' | translate) : ('table.tr.td.NA' | translate)}}</span> </td>
               <td (click)="$event.stopPropagation()">
                  
                <!-- <button *ngIf="item.lead_status_agent==1" [disabled]="admin?.admin_acl['Credit Agent Lead Management']?.can_update==0"
                title="{{'table.title.openLeads' | translate}}" (click)="changeLeadStatus(0, item.id, i)"
                class="action-icon"><img src="assets/img/open-lock.png" alt="img"></button>
                
                <button *ngIf="!item.lead_status_agent || item.lead_status_agent==2" [disabled]="admin?.admin_acl['Manage Collections']?.can_update==0"
                (click)="changeLeadStatus(1, item.id, i)" title="{{'table.title.closeLeads' | translate}}" 
                class="action-icon"><img src="assets/img/locked-padlock.png" alt="img"></button>  
                
                <button *ngIf="!item.lead_status_agent" [disabled]="admin?.admin_acl['Manage Collections']?.can_update==0"
                (click)="changeLeadStatus(2, item.id, i)" title="{{'table.title.lostLeads' | translate}}" 
                class="action-icon"><img src="assets/img/lost-items.png" alt="img"></button>  
                
                <button [disabled]="admin?.admin_acl['Manage Collections']?.can_purge==0"
                (click)="deletePopup(item, i)" title="{{'table.title.delete' | translate}}" 
                class="action-icon"><img src="assets/img/ic_delete.png" alt="img"></button>   -->

               </td>
            </tr>
         </tbody></table>
         <div class="padding20 center" *ngIf="parameter.noResultFound">
              <img src="assets/img/404-error.png">
          </div>
      </div>
   </div>

</div>
</div>

  <div class="btn-cont marginT15" *ngIf="parameter.total">
      <div class="row">
          <div class="col-6">
              <div class="title-group">
                      <p>{{'table.pagination.showing' | translate}} {{items?.length}} {{'table.pagination.outof' | translate}} {{parameter.total}}</p>
              </div>
          </div>
          <div class="col-6 text-right">
              <pagination-controls class="my-pagination" (pageChange)="getPage($event)"></pagination-controls>
          </div>
      </div>
  </div>
</div>



<!-- Assignment model -->
<a data-toggle="modal" data-target="#assign-model" #openAssignModel style="display: none;"></a>
<div class="modal" id="assign-model">
  <div class="modal-dialog ">
      <div class="modal-content notary-avail">
          <div class="modal-header popup-header">
                  <h4 class="modal-title">{{'leads.reAssignTo' | translate}}</h4>
          <button type="button" class="close" data-dismiss="modal" #closeAssignModel>&times;</button>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-md-8 col-6">
                      <input style="max-width:200px" list="amenities" [(ngModel)]="assign.keyword" (keyup.enter)="getAssignListing()" class="form-control" type="text" name="keyword" placeholder="{{'addForm.placeholder.search' | translate}}">
                  </div>
                  <div class="col-md-4 col-5 btn-cont">
                      <a class="btn btn-primary pull-right" href="javascript://" (click)="assignNow()">{{'leads.assign' | translate}}</a>
                  </div>
              </div>
              <div class="spacer40"></div>
              <div class="modal-table-data" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
                  <table class="table">
                      <tr *ngFor="let item of assign.items">
                          <td *ngIf="item.is_blocked!=1">
                              <div class="n-avail-profile">
                              <!-- <img [src]="item.image" onerror='src="assets/img/default_img.png"' alt="img"> -->
                              <img *ngIf="item.image" onerror='src="assets/img/default_img.png"' alt="img"
                                  [defaultImage]="item.image| img:'thumb'" [lazyLoad]="item.image">
                              <img *ngIf="!item.image" src="assets/img/default_img.png" alt="img">
                              <div class="n-avail-info">
                                  <p class="p12">{{item.name | titlecase}}</p>
                                  <p class="p10">{{'leads.phone' | translate}} : {{item.dial_code ? item.dial_code : constant.dial_code}}-{{item.phone}}</p>
                              </div>
                              </div>
                          </td>
                          <td *ngIf="item.is_blocked!=1">
                              <label class="cust-check-bx float-right">
                                  <input type="radio" name="notary_id" (click)="assignItem = item">
                                  <span class="checkmark"></span>
                              </label>
                          </td>
                      </tr>
                      <tr *ngIf="assign?.items?.length==0">
                          <p class="show-not-found">{{'leads.noCSRSeller' | translate}}</p>
                      </tr>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>

<a data-toggle="modal" data-target="#link-broker-model" #linkBrokerModal style="display: none;"></a>
<div class="modal" id="link-broker-model">
   <div class="modal-dialog ">
      <div class="modal-content notary-avail">
         <div class="modal-header popup-header">
            <h4 class="modal-title">{{'leads.linkCreditAgent' | translate}}</h4>
            <button type="button" class="close" #closeBrokerModal data-dismiss="modal">&times;</button>
         </div>
         <div class="modal-body">
          <br/>
            <div class="row">
               <div class="col-md-8 col-6">
                  <input style="max-width:200px" (keyup.enter)="getSearchAssign()" [(ngModel)]="assign.keyword"
                     class="form-control" type="text" name="keyword"
                     placeholder="{{'addForm.placeholder.search' | translate}}">
               </div>
               <div class="col-md-4 col-5 btn-cont">
                  <a class="btn btn-primary pull-right" href="javascript://"
                     (click)="getSearchAssign()">{{'viewProperty.search' | translate}}</a>
               </div>
            </div>

            <div class="spacer40"></div>
            <div class="modal-table-data" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
               <table class="table">
                  <tr *ngFor="let item of assign.items">
                     <td>
                        <div class="n-avail-profile">
                           <img *ngIf="item?.image" onerror='src="assets/img/default_img.png"' alt="img"
                              [defaultImage]="item?.image| img:'thumb'" [lazyLoad]="item?.image">
                           <img *ngIf="!item?.image" src="assets/img/default_img.png" alt="img">

                           <div class="n-avail-info">
                              <p class="p12">{{item?.name | titlecase}}</p>
                              <p class="p10 marginB0">{{'CREDIT AGENT'}}
                              </p>
                              <p class="p10">{{'viewProperty.phone' | translate}} : {{item?.dial_code ? item?.dial_code
                                 : constant.dial_code}}-{{item?.phone}}</p>
                           </div>
                        </div>
                     </td>
                     <td>
                        <button *ngIf="selected_lead?.admin_id!=item.id"
                           (click)="assignAgent(item)" class="action-icon"
                           title="{{'table.title.linkAgent' | translate}}">
                           <img src="assets/img/green-icon.png" alt="img"></button>

                        <button *ngIf="selected_lead?.admin_id==item.id"
                           (click)="assignAgent(item)" class="action-icon"
                           title="{{'table.title.unlinkAgent' | translate}}">
                           <img src="assets/img/ic_disapprove.png" alt="img"></button>
                     </td>
                  </tr>
                  <tr *ngIf="assign.items?.length==0">
                     <p class="show-not-found">{{'leads.noCreditAgent' | translate}}</p>
                  </tr>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>
  
<a #addChangeStatusModelOpen class="btn-third btn btn-block" data-target="#add-change-status" data-toggle="modal" style="display: none;"></a>
<div class="modal" id="add-change-status">
    <div class="modal-dialog">
        <div class="modal-content notary-avail">
            <div class="modal-header popup-header">
                <div class="row" style="width: 100%;">
                <div class="col-12" style="display: contents;">
                <h4 class="modal-title">{{'leads.addChangeStatus' | translate}}</h4>
                <button type="button" class="close" data-dismiss="modal" #addChangeStatusModelClose>&times;</button>
              </div>
                <div class="col-12">
                <span *ngIf="selected_lead?.status" style="font-weight: bold;white-space: pre-line">{{'leads.status' | translate}} - {{selected_lead?.status?.status_details?.name}}</span>
                </div>
            </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-6">
                        <P style="font-weight: bold;">{{'leads.selectStatus' | translate}}</P>
                    </div>
                </div>
                <div style="padding-left: inherit;" *ngFor="let tempStatusName of addChangeStatusNames; let i=index">
                    <div class="col-md-12 col-6">
                        <span><input type="radio" id="status{i}" name="status" value="{{tempStatusName.id}}" 
                            [checked]= "tempStatusName.id == selectedAddChangeStatus" (change)="isChecked(tempStatusName)"></span>
                        <label style="font-weight: bold; padding: inherit;font-size: medium;">{{translate.defaultLang == 'en'? tempStatusName.name : tempStatusName.name_es}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-5 btn-cont">
                        <!-- <a class="btn btn-primary pull-right" style="width: 180px;padding: 12px 15px;"
                            href="javascript://" (click)="this.onClickAddStatus()">{{'leads.addStatus' | translate}}</a> -->
                    </div>
                    <div class="col-md-6 col-5 btn-cont">
                        <a class="btn btn-primary pull-right" style="width: 180px;padding: 12px 15px;"
                            href="javascript://" (click)="onClickAddStatus()">{{'leads.addStatus' | translate}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a #viewStatuHistoryModelOpen class="btn-third btn btn-block" data-target="#view-status-history" data-toggle="modal" style="display: none;"></a>
<div class="modal" id="view-status-history">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" #viewStatuHistoryModelClose>&times;</button>
        </div>
        <div class="modal-body">
            <h3>{{'leadDetails.leadStatusHistory' | translate}}</h3>
            <hr>
            <div class="scrollbox fav-prop" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 wn-block"
                *ngFor="let item of history; let in=index">
                <div class="circle">
                    <span></span>
                  </div>
                    <p class="time">{{item.assign_from.name}} {{item.assign_from.first_surname || ''}} {{item.assign_from.second_surname || ''}}</p>
                    <pre class="p13" style="margin-bottom: 0px;color: rgba(0,0,0,0.5);font-size: 12px;">{{item.created_at  | chatTime: 'YYYY-MM-DD H:m:s': 2}}</pre>
                    <pre class="p13">{{item.type == 1 ? (('leadDetails.assigned' | translate) + ' ' + (item.assign_to.name + ' ' + item.assign_to.first_surname + ' ' + item.assign_to.second_surname) + ('leadDetails.AsCSRAgent' | translate)) : item.type == 2 ? 
                        (('leadDetails.assigned' | translate) + ' ' + (item.assign_to.name + ' ' + item.assign_to.first_surname + ' ' + item.assign_to.second_surname) + ('leadDetails.AsInhouseAgent' | translate)) : item.type == 5 ? 
                        (('leadDetails.hasUpdateStatusTo' | translate) + ' ' + (lang == 'en' ? item.status_details.name : item.status_details.name_es) + ' ' + ('leadDetails.forCreditAgent' | translate)) : item.type == 4 ? 
                        (('leadDetails.hasUpdateStatusTo' | translate) + ' ' + (lang == 'en' ? item.status_details.name : item.status_details.name_es) + ' ' + ('leadDetails.forInhouseAgent' | translate)) : ''}}</pre>
                </div>
                <div class="col-12" style="font-size: 18px;text-align: center;margin-top: 33%;" *ngIf="!history || history.length == 0">
                    <pre>{{'leadDetails.noLeadStatusHistoryAavailable' | translate}}</pre>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>