<div class="container-fluid">

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
      <div class="form-group">
        <p class="p16">{{'contract.manageContracts' | translate}}</p>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
      <div class="form-group" style="float: right;">
        <button class="action-icon" (click)="getContractSelection(true)"
          title="{{'table.title.selectColumns' | translate}}"><i class="fa fa-pause"
            style="cursor: pointer;"></i></button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="offset-md-4"></div>
    <div class="col-md-8 col-12">
      <div class="cust-tabs-2">
        <ul class="nav nav-tabs float-right">
          <li class="nav-item">
            <a [ngClass]="{'active':parameter.dash_flag == 1}" (click)="changeFlag(1)" class="nav-link"
              data-toggle="tab" href="#tw">{{'filters.time.thisWeek' | translate}}</a>
          </li>
          <li class="nav-item">
            <a [ngClass]="{'active':parameter.dash_flag == 2}" (click)="changeFlag(2)" class="nav-link"
              data-toggle="tab" href="#tm">{{'filters.time.thisMonth' | translate}}</a>
          </li>
          <li class="nav-item">
            <a [ngClass]="{'active':parameter.dash_flag == 3}" (click)="changeFlag(3)" class="nav-link"
              data-toggle="tab" href="#lm">{{'filters.time.lastMonth' | translate}}</a>
          </li>
          <li class="nav-item">
            <a [ngClass]="{'active':parameter.dash_flag == 4}" (click)="changeFlag(4)" class="nav-link"
              data-toggle="tab" href="#lt">{{'filters.time.lifetime' | translate}}</a>
          </li>
          <li class="nav-item">
            <a [ngClass]="{'active':parameter.dash_flag == 5}" (click)="changeFlag(5)" class="nav-link"
              data-toggle="tab" href="#cust">{{'filters.time.custom.label' | translate}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="cust-tabs">
    <div class="row flex-wrap-reverse" style="margin-top: 10px;">
      <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a [ngClass]="{'active':parameter.flag==1}" (click)="changePropertyFlag(1)"
              class="nav-link cursor-pointer">{{'filters.flag.contracts' | translate}}</a>
          </li>
          <li class="nav-item">
            <a [ngClass]="{'active':parameter.flag==2}" (click)="changePropertyFlag(2)"
              class="nav-link cursor-pointer">{{'filters.flag.contractType' | translate}}</a>
          </li>
        </ul>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" *ngIf="parameter.flag == 1">
        <div class="add-new pull-right">
          <a *ngIf="admin?.admin_acl['Manage Contracts']?.can_create==1 || admin?.permissions?.can_data_collector==1"
            class="btn" href="javascript://" (click)="openContractModal()">{{'contract.addNewContract' |
            translate}}</a>
        </div>
        <div class="export-project pull-right mr-4">
          <a class="btn" href="javascript://" (click)="downloadContract()">{{'table.exportDataBtn' | translate}}</a>
        </div>
        <div class="export-project pull-right mr-4">
          
          <a class="btn" href="javascript://" (click)="downloadLegalContract()">legal contract</a>
        </div>
      </div>
    </div>
    <div class="tab-content white-bg">
      <div class="tab-pane active">
        <div class="tabel-section">
          <div class="table-responsive">
            <table class="table table-striped table-align-left" *ngIf="parameter.flag == 1">
              <tr>
                <th style="vertical-align:top;width:6%" *ngIf="selectedColumnsToShow?.collection_id">
                  <div class="d-flex table-search">
                    <label>{{'table.th.collectionId' | translate}}</label>
                  </div>
                </th>
                <th style="width:14%" *ngIf="selectedColumnsToShow?.developer">
                  <div class="table-search">
                    <label>{{'table.th.developer' | translate}}</label>
                    <!-- <div class="searh-3">
                      <input class="width100px" type="text" [(ngModel)]="parameter.email" (keyup.enter)="getListing()" autocomplete="address-level4" >
                      <button *ngIf="parameter.email" (click)="getListing()"><i class="fa fa-search"></i></button>
                    </div> -->
                  </div>
                </th>
                <th style="width:15%" *ngIf="selectedColumnsToShow?.project">
                  <div class="table-search">
                    <label>{{'table.th.project' | translate}}</label>
                    <!-- <div class="searh-3">
                      <input class="width100px" type="text" [(ngModel)]="parameter.agency_name"
                        (keyup.enter)="getListing()" autocomplete="address-level4">
                      <button *ngIf="parameter.agency_name" (click)="getListing()"><i class="fa fa-search"></i></button>
                    </div> -->
                  </div>
                </th>
                <th style="width:15%" *ngIf="selectedColumnsToShow?.apartment">
                  <div class="table-search">
                    <label>{{'table.th.appartment' | translate}}</label>
                  </div>
                </th>
                <th style="width:15%" *ngIf="selectedColumnsToShow?.buyer">
                  <div class="table-search">
                    <label>{{'table.th.buyer' | translate}}</label>
                  </div>
                </th>
                <th style="width:15%" *ngIf="selectedColumnsToShow?.type_of_contract">
                  <div class="table-search">
                    <label>{{'table.th.typeOfContract' | translate}}</label>
                  </div>
                </th>
                <th style="width:15%" *ngIf="selectedColumnsToShow?.signature_date">
                  <div class="table-search">
                    <label>{{'table.th.signatureDate' | translate}}</label>
                  </div>
                </th>
                <th style="width:15%" *ngIf="selectedColumnsToShow?.status">
                  <div class="table-search">
                    <label>{{'table.th.status' | translate}}</label>
                  </div>
                </th>
                <th style="vertical-align:top;width:100px;width:20%" *ngIf="selectedColumnsToShow?.actions">
                  <div class="table-search">
                    <label>{{'table.th.actions.label' | translate}}</label>
                  </div>
                </th>
              </tr>

              <tr
                *ngFor="let p of items | paginate: { itemsPerPage: parameter.itemsPerPage, currentPage: parameter.page, totalItems: total }; let i=index">
                <td *ngIf="selectedColumnsToShow?.collection_id">
                  <span> {{p?.property_collection_id | numberWithCommas}}</span>
                </td>
                <td [ngClass]="{'green-color cursor-pointer': p?.developer?.name}"
                  *ngIf="selectedColumnsToShow?.developer">
                  <span>{{p?.property_collection?.property?.building?.developer ? p?.property_collection?.property?.building?.developer?.name : ('table.tr.td.NA' | translate)}}</span>
                </td>
                <td *ngIf="selectedColumnsToShow?.project">
                  <span>{{p?.property_collection?.property?.building ? p?.property_collection?.property?.building?.name : ('table.tr.td.NA' | translate)}}</span>
                </td>
                <td *ngIf="selectedColumnsToShow?.apartment">
                  <span>{{p?.property_collection?.property?.name ? p?.property_collection?.property?.name : ('table.tr.td.NA' | translate)}}</span>
                </td>
                <td *ngIf="selectedColumnsToShow?.buyer">
                  <span>{{p?.property_collection?.buyer ? p?.property_collection?.buyer?.name : ('table.tr.td.NA' | translate)}}</span>
                </td>
                <td *ngIf="selectedColumnsToShow?.type_of_contract">
                  <span *ngIf="p?.type_of_contract">{{p.type_of_contract == '1' ? ('contract.physicalPerson' | translate) :
                    p.type_of_contract == '2' ? ('contract.moralPerson' | translate) : ('table.tr.td.NA' | translate)}}</span>
                </td>
                <td *ngIf="selectedColumnsToShow?.signature_date">
                  <span>{{p.signature_date | date:'dd/MMM/yyyy'}}</span>
                </td>
                <td *ngIf="selectedColumnsToShow?.status">
                  <select class="cursor-pointer" (change)="selectStatus(p, $event.target.value)">
                  <option [selected]="p.status==1" value="1">{{'contract.draft' | translate}}</option>
                  <option [selected]="p.status==2" value="2">{{'contract.inComplete' | translate}}</option>
                  <option [selected]="p.status==3" value="3">{{'contract.forReview' | translate}}</option>
                  <option [selected]="p.status==4" value="4">{{'contract.readyToBeValidated' | translate}}</option>
                  <option [selected]="p.status==5" value="5">{{'contract.validatedByLegal' | translate}}</option>
                  <option [selected]="p.status==6" value="6">{{'contract.signed' | translate}}</option>
                </select>
                </td>
                <td *ngIf="selectedColumnsToShow?.actions">
                  <div class="table-actions">
                    <!-- <div class="message"> -->
                    <button [disabled]="admin?.admin_acl['Manage Contracts']?.can_update==0"
                    (click)="editContract(p)"
                      title="{{'table.title.editDetails' | translate}}" class="action-icon"><img
                        src="assets/img/edit.png" alt="img"></button>
                    <!-- delete project -->
                    <button [disabled]="admin?.admin_acl['Manage Contracts']?.can_purge==0" (click)="deletePopup(p, i);"
                      class="action-icon" title="{{'table.title.delete' | translate}}"><img
                        src="assets/img/ic_delete.png" alt="img"></button>
                    <!-- </div> -->
                  </div>
                </td>
              </tr>
            </table>
            <table class="table table-striped table-align-left" *ngIf="parameter.flag == 2">
              <tr>
                <th style="vertical-align:top;width:6%" *ngIf="selectedColumnsToShow?.contract_id">
                  <div class="d-flex table-search">
                    <label>{{'table.th.contractId' | translate}}</label>
                  </div>
                </th>
                <th style="width:14%" *ngIf="selectedColumnsToShow?.developer">
                  <div class="table-search">
                    <label>{{'table.th.developer' | translate}}</label>
                    <!-- <div class="searh-3">
                      <input class="width100px" type="text" [(ngModel)]="parameter.email" (keyup.enter)="getListing()" autocomplete="address-level4" >
                      <button *ngIf="parameter.email" (click)="getListing()"><i class="fa fa-search"></i></button>
                    </div> -->
                  </div>
                </th>
                <th style="width:15%" *ngIf="selectedColumnsToShow?.project">
                  <div class="table-search">
                    <label>{{'table.th.project' | translate}}</label>
                    <!-- <div class="searh-3">
                      <input class="width100px" type="text" [(ngModel)]="parameter.agency_name"
                        (keyup.enter)="getListing()" autocomplete="address-level4">
                      <button *ngIf="parameter.agency_name" (click)="getListing()"><i class="fa fa-search"></i></button>
                    </div> -->
                  </div>
                </th>
                <th style="width:15%" *ngIf="selectedColumnsToShow?.type_of_contract">
                  <div class="table-search">
                    <label>{{'table.th.typeOfContract' | translate}}</label>
                  </div>
                </th>
                <th style="width:15%" *ngIf="selectedColumnsToShow?.status">
                  <div class="table-search">
                    <label>{{'table.th.status' | translate}}</label>
                  </div>
                </th>
                <th style="vertical-align:top;width:100px;width:20%" *ngIf="selectedColumnsToShow?.actions">
                  <div class="table-search">
                    <label>{{'table.th.actions.label' | translate}}</label>
                  </div>
                </th>
              </tr>

              <tr
                *ngFor="let p of items | paginate: { itemsPerPage: parameter.itemsPerPage, currentPage: parameter.page, totalItems: total }; let i=index">
                <td [ngClass]="{'green-color cursor-pointer': p?.developer?.name}"
                  *ngIf="selectedColumnsToShow?.contract_id">
                  <span>{{p?.developer?.name ? p?.developer?.name : ('table.tr.td.NA' | translate)}}</span>
                </td>
                <td *ngIf="selectedColumnsToShow?.developer">
                  <span>{{p?.property_collection?.property?.building?.developer ? p?.property_collection?.property?.building?.developer?.name : ('table.tr.td.NA' | translate)}}</span>
                </td>
                <td *ngIf="selectedColumnsToShow?.project">
                  <span>{{p?.property_collection?.property?.building ? p?.property_collection?.property?.building?.name : ('table.tr.td.NA' | translate)}}</span>
                </td>
                <td *ngIf="selectedColumnsToShow?.type_of_contract">
                  <span *ngIf="p?.type_of_contract">{{p.type_of_contract == '1' ? ('contract.physicalPerson' | translate) :
                    p.type_of_contract == '2' ? ('contract.moralPerson' | translate) : ('table.tr.td.NA' | translate)}}</span>
                </td>
                <td *ngIf="selectedColumnsToShow?.status">
                  <select class="cursor-pointer" (change)="selectStatus(p, $event.target.value)">
                  <option [selected]="p.status==1" value="1">{{'contract.draft' | translate}}</option>
                  <option [selected]="p.status==2" value="2">{{'contract.inComplete' | translate}}</option>
                  <option [selected]="p.status==3" value="3">{{'contract.forReview' | translate}}</option>
                  <option [selected]="p.status==4" value="4">{{'contract.readyToBeValidated' | translate}}</option>
                  <option [selected]="p.status==5" value="5">{{'contract.validatedByLegal' | translate}}</option>
                  <option [selected]="p.status==6" value="6">{{'contract.signed' | translate}}</option>
                </select>
                </td>
                <td *ngIf="selectedColumnsToShow?.action">
                  <div class="table-actions">
                    <!-- <div class="message"> -->
                    <button [disabled]="admin?.admin_acl['Manage Contracts']?.can_update==0"
                      (click)="editContract(p)"
                      title="{{'table.title.editDetails' | translate}}" class="action-icon"><img
                        src="assets/img/edit.png" alt="img"></button>
                    <!-- delete project -->
                    <button [disabled]="admin?.admin_acl['Manage Contractss']?.can_purge==0"
                      (click)="deletePopup(p, i);" class="action-icon" title="{{'table.title.delete' | translate}}"><img
                        src="assets/img/ic_delete.png" alt="img"></button>
                    <!-- </div> -->
                  </div>
                </td>
              </tr>
            </table>
            <div class="padding20 center" *ngIf="items?.length < 1">
              <img src="assets/img/404-error.png">
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane container fade" id="seller">{{'viewProjects.sellerTabOn' | translate}}</div>
    </div>
  </div>

  <div class="btn-cont marginT15" *ngIf="total">
    <div class="row">
      <div class="col-6">
        <div class="title-group">
          <p>{{'table.pagination.showing' | translate}} {{items?.length}} {{'table.pagination.outof' | translate}}
            {{total}}</p>
        </div>
      </div>
      <div class="col-6 text-right">
        <pagination-controls class="my-pagination" (pageChange)="getPage($event)"></pagination-controls>
      </div>
    </div>
  </div>
</div>

<!-- select columns -->
<a data-toggle="modal" data-target="#link-select-columns-model" #openSelectColumnsModal style="display: none;"></a>
<div class="modal" id="link-select-columns-model">
  <div class="modal-dialog" style="width: max-content; margin: 0 auto;">
    <div class="modal-content notary-avail">
      <div class="modal-header popup-header">
        <h4 class="modal-title">{{'table.title.columnsSelection' | translate}}</h4>
        <button type="button" class="close" #closeSelectColumnsModal data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p class="modal-title">{{'table.title.selectTheColumnYouWantToVisualize' | translate}}</p>
        <br />
        <div class="row">
          <div class="col-md-8 col-6">
            <label class="p16-two">
              <input class="form-control" class="is_commission_sale_enabled" type="checkbox" name="SelectAll"
                (change)="changeSelectAll()" [(ngModel)]="isSelectAllColumns">
              <span style="margin-left: 10px; vertical-align: super;">{{'commonBlock.selectAll' |
                translate}}</span>
            </label>
          </div>
          <div class="col-md-4 col-6 btn-cont">
            <a class="btn btn-primary pull-right" href="javascript://"
              (click)="applyShowSelectedColumns()">{{'filters.location.applyBtn' | translate}}</a>
          </div>
        </div>
        <div class="spacer40"></div>
        <div class="row">
          <div class="col-md-8 col-6">
            <input style="max-width:200px;background-color: white;" (keyup.enter)="getProjectSelection(false, keyword)"
              [(ngModel)]="keyword" class="form-control" type="text" name="keyword"
              placeholder="{{'addForm.placeholder.search' | translate}}">
          </div>
          <div class="col-md-4 col-5 btn-cont">
            <a class="btn btn-primary pull-right" href="javascript://"
              (click)="getProjectSelection(false, keyword)">{{'viewProperty.search' | translate}}</a>
          </div>
        </div>

        <div class="spacer40"></div>
        <div class="modal-table-data" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
          <table class="table">
            <tr *ngFor="let item of select_columns_list; let ii=index">
              <td>
                <div class="row">
                  <div class="col-md-12 col-12">
                    <label class="p16-two">
                      <input class="form-control" class="is_commission_sale_enabled" type="checkbox"
                        name="checkbox{{ii}}" [(ngModel)]="item.isCheckBoxChecked" (change)="changeSelect()">
                      <span style="margin-left: 10px; vertical-align: super;">
                        {{this.language_code == 'en' ? item.name_en : item.name_es }}
                      </span>
                    </label>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<a data-toggle="modal" data-target="#link-contract-model" #openLinkContractModal style="display: none;"></a>
<div class="modal" id="link-contract-model">
  <div class="modal-dialog" style="max-width: 570px;">
    <div class="modal-content notary-avail">
      <div class="modal-header popup-header">
        <h4 class="modal-title">{{step == 1 ? ('table.title.newContract' | translate) : step == 2 ?
          ('table.title.generalInformation' | translate) : step == 3 ? ('table.title.address' | translate) :
          step == 4 ? ('table.title.propertyInformation' | translate) : step == 5 ? ('table.title.dealInformation' |
          translate) : step == 6 ? ('table.title.beneficiaryInformation' | translate) : ('table.title.signatureDate' | translate)}}
        </h4>
        <button type="button" class="close" #closeLinkContractModal data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div *ngIf="step == 1">
          <div class="row">
            <div class="col-12">
              <label class="p16-two">
                <span style="margin-left: 10px; vertical-align: super;">
                  {{'table.th.collectionId' | translate}}
                </span>
              </label>
            </div>
            <div class="col-12">
              <input class="form-control" class="is_commission_sale_enabled" type="text" name="collectionId"
                [(ngModel)]="collectionId" style="width:78%;height:70%;" (keyup.enter)="searchCollectionById()">
              <button *ngIf="!is_edit" (click)="searchCollectionById()" style="margin-left: 5px;border: 1px solid rgba(196, 196, 196, 0.5);background-color: #00b96f;
              font-size: 12px;color: #fff; ;"><i class="fa fa-search"></i></button>
            </div>
            <div class="col-12" *ngIf="searched_collection">
              <label class="p16-two">
                <span style="margin-left: 10px; vertical-align: super;">
                  {{'table.th.projectName' | translate}}
                </span>
              </label>
            </div>
            <div class="col-12" *ngIf="searched_collection">
              <input class="form-control" class="is_commission_sale_enabled" type="text" name="building_name"
                [(ngModel)]="searched_collection.property.building.name" style="width:78%;height:70%;" readonly>
            </div>
            <div class="col-12" *ngIf="searched_collection">
              <label class="p16-two">
                <span style="margin-left: 10px; vertical-align: super;">
                  {{'table.th.contractType' | translate}}
                </span>
              </label>
            </div>
            <div class="col-6" *ngIf="searched_collection">
              <select class="form-control" (change)="selectContract($event.target.value)"
                [(ngModel)]="contract_type">
                <option [selected]="contract_type==1" value="1">{{'contract.physicalPerson' | translate}}</option>
                <option [selected]="contract_type==2" value="2">{{'contract.moralPerson' | translate}}</option>
              </select>
            </div>
          </div>
          <div class="row" *ngIf="searched_collection" style="margin-top: 25px;">
            <div class="col-5" style="margin-left: 77px;">
              <button class="btn" style="background-color:#FF0040;color:white;width:90px;"
              (click)="continueModal()">{{'commonBlock.back' | translate}}</button>
            </div>
            <div class="col-5">
              <button class="btn" style="background-color:#00B96F;color:white;width:90px;"
              (click)="continueModal(2)" [disabled]="!contract_type">{{'commonBlock.continue' | translate}}</button>
            </div>                                                                          
          </div>
        </div>
        <div *ngIf="step == 2">
          <div class="row">
            <div class="col-12">
              <label class="p16-two">
                <span style="margin-left: 10px; vertical-align: super;">
                  {{'table.th.name' | translate}}
                </span>
              </label>
            </div>
            <div class="col-12">
              <input class="form-control" class="is_commission_sale_enabled" type="text" name="buyer_name"
                [(ngModel)]="searched_collection.buyer.name" style="width:78%;height:70%;" readonly>
            </div>
            <div class="col-12">
              <label class="p16-two">
                <span style="margin-left: 10px; vertical-align: super;">
                  {{'table.th.firstName' | translate}}
                </span>
              </label>
            </div>
            <div class="col-12">
              <input class="form-control" class="is_commission_sale_enabled" type="text" name="first_surname"
                [(ngModel)]="searched_collection.buyer.first_surname" style="width:78%;height:70%;" readonly>
            </div>
            <div class="col-12">
              <label class="p16-two">
                <span style="margin-left: 10px; vertical-align: super;">
                  {{'table.th.secondSurname' | translate}}
                </span>
              </label>
            </div>
            <div class="col-12">
              <input class="form-control" class="is_commission_sale_enabled" type="text" name="second_surname"
                [(ngModel)]="searched_collection.buyer.second_surname" style="width:78%;height:70%;" readonly>
            </div>
            <div class="col-12">
              <label class="p16-two">
                <span style="margin-left: 10px; vertical-align: super;">
                  {{'table.th.RFC' | translate}}
                </span>
              </label>
            </div>
            <div class="col-12">
              <input class="form-control" class="is_commission_sale_enabled" type="text" name="fed_tax_pay"
                [(ngModel)]="searched_collection.buyer.fed_tax_pay" style="width:78%;height:70%;" readonly>
            </div>
            <div class="col-12">
              <label class="p16-two">
                <span style="margin-left: 10px; vertical-align: super;">
                  {{'table.th.CURP' | translate}}
                </span>
              </label>
            </div>
            <div class="col-12">
              <input class="form-control" class="is_commission_sale_enabled" type="text" name="curp"
                [(ngModel)]="searched_collection.buyer.curp" style="width:78%;height:70%;" readonly>
            </div>
            <div class="col-12">
              <label class="p16-two">
                <span style="margin-left: 10px; vertical-align: super;">
                  {{'table.th.Ocupation' | translate}}
                </span>
              </label>
            </div>
            <div class="col-12">
              <input class="form-control" class="is_commission_sale_enabled" type="text" name="ocupation"
                [(ngModel)]="searched_collection.buyer.ocupation" style="width:78%;height:70%;" readonly>
            </div>
            <div class="col-12">
              <label class="p16-two">
                <span style="margin-left: 10px; vertical-align: super;">
                  {{'table.th.marrigeType' | translate}}
                </span>
              </label>
            </div>
            <div class="col-12">
              <select title="Select Marital Status" name="marital_status" class="form-control" style="width: 77%;margin-bottom: 15px;" disabled>
                            <option value="0" disabled>{{'addForm.maritalStatus.selectMaritalStatus' | translate}}
                            </option>
                            <option *ngFor="let maritalStatus of marrital_status_list"
                              [selected]="maritalStatus.id == searched_collection.buyer.marital_statuses_id" value="{{maritalStatus.id}}">
                              {{language_code == 'en'? maritalStatus.name_en : maritalStatus.name_es}}</option>
                          </select>
            </div>
            <div class="col-12">
              <label class="p16-two">
                <span style="margin-left: 10px; vertical-align: super;">
                  {{'table.th.IdType' | translate}}
                </span>
              </label>
            </div>
            <div class="col-12">
              <!-- <input class="form-control" class="is_commission_sale_enabled" type="text" name="id_type"
                [(ngModel)]="searched_collection.buyer.id_type" style="width:78%;height:70%;"> -->
                <select class="form-control" (change)="selectIdType($event.target.value)"
                [(ngModel)]="id_type" style="width: 77%;margin-bottom: 15px;" disabled>
                <option [selected]="id_type==1" value="1">{{'contract.other' | translate}}</option>
                <option [selected]="id_type==2" value="2">{{'contract.passport' | translate}}</option>
              </select>
            </div>
            <div class="col-12">
              <label class="p16-two">
                <span style="margin-left: 10px; vertical-align: super;">
                  {{'table.th.idNumber' | translate}}
                </span>
              </label>
            </div>
            <div class="col-12">
              <input class="form-control" class="is_commission_sale_enabled" type="text" name="id_number"
                [(ngModel)]="searched_collection.buyer.id_number" style="width:78%;height:70%;" readonly>
            </div>
          </div>
          <div class="row" style="margin-top: 25px;">
            <div class="col-5" style="margin-left: 77px;">
              <button class="btn" style="background-color:#FF0040;color:white;width:90px;"
              (click)="continueModal(1)">{{'commonBlock.back' | translate}}</button>
            </div>
            <div class="col-5">
              <button class="btn" style="background-color:#00B96F;color:white;width:90px;"
              (click)="continueModal(3)">{{'commonBlock.continue' | translate}}</button>
            </div>                                                                          
          </div>
        </div>
        <div *ngIf="step == 3">
          <div class="row">
            <div class="col-12">
              <label class="p16-two">
                <span style="margin-left: 10px; vertical-align: super;">
                  {{'table.th.street' | translate}}
                </span>
              </label>
            </div>
            <div class="col-12">
              <input class="form-control" class="is_commission_sale_enabled" type="text" name="street_address"
                [(ngModel)]="searched_collection.buyer.street_address" style="width:78%;height:70%;" readonly>
            </div>
            <div class="col-12">
              <label class="p16-two">
                <span style="margin-left: 10px; vertical-align: super;">
                  {{'table.th.externalNumber' | translate}}
                </span>
              </label>
            </div>
            <div class="col-12">
              <input class="form-control" class="is_commission_sale_enabled" type="text" name="external_number"
                [(ngModel)]="searched_collection.buyer.external_number" style="width:78%;height:70%;" readonly>
            </div>
            <div class="col-12">
              <label class="p16-two">
                <span style="margin-left: 10px; vertical-align: super;">
                  {{'table.th.internalNumber' | translate}}
                </span>
              </label>
            </div>
            <div class="col-12">
              <input class="form-control" class="is_commission_sale_enabled" type="text" name="internal_number"
                [(ngModel)]="searched_collection.buyer.internal_number" style="width:78%;height:70%;" readonly>
            </div>
            <div class="col-12">
              <label class="p16-two">
                <span style="margin-left: 10px; vertical-align: super;">
                  {{'table.th.zipCode' | translate}}
                </span>
              </label>
            </div>
            <div class="col-12">
              <input class="form-control" class="is_commission_sale_enabled" type="text" name="zipcode"
                [(ngModel)]="searched_collection.buyer.zipcode" style="width:78%;height:70%;" readonly>
            </div>
            <div class="col-12">
              <label class="p16-two">
                <span style="margin-left: 10px; vertical-align: super;">
                  {{'table.th.municipality' | translate}}
                </span>
              </label>
            </div>
            <div class="col-12">
              <input class="form-control" class="is_commission_sale_enabled" type="text" name="municipality"
                [(ngModel)]="searched_collection.buyer.municipality" style="width:78%;height:70%;" readonly>
            </div>
            <div class="col-12">
              <label class="p16-two">
                <span style="margin-left: 10px; vertical-align: super;">
                  {{'table.th.country' | translate}}
                </span>
              </label>
            </div>
            <div class="col-12">
              <input class="form-control" class="is_commission_sale_enabled" type="text" name="country"
                [(ngModel)]="searched_collection.buyer.country" style="width:78%;height:70%;" readonly>
            </div>
            <div class="col-12">
              <label class="p16-two">
                <span style="margin-left: 10px; vertical-align: super;">
                  {{'table.th.state' | translate}}
                </span>
              </label>
            </div>
            <div class="col-12">
              <input class="form-control" class="is_commission_sale_enabled" type="text" name="state"
                [(ngModel)]="searched_collection.buyer.state" style="width:78%;height:70%;" readonly>
            </div>
            <div class="col-12">
              <label class="p16-two">
                <span style="margin-left: 10px; vertical-align: super;">
                  {{'table.th.neighbourhood' | translate}}
                </span>
              </label>
            </div>
            <div class="col-12">
              <input class="form-control" class="is_commission_sale_enabled" type="text" name="neighborhood"
                [(ngModel)]="searched_collection.buyer.neighborhood" style="width:78%;height:70%;" readonly>
            </div>
          </div>
          <div class="row" style="margin-top: 25px;">
            <div class="col-5" style="margin-left: 77px;">
              <button class="btn" style="background-color:#FF0040;color:white;width:90px;"
              (click)="continueModal(2)">{{'commonBlock.back' | translate}}</button>
            </div>
            <div class="col-5">
              <button class="btn" style="background-color:#00B96F;color:white;width:90px;"
              (click)="continueModal(4)">{{'commonBlock.continue' | translate}}</button>
            </div>                                                                          
          </div>
        </div>
        <div *ngIf="step == 4">
          <div class="row">
            <div class="col-12">
              <label class="p16-two">
                <span style="margin-left: 10px; vertical-align: super;">
                  {{'table.th.name' | translate}}
                </span>
              </label>
            </div>
            <div class="col-12">
              <input class="form-control" class="is_commission_sale_enabled" type="text" name="property_name"
                [(ngModel)]="searched_collection.property.name" style="width:78%;height:70%;" readonly>
            </div>
            <div class="col-12">
              <label class="p16-two">
                <span style="margin-left: 10px; vertical-align: super;">
                  {{'table.th.floor' | translate}}
                </span>
              </label>
            </div>
            <div class="col-12">
              <input class="form-control" class="is_commission_sale_enabled" type="text" name="floor_num"
                [(ngModel)]="searched_collection.property.floor_num" style="width:78%;height:70%;" readonly>
            </div>
            <div class="col-12">
              <label class="p16-two">
                <span style="margin-left: 10px; vertical-align: super;">
                  {{'table.th.model' | translate}}
                </span>
              </label>
            </div>
            <div class="col-12">
              <input class="form-control" class="is_commission_sale_enabled" type="text" name="building_configuration_name"
                [(ngModel)]="searched_collection.property.building_configuration.name" style="width:78%;height:70%;" readonly>
            </div>
            <div class="col-12">
              <label class="p16-two">
                <span style="margin-left: 10px; vertical-align: super;">
                  {{'table.th.m2' | translate}}
                </span>
              </label>
            </div>
            <div class="col-12">
              <input class="form-control" class="is_commission_sale_enabled" type="text" name="max_area"
                [(ngModel)]="searched_collection.property.max_area" style="width:78%;height:70%;" readonly>
            </div>
            <div class="col-12">
              <label class="p16-two">
                <span style="margin-left: 10px; vertical-align: super;">
                  {{'table.th.parkingLot' | translate}}
                </span>
              </label>
            </div>
            <div class="col-12">
              <input class="form-control" class="is_commission_sale_enabled" type="text" name="parking_count"
                [(ngModel)]="searched_collection.property.parking_count" style="width:78%;height:70%;" readonly>
            </div>
            <div class="col-12">
              <label class="p16-two">
                <span style="margin-left: 10px; vertical-align: super;">
                  {{'table.th.finalPrice' | translate}}
                </span>
              </label>
            </div>
            <div class="col-12">
              <input class="form-control" class="is_commission_sale_enabled" type="text" name="final_price"
                [(ngModel)]="searched_collection.property.final_price" style="width:78%;height:70%;" readonly>
            </div>
          </div>
          <div class="row" style="margin-top: 25px;">
            <div class="col-5" style="margin-left: 77px;">
              <button class="btn" style="background-color:#FF0040;color:white;width:90px;"
              (click)="continueModal(3)">{{'commonBlock.back' | translate}}</button>
            </div>
            <div class="col-5">
              <button class="btn" style="background-color:#00B96F;color:white;width:90px;"
              (click)="continueModal(5)">{{'commonBlock.continue' | translate}}</button>
            </div>                                                                          
          </div>
        </div>
        <div *ngIf="step == 5">
          <div class="row">
            <div class="col-12">
              <label class="p16-two">
                <span style="margin-left: 10px; vertical-align: super;">
                  {{'table.th.layaway' | translate}}
                </span>
              </label>
            </div>
            <div class="col-12">
              <input class="form-control" class="is_commission_sale_enabled" type="text" name="concept_layaway_amount"
                [(ngModel)]="concept_layaway.amount" style="width:78%;height:70%;" readonly>
            </div>
            <div class="col-12">
              <label class="p16-two">
                <span style="margin-left: 10px; vertical-align: super;">
                  {{'table.th.downPayment' | translate}}
                </span>
              </label>
            </div>
            <div class="col-12">
              <input class="form-control" class="is_commission_sale_enabled" type="text" name="concept_downpayment_amount"
                [(ngModel)]="concept_downpayment.amount" style="width:78%;height:70%;" readonly>
            </div>
            <div class="col-12">
              <label class="p16-two">
                <span style="margin-left: 10px; vertical-align: super;">
                  {{'table.th.dateOfPaymentD' | translate}}
                </span>
              </label>
            </div>
            <div class="col-12">
              <input class="form-control" class="is_commission_sale_enabled" type="text" name="concept_downpayment_date"
                [(ngModel)]="concept_downpayment.date" style="width:78%;height:70%;" readonly>
            </div>
            <div class="col-12">
              <label class="p16-two">
                <span style="margin-left: 10px; vertical-align: super;">
                  {{'table.th.monthlyInstallment' | translate}}
                </span>
              </label>
            </div>
            <div class="col-12">
              <input class="form-control" class="is_commission_sale_enabled" type="text" name="concept_monthly_amount"
                [(ngModel)]="concept_monthly.amount" style="width:78%;height:70%;" readonly>
            </div>
            <div class="col-12">
              <label class="p16-two">
                <span style="margin-left: 10px; vertical-align: super;">
                  {{'table.th.noMonthlyInstallment' | translate}}
                </span>
              </label>
            </div>
            <div class="col-12">
              <input class="form-control" class="is_commission_sale_enabled" type="text" name="concept_monthly_no"
                [(ngModel)]="concept_monthly_no" style="width:78%;height:70%;" readonly>
            </div>
            <div class="col-12">
              <label class="p16-two">
                <span style="margin-left: 10px; vertical-align: super;">
                  {{'table.th.dateInstallment' | translate}}
                </span>
              </label>
            </div>
            <div class="col-12">
              <input class="form-control" class="is_commission_sale_enabled" type="text" name="concept_monthly_date"
                [(ngModel)]="concept_monthly.date" style="width:78%;height:70%;" readonly>
            </div>
            <div class="col-12">
              <label class="p16-two">
                <span style="margin-left: 10px; vertical-align: super;">
                  {{'table.th.paymentUponDelivery' | translate}}
                </span>
              </label>
            </div>
            <div class="col-12">
              <input class="form-control" class="is_commission_sale_enabled" type="text" name="concept_payment_amount"
                [(ngModel)]="concept_payment.amount" style="width:78%;height:70%;" readonly>
            </div>
          </div>
          <div class="row" style="margin-top: 25px;">
            <div class="col-5" style="margin-left: 77px;">
              <button class="btn" style="background-color:#FF0040;color:white;width:90px;"
              (click)="continueModal(4)">{{'commonBlock.back' | translate}}</button>
            </div>
            <div class="col-5">
              <button class="btn" style="background-color:#00B96F;color:white;width:90px;"
              (click)="continueModal(6)">{{'commonBlock.continue' | translate}}</button>
            </div>                                                                          
          </div>
        </div>
        <div *ngIf="step == 6">
          <div class="row">
            <div class="col-12">
              <label class="p16-two">
                <span style="margin-left: 10px; vertical-align: super;">
                  {{'contract.beneficiary' | translate}}
                </span>
              </label>
            </div>
            <div class="col-12">
              <!-- <select class="form-control" (change)="selectBeneficairy($event.target.value)"
              [(ngModel)]="beneficiary_id">
              <option *ngFor="let beneficiary of beneficiary_list" [value]="beneficiary.id">{{beneficiary.beneficiary_name}}</option>
            </select> -->
            <ng-multiselect-dropdown 
                              class="col-6 section-section5 multi-select" 
                              [placeholder]="''"
                              name="beneficiary" 
                              [data]="beneficiary_list" 
                              [(ngModel)]="beneficiary_id"
                              [settings]="multiDropdownSettings" 
                              (onDeSelect)="selectBeneficairy('unselect',$event)"
                              (onSelect)="selectBeneficairy('select',$event)" 
                              (onSelectAll)="selectBeneficairy('all',$event)">
                              </ng-multiselect-dropdown>
            </div>
            <div class="col-12">
              <label class="p16-two">
                <span style="margin-left: 10px; vertical-align: super;">
                  {{'contract.percent' | translate}}
                </span>
              </label>
            </div>
            <div class="col-12">
              <input class="form-control" class="is_commission_sale_enabled" type="text" name="percent"
                [(ngModel)]="percent" style="width:78%;height:70%;" readonly>
            </div>
          </div>
          <div class="row" style="margin-top: 25px;">
            <div class="col-5" style="margin-left: 77px;">
              <button class="btn" style="background-color:#FF0040;color:white;width:90px;"
              (click)="continueModal(5)">{{'commonBlock.back' | translate}}</button>
            </div>
            <div class="col-5">
              <button class="btn" style="background-color:#00B96F;color:white;width:90px;"
              (click)="continueModal(7)">{{'commonBlock.continue' | translate}}</button>
            </div>                                                                          
          </div>
        </div>
        <div *ngIf="step == 7">
          <div class="row">
            <div class="col-12">
              <label class="p16-two">
                <span style="margin-left: 10px; vertical-align: super;">
                  {{'contract.selectDate' | translate}}
                </span>
              </label>
            </div>
            <div class="col-12">
              <p-calendar dateFormat="dd/M/yy" [locale]="locale" showIcon="true" [(ngModel)]="signatureDate"
              [minDate]="today" showButtonBar="true" [monthNavigator]="true"
              [yearNavigator]="true" yearRange="2000:2040"></p-calendar>
            </div>
          </div>
          <div class="row" style="margin-top: 25px;">
            <div class="col-5" style="margin-left: 77px;">
              <button class="btn" style="background-color:#FF0040;color:white;width:90px;"
              (click)="continueModal(6)">{{'commonBlock.back' | translate}}</button>
            </div>
            <div class="col-5">
              <button class="btn" style="background-color:#00B96F;color:white;width:90px;"
              (click)="createContract()">{{'commonBlock.save' | translate}}</button>
            </div>                                                                       
          </div>
        </div>
      </div>
    </div>
  </div>
</div>