<header>
  <div class="row">
    <!-- header -->
      <div class="col-6">
        <a class="logo">
        <img class="app-logo" src="assets/img/logo.png" alt="img">
        </a>

      </div>
      <div class="col-6">
        <div class="user-profile float-right">
           <a href="javascript://">
              <h4>{{fullName}}</h4>
              <img class="rounded-circle" [src]="image" onerror='src="assets/img/default_img.png"' alt="img">
           </a>
        </div>
      </div>
      <!-- <header end -->


      <!--slide menu start-->
      <div id="side-menu-bar">
          <div class="scrollbox" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
            <nav class="navbar navbar-expand-md navbar-dark">
                <!-- Brand -->
                <a class="navbar-brand" href="#">
                  <img class="app-logo" src="assets/img/logo.png" alt="img">
                </a>
                <!-- Toggler/collapsibe Button -->

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <!-- sidebar-collapse -->
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                  <ul class="navbar-nav">
                      <!-- <li class="nav-item">
                        <a class="nav-link" routerLink="/"><i><img src="assets/img/dashboard.png"></i><span>Dashboard</span></a>
                      </li> -->
                      <li class="nav-item">
                        <a class="nav-link" href="javascript://" routerLink="generate-thumb"><i><img src="assets/img/graph.png"></i><span>Thumb</span></a>
                      </li>
                      <li class="nav-item dropdown">
                         <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript://">
                         <i><img src="assets/img/user.png"></i><span>Manage Inhouse User</span></a>
                         <div class="dropdown-menu">
                            <ul>
                               <li><a class="dropdown-item" routerLink="view-inhouse-users/data-collectors">Data Collector</a></li>
                               <li><a class="dropdown-item" href="javascript://" routerLink="view-inhouse-users/csr-sellers">CSR Seller</a></li>
                               <li><a class="dropdown-item" href="javascript://" routerLink="view-inhouse-users/csr-buyers">CSR Buyer</a></li>
                               <li><a class="dropdown-item" href="javascript://" routerLink="view-inhouse-users/inhouse-broker">Inhouse Broker</a></li>
                               <li><a class="dropdown-item" href="javascript://" routerLink="view-inhouse-users/csr-closers">CSR Closer</a></li>
                            </ul>
                         </div>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript://">
                        <i><img src="assets/img/stamp.png"></i><span>Manage Notary</span></a>
                        <div class="dropdown-menu">
                           <ul>
                              <li><a class="dropdown-item" routerLink="notary/view-notary">Notary</a></li>
                              <li><a class="dropdown-item" routerLink="notary/notary-leads">Leads</a></li>
                           </ul>
                        </div>
                     </li>
                     <li class="nav-item dropdown">
                       <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript://">
                       <i><img src="assets/img/bank.png"></i><span>Manage Banks</span></a>
                       <div class="dropdown-menu">
                          <ul>
                             <li><a class="dropdown-item" routerLink="banks/view-banks">Banks</a></li>
                          </ul>
                       </div>
                    </li>
                      <li class="nav-item">
                        <a class="nav-link" href="javascript://" routerLink="users"><i><img src="assets/img/users.png"></i><span>Manage User</span></a>
                      </li>
                      <li class="nav-item dropdown">
                         <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript://">
                         <i><img src="assets/img/graph.png"></i><span>Manage lead</span></a>
                         <div class="dropdown-menu">
                            <ul>
                               <li><a class="dropdown-item" routerLink="leads/data-collectors">Data Collector</a></li>
                               <li><a class="dropdown-item" href="javascript://" routerLink="leads/csr-sellers">CSR Seller</a></li>
                               <li><a class="dropdown-item" href="javascript://" routerLink="leads/csr-buyers">CSR Buyer</a></li>
                               <li><a class="dropdown-item" href="javascript://" routerLink="leads/inhouse-broker">Inhouse Broker</a></li>
                               <li><a class="dropdown-item" href="javascript://" routerLink="leads/csr-closers">CSR Closer</a></li>
                            </ul>
                         </div>
                      </li>
                      <!-- <li class="nav-item">
                        <a class="nav-link" href="javascript://" routerLink="leads/view-leads"><i><img src="assets/img/graph.png"></i><span>Magage lead</span></a>
                      </li> -->
                      <li class="nav-item">
                        <a class="nav-link" href="javascript://" routerLink="projects/add-project"><i><img src="assets/img/graph.png"></i><span>Add Project</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="javascript://" routerLink="properties/view-properties"><i><img src="assets/img/graph.png"></i><span>Magage Properties</span></a>
                      </li>
                      <!-- 
                      <li class="nav-item">
                        <a class="nav-link" href="javascript://"><i><img src="assets/img/key.png"></i><span>ACL</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="javascript://"><i><img src="assets/img/graph2.png"></i><span>Report</span></a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" href="javascript://"><i><img src="assets/img/graph.png"></i><span>Magage Projects</span></a>
                      </li> -->
                      <li class="nav-item">
                        <a class="nav-link" href="javascript://" routerLink="access-control-mgt"><i><img src="assets/img/key.png"></i><span>ACL</span></a>
                      </li>
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript://">
                          <i><img src="assets/img/graph2.png"></i><span>Reports</span></a>
                          <div class="dropdown-menu">
                             <ul>
                                <li><a class="dropdown-item" routerLink="reports/seller">Seller</a></li>
                                <li><a class="dropdown-item" href="javascript://" routerLink="reports/buyer">Buyer</a></li>
                                <li><a class="dropdown-item" href="javascript://" routerLink="reports/notary">Notary</a></li>
                                <li><a class="dropdown-item" href="javascript://" routerLink="reports/bank">Bank</a></li>
                             </ul>
                          </div>
                       </li>
                      <li class="nav-item">
                        <a class="nav-link" href="javascript://" routerLink="manual-leads"><i><img src="assets/img/graph.png"></i><span>Manual Leads</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="javascript://" routerLink="edit-template"><i><img src="assets/img/users.png"></i><span>Edit Template</span></a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                        <i><img src="assets/img/settings.png"></i><span>Settings</span></a>
                        <div class="dropdown-menu">
                          <ul>
                            <li><a class="dropdown-item" routerLink="settings/setting-location">Location</a></li>
                            <li><a class="dropdown-item" routerLink="settings/setting-locality">Locality</a></li>
                            <li><a class="dropdown-item" routerLink="settings/setting-property">Property</a></li>
                            <li><a class="dropdown-item" routerLink="settings/setting-project">Project</a></li>
                            <!-- <li><a class="dropdown-item" routerLink="settings/edit-profile">Edit Profile</a></li> -->
                            <li><a class="dropdown-item" routerLink="settings/documents-listing">Documents Listing</a></li>
                            <li><a class="dropdown-item logout-btn" (click)="onLoggedout()">Logout</a></li>
                          </ul>
                        </div>
                      </li>
                  </ul>
                </div>
            </nav>
          </div>
      </div>
      <!--side menu end-->
  </div>
</header>
