
.logout-btn{
    cursor: pointer;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)  {
  mat-tree.example-tree.mat-tree {
    display: none;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
  mat-tree.example-tree.mat-tree {
    display: none;
  }
} */
@media only screen and (min-width: 992px) {
  nav.navbar.navbar-expand-md.navbar-dark {
    display: none;
  }
  
.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.example-tree .mat-nested-tree-node div[role=group] {
  padding-left: 40px;
}

.example-tree div[role=group] > .mat-tree-node {
  padding-left: 40px;
}
.mat-tree-node {
  display: flex;
  align-items: center;
  min-height: 48px;
  flex: 1;
  overflow: hidden;
  border-bottom: 2px solid #F2F2F2;
  word-wrap: break-word;
}
}

@media only screen and (min-width: 768px) {
  nav.navbar.navbar-expand-md.navbar-dark {
    display: none;
  }
  .example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  
  .example-tree .mat-nested-tree-node div[role=group] {
    padding-left: 40px;
  }
  
  .example-tree div[role=group] > .mat-tree-node {
    padding-left: 40px;
  }
  .mat-tree-node {
    display: flex;
    align-items: center;
    min-height: 48px;
    flex: 1;
    overflow: hidden;
    border-bottom: 2px solid #F2F2F2;
    word-wrap: break-word;
  }
}

@media only screen and (min-width: 1200px) {
  nav.navbar.navbar-expand-md.navbar-dark {
    display: none;
  }
  
.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.example-tree .mat-nested-tree-node div[role=group] {
  padding-left: 40px;
}

.example-tree div[role=group] > .mat-tree-node {
  padding-left: 40px;
}
.mat-tree-node {
  display: flex;
  align-items: center;
  min-height: 48px;
  flex: 1;
  overflow: hidden;
  color: #434B52;
  border-bottom: 2px solid #F2F2F2;
  word-wrap: break-word;
  /* filter:drop-shadow(8px 8px 10px green); */
}
.mat-tree-node:hover {
  height: 49px;
  width: 270px;
  font-size: 14px;
  line-height: 17px;
  font-family: 'sf_ui_textregular';
  background-color: #F2F2F2;
  color: #575E64;
}
.mat-tree-node.active {
  height: 49px;
  width: 270px;
  line-height: 17px;
  font-size: 14px;
  font-family: 'sf_ui_textregular';
  background-color: #00B96F;
  color: white;
}
/* img.child-img.mCS_img_loaded {
  filter:drop-shadow(8px 8px 10px gray);
} */
img.child-img.mCS_img_loaded:hover {
  filter:grayscale(100%);
}
img.child-img.mCS_img_loaded.active {
  filter: brightness(0) invert(1);
}
}