.chat-user-two img {
    border-radius: 0 10px 10px 10px;
    background-color: #00B96F;
    margin-bottom: 5px;
    width: 40%;
}
.chat-user-one img {
    float: right;
    background-color: #F5F5F5;
    border-radius: 10px 10px 10px 0;
    margin-bottom: 5px; 
    width: 40%;
}
.chat-user-two video {
    border-radius: 0 10px 10px 10px;
    background-color: #00B96F;
    margin-bottom: 5px;
    width: 40%;
}
.chat-user-one video {
    float: right;
    background-color: #F5F5F5;
    border-radius: 10px 10px 10px 0;
    margin-bottom: 5px; 
    width: 40%;
}