<div class="white-bg">
    <div class="chat-area scrollbox" malihu-scrollbar [scrollbarOptions]="scrollbarOptions" style="height: 704px; width: 429px; padding-right: 17px; outline: none; overflow: hidden;">
      <div *ngFor="let m of parameter.messages" class="chat-user" [ngClass]="m.conversation_user.admin_id == admin_id ? 'chat-user-one' : 'chat-user-two'">
        <p style="word-wrap: break-word;">{{m.message}}</p>
        <span class="time">
        {{m.created_at  | chatTime: m.created_at}}
        </span>
      </div>
  </div>
  <div class="chat-text">
      <input id="message" autocomplete="off" [(ngModel)]="message" (keyup.enter)="sendMessage()" class="chat-input" type="text" name="message" placeholder="Type your message here …">
      <!-- <textarea rows="3" autocomplete="off" [(ngModel)]="message" class="chat-input" placeholder="Type your message here …" (keyup.enter)="sendMessage()"></textarea> -->
      <button (click)="sendMessage()" class="btn">Send</button>
  </div>
</div>