<div class="white-bg">
    <div class="chat-area scrollbox" malihu-scrollbar [scrollbarOptions]="scrollbarOptions" style="height: 704px; width: 429px; padding-right: 17px; outline: none; overflow: hidden;">
      <div *ngFor="let m of parameter.messages; let i=index" class="chat-user" [ngClass]="m.conversation_user.admin_id == admin_id ? 'chat-user-one' : 'chat-user-two'">
        <p *ngIf="m.message_type == 1" style="word-wrap: break-word;">{{m.message}}</p>
        <img *ngIf="m.message_type == 2" src="{{m.image}}">
        <img *ngIf="m.message_type == 3 && !m.play" (click)="playVideo(i)" src="{{m.image}}">
        <video *ngIf="m.message_type == 3 && m.play" src="{{m.video}}" autoplay type="video/mp4" controls></video>
        <div class="chat-shared-file" *ngIf="m.message_type == 4">
          <a href="javascript://"><span>{{m.attachment_name}}</span>
            <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
          </a>
        </div>
        <span class="time">
        {{m.created_at  | chatTime: m.created_at}}
        </span>
      </div>
  </div>

  <div class="chat-text">
    <div class="dropdown attach-items">
      <a href="javascript://" class="dropdown-toggle" data-toggle="dropdown">
     <i class="fa fa-paperclip" aria-hidden="true"></i>
      </a>
      <div class="dropdown-menu">
        <div class="dropdown-item">
          <input type="file" name="image" accept="image/*" (change)="onSelectFile('image', $event)">
          <i class="fa fa-camera" aria-hidden="true"></i>
          <span>Photo</span>
        </div>
        <a class="dropdown-item"> 
          <input type="file" name="video" id="videoFileObject" name="video" accept="video/mp4,video/x-m4v,video/*" (change)="showCanvas($event)">
          <i class="fa fa-video-camera" aria-hidden="true"></i>
          <span>Video</span>
        </a>
        <a class="dropdown-item">    
            <input type="file" name="attachment" accept=".doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/pdf" (change)="saveAttachment($event)">
          <i class="fa fa-file" aria-hidden="true"></i>
          <span>Document</span>
        </a>
      </div>
    </div>
    <input id="message" autocomplete="off" *ngIf="model.message_type == 1" [(ngModel)]="model.message" (keyup.enter)="sendMessage()" class="chat-input" type="text" name="message" placeholder="Type your message here …">
    <div class="chat-attached-file" *ngIf="model.message_type == 2">
      <div class="attached-inner">
        <a href="javascript://" (click)="updateModel('image')" class="close">&times;</a>
        <div class="fig-block"><img class="img-fluid" src="{{model.image}}" alt="img"></div>
      </div>
    </div>
    <div class="chat-attached-file" *ngIf="model.message_type == 3 && showVideo">
      <div class="attached-inner">
        <a href="javascript://" (click)="updateModel('video')" class="close">&times;</a>
        <div class="fig-block">
          <canvas width="60" height="50" id="canvas"></canvas> <br/><br/>
          <!-- <video id="video" src="http://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4" controls></video><br/> -->
          <video style="display:none;" class="video55" autoplay type="video/mp4" controls></video>
          <!-- <video id="video-element" controls>
              <source type="video/mp4">
          </video>
          <canvas id="canvas-element"></canvas> -->
        </div>
      </div>
    </div>
    <div class="chat-attached-file" *ngIf="model.message_type == 4">
      <div class="attached-inner">
        <a href="javascript://" (click)="updateModel('video')" class="close">&times;</a>
        <div class="fig-block">
          <div class="chat-shared-file">
            <a href="javascript://"><span>{{model.attachment_name}}</span>
              <!-- <i class="fa fa-times" (click)="updateModel('attachment')" aria-hidden="true"></i> -->
            </a>
          </div>
        </div>
      </div>
    </div>
    <button (click)="sendMessage()" class="btn">Send</button>
 </div>
</div>