

<div class="container-fluid">
  <div class="row">
      <div class="col-md-6">
        <div class="title-group">
            <h5>{{'viewNotifications.label' | translate}}</h5>
            <p>{{'table.pagination.showing' | translate}} {{parameter.items?.length}} {{'table.pagination.outof' | translate}} {{parameter.total ? parameter.total : parameter?.items?.length}}</p>
        </div>
      </div>
  </div>

  <div class="white-bg padding20 profile-content-outer">
    <ul class="notifications">
      <li class="cursor-pointer" *ngFor="let item of parameter.items| paginate: { itemsPerPage: parameter.itemsPerPage, currentPage: parameter.page, totalItems: parameter.total }" (click)="redirect(item)">
        <h5>{{item.notification_text}}</h5>
        <p>{{item.notification_desc}}
          <span class="pull-right">{{item.created_at|moment}}</span>
        </p>
      </li>
    </ul>

    <div class="center" *ngIf="parameter.total == 0">
      <img src="assets/img/404-error.png">
    </div>
  </div>
  
  <div class="btn-cont text-right marginT15" *ngIf="parameter.total">
    <pagination-controls class="my-pagination" (pageChange)="getPage($event)"></pagination-controls>
  </div>
  
</div>

