<div class="container-fluid">

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
       <div class="form-group">
          <p class="p16">{{'office.manageOffice' | translate}}</p>
       </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
       <div class="form-group" style="float: right;">
          <button class="action-icon" (click)="getProjectSelection(true)"
          title="{{'table.title.selectColumns' | translate}}"><i class="fa fa-pause" 
              style="cursor: pointer;"></i></button>               
       </div>
    </div>
 </div>

  <div class="row">
    <div class="offset-md-4"></div>
    <div class="col-md-8 col-12">
      <div class="cust-tabs-2">
        <ul class="nav nav-tabs float-right">
          <li class="nav-item">
            <a [ngClass]="{'active':parameter.dash_flag == 1}" (click)="changeFlag(1)" class="nav-link"
              data-toggle="tab" href="#tw">{{'filters.time.thisWeek' | translate}}</a>
          </li>
          <li class="nav-item">
            <a [ngClass]="{'active':parameter.dash_flag == 2}" (click)="changeFlag(2)" class="nav-link"
              data-toggle="tab" href="#tm">{{'filters.time.thisMonth' | translate}}</a>
          </li>
          <li class="nav-item">
            <a [ngClass]="{'active':parameter.dash_flag == 3}" (click)="changeFlag(3)" class="nav-link"
              data-toggle="tab" href="#lm">{{'filters.time.lastMonth' | translate}}</a>
          </li>
          <li class="nav-item">
            <a [ngClass]="{'active':parameter.dash_flag == 4}" (click)="changeFlag(4)" class="nav-link"
              data-toggle="tab" href="#lt">{{'filters.time.lifetime' | translate}}</a>
          </li>
          <li class="nav-item">
            <a [ngClass]="{'active':parameter.dash_flag == 5}" (click)="changeFlag(5)" class="nav-link"
              data-toggle="tab" href="#cust">{{'filters.time.custom.label' | translate}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div *ngIf="parameter.dash_flag == 5" class="row">
        <div class="offset-lg-7"></div>
        <div class="col-lg-2 col-md-2 col-sm-5 col-5">
          <div class="form-group marginB0">
            <label>{{'filters.time.custom.from' | translate}}</label>
            <p-calendar [locale]="locale" showIcon="true" [(ngModel)]="parameter.min" [maxDate]="today"
              showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2040"></p-calendar>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-5 col-5">
          <div class="form-group marginB0">
            <label>{{'filters.time.custom.to' | translate}}</label>
            <p-calendar [locale]="locale" showIcon="true" [(ngModel)]="parameter.max" [minDate]="parameter.min"
              [maxDate]="today" showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true"
              yearRange="2000:2040"></p-calendar>
          </div>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-2 col-6">
          <div class="form-group btn-cont">
            <label class="addMT3">&nbsp;</label>
            <button class="btn btn-calender" href="javascript://" (click)="getListing()"
              [disabled]="!parameter.min || !parameter.max">{{'filters.time.custom.applyBtn' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <label>{{'filters.location.country' | translate}}</label>
        <select class="form-control" (change)="onCountryChange($event.target.value)" [(ngModel)]="parameter.country_id">
          <option value="0">{{'filters.location.allOption' | translate}}</option>
          <option *ngFor="let item of location.countries" [value]="item.id">{{item.name}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label>{{'filters.location.state' | translate}}</label>
        <select class="form-control" (change)="onStateChange($event.target.value)" [(ngModel)]="parameter.state_id">
          <option value="0">{{'filters.location.allOption' | translate}}</option>
          <option *ngFor="let item of location.states" [value]="item.id">{{item.name}}</option>
        </select>
      </div>
    </div>

    <div class="col-lg-2 col-md-2">
      <div class="form-group">
        <label>{{'filters.location.city' | translate}}</label>
        <ng-multiselect-dropdown class="col-3 section-section2 multi-select" [placeholder]="''" name="selectedCities"
        [data]="location.cities" [(ngModel)]="selectedLocation.selectedCities" [settings]="multiDropdownSettings"
        (onDeSelect)="onCityChange()" (onSelect)="onCityChange()"
        (onSelectAll)="onCityChangeAll($event)" (onDeSelectAll)="onCityChangeAll($event)">
      </ng-multiselect-dropdown>
      </div>
    </div>

    <div class="col-lg-2 col-md-2">
      <div class="form-group">
        <label>{{'filters.location.locality' | translate}}</label>
        <ng-multiselect-dropdown class="col-3 section-section2 multi-select" [placeholder]="''" name="selectedLocalities"
        [data]="location.localities" [(ngModel)]="selectedLocation.selectedLocalities" [settings]="multiDropdownSettings"
        >
     </ng-multiselect-dropdown>
      </div>
    </div>


    <div class="col-md-2">
      <div class="form-group btn-cont">
        <label style="display: block; margin-top: 3px;">&nbsp;</label>
        <button type="button" (click)="getListing()" class="btn btn-primary-new width100P">{{'filters.location.applyBtn'
          | translate}}</button>
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group btn-cont">
        <label style="display: block; margin-top: 3px;">&nbsp;</label>
        <button type="button" (click)="resetFilters()"
          class="btn btn-primary-new width100P">{{'filters.location.resetBtn' | translate}}</button>
      </div>
    </div>
  </div>

  <div class="cust-tabs">
    <div class="row flex-wrap-reverse">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="add-new pull-right">
          <a *ngIf="admin?.admin_acl['Project Management']?.can_create==1 || admin?.permissions?.can_data_collector==1"
            class="btn" href="javascript://" routerLink="/dashboard/office/add-office">{{'office.addNewOffice' |
            translate}}</a>
        </div>
        <div class="export-project pull-right mr-4">
          <a class="btn" href="javascript://" (click)="getExportlisting()">{{'table.exportDataBtn' | translate}}</a>
        </div>
      </div>
    </div>
    <div class="tab-content white-bg">
      <div class="tab-pane active">
        <div class="tabel-section">
          <div class="table-responsive">
            <table class="table table-striped table-align-left">
              <tr>
                <th style="vertical-align:top;width:6%" *ngIf="selectedColumnsToShow?.image">
                  <div class="d-flex table-search">
                    <label>{{'table.th.image' | translate}}</label>
                  </div>
                </th>
                <th style="width:15%" *ngIf="selectedColumnsToShow?.building_name">
                  <div class="table-search">
                    <label>{{'table.th.nameOfOffice' | translate}}</label>
                    <div class="searh-3">
                      <input class="width100px" type="text" [(ngModel)]="parameter.keyword"
                        (keyup.enter)="getListing()" autocomplete="address-level4">
                      <button *ngIf="parameter.keyword" (click)="getListing()"><i class="fa fa-search"></i></button>
                    </div>
                  </div>
                </th>
                <th style="width:14%" *ngIf="selectedColumnsToShow?.developer">
                  <div class="table-search">
                    <label>{{'table.th.developer' | translate}}</label>
                    <div class="searh-3">
                      <input class="width100px" type="text" [(ngModel)]="parameter.email" (keyup.enter)="getListing()" autocomplete="address-level4" >
                      <button *ngIf="parameter.email" (click)="getListing()"><i class="fa fa-search"></i></button>
                    </div>
                  </div>
                </th>
                <th style="width:15%" *ngIf="selectedColumnsToShow?.agency">
                  <div class="table-search">
                    <label>{{'table.th.agency' | translate}}</label>
                    <div class="searh-3">
                      <input class="width100px" type="text" [(ngModel)]="parameter.agency_name"
                        (keyup.enter)="getListing()" autocomplete="address-level4">
                      <button *ngIf="parameter.agency_name" (click)="getListing()"><i class="fa fa-search"></i></button>
                    </div>
                  </div>
                </th>
                <th style="width:15%" *ngIf="selectedColumnsToShow?.legal_entity">
                  <div class="table-search">
                    <label>{{'table.th.legalEntity' | translate}}</label>
                  </div>
                </th>
                <th style="width:15%" *ngIf="selectedColumnsToShow?.contributor">
                  <div class="table-search">
                    <label>{{'table.th.contributor' | translate}}</label>
                  </div>
                </th>
                <th style="width:15%" *ngIf="selectedColumnsToShow?.managed_company">
                  <div class="table-search">
                    <label>{{'table.th.managedBy' | translate}}</label>
                  </div>
                </th>
                <th style="width:10%" *ngIf="selectedColumnsToShow?.possesion">
                  <div class="table-search">
                    <label>{{'table.th.possesion.label' | translate}}</label>
                    <select [(ngModel)]="parameter.possession_filter" (change)="getListing()">
                      <option value="0">{{'table.th.possesion.all' | translate}}</option>
                      <option value="{{apiConstant.possessionStatus.sale}}">{{'table.th.possesion.sale' | translate}}
                      </option>
                      <option value="{{apiConstant.possessionStatus.preSale}}">
                        {{'table.th.possesion.presale' | translate}}</option>
                    </select>
                  </div>
                </th>
                <th style="vertical-align:top;width:5%" *ngIf="selectedColumnsToShow?.parking_lots">
                  <div class="table-search">
                    <label>{{'table.th.possesion.park' | translate}}</label>
                      <a (click)="sortData1(parameter.parking_sort == 2 ? 1 : 2)" href="javascript://"><img
                      [ngClass]="{'upsidedown':parameter.parking_sort == 2 }" src="assets/img/top-arrow.png"
                      alt="img"></a>
                  </div>
                </th>
                <th style="vertical-align:top;width:5%" *ngIf="selectedColumnsToShow?.properties">
                  <div class="d-flex table-search">
                    <span><label>{{'table.th.totalSquareMeter' | translate}}</label></span>
                    <a (click)="sortData(parameter.property_sort==2?1:2)" href="javascript://"><img
                        [ngClass]="{'upsidedown':parameter.property_sort==2}" src="assets/img/top-arrow.png"
                        alt="img"></a>
                  </div>
                </th>
                <th style="vertical-align:top;width:100px;width:20%" *ngIf="selectedColumnsToShow?.action">
                  <div class="table-search">
                    <label>{{'table.th.actions.label' | translate}}</label>
                    <select [(ngModel)]="parameter.action_filter" (change)="getListing()">
                      <option value="0">{{'table.th.actions.all' | translate}}</option>
                      <option value="3">{{'table.th.actions.approved' | translate}}</option>
                      <option value="4">{{'table.th.actions.unapproved' | translate}}</option>
                      <option value="1">{{'table.th.actions.blocked' | translate}}</option>
                      <option value="2">{{'table.th.actions.unblocked' | translate}}</option>
                    </select>
                  </div>
                </th>
              </tr>

              <tr
                *ngFor="let p of items | paginate: { itemsPerPage: parameter.itemsPerPage, currentPage: parameter.page, totalItems: total }; let i=index">
                <td *ngIf="selectedColumnsToShow?.image">
                  <img *ngIf="p.main_image" [defaultImage]="p.main_image| img:'thumb'" [lazyLoad]="p.main_image"
                    class="rounded-circle" alt="img">
                  <img *ngIf="!p.main_image" class="rounded-circle" src="assets/img/default_img.png" alt="img">
                </td>
                <!--  -->
                <td   *ngIf="selectedColumnsToShow?.building_name" class="cursor-pointer" title="{{'table.title.clickToViewDetails' | translate}}"
                routerLink="/dashboard/projects/details/{{p.id}}">
                  <strong>{{p?.name}}</strong>
                </td>
                <td [ngClass]="{'green-color cursor-pointer': p?.developer?.name}"  *ngIf="selectedColumnsToShow?.developer" (click)="viewDeveloper(p)">
                  <span>{{p?.developer?.name ? p?.developer?.name : ('table.tr.td.NA' | translate)}}</span>
                </td>
                <td [ngClass]="{'green-color cursor-pointer': p?.agency?.name}"  *ngIf="selectedColumnsToShow?.agency" (click)="viewAgency(p)">
                  <span>{{p?.agency?.name ? p?.agency?.name : ('table.tr.td.NA' | translate)}}</span>
                </td>
                <!-- (click)="viewLegalEntity(p)" -->
                <td   *ngIf="selectedColumnsToShow?.legal_entity" [ngClass]="{'green-color cursor-pointer': p?.legal_entity_info?.length > 0 }">
                  <span (click)="this.openLegalEnityListModel(p.legal_entity_info)" *ngIf="p?.legal_entity_info?.length > 0">
                    {{this.getLegalEntityInfo(p.legal_entity_info)}}</span>
                    <span *ngIf="p?.legal_entity_info?.length == 0">{{'table.tr.td.NA' | translate}}</span>
                </td>
                 <!-- (click)="viewContributor(p)" -->
                 <td   *ngIf="selectedColumnsToShow?.contributor" [ngClass]="{'green-color cursor-pointer': p?.building_contributors?.length > 0 }">                   
                    <span (click)="this.openContributorListModel(p.building_contributors)" *ngIf="p?.building_contributors?.length > 0">
                    {{p.building_contributors && p.building_contributors.length > 0  ? this.getBuildingContributorsInfo(p.building_contributors) : ('table.tr.td.NA' | translate)}}</span>
                    <span *ngIf="p?.building_contributors?.length == 0">{{'table.tr.td.NA' | translate}}</span>
                </td>
                <td   *ngIf="selectedColumnsToShow?.managed_company" [ngClass]="{'green-color cursor-pointer': p?.manager?.id || p?.company?.id}"
                  (click)="viewCompanyManager(p)">
                  <span>{{p?.manager?.id ? p?.manager?.name : p?.company?.id ? p?.company?.name : ('table.tr.td.NA' |
                    translate)}}</span>
                  <div class="clearfix"></div>
                  <small>
                    {{p?.manager?.id ? ('table.tr.td.manager' | translate) : p?.company?.id ? ('table.tr.td.company' |
                    translate) : ''}}
                  </small>
                </td>
                <td  *ngIf="selectedColumnsToShow?.possesion">
                  <span *ngIf="p?.possession_status_id">{{p?.possession_status_id == apiConstant.possessionStatus.sale ? ('table.tr.td.sale' |
                    translate) : ('table.tr.td.presale' | translate)}}</span>
                    <span  *ngIf="!p?.possession_status_id">{{'table.tr.td.NA' | translate}}</span>
                </td>
                <td  *ngIf="selectedColumnsToShow?.parking_lots">
                  <a class="add1" href="javascript://" (click)="addNote(p)">
                    <span style="color: green;">{{totalParkingCount(p) || '0'}}</span>
                  </a>
                 
                </td>
                <td  *ngIf="selectedColumnsToShow?.properties">
                  <a title="{{'table.title.clickToViewProperties' | translate}}" (click)="goWay(p)"><span
                      class="green-color cursor-pointer">{{p?.properties_count_all | numberWithCommas}}</span></a>
                </td>
                <td *ngIf="selectedColumnsToShow?.action">
                  <div class="table-actions">
                    <!-- <div class="message"> -->
                    <button [disabled]="admin?.admin_acl['Project Management']?.can_update==0"
                      routerLink="/dashboard/projects/edit-office/{{p.id}}"
                      title="{{'table.title.editDetails' | translate}}" class="action-icon"><img
                        src="assets/img/edit.png" alt="img"></button>
                    <button [disabled]="admin?.admin_acl['Project Management']?.can_delete==0" *ngIf="!p.is_blocked"
                      (click)="blockUnblock(p, 1);" class="action-icon" title="{{'table.title.block' | translate}}"><img
                        src="assets/img/block.png" alt="img"></button>
                    <button [disabled]="admin?.admin_acl['Project Management']?.can_delete==0"
                      *ngIf="p.is_blocked == true" (click)="blockUnblock(p, 0);" class="action-icon unblock-bg"
                      title="{{'table.title.unblock' | translate}}"><img src="assets/img/unblock.png"
                        alt="img"></button>
                    <!-- unapprove => when status=2(pending), 1(approved)   (click)="openCancellationModal(p, i)"-->
                    <a style="display:none;" #modalOpen data-toggle="modal" data-target="#addNote"></a>
                    <button (click)="openCancellationModal(p, i)"
                      [disabled]="admin?.admin_acl['Project Management']?.can_update==0"
                      *ngIf="p.status == 1 || p.status==2" class="action-icon"
                      title="{{'table.title.unapprove' | translate}}"><img src="assets/img/ic_disapprove.png"
                        alt="img"></button>
                    <!-- approve => when status=2(pending), 4(rejected)-->
                    <button [disabled]="admin?.admin_acl['Project Management']?.can_update==0"
                      *ngIf="p.status == 2 || p.status == 4" (click)="approveProject(p, 1);" class="action-icon"
                      title="{{'table.title.approve' | translate}}"><img src="assets/img/tick.png" alt="img"></button>
                    <!-- delete project -->
                    <button [disabled]="admin?.admin_acl['Project Management']?.can_purge==0"
                      (click)="deletePopup(p, i);" class="action-icon" title="{{'table.title.delete' | translate}}"><img
                        src="assets/img/ic_delete.png" alt="img"></button>
                    <!-- </div> -->
                  </div>
                </td>
              </tr>
            </table>
            <div class="padding20 center" *ngIf="total == 0">
              <img src="assets/img/404-error.png">
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane container fade" id="seller">{{'viewProjects.sellerTabOn' | translate}}</div>
    </div>
  </div>

  <div class="btn-cont marginT15" *ngIf="total">
    <div class="row">
      <div class="col-6">
        <div class="title-group">
          <p>{{'table.pagination.showing' | translate}} {{items?.length}} {{'table.pagination.outof' | translate}}
            {{total}}</p>
        </div>
      </div>
      <div class="col-6 text-right">
        <pagination-controls class="my-pagination" (pageChange)="getPage($event)"></pagination-controls>
      </div>
    </div>
  </div>
</div>
