<!--content start-->
<div class="container-fluid">
  <div class="breadcrumb-group">
    <h5>Settings</h5>
    <nav class="breadcrumb">
      <a class="breadcrumb-item">Home</a>
      <!-- <a class="breadcrumb-item" routerLink="/dashboard">Home</a> -->
      <a class="breadcrumb-item">Settings</a>
      <span class="breadcrumb-item active">Locality</span>
    </nav>
  </div>

  <div class="white-bg">
    <div class="page-title">
      <h3>Locality</h3>
    </div>

    <!-- add city -->
    <div class="form-outer marginT15">
      <div class="inline-form-group">
        <div class="row">
          <div class="col-md-12">
            <label><strong>Add Locality</strong></label>
            <hr>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-6">
            <div class="form-group marginB0">
              <label>Country</label>
              <select title="Choose Country" class="form-control" (change)="getStates($event.target.value, '')">
                <option value="" disabled>Select Country</option>
                <option *ngFor="let country of parameter.countries" value="{{country.id}}"
                  [selected]="country.id == parameter.country_id">{{country.name_en}}</option>
              </select>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-6">
            <div class="form-group marginB0">
              <label>State</label>
              <select title="Choose State" class="form-control" (change)="getCities($event.target.value, '')">
                <option value="" disabled>Select State</option>
                <option *ngFor="let state of parameter.states" value="{{state.id}}"
                  [selected]="state.id == parameter.state_id">{{state.name_en}}</option>
              </select>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-6">
            <div class="form-group marginB0">
              <label>City</label>
              <select title="Choose City" class="form-control" (change)="getLocalities($event.target.value)">
                <option value="" disabled>Select City</option>
                <option *ngFor="let city of parameter.cities" value="{{city.id}}"
                  [selected]="city.id == parameter.city_id">{{city.name_en}}</option>
              </select>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-6">
            <div class="form-group marginB0">
              <label>Search Locality</label>
              <input autocomplete="off" required placeholder="Search Locality" autocapitalize="off"
                spellcheck="off" type="text" class="form-control" style="padding: 8px 25px 8px 15px;
                height: 40px !important;" (keyup.enter)="getLocalities(parameter.city_id, $event.target.value)">
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>

    
    <div class="form-outer marginT15 padding40">
      <div class="row">
        <table class="table table-striped">
          <tr>
            <th style="width:30%; text-align:left;">
              <div class="table-search">
                  <label>Name (English)</label>
                  <!-- <div class="searh-3">
                    <input autocomplete="off" type="text" style="height:28px; font-size: 14px;"
                      (keyup.enter)="getLocalities(parameter.city_id, $event.target.value)" name=""
                      placeholder="Search here">
                    <button (click)="getLocalities(parameter.city_id, $event.target.value)"><i
                        class="fa fa-search"></i></button>
                  </div> -->
              </div>
            </th>
            <th style="width:30%; text-align:left;">
              <div class="table-search">
                  <label>Name (Spanish)</label>
              </div>
            </th>
            <th style="width:10%; text-align:left;">
              <div class="table-search">
                  <label>Avg Price</label>
              </div>
            </th>
            <th style="width:30%">Action</th>
          </tr>
          <!-- (click)="markLocalityFeatured(index, locality.id, locality.is_featured==1?0:1)" -->
          <tr *ngFor="let locality of all_overlays; let index = index" 
            title="Click to view locality" (click)="setSelection(locality.overlay, locality.id)">
            <td class="text-left locality-name" [ngClass]="locality.id == selectedLocality ? 'selectedRow' : ''">
              {{locality.name_en}}
            </td>
            <td class="text-left locality-name" [ngClass]="locality.id == selectedLocality ? 'selectedRow' : ''">
              {{locality.name_es}}
            </td>
            <td class="text-left locality-name" [ngClass]="locality.id == selectedLocality ? 'selectedRow' : ''">
              {{locality.avg_price | price}}
            </td>
            <!-- <td>
              <a (click)="upadteSelection(locality, index)" title="Unblock State" class="icon-block block-icon"><img src="assets/img/top-arrow.png" alt="img"></a>
            </td> -->
            <td [ngClass]="locality.id == selectedLocality ? 'selectedRow' : ''">
              <button [disabled]="admin?.admin_acl['Settings']?.can_update==0" *ngIf="locality.is_featured==0" 
                (click)="markLocalityFeatured(index, locality.id, locality.is_featured==1?0:1)" class="action-icon" title="Mark feature"><img src="assets/img/ic_featured.png" alt="img"></button>
              <button [disabled]="admin?.admin_acl['Settings']?.can_update==0" *ngIf="locality.is_featured==1" 
                (click)="markLocalityFeatured(index, locality.id, locality.is_featured==1?0:1)" class="action-icon" title="Mark unfeature"><img src="assets/img/tick-selected.png" alt="img"></button>
              <!-- <a *ngIf="locality.status == 0" (click)="blockUnblockLocality(locality, index, 1)"
                title="Unblock Locality" class="icon-block block-icon unblock-bg"><img src="assets/img/block.png"
                  alt="img"></a>
              <a *ngIf="locality.status == 1" (click)="blockUnblockLocality(locality, index, 0)" title="Block Locality"
                class="icon-block block-icon"><img src="assets/img/unblock.png" alt="img"></a> -->
              <a (click)="editLocality(locality.id, locality.name_en, locality.name_es, locality.price_per_sqft, locality.status, locality.poly_coordinates)"
                title="Edit" class="action-icon"><img src="assets/img/edit.png" alt="img"></a>
              <a (click)="deleteLocality(locality, index)" title="Delete" class="action-icon"><img
                  src="assets/img/ic_delete.png" alt="img"></a>
            </td>
          </tr>
        </table>

        <div class="error-border" [ngSwitch]="true">
          <p class="show-not-found" *ngSwitchCase="parameter.states?.length == 0">
              {{'message.error.noStateFound' | translate}}
          </p>
          <p class="show-not-found" *ngSwitchCase="parameter.states?.length != 0 && parameter.cities?.length == 0">
              {{'message.error.noCityFound' | translate}}</p>
          <p class="show-not-found"
            *ngSwitchCase="parameter.states?.length != 0 && parameter.cities?.length != 0 && all_overlays?.length == 0">
            {{'message.error.noLocalityFound' | translate}}</p>
        </div>
      </div>
    </div>

    <div class="form-outer marginT15 padding40">
      <div class="row">
        <!-- <div class="form-outer marginB10">
              <div class="row">
                <div class="offset-lg-3"></div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                  <div class="form-group marginB0"></div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                  <div class="form-group marginB0">
                    <input autocomplete="off" required placeholder="Search area you want to mark." autocorrect="off" autocapitalize="off"
                      spellcheck="off" type="text" class="form-control" style="padding: 8px 25px 8px 15px;
                      height: 40px !important;" #searchLocality (input)="loadPlaces()">
                  </div>
                </div>
              </div>
        </div> -->

        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
          <div class="form-group marginB10"></div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
          <div class="form-group marginB10">
              <input autocomplete="off" required placeholder="Search area you want to mark." autocorrect="off" autocapitalize="off"
              spellcheck="off" type="text" class="form-control" style="padding: 8px 25px 8px 15px;
              height: 40px !important;" #searchLocality (input)="loadPlaces()">
          </div>
        </div>
        <div id="mapDiv" style="height: 500px; width: 100%;" #mapDiv></div>
      </div>
    </div>


  </div>
</div>
<!--content end-->


<!-- Trigger the modal with a button -->
<button type="button" style="display: none;" class="btn btn-info" data-toggle="modal" data-target="#myModal"
  #localityOpen>Open Modal</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header my-modal-header">
        <button type="button" class="close" (click)="closeModal()">&times;</button>
        <h4 class="modal-title">{{model.id ? 'Edit' : 'Add'}} Locality Details</h4>
      </div>
      <form class="form-horizontal form-model0P" role="form" novalidate #addForm="ngForm"
        (ngSubmit)="checkIfLocalitySpanishNameEntered(addForm.value.name_en, addForm.value.name_es, addForm.value.price_per_sqft)">
        <div class="modal-body model-body10P">
          <div class="form-group">
            <input autocomplete="off" type="text" class="form-control" placeholder="Locality name (English)"
              id="name_en" required [(ngModel)]="model.name_en" name="name_en" #name_en="ngModel">
            <!-- <div *ngIf="name_en.errors && (name_en.dirty || name_en.touched)" class="show-not-found">
                <div [hidden]="!name_en.errors.required">
                  {{constant.errorMsg.COUNTRY_NAME_REQUIRED}}
                </div>
            </div> -->
          </div>
          <div class="form-group">
            <input autocomplete="off" type="text" name="name_es" class="form-control"
              placeholder="Locality name (Spanish)" [(ngModel)]="model.name_es">
          </div>

          <!-- <div class="form-group">
            <input autocomplete="off" type="text" class="form-control" min="1" placeholder="Price per sqmt"
              id="price_per_sqft" required [(ngModel)]="model.price_per_sqft" name="price_per_sqft"
              #price_per_sqft="ngModel">
          </div> -->

        </div>
        <div class="modal-footer btn-cont">
          <button type="submit" [disabled]="addForm.invalid" class="btn btn-primary-new">Submit</button>
          <button style="display:none;" type="button" class="btn btn-default" #localityClose
            data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-default" (click)="closeModal()">Close</button>
        </div>
      </form>

    </div>

  </div>
</div>