<div class="container-fluid ">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <p class="p16">{{'viewCommission.label' | translate}}</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <select class="form-control" [(ngModel)]="reportType">
          <option value="1">{{'collectionReport.graphicalview' | translate}}</option>
          <option value="2">{{'collectionReport.tabularView' | translate}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="offset-md-4"></div>
    <div class="col-md-8 col-12">
      <div class="cust-tabs-2">
        <ul class="nav nav-tabs float-right">
          <li class="nav-item">
            <a [ngClass]="{'active':parameter.dash_flag == 1}" (click)="changeFlag(1)" class="nav-link"
              data-toggle="tab" href="#tw">{{'filters.time.thisWeek' | translate}}</a>
          </li>
          <li class="nav-item">
            <a [ngClass]="{'active':parameter.dash_flag == 2}" (click)="changeFlag(2)" class="nav-link"
              data-toggle="tab" href="#tm">{{'filters.time.thisMonth' | translate}}</a>
          </li>
          <li class="nav-item">
            <a [ngClass]="{'active':parameter.dash_flag == 3}" (click)="changeFlag(3)" class="nav-link"
              data-toggle="tab" href="#lm">{{'filters.time.lastMonth' | translate}}</a>
          </li>
          <li class="nav-item">
            <a [ngClass]="{'active':parameter.dash_flag == 4}" (click)="changeFlag(4)" class="nav-link"
              data-toggle="tab" href="#lt">{{'filters.time.lifetime' | translate}}</a>
          </li>
          <li class="nav-item">
            <a [ngClass]="{'active':parameter.dash_flag == 5}" (click)="changeFlag(5)" class="nav-link"
              data-toggle="tab" href="#cust">{{'filters.time.custom.label' | translate}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div *ngIf="parameter.dash_flag == 5" class="row">
        <div class="offset-lg-7"></div>
        <div class="col-lg-2 col-md-2 col-sm-5 col-5">
          <div class="form-group marginB0">
            <label>{{'filters.time.custom.from' | translate}}</label>
            <p-calendar dateFormat="dd/M/yy" [locale]="locale" showIcon="true" [(ngModel)]="parameter.min"
              [maxDate]="today" showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true"
              yearRange="2000:2040"></p-calendar>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-5 col-5">
          <div class="form-group marginB0">
            <label>{{'filters.time.custom.to' | translate}}</label>
            <p-calendar dateFormat="dd/M/yy" [locale]="locale" showIcon="true" [(ngModel)]="parameter.max"
              [minDate]="parameter.min" [maxDate]="today" showButtonBar="true" [monthNavigator]="true"
              [yearNavigator]="true" yearRange="2000:2040"></p-calendar>
          </div>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-2 col-6">
          <div class="form-group btn-cont">
            <label class="addMT3">&nbsp;</label>
            <button class="btn btn-calender" href="javascript://" (click)="getListing()"
              [disabled]="!parameter.min || !parameter.max">{{'filters.time.custom.applyBtn' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-2 col-md-2">
      <div class="form-group">
        <label>{{'collectionReport.start_date' | translate}}</label>
        <p-calendar dateFormat="dd/M/yy" [locale]="locale" showIcon="true" [(ngModel)]="parameter.start_date"
          [maxDate]="parameter.end_date" showButtonBar="true" class="coll-report-calendar" [monthNavigator]="true"
          [yearNavigator]="true" yearRange="2000:2040"></p-calendar>
      </div>
    </div>
    <div class="col-lg-2 col-md-2">
      <div class="form-group">
        <label>{{'collectionReport.end_date' | translate}}</label>
        <p-calendar dateFormat="dd/M/yy" [locale]="locale" showIcon="true" [(ngModel)]="parameter.end_date"
          [maxDate]="today" showButtonBar="true" class="coll-report-calendar" [monthNavigator]="true"
          [yearNavigator]="true" yearRange="2000:2040"></p-calendar>
      </div>
    </div>
    <div class="col-lg-2 col-md-2">
      <div class="form-group">
        <label>{{'collectionReport.developer' | translate}}</label>
        <div class="clearfix"></div>
        <ng-multiselect-dropdown class="section-section2 multi-select" [placeholder]="''" [data]="developers"
          [(ngModel)]="selectedDevelopers" [settings]="singleDropdownSettings"
          (onDeSelect)="onSelectDeveloper(0, $event)" (onSelect)="onSelectDeveloper(1, $event)"
          (onSelectAll)="onSelectAll($event)">
        </ng-multiselect-dropdown>
        <div class="clearfix"></div>
      </div>
    </div>

    <div class="col-lg-2 col-md-2">
      <div class="form-group">
        <label>{{'collectionReport.project' | translate}}</label>
        <div class="clearfix"></div>
        <ng-multiselect-dropdown class="section-section2 multi-select" [placeholder]="''" [data]="projects"
          [(ngModel)]="selctedProjects" [settings]="multiDropdownSettings"
          (onDeSelect)="onItemDeSelect('projects', $event)" (onSelect)="onItemSelect('selctedProjects', $event)"
          (onSelectAll)="onSelectAll($event)">
        </ng-multiselect-dropdown>
        <div class="clearfix"></div>
      </div>
    </div>

    <div class="col-lg-2 col-md-2">
      <!-- <div class="form-group marginB0">
          <label>{{'collectionReport.currency' | translate}}</label>
             <div class="clearfix"></div>
                 <ng-multiselect-dropdown class="section-section2 multi-select"
                       [placeholder]="''"
                       [data]="currencies"
                       [(ngModel)]="selectedCurrencies"
                       [settings]="multiDropdownSettings"
                       (onDeSelect)="onItemDeSelect('currencies', $event)"
                       (onSelect)="onItemSelect('selectedCurrencies', $event)"
                       (onSelectAll)="onSelectAll($event)">
                 </ng-multiselect-dropdown>
             <div class="clearfix"></div>      
       </div> -->
    </div>

    <div class="col-lg-1 col-md-2">
      <div class="form-group btn-cont">
        <label style="display: block; margin-top: 3px;">&nbsp;</label>
        <button type="button" (click)="getReportData()"
          class="btn btn-primary-new width100P P86">{{'collectionReport.apply' | translate}}</button>
      </div>
    </div>

    <div class="col-lg-1 col-md-2">
      <div class="form-group btn-cont">
        <label style="display: block; margin-top: 3px;">&nbsp;</label>
        <button type="button" (click)="resetFilters()"
          class="btn btn-primary-new width100P P86">{{'collectionReport.reset' | translate}}</button>
      </div>
    </div>
  </div>

  <div class="row flex-wrap-reverse">
    <div class="col-lg-2 col-md-2">
      <div class="form-group">
        <label>{{'filters.commisionType.type' | translate}}</label>
        <select class="form-control" (change)="getListing()" [(ngModel)]="parameter.commission_type">
          <option value="1">{{'filters.commisionType.purchase' | translate}}</option>
          <!-- <option value="2">{{'filters.commisionType.inhouse-agent' | translate}}</option>
            <option value="5">{{'filters.commisionType.outside-agent' | translate}}</option>
            <option value="3">{{'filters.commisionType.collection' | translate}}</option> -->
          <!-- <option value="4">{{'filters.commisionType.collection' | translate}}</option> -->
        </select>
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
    </div>
    <div class="col-xl-2 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="add-new pull-right text-left">
        <a class="btn" (click)="this.getExportlisting()" href="javascript://">
          {{'table.exportDataBtn' | translate}}</a>
      </div>
    </div>
    <div class="col-xl-2 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="add-new pull-right">
        <a *ngIf="admin?.admin_acl['Manage Commission']?.can_create==1" class="btn" href="javascript://"
          (click)="showCollectionCommReceipt(items[1], 1, 'commission-popup')">{{'viewCollections.addNew' | translate}}</a>
      </div>
    </div>
  </div>
  <div [style.display]="reportType==1 ? 'block' : 'none'">
    <div class="img-des">
          <div class="row">
            <div class="col-md-4 col-sm-6 col-12 img-c">
              <div class="block">
                <p class="p18">{{((amount_comission + amount_iva) || 0) | currency}}</p>
                <p class="p13" style="color: black;font-weight: bold;">{{'dashboard.total' | translate}}</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12 img-c">
              <div class="block">
                <p class="p18">{{(amount_comission || 0) | currency}}</p>
                <p class="p13">{{'dashboard.commissionAmount' | translate}}</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12 img-c">
              <div class="block">
                <p class="p18">{{(amount_iva || 0) | currency}}</p>
                <p class="p13">{{'dashboard.IVAAmount' | translate}}</p>
              </div>
            </div>
          </div>
        </div>
</div>
  <div class="white-bg marginT15" style="padding:9px;">
    <div class="graph-area" [style.display]="reportType==1 ? 'block' : 'none'">
      <div id="chartContainer2" style="height: 370px; width: 90%; margin-left:auto;margin-right:auto;">
      </div>
    </div>
    <div class="table-responsive main-table" *ngIf="reportType == 2"
      style="width: 90%; margin-left:auto;margin-right:auto;" id="accordion">
      <h5>{{'collectionReport.tabularView' | translate}}<span class=" pull-right">
          <!-- <button class="btn btn-primary-new export-btn" (click)="exportData()">
                  {{'collectionReport.export' | translate}}</button> -->
        </span></h5>

      <table class="table table-bordered table-striped">
        <thead>
          <th>{{'collectionReport.month' | translate}}</th>
          <th>{{'collectionReport.commissionAmt' | translate}}</th>
          <th>{{'collectionReport.IVAAmount' | translate}}</th>
        </thead>
        <tbody *ngFor="let item of records; let i=index">
          <tr>
            <td>{{item.label}}</td>
            <td (click)="getCommission(item, i)"><a class="color-changed" data-toggle="collapse"
                data-target="#collapseOne{{i}}" data-parent="#accordion" aria-expanded="true"
                aria-controls="collapseOne" href="#collapseOne{{i}}">
                <span><i class="fa fa-plus"></i> </span>&nbsp;&nbsp;{{(item.commission || 0) | currency}}
              </a></td>
            <td>{{(item.iva_amount || 0) | currency}}</td>
          </tr>
          <tr id="collapseOne{{i}}" class="collapse" data-parent="#accordion">
            <td colspan="10">
              <table [style.width]="'100%'">
                <thead>
                  <th>{{'collectionReport.collection_id' | translate}}</th>
                  <th>{{'collectionReport.property_name' | translate}}</th>
                  <th>{{'collectionReport.buyername' | translate}}</th>
                  <th>{{'collectionReport.datee' | translate}}</th>
                  <th>{{'collectionReport.CommisionPaid' | translate}}</th>
                  <th>{{'collectionReport.IVAPaid' | translate}}</th>
                  <th>{{'collectionReport.TOTAL' | translate}}</th>
                </thead>
                <tbody *ngFor="let commission of commissions; let i=index">
                  <td><span class="green-color cursor-pointer"
                      routerLink="/dashboard/collections/view-collections/{{commission.id}}">{{commission.id}}</span>
                  </td>
                  <td><span>{{commission.name}}</span></td>
                  <td><span>{{commission.buyer_name}}</span></td>
                  <td><span>{{commission.payment_date}}</span></td>
                  <td><span>{{(commission.amount || 0) | currency}}</span></td>
                  <td><span>{{(commission.iva_amount || 0) | currency}}</span></td>
                  <td><span>{{(commission.amount + commission.iva_amount || 0) | currency}}</span></td>
                </tbody>
              </table>
              <div class="padding20 center" *ngIf="commissions?.length == 0">
                <img src="assets/img/404-error.png">
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="padding20 center" *ngIf="items?.length == 0">
        <img src="assets/img/404-error.png">
      </div>
    </div>
  </div>
  <br />
  <div class="cust-tabs" *ngIf="reportType == 1">
    <div class="tab-content white-bg">
      <div class="tab-pane active">
        <div class="tabel-section">
          <div class="table-responsive main-table">
            <table class="table table-striped table-align-left quick-table">
              <thead id="myHeader">
                <tr>
                  <th style="text-align:left; width: 130px;">
                    <div class="table-search">
                      <label>{{'table.th.buyerName' | translate}}</label>
                      <div class="searh-3">
                        <input autocomplete="off" class="width100px" type="text" [(ngModel)]="parameter.buyer_name"
                          (keyup.enter)="getListing()">
                        <button *ngIf="parameter.buyer_name" (click)="getListing()"><i
                            class="fa fa-search"></i></button>
                      </div>
                    </div>
                  </th>
                  <th style="text-align:left; width: 100px;" [style.z-index]="100">
                    <div class="table-search">
                      <label>{{'collectionReport.collection_id' | translate}}</label>
                      <div class="searh-3">
                        <input autocomplete="off" type="text" [(ngModel)]="parameter.collection_id"
                          (keyup.enter)="getListing()">
                        <button *ngIf="parameter.collection_id" (click)="getListing()"><i
                            class="fa fa-search"></i></button>
                      </div>
                    </div>
                  </th>
                  <th style="text-align:left; width: 140px;">
                    <div class="table-search">
                      <label>{{'table.th.nameOfBuilding' | translate}}</label>
                      <div class="searh-3">
                        <input autocomplete="off" class="width100px" type="text" [(ngModel)]="parameter.building_name"
                          (keyup.enter)="getListing()">
                        <button *ngIf="parameter.building_name" (click)="getListing()"><i
                            class="fa fa-search"></i></button>
                      </div>
                    </div>
                  </th>
                  <th style="text-align:left; width: 140px;">
                    <div class="table-search">
                      <label>{{'table.th.nameOfApartment' | translate}}</label>
                      <div class="searh-3">
                        <input autocomplete="off" class="width100px" type="text" [(ngModel)]="parameter.apartment_name"
                          (keyup.enter)="getListing()">
                        <button *ngIf="parameter.apartment_name" (click)="getListing()"><i
                            class="fa fa-search"></i></button>
                      </div>
                    </div>
                  </th>

                  <th style="vertical-align:top; width: 140px;z-index: 2;">
                    <div class="table-search">
                      <div (click)="sort_by(1)" class="d-flex table-search">
                        <label>{{'table.th.purchaseDate' | translate}}</label>
                      </div>
                      <div class="p-collender-top">
                        <p-calendar dateFormat="dd/M/yy" [locale]="locale" showIcon="true"
                          [(ngModel)]="parameter.deal_from_date" [maxDate]="today" showButtonBar="true"
                          [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2040"></p-calendar>
                        <p-calendar dateFormat="dd/M/yy" [locale]="locale" showIcon="true"
                          [(ngModel)]="parameter.deal_to_date" [minDate]="parameter.deal_from_date" showButtonBar="true"
                          [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2040">
                        </p-calendar>
                        <button *ngIf="parameter.deal_from_date && parameter.deal_to_date" (click)="getListing()"><i
                            class="fa fa-search"></i></button>
                      </div>
                    </div>
                  </th>
                  <th style="text-align:left; width: 130px;">
                    <div class="table-search">
                      <label>{{'table.th.finalPrice' | translate}}</label>
                    </div>
                  </th>
                  <th style="vertical-align:top; width: 110px;" *ngIf="parameter.commission_type == '2' ">
                    <div class="table-search">
                      <label>{{'table.th.agentCommission1' | translate}}</label>
                      <div class="searh-3">
                        <input autocomplete="off" class="width100px" type="text" [(ngModel)]="parameter.agent_name"
                          (keyup.enter)="getListing()">
                        <button *ngIf="parameter.agent_name" (click)="getListing()"><i
                            class="fa fa-search"></i></button>
                      </div>
                    </div>
                  </th>
                  <th style="vertical-align:top; width: 110px;">
                    <div class="table-search">
                      <label>{{'table.th.sozuPC' | translate}}</label>
                    </div>
                  </th>
                  <th style="vertical-align:top; width: 118px;">
                    <div class="table-search">
                      <label>{{'table.th.commission' | translate}}</label>
                      <div class="searh-3">
                        <input autocomplete="off" class="width100px" type="text" [(ngModel)]="parameter.agent_name"
                          (keyup.enter)="getListing()">
                        <button *ngIf="parameter.agent_name" (click)="getListing()"><i
                            class="fa fa-search"></i></button>
                      </div>
                    </div>
                  </th>
                  <th style="vertical-align:top; width: 118px;">
                    <div class="table-search">
                      <label>{{'table.th.iva' | translate}}</label>
                      <div class="searh-3">
                        <input autocomplete="off" class="width100px" type="text" [(ngModel)]="parameter.agent_name"
                          (keyup.enter)="getListing()">
                        <button *ngIf="parameter.agent_name" (click)="getListing()"><i
                            class="fa fa-search"></i></button>
                      </div>
                    </div>
                  </th>
                  <th style="vertical-align:top; width: 115px;">
                    <div class="table-search">
                      <label>{{'table.dashboard.total' | translate}}</label>
                      <div class="searh-3">
                        <input autocomplete="off" class="width100px" type="text" [(ngModel)]="parameter.agent_name"
                          (keyup.enter)="getListing()">
                        <button *ngIf="parameter.agent_name" (click)="getListing()"><i
                            class="fa fa-search"></i></button>
                      </div>
                    </div>
                  </th>
                  <th style="vertical-align:top; width: 120px;">
                    <div class="table-search">
                      <label>{{'table.th.amountPaid' | translate}}</label>
                    </div>
                  </th>
                  <th style="text-align:left; width: 123px;">
                    <div class="table-search">
                      <label>{{'table.th.remaniningAmount' | translate}}</label>
                    </div>
                  </th>
                  <th style="text-align:left; width: 123px;">
                    <div class="table-search">
                      <label>{{'collectionReport.status' | translate}}</label>
                      <select style="width: 100px;" (change)="getListing()"
                        [(ngModel)]="parameter.commission_status_color">
                        <option value="1">Total commission received</option>
                        <option value="2">Partial commission received</option>
                        <option value="3">Pending commission</option>
                      </select>
                    </div>
                  </th>
                  <!-- <th style="width: 100px;" *ngIf="parameter.flag!=5">
                    <div class="table-search">
                      <label>{{'table.th.actions.label' | translate}}</label>
                    </div>
                  </th> -->
                </tr>
              </thead>
              <tbody class="content">
                <tr
                  *ngFor="let p of items | paginate: { itemsPerPage: parameter.itemsPerPage, currentPage: parameter.page, totalItems: total }; let i=index">
                  <td>
                    <span *ngIf="p?.buyer_type == 1" (click)="userinfo(p)" class="green-color cursor-pointer">
                      {{p?.buyer?.name ? (p?.buyer?.name + ' ' + p?.buyer?.first_surname + ' ' +
                      p?.buyer?.second_surname) : ('table.tr.td.NA' | translate)}}
                    </span>
                    <span *ngIf="p?.buyer_type == 2" (click)="legalinfo(p)" class="green-color cursor-pointer">
                      {{p?.buyer_legal_entity?.comm_name ? (p?.buyer_legal_entity?.comm_name) : ('table.tr.td.NA' |
                      translate)}}
                    </span>
                    <span *ngIf="p?.buyer_type == 3" (click)="userinfo(p)" class="green-color cursor-pointer">
                      {{p?.buyer?.name ? (p?.buyer?.name + ' ' + p?.buyer?.first_surname + ' ' +
                      p?.buyer?.second_surname) : ('table.tr.td.NA' | translate)}}
                    </span>
                  </td>
                  <td>
                    <span class="green-color cursor-pointer"
                      routerLink="/dashboard/collections/view-collections/{{p?.id}}">{{p?.id}}</span>
                  </td>
                  <td class="cursor-pointer" title="{{'table.title.clickToViewDetails' | translate}}">
                    <strong>{{p?.property?.building?.name ? p?.property?.building?.name: ('table.tr.td.NA' |
                      translate)}}</strong>
                  </td>

                  <td>
                    <span class="green-color cursor-pointer" (click)="this.navigateToProperty(p)"
                      *ngIf="p?.property?.name">
                      {{p?.property?.name}}
                    </span>
                    <span *ngIf="!p?.property?.name">{{'table.tr.td.NA' | translate}}</span>
                  </td>
                  <td>
                    <span>{{p.deal_purchase_date ? this.getDateWRTTimezone(p.deal_purchase_date, 'DD/MMM/YYYY') :
                      ('table.tr.td.NA' | translate)}}</span>
                  </td>
                  <td><span>{{( p?.property?.final_price || 0) | currency}}</span></td>
                  <td>
                    <span>{{p?.comm_total_commission ? (p?.comm_total_commission | number : '1.2-3') : ('table.tr.td.NA'
                      | translate)}}</span>
                  </td>
                  <td><span>
                      {{(p?.expected_payment_commission || 0) | currency}}
                    </span></td>
                  <td *ngIf="parameter.commission_type == '1'">
                    <input name="add_iva_to_pc{{i}}" disabled class="form-control checkbox_size" type="checkbox"
                      [checked]="p?.add_iva_to_pc ? 'checked' : ''" readonly>
                  </td>
                  <td *ngIf="parameter.commission_type == '2'">
                    <input name="add_iva_to_ac{{i}}" disabled class="form-control checkbox_size" type="checkbox"
                      [checked]="p?.add_iva_to_ac ? 'checked' : ''" readonly>
                  </td>
                  <td *ngIf="parameter.commission_type == '5'">
                    <input name="add_iva_to_oac{{i}}" disabled class="form-control checkbox_size" type="checkbox"
                      [checked]="p?.add_iva_to_oac ? 'checked' : ''" readonly>
                  </td>
                  <td *ngIf="parameter.commission_type == '3'">
                    <input name="add_iva_to_cc{{i}}" disabled class="form-control checkbox_size" type="checkbox"
                      [checked]="p?.add_iva_to_cc ? 'checked' : ''" readonly>
                  </td>

                  <td><span> {{(p?.total_commission  || 0)  | currency}}</span></td>
                  <td><span>{{( p?.amount_paid || 0) | currency}}</span></td>
                  <td><span>{{( p?.remaining || 0) | currency}}</span></td>

                  <td>

                    <div *ngIf="p?.commission_status_color==1" class="status green" title="Total commission received">
                    </div>
                    <div *ngIf="p?.commission_status_color==2" class="status yellow"
                      title="Partial commission received"></div>
                    <div *ngIf="p?.commission_status_color==3" class="status blue" title="Pending commission"></div>

                  </td>

                </tr>
              </tbody>
            </table>
            <div class="padding20 center" *ngIf="total == 0">

              <p class="show-not-found" style="margin-left: 12%;">
                {{parameter.flag==1 ? ('message.error.noCommissionFound' | translate) :
                ('message.error.noCommissionFound' | translate)}}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane container fade" id="seller">{{'table.th.sellerTabOn' | translate}}</div>
    </div>
  </div>

  <div class="btn-cont marginT15" *ngIf="total && reportType == 1">
    <div class="row">
      <div class="col-6">
        <div class="title-group">
          <p>{{'table.pagination.showing' | translate}} {{items?.length}} {{'table.pagination.outof' | translate}}
            {{total}}</p>
        </div>
      </div>
      <div class="col-6 text-right">
        <pagination-controls class="my-pagination" (pageChange)="getPage($event)"></pagination-controls>
      </div>
    </div>
  </div>
</div>
