<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <p class="p16">{{'leads.CSRSellerLeads' | translate}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group"
                *ngIf="admin?.admin_acl['Seller Lead Management']?.can_read==1 && !this.parameter.assignee_id">
                <div class="d-flex">
                    <div class="autocomplete">
                        <input placeholder="{{'addForm.placeholder.searchCSRSeller' | translate}}"
                            style="max-width:200px" list="amenities" [(ngModel)]="parameter.keyword"
                            (input)="getCsrListing()" class="form-control" type="text" name="keyword"
                            (focusout)="closeCsrListing()">
                        <div id="myInputautocomplete-list" class="autocomplete-items">
                            <div *ngFor="let item of users" (click)="selectCsrUser(item)">{{item.email}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-12">
            <div class="cust-tabs-2">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="javascript://" [ngClass]="{'active':parameter.flag==1}"
                            (click)="changeFlag(1)">{{'filters.time.thisWeek' | translate}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript://" [ngClass]="{'active':parameter.flag==2}"
                            (click)="changeFlag(2)">{{'filters.time.thisMonth' | translate}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript://" [ngClass]="{'active':parameter.flag==3}"
                            (click)="changeFlag(3)">{{'filters.time.lastMonth' | translate}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript://" [ngClass]="{'active':parameter.flag==4}"
                            (click)="changeFlag(4)">{{'filters.time.lifetime' | translate}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript://" [ngClass]="{'active':parameter.flag==5}"
                            (click)="parameter.flag=5">{{'filters.time.custom.label' | translate}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div *ngIf="parameter.flag == 5" class="row">
                <div class="offset-lg-7"></div>
                <div class="col-lg-2 col-md-2 col-sm-5 col-5">
                    <div class="form-group marginB0">
                        <label>{{'filters.time.custom.from' | translate}}:</label>
                        <p-calendar showIcon="true" [locale]="locale" [(ngModel)]="parameter.min" [maxDate]="today"
                            showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2040">
                        </p-calendar>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-5 col-5">
                    <div class="form-group marginB0">
                        <label>{{'filters.time.custom.to' | translate}}:</label>
                        <p-calendar showIcon="true" [locale]="locale" [(ngModel)]="parameter.max"
                            [minDate]="parameter.min" [maxDate]="today" showButtonBar="true" [monthNavigator]="true"
                            [yearNavigator]="true" yearRange="2000:2040"></p-calendar>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2 col-6">
                    <div class="form-group btn-cont">
                        <label class="addMT3">&nbsp;</label>
                        <button class="btn btn-calender" href="javascript://"
                            (click)="getListing(); getCSRDashBoardData();"
                            [disabled]="!parameter.min || !parameter.max">{{'filters.time.custom.applyBtn' |
                            translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="listingResults">
        <div class="row" *ngIf="admin?.admin_acl['Seller Lead Management']?.can_read==1 && !this.parameter.assignee_id">
            <div class="col-md-2">
                <div class="form-group">
                    <label>{{'filters.location.country' | translate}}</label>
                    <select class="form-control" (change)="onCountryChange($event.target.value)">
                        <option value="0">{{'filters.location.allOption' | translate}}</option>
                        <option *ngFor="let item of location.countries" [value]="item.id">{{item.name}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>{{'filters.location.state' | translate}}</label>
                    <select class="form-control" (change)="onStateChange($event.target.value)">
                        <option value="0">{{'filters.location.allOption' | translate}}</option>
                        <option *ngFor="let item of location.states" [value]="item.id">{{item.name}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>{{'filters.location.city' | translate}}</label>
                    <select class="form-control" (change)="onCityChange($event.target.value)">
                        <option value="0">{{'filters.location.allOption' | translate}}</option>
                        <option *ngFor="let item of location.cities" [value]="item.id">{{item.name}}</option>
                    </select>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label>{{'filters.location.locality' | translate}}</label>
                    <select class="form-control" (change)="onLocalityChange($event.target.value)">
                        <option value="0">{{'filters.location.allOption' | translate}}</option>
                        <option *ngFor="let item of location.localities" [value]="item.id">{{item.name}}</option>
                    </select>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group btn-cont">
                    <label style="display: block; margin-top: 3px;">&nbsp;</label>
                    <button type="button" (click)="getListing(); getCSRDashBoardData();"
                        class="btn btn-primary-new width100P">{{'filters.location.applyBtn' | translate}}</button>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group btn-cont">
                    <label style="display: block; margin-top: 3px;">&nbsp;</label>
                    <button type="button" (click)="resetFilters()"
                        class="btn btn-primary-new width100P">{{'filters.location.resetBtn' | translate}}</button>
                </div>
            </div>
        </div>
        <div *ngIf="selectedUser as item" class="sigle-row-table">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>
                            <!-- <img class="rounded-circle" [src]="item.image| img:'small'" onerror='this.src="assets/img/default_img.png"' alt="img"> -->
                            <img *ngIf="item.image" class="rounded-circle" onerror='src="assets/img/default_img.png"'
                                alt="img" [defaultImage]="item.image| img:'thumb'" [lazyLoad]="item.image">
                            <img *ngIf="!item.image" class="rounded-circle" src="assets/img/default_img.png" alt="img">
                        </td>
                        <td class="text-left">
                            <span class="name">{{item.name | titlecase}}</span>
                        </td>
                        <td class="text-left">{{item.phone}}</td>
                        <td class="text-left">{{item.email}}</td>
                        <td>
                            <a (click)="removeCsrUser()" href="javascript://" class="icon-block edit-icon"><img
                                    src="assets/img/remove-icon.png" alt="remove"
                                    title="{{'table.title.remove' | translate}}" /></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                <div class="info-box all-leads">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-12" [ngClass]="{'active':parameter.count_flag == 1}"
                            (click)="changeCountFlag(1)">
                            <div class="one-row ">
                                <div class="o-block">
                                    <h5>{{'table.th.leads' | translate}}</h5>
                                    <small>{{'table.th.total' | translate}}</small>
                                </div>
                                <div class="o-block">
                                    <a class="view-all" href="javascript://">{{'table.th.viewAll' | translate}}</a>
                                    <h4>{{dash?.lead_total}}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-12" [ngClass]="{'active':parameter.count_flag == 2}"
                            (click)="changeCountFlag(2)">
                            <div class="one-row">
                                <div class="o-block">
                                    <h5>{{'table.th.leads' | translate}}</h5>
                                    <small>{{'table.th.withoutProperty' | translate}}</small>
                                </div>
                                <div class="o-block">
                                    <a class="view-all" href="javascript://">{{'table.th.viewAll' | translate}}</a>
                                    <h4>{{dash?.lead_without_property}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info-box all-leads">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-12" [ngClass]="{'active':parameter.count_flag == 3}"
                            (click)="changeCountFlag(3)">
                            <div class="one-row ">
                                <div class="o-block">
                                    <h5>{{'table.th.leads' | translate}}</h5>
                                    <small>{{'table.th.withProperty' | translate}}</small>
                                </div>
                                <div class="o-block">
                                    <a class="view-all" href="javascript://">{{'table.th.viewAll' | translate}}</a>
                                    <h4>{{dash?.lead_with_property}}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-12" [ngClass]="{'active':parameter.count_flag == 4}"
                            (click)="changeCountFlag(4)">
                            <div class="one-row">
                                <div class="o-block">
                                    <h5>{{'table.th.leads' | translate}}</h5>
                                    <small>{{'table.th.pendingProperties' | translate}}</small>
                                </div>
                                <div class="o-block">
                                    <a class="view-all" href="javascript://">{{'table.th.viewAll' | translate}}</a>
                                    <h4>{{dash?.lead_property_pending}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                <div class="chat-msg all-leads" style="padding:0px">
                    <div class="padding20" *ngIf="dash.lead_total == 0">{{'message.error.noRecordFound' | translate}}
                    </div>
                    <ngx-charts-pie-chart [results]="chartView"></ngx-charts-pie-chart>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="spacer40"></div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-6">
                <div class="title-group">
                    <h5>{{'table.th.leads' | translate}}
                        <span *ngIf="parameter.count_flag == 1">({{'table.th.total' | translate}})</span>
                        <span *ngIf="parameter.count_flag == 2">({{'table.th.withoutProperty' | translate}})</span>
                        <span *ngIf="parameter.count_flag == 3">({{'table.th.withProperty' | translate}})</span>
                        <span *ngIf="parameter.count_flag == 4">({{'table.th.pendingProperties' | translate}})</span>
                    </h5>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-5"
                *ngIf="admin?.admin_acl['Seller Lead Management']?.can_read==1 && !this.parameter.assignee_id">
                <div class="add-new text-right">
                    <a class="btn" (click)="bulkAssign()" href="javascript://">{{'table.th.bulkReassign' |
                        translate}}</a>
                </div>
            </div>
        </div>
        <div class="white-bg">
            <div class="tabel-section">
                <div class="table-responsive">
                    <table class="table table-striped border-0">
                        <tbody>
                            <tr>
                                <th *ngIf="admin?.admin_acl['Seller Lead Management']?.can_read==1 && !this.parameter.assignee_id"
                                    style="width:5%;">
                                    <div class="table-search">
                                        <label>{{'table.th.all' | translate}}</label>
                                        <div>
                                            <label class="cust-check-bx marginT0">
                                                <input class="width1" type="checkbox" [(ngModel)]="allSelected"
                                                    (click)="selectAll(parameter.is_selected)" name="document">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </th>
                                <th style="width:9%">
                                    <div class="table-search"><label>{{'table.th.lead_date' | translate}}</label></div>
                                </th>
                                <th style="width:6%;">
                                    <div class="table-search">
                                        <label>{{'table.th.image' | translate}}</label>
                                    </div>
                                </th>
                                <th style="width:15%;">
                                    <div class="table-search">
                                        <label>{{'table.th.name' | translate}}</label>
                                        <div class="searh-3">
                                            <input  type="text" name="name"
                                                [(ngModel)]="parameter.name" (keyup.enter)="getListing()" autocomplete="address-level4" >
                                            <button *ngIf="parameter.name" (click)="getListing()"><i
                                                    class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </th>
                                <th style="width:15%;">
                                    <div class="table-search">
                                        <label>{{'table.th.firstSurname' | translate}}</label>
                                        <div class="searh-3">
                                            <input  autocomplete="address-level4"  type="text" name="first_surname"
                                                [(ngModel)]="parameter.first_surname" (keyup.enter)="getListing()">
                                            <button *ngIf="parameter.first_surname" (click)="getListing()"><i
                                                    class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </th>
                                <th style="width:15%;">
                                    <div class="table-search">
                                        <label>{{'table.th.secondSurname' | translate}}</label>
                                        <div class="searh-3">
                                            <input  autocomplete="address-level4"  type="text" name="second_surname"
                                                [(ngModel)]="parameter.second_surname" (keyup.enter)="getListing()">
                                            <button *ngIf="parameter.second_surname" (click)="getListing()"><i
                                                    class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </th>
                                <th style="width:15%;">
                                    <div class="table-search">
                                        <label>{{'table.th.contactNumber' | translate}}</label>
                                        <div class="searh-3">
                                            <input  autocomplete="address-level4"  type="text" name="phone"
                                                [(ngModel)]="parameter.phone" (keyup.enter)="getListing()">
                                            <button *ngIf="parameter.phone" (click)="getListing()"><i
                                                    class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </th>
                                <th style="width:20%;">
                                    <div class="table-search">
                                        <label>{{'table.th.emailAddress' | translate}}</label>
                                        <div class="searh-3">
                                            <input  autocomplete="address-level4"  type="text" name="email"
                                                [(ngModel)]="parameter.email" (keyup.enter)="getListing()">
                                            <button *ngIf="parameter.email" (click)="getListing()"><i
                                                    class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </th>
                                <th style="width:10%;">
                                    <div class="table-search">
                                        <label>{{'table.th.assignee' | translate}}</label>
                                    </div>
                                </th>
                                <th style="width:5%;">
                                    <div class="table-search">
                                        <label>{{'table.th.chatWithSeller' | translate}}</label>
                                    </div>
                                </th>
                                <th style="width:5%;">
                                    <div class="table-search">
                                        <label>{{'table.th.chatWithAgent' | translate}}</label>
                                    </div>
                                </th>
                                <th style="width:5%;">
                                    <div class="table-search">
                                        <label>{{'table.th.properties' | translate}}</label>
                                    </div>
                                    <div class="ppties">
                                        <a href="javascript://" (click)="sort_by(3)" data-toggle="tooltip"
                                            data-placement="top" title="{{'table.title.approved' | translate}}"
                                            data-original-title="Coming soon">A<img
                                                [ngClass]="{'upsidedown':parameter.sort_by_flag==3 && parameter.sort_by_order==0}"
                                                src="assets/img/top-arrow.png" alt="img"></a>
                                    </div>
                                </th>
                                <th style="width:5%;">
                                    <label>&nbsp;</label>
                                    <div class="ppties">
                                        <a href="javascript://" (click)="sort_by(4)" data-toggle="tooltip"
                                            data-placement="top" title="{{'table.title.unapproved' | translate}}"
                                            data-original-title="Coming soon">U<img
                                                [ngClass]="{'upsidedown':parameter.sort_by_flag==4 && parameter.sort_by_order==0}"
                                                src="assets/img/top-arrow.png" alt="img"></a>
                                    </div>
                                </th>
                                <th style="width:5%;">
                                    <label>&nbsp;</label>
                                    <div class="ppties">
                                        <a href="javascript://" (click)="sort_by(2)" data-toggle="tooltip"
                                            data-placement="top" title="{{'table.title.pendingReview' | translate}}"
                                            data-original-title="Coming soon">P<img
                                                [ngClass]="{'upsidedown':parameter.sort_by_flag==2 && parameter.sort_by_order==0}"
                                                src="assets/img/top-arrow.png" alt="img"></a>
                                    </div>
                                </th>
                                <th style="width:5%;">
                                    <label>&nbsp;</label>
                                    <div class="ppties">
                                        <a href="javascript://" (click)="sort_by(1)" data-toggle="tooltip"
                                            data-placement="top" title="{{'table.title.inDraft' | translate}}"
                                            data-original-title="In Draft">D<img
                                                [ngClass]="{'upsidedown':parameter.sort_by_flag==1 && parameter.sort_by_order==0}"
                                                src="assets/img/top-arrow.png" alt="img"></a>
                                    </div>
                                </th>
                                <th style="width:5%;">
                                    <label>&nbsp;</label>
                                    <div class="ppties">
                                        <a href="javascript://" (click)="sort_by(5)" data-toggle="tooltip"
                                            data-placement="top" title="{{'table.title.total' | translate}}"
                                            data-original-title="Coming soon">T<img
                                                [ngClass]="{'upsidedown':parameter.sort_by_flag==5 && parameter.sort_by_order==0}"
                                                src="assets/img/top-arrow.png" alt="img"></a>
                                    </div>
                                </th>
                            </tr>
                            <tr class="cursor-pointer" title="{{'table.title.clickToViewDetails' | translate}}"
                                *ngFor="let item of items| paginate: { itemsPerPage: parameter.itemsPerPage, currentPage: parameter.page, totalItems: parameter.total }">
                                <td *ngIf="admin?.admin_acl['Seller Lead Management']?.can_read==1 && !this.parameter.assignee_id"
                                    (click)="$event.stopPropagation()">
                                    <label class="cust-check-bx marginT0">
                                        <input type="checkbox" [(ngModel)]="item.selected" name="document">
                                        <span class="checkmark"></span>
                                    </label>
                                    <!-- <i class="fa" [ngClass]="item.selected?'fa-check-square-o':'fa-square-o'" (click)="item.selected = !item.selected" aria-hidden="true"></i> -->
                                </td>
                                <td>
                                    <span class="name" *ngIf="item.created_at">{{item.updated_at | date}}</span>
                                </td>
                                <td routerLink="/dashboard/leads/csr-sellers/{{item.id}}">
                                    <img class="rounded-circle" *ngIf="item.image"
                                        onerror='src="assets/img/default_img.png"' alt="img"
                                        [defaultImage]="item.image| img:'thumb'" [lazyLoad]="item.image">
                                    <img class="rounded-circle" *ngIf="!item.image" src="assets/img/default_img.png"
                                        alt="img">
                                </td>
                                <td class="text-left" routerLink="/dashboard/leads/csr-sellers/{{item.id}}">
                                    <span class="name">{{item.name | titlecase}}</span>
                                </td>
                                <td class="text-left" routerLink="/dashboard/leads/csr-sellers/{{item.id}}">
                                    <span class="name">{{item?.first_surname? (item?.first_surname | titlecase):('table.tr.td.NA' | translate)}}</span>
                                </td>
                                <td class="text-left" routerLink="/dashboard/leads/csr-sellers/{{item.id}}">
                                    <span class="name">{{item?.second_surname? (item?.second_surname | titlecase):('table.tr.td.NA' | translate)}}</span>
                                </td>
                                <td routerLink="/dashboard/leads/csr-sellers/{{item.id}}" class="text-left"
                                    *ngIf="item.phone">{{item.dial_code}}-{{item.phone.trim()}}</td>
                                <td routerLink="/dashboard/leads/csr-sellers/{{item.id}}" class="text-left"
                                    *ngIf="!item.phone">{{'table.tr.td.NA' | translate}}</td>
                                <td routerLink="/dashboard/leads/csr-sellers/{{item.id}}" class="text-left">
                                    {{item.email}}
                                </td>
                                <td routerLink="/dashboard/leads/csr-sellers/{{item.id}}" class="text-left">
                                    {{item?.admin?.name? item?.admin?.name:('table.tr.td.NA' | translate)}}</td>
                                <td class="text-left"
                                    (click)="getCSRSellerChat($event, 1, item.assigned_csr_seller_id, item.id)">
                                    <a class="green-color fontW500" href="javascript://">{{'table.th.chatWithSeller' |
                                        translate}}</a>
                                </td>
                                <td class="text-left"
                                    (click)="getCSRSellerChat($event, 2, item.assigned_csr_seller_id, item.id)">
                                    <a class="green-color fontW500" href="javascript://">{{'table.th.chatWithAgent' |
                                        translate}}</a>
                                </td>
                                <td routerLink="/dashboard/leads/csr-sellers/{{item.id}}">
                                    {{item.approved_count}}
                                </td>
                                <td routerLink="/dashboard/leads/csr-sellers/{{item.id}}">
                                    {{item.rejected_count}}
                                </td>
                                <td routerLink="/dashboard/leads/csr-sellers/{{item.id}}">
                                    {{item.pending_count}}
                                </td>
                                <td routerLink="/dashboard/leads/csr-sellers/{{item.id}}">
                                    {{item.draft_count}}
                                </td>
                                <td routerLink="/dashboard/leads/csr-sellers/{{item.id}}">
                                    {{item.total_count}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="padding20 center" *ngIf="parameter.noResultFound">
                        <img src="assets/img/404-error.png">
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="btn-cont marginT15" *ngIf="parameter.total">
        <div class="row">
            <div class="col-6">
                <div class="title-group">
                    <p>{{'table.pagination.showing' | translate}} {{items?.length}} {{'table.pagination.outof' |
                        translate}} {{parameter.total}}</p>
                </div>
            </div>
            <div class="col-6 text-right">
                <pagination-controls class="my-pagination" (pageChange)="getPage($event)"></pagination-controls>
            </div>
        </div>
    </div>
</div>



<!-- Assignment model -->
<a data-toggle="modal" data-target="#assign-model" #openAssignModel></a>
<div class="modal" id="assign-model">
    <div class="modal-dialog ">
        <div class="modal-content notary-avail">
            <div class="modal-header popup-header">
                <h4 class="modal-title">{{'leads.reAssignTo' | translate}}</h4>
                <button type="button" class="close" data-dismiss="modal" #closeAssignModel>&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8 col-6">
                        <input style="max-width:200px" list="amenities" [(ngModel)]="assign.keyword"
                            (keyup.enter)="getAssignListing()" class="form-control" type="text" name="keyword"
                            placeholder="{{'addForm.placeholder.search' | translate}}">
                    </div>
                    <div class="col-md-4 col-5 btn-cont">
                        <a class="btn btn-primary pull-right" href="javascript://"
                            (click)="assignNow()">{{'leads.assign' | translate}}</a>
                    </div>
                </div>
                <div class="spacer40"></div>
                <div class="modal-table-data" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
                    <table class="table">
                        <tr *ngFor="let item of assign.items">
                            <td *ngIf="item.is_blocked!=1">
                                <div class="n-avail-profile">
                                    <!-- <img [src]="item.image" onerror='src="assets/img/default_img.png"' alt="img"> -->
                                    <img *ngIf="item.image" onerror='src="assets/img/default_img.png"' alt="img"
                                        [defaultImage]="item.image| img:'thumb'" [lazyLoad]="item.image">
                                    <img *ngIf="!item.image" src="assets/img/default_img.png" alt="img">
                                    <div class="n-avail-info">
                                        <p class="p12">{{item.name | titlecase}}</p>
                                        <p class="p10">{{'leads.phone' | translate}} : {{item.dial_code ? item.dial_code
                                            : constant.dial_code}}-{{item.phone}}</p>
                                    </div>
                                </div>
                            </td>
                            <td *ngIf="item.is_blocked!=1">
                                <label class="cust-check-bx float-right">
                                    <input type="radio" name="notary_id" (click)="assignItem = item">
                                    <span class="checkmark"></span>
                                </label>
                            </td>
                        </tr>
                        <tr *ngIf="assign?.items?.length==0">
                            <p class="show-not-found">{{'leads.noCSRSeller' | translate}}</p>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>