<!-- <ngx-loading [show]="parameter.loading"></ngx-loading> -->

<div class="container-fluid">
    <div class="row" *ngIf="admin?.admin_acl['Seller Lead Management']?.can_read==1 && !this.parameter.assignee_id">
        <div class="col-md-4">
         <div class="form-group">
          <p class="p16">Manage CSR Seller's Lead</p>
          <div class="d-flex">
          <button (click)="removeCsrUser()" class="all-btn">All</button>

          <div class="autocomplete">
            <input style="max-width:200px" list="amenities" [(ngModel)]="parameter.keyword" (input)="getCsrListing()" class="form-control" type="text" name="keyword" (focusout)="closeCsrListing()">
            <!-- <input type="text"  (keyup.enter)="addAmenity(amen)" name="amen" [(ngModel)]="amen"> -->
            <div id="myInputautocomplete-list" class="autocomplete-items">
                <div *ngFor="let item of users" (click)="selectCsrUser(item)">{{item.email}}</div>
            </div>
           </div>
          
          </div>
          </div>
        </div>
       <div class="col-md-2">
      <div class="form-group">
      <label>Country</label>
       <select class="form-control" (change)="onCountryChange($event.target.value)">
          <option value="0">All</option>
          <option *ngFor="let item of location.countries" [value]="item.id">{{item.name}}</option>
       </select>
      </div>
      </div>
      <div class="col-md-2">
      <div class="form-group">
      <label>State</label>
       <select class="form-control" (change)="onStateChange($event.target.value)">
          <option value="0">All</option>
          <option *ngFor="let item of location.states" [value]="item.id">{{item.name}}</option>
       </select>
      </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
        <label>City</label>
          <select class="form-control" (change)="onCityChange($event.target.value)">
            <option value="0">All</option>
            <option *ngFor="let item of location.cities" [value]="item.id">{{item.name}}</option>
          </select>
        </div>
      </div>

      <div class="col-md-2">
      <div class="form-group">
      <label>Locality</label>
      <select class="form-control" (change)="onLocalityChange($event.target.value)">
          <option value="0">All</option>
          <option *ngFor="let item of location.localities" [value]="item.id">{{item.name}}</option>
        </select>
      </div>
      </div>
      </div>

    <!-- <div *ngIf="users?.length > 0 && initSelection"class="row">
        <table class="table table-striped">
            <tbody><tr *ngFor="let item of users" (click)="selectCsrUser(item)">
                <td> <img class="rounded-circle" [src]="item.image" onerror='this.src="http://via.placeholder.com/50x50"' alt="img"></td>
                <td class="text-left">
                    <span class="name">{{item.name}}</span>
                </td>
                <td class="text-left">
                    {{item.phone}}
                </td>
                <td class="text-left">
                    {{item.email}}
                </td>
                <td>
                    <a href="javascript://" class="icon-block edit-icon"><img src="assets/img/edit.png" alt="img"></a>
                    <a href="javascript://" class="icon-block block-icon"><img src="assets/img/block.png" alt="img"></a>
                </td>
                </tr>
            </tbody>
        </table>
    </div> -->
  <div class="listingResults" >
  <div class="row">
     <div class="col-12">
        <div class="cust-tabs-2">
          <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active':parameter.flag==1}" (click)="changeFlag(1)" >This Week</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active':parameter.flag==2}" (click)="changeFlag(2)" >This Month</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active':parameter.flag==3}" (click)="changeFlag(3)" >Last Month</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active':parameter.flag==4}" (click)="changeFlag(4)" >Lifetime</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active':parameter.flag==5}" (click)="parameter.flag=5" >Custom</a>
            </li>
          </ul>
        </div>
     </div>
     <div class="col-12">
        <hr style="margin-top:0;">
        <div *ngIf="parameter.flag == 5" class="pull-right btn-cont">
            From:<input type="date" [ngModel] ="parameter.min | date:'yyyy-MM-dd'" max="{{today| date:'yyyy-MM-dd'}}" (ngModelChange)="parameter.min = $event; parameter.max=''" />
            To:<input type="date" [ngModel] ="parameter.max | date:'yyyy-MM-dd'" min="{{parameter.min | date:'yyyy-MM-dd'}}" max="{{today| date:'yyyy-MM-dd'}}" (ngModelChange)="parameter.max = $event" />
            <button class="btn btn-primary" href="javascript://" (click)="getListing()" [disabled]="
            parameter.flag == 5 && (!parameter.min || !parameter.max)
            ">Go</button>
        </div>
     </div>
  </div>
  <div *ngIf="selectedUser as item" class="sigle-row-table">
        <table class="table table-striped">
        <tbody><tr>
            <td> <img class="rounded-circle" [src]="item.image" onerror='this.src="http://via.placeholder.com/50x50"' alt="img"></td>
            <td class="text-left">
                <span class="name">{{item.name}}</span>
            </td>
            <td class="text-left">
                {{item.phone}}
            </td>
            <td class="text-left">
                {{item.email}}
            </td>
            <td>
                <a (click)="removeCsrUser()" href="javascript://" class="icon-block edit-icon"><img src="assets/img/remove-icon.png" alt="remove" title="remove" /></a>
                <!-- <a href="javascript://" class="icon-block edit-icon"><img src="assets/img/edit.png" alt="img"></a>
                <a href="javascript://" class="icon-block block-icon"><img src="assets/img/block.png" alt="img"></a> -->
            </td>
            </tr>
        </tbody>
        </table>
  </div>
  <div class="row">
     <div class="col-lg-8 col-md-12 col-sm-12 col-12">
        <div class="info-box all-leads">
           <div class="row">
              <div class="col-md-6 col-sm-6 col-12" [ngClass]="{'active':parameter.count_flag == '1'}" (click)="changeCountFlag(1)">
                 <div class="one-row ">
                    <div class="o-block">
                       <h5>Leads</h5>
                       <small>Total</small>
                    </div>
                    <div class="o-block">
                       <a class="view-all" href="javascript://">View All</a>
                       <h4>{{dash?.lead_total}}</h4>
                    </div>
                 </div>
              </div>
              <div class="col-md-6 col-sm-6 col-12" [ngClass]="{'active':parameter.count_flag == '2'}" (click)="changeCountFlag(2)">
                 <div class="one-row">
                    <div class="o-block">
                       <h5>Leads</h5>
                       <small>Without Properties</small>
                    </div>
                    <div class="o-block">
                       <a class="view-all" href="javascript://">View All</a>
                       <h4>{{dash?.lead_without_property}}</h4>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="info-box all-leads">
           <div class="row">
              <div class="col-md-6 col-sm-6 col-12" [ngClass]="{'active':parameter.count_flag == '3'}" (click)="changeCountFlag(3)">
                 <div class="one-row ">
                    <div class="o-block">
                       <h5>Leads</h5>
                       <small>With Properties</small>
                    </div>
                    <div class="o-block">
                       <a class="view-all" href="javascript://">View All</a>
                       <h4>{{dash?.lead_with_property}}</h4>
                    </div>
                 </div>
              </div>
              <div class="col-md-6 col-sm-6 col-12" [ngClass]="{'active':parameter.count_flag == '4'}" (click)="changeCountFlag(4)">
                 <div class="one-row">
                    <div class="o-block">
                       <h5>Leads</h5>
                       <small>Pending Properties (in Draft)</small>
                    </div>
                    <div class="o-block">
                       <a class="view-all" href="javascript://">View All</a>
                       <h4>{{dash?.lead_property_pending}}</h4>
                    </div>
                 </div>
              </div>
           </div>
        </div>

     </div>
     <div class="col-lg-4 col-md-12 col-sm-12 col-12">
        <div class="chat-msg all-leads" style="padding:0px">
            <div class="padding20" *ngIf="dash.lead_total == 0">No records found</div>
            <ngx-charts-pie-chart [results]="chartView"></ngx-charts-pie-chart>
              <!-- <ngx-charts-bar-vertical
                [scheme]="colorScheme"
                [results]="chartView"
                [gradient]="gradient"
                [yAxis]="showYAxis"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                (select)="onSelect($event)">
                </ngx-charts-bar-vertical> -->
        </div>
     </div>
  </div>
  <div class="row">
     <div class="col-12">
        <div class="spacer40"></div>
     </div>

  </div>
  <div class="row">
     <div class="col-6">
        <div class="title-group">
           <h5>Leads 
            <span *ngIf="parameter.count_flag == 1">(Total)</span>
            <span *ngIf="parameter.count_flag == 2">(Without Properties)</span>
            <span *ngIf="parameter.count_flag == 3">(With Properties)</span>
            <span *ngIf="parameter.count_flag == 4">(Pending Properties)</span>
           </h5>
           <p>
               <!-- Showing {{parameter.page}} out of {{parameter.total_count}} -->
            </p>
        </div>
     </div>
     <div class="col-6">
        <div class="add-new text-right">
            <a class="btn" (click)="bulkAssign()" href="javascript://">Bulk Re-assign</a>
        </div>
    </div>
  </div>
  <div class="white-bg">
     <div class="tabel-section">
        <div class="table-responsive">
           <table class="table table-striped border-0">
              <tbody>
              <tr>
                <th style="width:5%;">
                    <div class="table-search">
                        <label>All</label>
                        <div>
                            <label class="cust-check-bx marginT0">
                                <input type="checkbox" (click)="selectAll(parameter.is_selected)" name="document">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </th>
                <th style="width:5%;">
                    <div class="table-search">
                        <label>Image</label>
                    </div>
                </th>
                <th style="width:20%;">
                    <div class="table-search">
                       <label>Name</label>
                       <div class="searh-3">
                        <input type="Search here" name="name" [(ngModel)]="parameter.name" (keyup.enter)="getListing()">
                        <button *ngIf="parameter.name" (click)="getListing()"><i class="fa fa-search"></i></button>
                      </div>
                    </div>
                </th>
                <th style="width:20%; text-align:left;">
                    <div class="table-search">
                       <label>Contact Number</label>
                       <div class="searh-3">
                            <input type="Search here" name="phone" [(ngModel)]="parameter.phone" (keyup.enter)="getListing()">
                            <button *ngIf="parameter.phone" (click)="getListing()"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </th>
                <th style="width:20%;">
                    <div class="table-search">
                       <label>Email Address</label>
                       <div class="searh-3">
                            <input type="Search here" name="email" [(ngModel)]="parameter.email" (keyup.enter)="getListing()">
                            <button *ngIf="parameter.email" (click)="getListing()"><i class="fa fa-search"></i></button>
                       </div>
                    </div>
                 </th>
                 <th style="width:10%;">
                    <div class="table-search">
                        <label>Assignee</label>
                    </div>
                 </th>
                 <th style="width:5%;">
                    <div class="table-search">
                        <label>Properties</label>
                    </div>
                    <div class="ppties">
                        <a href="javascript://" (click)="sort_by(1)" data-toggle="tooltip" data-placement="top" title="" data-original-title="Coming soon">A<img src="assets/img/top-arrow.png" alt="img"></a>
                    </div>
                 </th>
                 <th style="width:5%;">
                   <label>&nbsp;</label>
                  <div class="ppties">
                     <a href="javascript://" (click)="sort_by(2)" data-toggle="tooltip" data-placement="top" title="" data-original-title="Coming soon">R<img src="assets/img/top-arrow.png" alt="img"></a>
                     </div>
                 </th>
                 <th style="width:5%;">
                  <label>&nbsp;</label>
                  <div class="ppties">
                     <a href="javascript://" (click)="sort_by(3)" data-toggle="tooltip" data-placement="top" title="" data-original-title="Coming soon">P<img src="assets/img/top-arrow.png" alt="img"></a>
                     </div>
                 </th>
                 <th style="width:5%;">
                  <label>&nbsp;</label>
                  <div class="ppties">
                     <a href="javascript://" (click)="sort_by(4)"  data-toggle="tooltip" data-placement="top" title="" data-original-title="In Draft">D<img src="assets/img/top-arrow.png" alt="img"></a>
                     </div>
                 </th>
                 <th style="width:5%;">
                  <label>&nbsp;</label>
                  <div class="ppties">
                     <a href="javascript://" (click)="sort_by(5)" data-toggle="tooltip" data-placement="top" title="" data-original-title="Coming soon">T<img src="assets/img/top-arrow.png" alt="img"></a>
                     </div>
                 </th>
              </tr>
              <tr class="cursor-pointer" title="Click to view details" *ngFor="let item of items| paginate: { itemsPerPage: parameter.itemsPerPage, currentPage: parameter.p, totalItems: parameter.total }"
                routerLink="{{item.id}}">
                <td (click)="$event.stopPropagation()">
                    <label class="cust-check-bx marginT0">
                    <input type="checkbox" [(ngModel)]="item.selected" name="document">
                    <span class="checkmark"></span>
                    </label>
                    <!-- <i class="fa" [ngClass]="item.selected?'fa-check-square-o':'fa-square-o'" (click)="item.selected = !item.selected" aria-hidden="true"></i> -->
                </td>
                <td>
                    <img *ngIf="item.image" class="rounded-circle" [src]="item.image" alt="img">
                    <img *ngIf="!item.image" class="rounded-circle" src="assets/img/default_img.png" alt="img">
                </td>
                <td class="text-left">
                  <span class="name">{{item.name}}</span>
                 </td>
                 <td class="text-left" *ngIf="item.phone">{{item.country_code}}-{{item.phone}}</td>
                 <td class="text-left" *ngIf="!item.phone">NA</td>
                  <td class="text-left">
                    {{item.email}}
                 </td>
                 <td class="text-left">{{item.csr_seller_name}}</td>
                 <td>
                  {{item.approved_count}}
                 </td>
                 <td>
                  {{item.rejected_count}}
                 </td>
                 <td>
                    {{item.pending_count}}
                 </td>
                 <td>
                    {{item.draft_count}}
                 </td>
                 <td>
                    {{item.total_count}}
                 </td>
              </tr>

           </tbody></table>
           <!-- <div class="padding20" *ngIf="parameter.noResultFound">No result found</div> -->
           <div class="padding20 center" *ngIf="parameter.noResultFound">
                <img src="assets/img/404-error.png">
            </div>

        </div>
     </div>


     <!-- <div class="spacer30"></div>
     <pagination-controls class="my-pagination" (pageChange)="getPage($event)"></pagination-controls> -->


  </div>
  </div>

    <div class="btn-cont text-right marginT15" *ngIf="parameter.total">
        <pagination-controls class="my-pagination" (pageChange)="getPage($event)"></pagination-controls>
    </div>
</div>



<!-- Assignment model -->
<a data-toggle="modal" data-target="#assign-model" #openAssignModel></a>
<div class="modal" id="assign-model">
    <div class="modal-dialog ">
        <div class="modal-content notary-avail">
            <div class="modal-header popup-header">
            <h4 class="modal-title">Re Assign to</h4>
            <button type="button" class="close" data-dismiss="modal" #closeAssignModel>&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8">
                        <input style="max-width:200px" list="amenities" [(ngModel)]="assign.keyword" (input)="getAssignListing()" class="form-control" type="text" name="keyword" placeholder="Search">
                    </div>
                    <div class="col-md-4 btn-cont">
                        <a class="btn btn-primary pull-right" href="javascript://" (click)="assignNow()">Assign</a>
                    </div>
                </div>
                <div class="spacer40"></div>
                <table class="table">
                    <tr *ngFor="let item of assign.items">
                        <td>
                            <div class="n-avail-profile">
                            <img [src]="item.image" onerror='src="assets/img/house.png"' alt="img">
                            <div class="n-avail-info">
                                <p class="p12">{{item.name}}</p>
                                <p class="p10">Phone : {{item.dial_code ? item.dial_code : constant.dial_code}}-{{item.phone}}</p>
                            </div>
                            </div>
                        </td>
                        <td>
                            <label class="cust-check-bx float-right">
                                <input type="radio" name="notary_id" (click)="assignItem = item">
                                <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
    