
<!--content start-->
<div class="container-fluid">
    <div class="breadcrumb-group">
    <h5>{{'settings.label' | translate}}</h5>
    <nav class="breadcrumb">
        <a class="breadcrumb-item">{{'settings.home' | translate}}</a>
        <a class="breadcrumb-item">{{'settings.label' | translate}}</a>
        <span class="breadcrumb-item active">{{'changePass.label' | translate}}</span>
    </nav>
    </div>

    <form class="form-horizontal" novalidate #addForm="ngForm" 
        [appMatchValue]="['password', 'c_password']" (ngSubmit)="changePassword(addForm)">
        
        <div class="form-group-3 row">
            <label class="col-sm-3 col-form-label">{{'changePass.newPassword' | translate}}:</label>

            <div class="col-sm-9">
                <input autocomplete="off" type="password" class="form-control" placeholder="{{'addForm.placeholder.newPassword' | translate}}" minlength="6" id="password" required [(ngModel)]="model.password" name="password" #password="ngModel">

                <div *ngIf="password.errors && (password.dirty || password.touched)" class="show-error">
                    <div [hidden]="!password.errors.required">
                        {{'changePass.passwordRequired' | translate}}
                    </div>
                    <div [hidden]="!password.errors.minlength">
                        {{'changePass.passwordMinLength' | translate}} {{6-model.password.length}}.
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group-3 row">
            <label class="col-sm-3 col-form-label">{{'changePass.confirmPassword' | translate}}:</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" placeholder="{{'addForm.placeholder.confirmPassword' | translate}}" minlength="6" id="c_password" required [(ngModel)]="model.c_password" name="c_password" #c_password="ngModel">

                <div *ngIf="c_password.errors && (c_password.dirty || c_password.touched)" class="show-error">
                    <div [hidden]="!c_password.errors.required">
                        {{'changePass.confirmPasswordRequired' | translate}}
                    </div>
                    <div [hidden]="!c_password.errors.minlength">
                        {{'changePass.confirmPasswordRequired' | translate}} {{6-model.c_password.length}}.
                    </div>
                    <div [hidden]="!c_password.errors.matchValueError">
                        {{'changePass.samePassAndConfirmPass' | translate}}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group btn-cont text-right">
            <button [disabled]="addForm.invalid" class="btn btn-primary apply-btn" type="submit">{{'changePass.updatePass' | translate}}</button>
        </div>
    </form>
</div>
      