<!--content start-->
<div class="container-fluid">
    <div class="breadcrumb-group">
      <h5>Settings</h5>
      <nav class="breadcrumb">
        <a class="breadcrumb-item">Home</a>
          <!-- <a class="breadcrumb-item" routerLink="/dashboard">Home</a> -->
          <a class="breadcrumb-item">Settings</a>
          <span class="breadcrumb-item active">Edit Profile</span>
      </nav>
    </div>

    <!-- <ngx-loading [show]="parameter.loading"></ngx-loading> -->
    
    <!-- <div class="white-bg">
      <div class="page-title">
          <h3>Edit Profile</h3>
      </div>

    </div> -->



    <form class="form-horizontal" novalidate #addForm="ngForm" (ngSubmit)="updateProfile(addForm)">
        
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Image:</label>
            <div class="col-sm-10">
                <input required accept="image/*" class="image" (change)="changeListner($event)" type="file">
            </div>
          </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Name:</label>
              <div class="col-sm-10">
  
                  <input type="text" class="form-control" placeholder="Name" id="name" required minlength="1" [(ngModel)]="model.name" name="name" #name="ngModel">
  
                  <div *ngIf="name.errors && (name.dirty || name.touched)" class="show-error">
                      <div [hidden]="!name.errors.required">
                          Name is required!
                      </div>
                      <div [hidden]="!name.errors.min">
                          Name must be at least 1.
                      </div>
                  </div>
  
              </div>
            </div>
              
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Contact Number:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control"
                id="phone" required minlength="1" [(ngModel)]="model.phone" 
                name="phone" #phone="ngModel"
ng2TelInput
[ng2TelInputOptions]="initialCountry"
(countryChange)="onCountryChange($event)" />


                <div *ngIf="phone.errors && (phone.dirty || phone.touched)" class="show-error">
                    <div [hidden]="!phone.errors.required">
                      Contact Phone Number is required!
                    </div>
                    <div [hidden]="!phone.errors.min">
                      Contact Phone Number must be at least 1.
                    </div>
                </div>
              </div>
            </div>

            <div class="form-group btn-cont text-right">
              <button [disabled]="parameter.loading" class="btn btn-primary apply-btn" type="submit">Update Settings</button>
            </div>
      </form>
</div>
