<div class="container-fluid">
    <div class="white-bg padding15">
        <div class="row">
            <div class="col-lg-3 col-md-12 col-sm-12 col-12">
                <div class="df-profile">
                    <a routerLink="../"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                    <img [src]="leadData?.user?.image" onerror='src="assets/img/default_img.png"' alt="img">
                    <div class="df-info">
                        <p class="p14 text-ellipsis120">{{leadData?.user?.name ? leadData?.user?.name : leadData?.name}}
                        </p>
                        <p class="p12">
                            {{leadData?.user?.dial_code?leadData?.user?.dial_code:leadData?.dial_code}}-{{leadData?.user?.phone ? leadData?.user?.phone:leadData?.phone}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-6 col-12">
                <div class="profile-list">
                    <ul>
                        <li>
                            <div class="df-info">
                                <p class="p14 marginB0" *ngIf="leadData?.admin">{{leadData.admin.name | titlecase}}</p>
                                <p class="p12">CSR Buyer</p>
                            </div>
                        </li>
                        <li>
                            <div class="df-info" *ngIf="leadData?.broker">
                                <p class="p14 marginB0">{{leadData.broker.name | titlecase}}</p>
                                <p class="p12">
                                    {{leadData?.broker?.is_external_agent==1 ? 'Outside Agent' : 'Inhouse Agent'}}</p>
                            </div>
                        </li>
                        <li>
                            <div class="df-info" *ngIf="leadData?.closer">
                                <p class="p14 marginB0">{{leadData.closer.name | titlecase}}</p>
                                <p class="p12">CSR Closure</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-12 col-sm-12 col-12"
                *ngIf="admin?.admin_acl['Buyer Lead Management']?.can_update==1 || admin?.permissions?.can_csr_buyer==1">
                <div *ngIf="!leadData?.broker && leadData?.user && (admin?.admin_acl['Buyer Lead Management']?.can_update==1 || admin?.permissions?.can_csr_buyer==1)"
                    class="form-group d-flex marginT10 float-right right-side">
                    <div class="dropdown btn-cont">
                        <a (click)="assignToBroker()" class="btn btn-primary" href="javascript://">Assign to agent</a>
                        <!-- <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                 Action
               </button>
               <div class="dropdown-menu dropdown-menu-right">
                 <a (click)="assignToBroker()" *ngIf="!leadData?.broker && leadData?.user" class="dropdown-item" href="javascript://">Assign to broker</a>
                 <a (click)="blockThisLead()" class="dropdown-item" href="javascript://">Block</a>
               </div> -->
                    </div>
                </div>
                <div *ngIf="is_deal_finalised" class="row">
                    <div class="col-sm-7 btn-cont text-right">
                        <a style="cursor: auto;" class="btn btn-fourth" href="javascript://">Deal Finalized</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="spacer30"></div>
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="white-bg padding30">

                <div class="row">
                    <div class="col-md-6">
                        <h6>Details</h6>
                    </div>
                    <!-- <div class="col-md-6">
                 <div class="edit text-right"><a href="javascript://">Edit</a></div>
              </div> -->
                </div>
                <div class="details-table">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td style="padding-left:0"><label>Full Name</label></td>
                                <td *ngIf="leadData?.name">
                                    {{leadData?.user?.name ? leadData?.user?.name : leadData?.name}}</td>
                            </tr>
                            <tr>
                                <td style="padding-left:0"><label>Contact Number</label></td>
                                <td *ngIf="leadData?.phone">
                                    {{leadData?.user?.dial_code ? leadData?.user?.dial_code : leadData?.dial_code}} -
                                    {{leadData?.user?.phone ? leadData?.user?.phone : leadData?.phone}}</td>
                            </tr>
                            <tr>
                                <td style="padding-left:0"><label>Email address</label></td>
                                <td *ngIf="leadData?.email">
                                    {{leadData?.user?.email ? leadData?.user?.email : leadData?.email}}</td>
                            </tr>
                            <tr>
                                <td style="padding-left:0"><label>Interested In</label></td>
                                <td *ngIf="leadData?.configuration">
                                    <span *ngFor="let conf of leadData.configuration; let ii=index">
                                        <!-- {{conf.name}} -->
                                        <span *ngIf="conf.bedroom!=0">{{conf.bedroom}} Bed </span>
                                        <span *ngIf="conf.bathroom!=0">&middot; {{conf?.bathroom}} Bath </span>
                                        <span *ngIf="conf.half_bathroom!=0">&middot; {{conf.half_bathroom}} Half </span>

                                        <span *ngIf="ii<leadData?.configuration?.length-1"> | </span><br>
                                    </span>
                                    <span *ngIf="leadData.configuration?.length==0">NA</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-left:0"><label>Favorite Properties</label></td>
                                <td>{{parameter.favorites?.length}}
                                    <a style="display: none;" data-toggle="modal" #showPropertyModal
                                        data-target="#view-fav-property" class="view-all" href="javascript://">View
                                        All</a>
                                    <a *ngIf="parameter.favorites?.length!=0" class="view-all" href="javascript://"
                                        (click)="viewFavProperties()">View All</a>
                                </td>
                            </tr>

                            <!-- Meeting Schedule -->
                            <tr *ngIf="leadData?.sale_rent==1">
                                <td style="padding-left:0"><label><strong>Meeting Schedule</strong></label></td>
                                <td colspan="2">
                                    <p style="display:none;" class="date" #modalOpen data-toggle="modal"
                                        data-target="#set_appointment">Click to Schedule</p>
                                    <p class="date cursor-pointer" (click)="openModal()">Click to Schedule</p>
                                    <p *ngFor="let na of data; let m=index" class="date">
                                        <span *ngIf="m<2">{{na.appointment_date | moment}}</span>
                                    </p>
                                    <span class="read-more" *ngIf="data.length>2" data-toggle="modal"
                                        data-target="#get-availability1">View all</span>
                                </td>
                            </tr>

                            <!-- Meeting Schedule -->
                            <!-- <tr *ngIf="leadData?.sale_rent==1">
                    <td  style="padding-left:0"><label><strong>Meeting Schedule</strong></label></td>
                    <td colspan="2" class="cursor-pointer">
                        <p class="date" *ngIf="appointment.appointment_date; else noAvailability4">
                            <span>{{appointment.appointment_date | moment}}</span>
                        </p>
                        <ng-template #noAvailability4>
                            <p>Meeting not scheduled by broker.</p>
                        </ng-template>
                    </td>
                </tr>           -->

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="spacer30"></div>

            <!-- fill information start -->
            <app-fill-information [sent_as]="parameter.sent_as" [leadData]="leadData"
                [selectedAmenities]="selectedAmenities" [allAmenities]="allAmenities" [lead_id]="parameter.lead_id"
                [showOtherTextBox]="showOtherTextBox">
            </app-fill-information>
            <!-- fill information end -->

        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
            <div *ngIf="!leadData?.user" class="white-bg padding20">
                User is not registered.
            </div>

            <!-- chat start -->
            <div *ngIf="leadData?.user">
                <!-- <app-chat [lead_id]="parameter.lead_id" [sent_as]="parameter.sent_as" [user_id]="parameter.user_id"
                    [admin_id]="parameter.admin_id"></app-chat> -->
                <div class="white-bg move-below">
                    <div class="page-title-3 marginB0">
                        <h4><i><img src="assets/img/chat-icon.png" alt="img"></i> Chat</h4>
                    </div>
                    <div class="cust-tabs-4">
                        <app-chat-tabs *ngIf="leadData?.user" [lead_id]="parameter.lead_id" [sent_as]="parameter.sent_as"
                            [user_id]="parameter.user_id" [admin_id]="parameter.admin_id" [leadData]="leadData">
                        </app-chat-tabs>
                    </div>
                </div>
            </div>
            <!-- chat end -->

            <!-- notes start -->
            <app-notes [sent_as]="parameter.sent_as" [lead_id]="parameter.lead_id"></app-notes>
            <!-- notes end -->

        </div>
    </div>

    <!-- Interested Properties start -->
    <app-interested-property [is_deal_finalised]="false" [selected_properties]="leadData?.selected_properties"
        [lead_id]="parameter.lead_id" [interested_properties]="parameter.interested_properties"
        [sent_as]="parameter.sent_as"></app-interested-property>
    <!-- Interested Properties end -->

    <!-- viewed property start -->
    <app-viewed-property [user_id]="leadData?.user_id" [viewed_properties]="parameter.viewed_properties">
    </app-viewed-property>
    <!-- viewed property end -->

    <!-- viewed projects start -->
    <app-viewed-projects [user_id]="leadData?.user_id" [viewed_projects]="parameter.viewed_projects">
    </app-viewed-projects>
    <!-- viewed projects end -->
</div>



<!-- show fav properties -->
<div class="modal" id="view-fav-property">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h3>Favorite Properties</h3>
                <hr>
                <div class="scrollbox fav-prop">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-12" *ngFor="let x of parameter.favorites">
                            <div class="project-des-bx white-bg-2">
                                <div class="price">
                                    <p class="p10">{{x.for_sale == 1 ? 'Buy' : 'Rent'}}</p>
                                </div>
                                <div class="fig-block">
                                    <img [src]="x.image" onerror='src="assets/img/bank.png"' alt="img">
                                </div>
                                <div class="project-des-content">
                                    <small title="Apartment">{{x?.name}}</small>
                                    <h5 title="Building">{{x?.building?.name.slice(0, 15)}}</h5>
                                    <p class="p12">{{x.building.address.slice(0, 50)}}</p>
                                    <!-- <p class="p13" *ngIf="x">{{x.configuration.name}}</p> -->
                                    <p class="p13" title="Configuration" *ngIf="x">
                                        <span *ngIf="x.configuration.bedroom!=0">{{x.configuration.bedroom}} Bed </span>
                                        <span *ngIf="x.configuration.bathroom!=0">&middot; {{x.configuration?.bathroom}}
                                            Bath </span>
                                        <span *ngIf="x.configuration.half_bathroom!=0">&middot;
                                            {{x.configuration.half_bathroom}} Half </span>
                                    </p>
                                    <p class="p13" title="Property type" *ngIf="x">{{x.property_type.name}}</p>
                                    <p class="p13">$ {{x.min_price|number}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- add inhouse user modal -->
<div class="modal animated" id="set_appointment">
    <!-- <div class="modal-dialog fadeIndown">
        <div class="modal-content">
            <div class="modal-header modal-header-new">
                <h4 class="modal-title">Schedule Appointment</h4>
                <button type="button" style="display: none;" class="close" data-dismiss="modal" #modalClose>&times;</button>
                <button type="button" class="close" (click)="closeModal()">&times;</button>
            </div>
    
            <form class="form-horizontal form-model0P" role="form" ngNativeValidate #addForm="ngForm" (ngSubmit)="add()">
            <div class="modal-body modal-body-new">
                <div class="row">
                    <div class="col-10">
                        <p-calendar title="Click to add" name="app" [(ngModel)]="appointment.appointment_date" [minDate]="today" showButtonBar="true" showTime="true" hourFormat="12" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
                    </div>
                    <div class="col-2">
                        <div class="form-group-2">
                            <a *ngIf="!appointment.id && appointment.appointment_date" class="green-color fontW500" (click)="add()" href="javascript://">Save</a>
                            <a *ngIf="appointment.id" class="green-color fontW500" (click)="add()" href="javascript://">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div> -->
    <div class="modal-dialog fadeIndown">
        <div class="modal-dialog fadeIndown">
            <div class="modal-content">
                <div class="modal-header modal-header-new">
                    <h4 class="modal-title">Schedule Meeting</h4>
                    <button type="button" style="display: none;" class="close" data-dismiss="modal"
                        #modalClose>&times;</button>
                    <button type="button" class="close" (click)="closeModal()">&times;</button>
                </div>

                <form class="form-horizontal form-model0P" role="form" ngNativeValidate #addForm="ngForm"
                    (ngSubmit)="add()">
                    <div class="modal-body padding0">
                        <div class="row">
                            <div class="col-8">
                                <label>Choose Date & Time</label>
                                <p-calendar title="Click to add" name="app" [(ngModel)]="date" [minDate]="today"
                                    showButtonBar="true" showTime="true" hourFormat="12" [monthNavigator]="true"
                                    [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
                            </div>
                            <div class="col-2">
                                <div class="form-group-2">
                                    <label style="display: block; margin-top: 3px;">&nbsp;</label>
                                    <a class="green-color fontW500" href="javascript://" (click)="addDateTime()">Add</a>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row" *ngFor="let d of data; let j=index">
                        <div class="col-8">
                            <label class="notary-ava">{{d.appointment_date | moment}}</label>
                        </div>
                        <div class="col-2">
                            <a class="green-color fontW500" (click)="deleteAppointment(d.id, j)" href="javascript://">
                                Remove
                            </a>
                        </div>
                    </div> -->
                        <div class="row" *ngFor="let a of appointment.appointment_date_array; let i=index">
                            <div class="col-8">
                                <label class="notary-ava">{{a|date:'h:mm a'|lowercase}}, {{a|date: 'MMM d y'}}</label>
                            </div>
                            <div class="col-2">
                                <a class="green-color fontW500" (click)="removeAppointment(i)" href="javascript://">
                                    Remove
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8"></div>
                            <div class="col-2">
                                <div class="btn-cont text-right">
                                    <button type="submit" class="btn btn-primary-new">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


<div class="modal animated" id="get-availability1">
    <div class="modal-dialog fadeIndown">
        <div class="modal-content">
            <div class="modal-header modal-header-new">
                <h4 class="modal-title">Meeting Scheduled</h4>
                <button type="button" class="close" data-dismiss="modal" #modalClose>&times;</button>
                <!-- <button type="button" class="close" (click)="closeModal()">&times;</button> -->
            </div>

            <div class="modal-body modal-body-new">
                <div class="row">
                    <div class="col-6" *ngFor="let d of data; let j=index">
                        <label class="notary-ava">{{d.appointment_date | moment}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>