
<div class="container-fluid">
  <div class="breadcrumb-group">
      <h5>Settings</h5>
      <nav class="breadcrumb">
          <a class="breadcrumb-item" routerLink="/dashboard">Home</a>
        <a class="breadcrumb-item">Settings</a>
        <span class="breadcrumb-item active">Property</span>
      </nav>
  </div>
  <ngx-loading [show]="parameter.loading"></ngx-loading>
  <div class="white-bg">
      <div class="page-title">
        <h3>Property</h3>
      </div>


      <div class="form-outer">
        <div class="inline-form-group">
            <div class="row">
              <div class="col-md-4">
                  <label>Property Configuration</label>
              </div>
              <div class="col-md-8">
                  <input type="text" #configuration name="" placeholder="Enter configuration">
                  <button class="add-btn" (click)="addPropertyConfiguration('', configuration.value, 1)">
                    <img src="./../../../../assets/img/add.png" alt="img"></button>
                  <!-- listing of property configuration -->
                  <span class="tag" *ngFor="let item of parameter.items">
                  <a href="javascript://" *ngIf="item.status == 1" title="Block Configuration" (click)="addPropertyConfigurationPopup(item.id, item.name, 0)">
                    <img src="./../../../../assets/img/lock.png" alt="img"></a>
                  <a href="javascript://" *ngIf="item.status == 0" title="Unblock Configuration" (click)="addPropertyConfigurationPopup(item.id, item.name, 1)">
                    <img src="./../../../../assets/img/unlock.png" alt="img"></a>
                  {{item.name}}
                  </span>
              </div>
            </div>
        </div>

        <div class="inline-form-group">
            <div class="row">
              <div class="col-md-4">
                  <label>Property Type</label>
              </div>

              <div class="col-md-8">
                <input type="text" #propertyType name="" placeholder="Enter property type">
                <button class="add-btn" (click)="openPropertyTypeModal(addPropertyTypeModal, '', '', '', 1)"><img src="./../../../../assets/img/add.png" alt="img"></button>
                <!-- listing of property propertyType -->
                <span class="tag" *ngFor="let item of parameter.propertyTypes">
                <a href="javascript://" *ngIf="item.status == 1" title="Block Property Type" (click)="blockUnblockPropertyType(item.id, item.name_en, item.name_es, 0)">
                  <img src="./../../../../assets/img/lock.png" alt="img"></a>
                <a href="javascript://" *ngIf="item.status == 0" title="Unblock Property Type" (click)="blockUnblockPropertyType(item.id, item.name_en, item.name_es, 1)">
                  <img src="./../../../../assets/img/unlock.png" alt="img"></a>
                {{item.name}}
                </span>
            </div>
            </div>
        </div>

        <div class="inline-form-group">
            <div class="row">
              <div class="col-md-4">
                  <label>Amenities</label>
              </div>
              <div class="col-md-8">
                  <div class="browse-files">
                    <input type="file" name="">
                    <span>Browse</span>
                  </div>
                  <input type="text" name="">
                  <button class="add-btn" (click)="openAmenitiesModal(addAmenitiesModal, '', '', '', '', 1)">
                    <img src="./../../../../assets/img/add.png" alt="img">
                  </button>
              </div>
            </div>
        </div>
      </div>
      <div class="tabel-section padding40">
        <div class="table-responsive">
            <table class="table table-striped">
              <tr>
                  <th style="width:15%">Image</th>
                  <th style="width:65%; text-align:left;">Amenity Name</th>
                  <th style="width:20%">Action</th>
              </tr>
              <tr *ngFor="let amenity of parameter.amenities">
                  <td>
                    <i class="fa fa-building"></i>
                  </td>
                  <td class="text-left">
                    Fire Fighting
                  </td>
                <td>
                    <a href="javascript://" class="icon-block edit-icon"><img src="./../../../../assets/img/edit.png" alt="img"></a>
                    <a href="javascript://" class="icon-block block-icon"><img src="./../../../../assets/img/block.png" alt="img"></a>
                  </td>
              </tr>
            </table>
        </div>
      </div>
      <div class="btn-cont text-right padding40 paddingT0">
        <button class="btn btn-primary">Save</button>
      </div>
  </div>
</div>


<!-- add country modal -->
<ng-template #addPropertyTypeModal>
  <div class="modal-content">
    <div class="modal-header my-modal-header">
      <h4 class="modal-title">Add Property Type</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form class="form-horizontal my-modal-form" role="form" novalidate #addForm="ngForm" (ngSubmit)="checkIfTypeSpanishNameEntered(addForm.value.name_en, addForm.value.name_es)">
      <div class="modal-body my-modal-body">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Property type (English)" id="name_en" required [(ngModel)]="property.type.name_en" name="name_en" #name_en="ngModel">
          <div *ngIf="name_en.errors && (name_en.dirty || name_en.touched)" class="show-error">
              <div [hidden]="!name_en.errors.required">
                {{constant.errorMsg.PROPERTY_TYPE_REQUIRED}}
              </div>
          </div>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Property type (Spanish)" [(ngModel)]="property.type.name_es" name="name_es">
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" [disabled]="addForm.invalid" class="btn btn-info">Submit</button>
        <button type="button" class="btn btn-default" aria-label="Close" (click)="modalRef.hide()">Close</button>
      </div>
    </form>
  </div>
</ng-template>



<!-- add country modal -->
<ng-template #addAmenitiesModal>
    <div class="modal-content">
      <div class="modal-header my-modal-header">
        <h4 class="modal-title">Add Property Type</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form-horizontal my-modal-form" role="form" novalidate #addForm="ngForm" (ngSubmit)="checkIfAmenitySpanishNameEntered(addForm.value.icon, addForm.value.name_en, addForm.value.name_es)">
        <div class="modal-body my-modal-body">
          <div class="form-group">
            <input type="file" class="form-control" placeholder="Amenity Icon (English)" id="icon" required [(ngModel)]="property.amenities.icon" name="icon" #icon="ngModel">
            <div *ngIf="icon.errors && (icon.dirty || icon.touched)" class="show-error">
                <div [hidden]="!icon.errors.required">
                  {{constant.errorMsg.PROPERTY_TYPE_REQUIRED}}
                </div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Amenity (English)" id="name_en" required [(ngModel)]="property.amenities.name_en" name="name_en" #name_en="ngModel">
            <div *ngIf="name_en.errors && (name_en.dirty || name_en.touched)" class="show-error">
                <div [hidden]="!name_en.errors.required">
                  {{constant.errorMsg.PROPERTY_TYPE_REQUIRED}}
                </div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Amenity (Spanish)" [(ngModel)]="property.amenities.name_es" name="name_es">
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" [disabled]="addForm.invalid" class="btn btn-info">Submit</button>
          <button type="button" class="btn btn-default" aria-label="Close" (click)="modalRef.hide()">Close</button>
        </div>
      </form>
  </div>
</ng-template>
  