<section id="wrapper">
    <header>
        <div class="row">
            <div class="col-6">
                <a class="logo" href="">
                    <img class="app-logo" src="assets/img/web_logo.png" alt="img">
                </a>
            </div>
        </div>
    </header>

    <div class="login">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-6 col-md-6 col-12">
                    <h2>{{'login.topHeader' | translate}}</h2>
                    <p class="p18">{{'login.middleHeader' | translate}}</p>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                    <div class="ibox-content btn-cont">
                        <h2>{{'pageNotFound.header' | translate}}</h2>
                        <p class="not-found-text">{{'pageNotFound.subHeader' | translate}}</p>
                        <a routerLink="" class="btn btn-primary">{{'pageNotFound.home' | translate}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>