<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="title-group">
        <h5>{{model.id ? ('addLegalEntity.editEntity' | translate) : ('addLegalEntity.addEntity' | translate)}}</h5>
        <div class="spacer30"></div>
      </div>
    </div>
  </div>

  <div class="white-bg padding40">
    <div class="row">
      <form [formGroup]="addDataForm" (ngSubmit)="add(addDataForm.value)">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
          <div class="row">

            <div class="col-6">
              <div class="form-group-2">
                <h5>Legal Entity Information</h5>
              </div>
            </div>
            <div class="col-6">
              <div class="btn-cont text-right">
                <button *ngIf="!model?.id" type="submit" (click)="setValue(1)" [disabled]="!addDataForm.valid"
                  class="btn btn-primary marginR10">{{'addForm.addSendMail' | translate}}</button>
                <button *ngIf="model?.id" type="submit" (click)="setValue(1)"
                  class="btn btn-primary marginR10">{{'addForm.editSendMail' | translate}}</button>
                <button *ngIf="!model.id" type="submit" (click)="setValue(0)" [disabled]="!addDataForm.valid"
                  class="btn btn-primary">{{'addForm.addBtn' | translate}}</button>
                <button *ngIf="model?.id" type="submit" (click)="setValue(0)"
                  class="btn btn-primary">{{'addForm.updateBtn' | translate}}</button>
                  &nbsp;&nbsp;
                <button *ngIf="model?.id" (click)="uploadDoc(model)" class="btn btn-primary">
                  {{'addForm.documentation' | translate}}</button>
              </div>
            </div>
            <div class="col-12">
              <div class="spacer40"></div>
            </div>
            <div class="col-12">
              <div class="form-group-2">
                <label>Commercial Name<span class="color-red">*</span></label>
                <input autocomplete="off" minlength="1" maxlength="30" [pattern]="constant.onlyWhiteSpaces" required
                  type="text" class="form-control" formControlName="comm_name" name="comm_name">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group-2">
                <label>Legal Name <span class="color-red">*</span></label>
                <input autocomplete="off" minlength="1" maxlength="50" [pattern]="constant.onlyWhiteSpaces" required
                  type="text" class="form-control" formControlName="legal_name" name="legal_name">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group-2">
                <label>{{'addForm.emailId' | translate}} <span class="color-red">*</span></label>
                <input (keydown.space)="$event.preventDefault();" autocomplete="off" required
                  [pattern]="constant.emailPattern" type="email" class="form-control" formControlName="email"
                  name="email">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group-2">
                <label>{{'addForm.contactNumber' | translate}} <span class="color-red">*</span></label>
                <input minlength="8" maxlength="15" autocomplete="off" type="text" [pattern]="constant.phonePattern"
                  class="form-control" id="phone" required formControlName="phone" name="phone" ng2TelInput
                  [ng2TelInputOptions]="initialCountry" (countryChange)="onCountryChange($event)" />
              </div>
            </div>
            <div class="col-12">
              <div class="form-group-2">
                <label>{{'addForm.description' | translate}}
                </label>
                <textarea autocomplete="off" rows="3" class="form-control" name="description"
                  formControlName="description"></textarea>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group-2">
                <label>{{'addForm.address' | translate}}
                </label>
                <!-- <input placeholder="{{'addForm.placeholder.searchForAddress' | translate}}" 
                      autocorrect="off" type="text"
                      class="form-control" name="address" formControlName="address"> -->
                <input placeholder="{{'addForm.placeholder.searchForAddress' | translate}}" autocorrect="off"
                  autocapitalize="off" spellcheck="off" type="text" class="form-control" #search
                  (input)="loadPlaces('address', 'lat', 'lng', 'searchElementRef')" name="address"
                  formControlName="address" autocomplete="off">

              </div>
            </div>
            <div class="col-12">
              <div class="form-group-2">
                <label>{{'addForm.locationPinOnMap' | translate}}
                </label>
                <agm-map class="height200" [scrollwheel]="false" [latitude]="model.lat" [longitude]="model.lng"
                  (mapClick)="placeMarker($event, 'address', 'lat', 'lng')" [zoom]="constant.zoom">
                  <agm-marker [latitude]="model.lat" [longitude]="model.lng"></agm-marker>
                </agm-map>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group-2">
                <label>{{'addCollection.fedralTaxPayerRegistry' | translate}}
                </label>
                <input autocomplete="off" minlength="12" maxlength="13" [pattern]="constant.onlyWhiteSpaces" type="text"
                  class="form-control" formControlName="fed_tax_pay" name="fed_tax_pay">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group-2">
                <label>{{'addForm.developerName' | translate}}</label>
                <select name="developer_id" class="form-control" formControlName="developer_id">
                  <option value="">{{'addForm.selectDeveloper' | translate}}</option>
                  <option *ngFor="let d of all_developers" value="{{d.id}}">{{d.name}}</option>
                </select>
              </div>
            </div>

            <div class="col-12">
              <label>{{'addCollection.bankAccount' | translate}}
                <span class="pull-right"><a class="add" (click)="addLegalEntityBank($event)"
                    href="javascript://">{{'addCollection.addNewBankAccount' | translate}}</a></span>
              </label>
              <div formArrayName="legal_entity_banks">
                <ng-container *ngFor="let lebanks of addDataForm.get('legal_entity_banks')['controls']; let i=index">

                  <div class="row" [formGroupName]="i">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                      <div class="form-group-3">
                        <label>{{'addCollection.bankName' | translate}}</label>
                        <div class="clearfix"></div>
                        <input required autocomplete="off" minlength="1" maxlength="30" class="form-control" type="text"
                          name="bank_name" formControlName="bank_name">
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                      <div class="form-group-3">
                        <label>{{'addCollection.accountNumber' | translate}}</label>
                        <div class="clearfix"></div>
                        <input required autocomplete="off" class="form-control" type="text" minlength="9" maxlength="20"
                          [pattern]="constant.accountPattern" name="account_number" formControlName="account_number">
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                      <div class="form-group-3">
                        <label>{{'addCollection.clabeSwift' | translate}}</label>
                        <div class="clearfix"></div>
                        <input required autocomplete="off" class="form-control" type="text" name="swift"
                          formControlName="swift">
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                      <div class="form-group-3">
                        <label>{{'addCollection.currency' | translate}}</label>
                        <div class="clearfix"></div>
                        <select required name="currency_id" class="form-control" formControlName="currency_id">
                          <option value="">{{'addCollection.currency' | translate}}</option>
                          <option value="{{c.id}}" *ngFor="let c of currencies">{{ c?.code }} | {{c?.currency}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                      <div class="form-group-3">
                        <label>{{'addCollection.remove' | translate}}</label>
                        <div class="clearfix"></div>
                        <button type="button"
                          (click)="removeLegalEntityBank($event, i, lebanks)">{{'addCollection.remove' |
                          translate}}</button>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>

            </div>
          </div>

          <div class="row" formGroupName="legal_rep">
            <div class="col-12">
              <div class="spacer40"></div>
            </div>
            <div class="col-12">
              <div class="form-group-2">
                <h5>{{'addCollection.legalRepresentativeInfo' | translate}}</h5>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group-2">
                <label>{{'addForm.names' | translate}}
                </label>
                <input autocomplete="off" minlength="1" maxlength="50" [pattern]="constant.onlyWhiteSpaces" type="text"
                  class="form-control" formControlName="name" name="name1">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group-2">
                <label>{{'addForm.firstSurname' | translate}}
                </label>
                <input autocomplete="off" minlength="1" maxlength="30" [pattern]="constant.onlyWhiteSpaces" type="text"
                  class="form-control" formControlName="first_surname" name="first_surname">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group-2">
                <label>{{'addForm.secondSurname' | translate}}
                </label>
                <input autocomplete="off" minlength="1" maxlength="30" [pattern]="constant.onlyWhiteSpaces" type="text"
                  class="form-control" formControlName="second_surname" name="second_surname">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group-2">
                <label>{{'addForm.contactNumber' | translate}}
                </label>
                <input minlength="8" maxlength="15" autocomplete="off" type="text" [pattern]="constant.phonePattern"
                  class="form-control" id="phone1" formControlName="phone" name="phone1" ng2TelInput
                  [ng2TelInputOptions]="initialCountry" (countryChange)="onCountryChange($event)" />
              </div>
            </div>
            <div class="col-12">
              <div class="form-group-2">
                <label>{{'addForm.emailId' | translate}}
                </label>
                <input (keydown.space)="$event.preventDefault();" autocomplete="off" [pattern]="constant.emailPattern"
                  type="email" class="form-control" formControlName="email" name="email1">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group-2">
                <label>{{'addCollection.fedralTaxPayerRegistry' | translate}}
                </label>
                <input autocomplete="off" minlength="12" maxlength="13" [pattern]="constant.onlyWhiteSpaces" type="text"
                  class="form-control" formControlName="fed_tax_pay" name="fed_tax_pay1">
              </div>
            </div>

            <!-- <div class="col-12">
              <div class="form-group-2 row">
                <label class="col-4">{{'addForm.pleaseProvideAccessToSystem' | translate}}</label>
                <input type="checkbox" class="col-6 form-control have_dev_panel_access"
                  formControlName="have_dev_panel_access" name="have_dev_panel_access">
              </div>
            </div> -->

            <!-- <div class="col-12">
              <div class="form-group-2 row">
                <label class="col-4">{{'addForm.typeOfService' | translate}}</label>
                <div class="col-1">
                  <div class="clearfix"></div>
                  <label class="cust-radio">
                    <input class="form-control" type="radio" (change)="setSaleComm(1)"
                      formControlName="sales_commission" value="1"
                      [checked]="model.legal_rep.sales_commission == 1 ? 'checked' :''" name="sales_commission">
                    <span class="checkmark">{{'addForm.Sale' | translate}}</span>
                  </label>
                </div>
                <div class="col-4">
                  <label class="cust-radio">
                    <input class="form-control" type="radio" (change)="setSaleComm(2)"
                      formControlName="sales_commission" value="2"
                      [checked]="model.legal_rep.sales_commission == 2 ? 'checked' :''" name="sales_commission">
                    <span class="checkmark">{{'addForm.SaleCommission' | translate}}</span>
                  </label>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div> -->

            <!-- <div class="col-12">
              <div class="form-group-2 row" *ngIf="data_fetch">
                <label class="col-4">{{'addForm.pleaseSelectProjects' | translate}}</label>
                <div class="clearfix"></div>
                <ng-multiselect-dropdown *ngIf="projects.length>0" class="col-3 section-section2 multi-select"
                  [placeholder]="''" [data]="projects" [(ngModel)]="selctedProjects" formControlName="building_ids"
                  [settings]="multiDropdownSettings" (onSelect)="setProject($event, 'selctedProjects')"
                  (onDeSelect)="unsetProject($event, 'selctedProjects')" (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
                <div class="clearfix"></div>
              </div>
            </div> -->

            <div class="col-12">
              <label>{{'addCollection.bankAccount' | translate}}
                <span class="pull-right"><a class="add" (click)="addLegalRepBank($event)"
                    href="javascript://">{{'addCollection.addNewBankAccount' | translate}}</a></span>
              </label>
              <div formArrayName="legal_rep_banks">
                <ng-container
                  *ngFor="let lrepbanks of addDataForm.get('legal_rep').get('legal_rep_banks')['controls']; let i=index">

                  <div class="row" [formGroupName]="i">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                      <div class="form-group-3">
                        <label>{{'addCollection.bankName' | translate}}</label>
                        <div class="clearfix"></div>
                        <input required autocomplete="off" minlength="1" maxlength="30" class="form-control" type="text"
                          name="bank_name" formControlName="bank_name">
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                      <div class="form-group-3">
                        <label>{{'addCollection.accountNumber' | translate}}</label>
                        <div class="clearfix"></div>
                        <input required autocomplete="off" class="form-control" type="text" minlength="9" maxlength="20"
                          [pattern]="constant.accountPattern" name="account_number" formControlName="account_number">
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                      <div class="form-group-3">
                        <label>{{'addCollection.clabeSwift' | translate}}</label>
                        <div class="clearfix"></div>
                        <input required autocomplete="off" class="form-control" type="text" name="swift"
                          formControlName="swift">
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                      <div class="form-group-3">
                        <label>{{'addCollection.currency' | translate}}</label>
                        <div class="clearfix"></div>
                        <select required name="currency_id" class="form-control" formControlName="currency_id">
                          <option value="">{{'addCollection.currency' | translate}}</option>
                          <option value="{{c.id}}" *ngFor="let c of currencies">{{ c?.code }} | {{c?.currency}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                      <div class="form-group-3">
                        <label>{{'addCollection.remove' | translate}}</label>
                        <div class="clearfix"></div>
                        <button type="button" (click)="removeLegalRepBank($event, i)">{{'addCollection.remove' |
                          translate}}</button>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </form>
      <!-- <div class="col-12" *ngIf="selctedProjects.length > 0">
            <div class="form-group-2 row">
              <label class="col-4">{{'addForm.pleaseSelectProjects' | translate}}</label>
            <div class="clearfix"></div>
                  <ng-multiselect-dropdown *ngIf="projects?.length>0" class="col-3 section-section2 multi-select"
                    #multiSelect
                        [placeholder]="''"
                        [data]="projects"
                        [(ngModel)]="selctedProjects"
                        [settings]="multiDropdownSettings"
                        (onSelect)="setProject($event, 'selctedProjects')"
                        (onDeSelect)="unsetProject($event, 'selctedProjects')"
                        (onSelectAll)="onSelectAll($event)">
                  </ng-multiselect-dropdown>
            <div class="clearfix"></div>
            </div>
      </div> -->
    </div>
  </div>

  <div class="container-fluid" style="margin-top: 30px;padding: 0px;">
    <div class="white-bg padding40">
      <!-- <div class="row"> -->
      <form [formGroup]="this.developer_access_formGroup">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">

          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-3">
              <div class="form-group-2">
                <p>{{'addForm.createAccessToSystemDashboard' | translate}}</p>
              </div>
            </div>
            <div class="col-6">
              <div class="btn-cont">
                <span><a class="add" (click)="this.addDeveloperAccessFormGroup($event)"
                    href="javascript://">{{'addForm.addNew' | translate}}</a></span>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div formArrayName="developer_access" *ngIf="this.getDeveloperAccessFormArrayLength > 0">
              <ng-container
                *ngFor="let temp_developer_access of this.getDeveloperAccessFormArray['controls']; let i=index">
                <div [formGroupName]="i">

                  <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                      <div class="form-group-3">
                        <label>{{'addForm.names' | translate}} <span class="color-red">*</span></label>
                        <div class="clearfix"></div>
                        <input required autocomplete="off" minlength="1" maxlength="30" class="form-control" type="text"
                          name="user_name" formControlName="user_name">
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                      <div class="form-group-3">
                        <label>{{'addForm.firstSurname' | translate}} <span class="color-red">*</span></label>
                        <div class="clearfix"></div>
                        <input required autocomplete="off" minlength="1" maxlength="30" class="form-control" type="text"
                          name="user_first_surname" formControlName="user_first_surname">
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                      <div class="form-group-3">
                        <label>{{'addForm.secondSurname' | translate}}</label>
                        <div class="clearfix"></div>
                        <input required autocomplete="off" minlength="1" maxlength="30" class="form-control" type="text"
                          name="user_second_surname" formControlName="user_second_surname">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                      <div class="form-group-3">
                        <label>{{'addForm.emailId' | translate}} <span class="color-red">*</span></label>
                        <input (keydown.space)="$event.preventDefault();" autocomplete="off" required
                          [pattern]="constant.emailPattern" type="email" class="form-control"
                          formControlName="user_email" name="user_email">
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                      <div class="form-group-3">
                        <label>{{'addForm.contactNumber' | translate}} <span class="color-red">*</span></label>
                        <input minlength="8" maxlength="15" autocomplete="off" type="text"
                          [pattern]="constant.phonePattern" class="form-control" id="phone" required
                          formControlName="user_contact_number" name="user_contact_number" ng2TelInput
                          [ng2TelInputOptions]="{initialCountry:temp_developer_access.get('user_country_code').value}"
                          (countryChange)="onCountryChange($event,i)" />
                      </div>
                    </div>
                    <div class="col-lg-1 col-md-6 col-sm-6 col-12">
                      <div class="form-group-3">
                        <label>{{'addForm.sendEmail' | translate}}</label>
                        <input type="checkbox" [checked]="temp_developer_access.get('is_access').value == 1 ? 'checked' : ''" class="form-control" 
                         formControlName="is_send_email">
                      </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-6 col-12"
                      *ngIf="temp_developer_access.get('is_access').value == 0">
                      <div style="margin: 20px;border-style: solid;padding: 10px;text-align: center;">
                        <label>{{'addForm.noAccess' | translate}}</label>
                      </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-6 col-12"
                      *ngIf="temp_developer_access.get('is_access').value == 1">
                      <div style="margin: 20px;border-style: solid;padding: 10px;text-align: center;">
                        <label>{{'addForm.hasAccess' | translate}}</label>
                      </div>
                    </div>

                    <div class="col-lg-1 col-md-6 col-sm-6 col-12">
                      <div class="form-group-3" style="margin-top: 15px;">
                        <label>{{'addCollection.remove' | translate}}</label>
                        <div class="clearfix"></div>
                        <button type="button"
                          (click)="this.removeDeveloperAccessFormGroup($event, i,temp_developer_access)">{{'addCollection.remove'
                          |
                          translate}}</button>
                      </div>
                    </div>
                  </div>

                  <div class="row" *ngIf="projects?.length > 0">
                    <div class="col-12">
                      <div class="form-group-2 row" *ngIf="data_fetch">
                        <label class="col-4">{{'addForm.pleaseSelectProjects' | translate}}</label>
                        <div class="clearfix"></div>
                        <ng-multiselect-dropdown *ngIf="this.projects?.length > 0"
                          class="col-3 section-section2 multi-select" [placeholder]="''" [data]="this.projects"
                          formControlName="building_ids" [settings]="multiDropdownSettings">
                        </ng-multiselect-dropdown>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>

                </div>
              </ng-container>
            </div>

          </div>

        </div>
      </form>
      <!-- </div> -->
    </div>
  </div>