/* .ibox-content .top-tag{
    color: white;
}
.wrapper-content .row .col-lg-2 .my-blue-bg{
    background: #5bc0de;
}
.wrapper-content .row .col-lg-2 .my-green-bg{
    background: #5cb85c;
}
.wrapper-content .row .col-lg-2 .my-red-bg{
    background: #0275d8;
}
.wrapper-content .row .col-lg-2 .my-sky-bg{
    background: #d9534f;
}
.page-header .ibox-title{
    background: #949090; color: #fff;
} */
