
<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
        <div class="title-group">
            <h5>Hello Admin</h5>
        </div>
      </div>
      
  </div>
<div class="row">
      <div class="col-md-4 col-sm-12 col-12">
        <div class="info-box dashboard-bx">
          <p class="p14">All Properties</p>
          <h3>452</h3>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-12">
        <div class="info-box dashboard-bx">
          <p class="p14">Property for Sale</p>
          <h3>350</h3>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-12">
        <div class="info-box dashboard-bx">
          <p class="p14">Property for Rent</p>
          <h3>102</h3>
        </div>
      </div>

</div>
<div class="spacer30"></div>
<div class="white-bg padding40">
      <h3>Stats and Trend Analytics</h3>
      <div class="row">
      <div class="col-12">
      <div class="cust-tabs-2 dashboard-tabs">
            <ul class="nav nav-tabs">
              <li class="nav-item marginL0">
                  <a class="nav-link active" data-toggle="tab" href="#prop">Properties</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#notary">Notary</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#banks">Banks</a>
              </li>
              
            </ul>
          </div>

        </div>
    <div class="col-12">
          <div class="three-dots dropdown float-right">
          <a href="javascript://" class="dropdown-toggle" data-toggle="dropdown">
            <span></span>
            <span></span>
            <span></span>
          </a>
          <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
                <a class="dropdown-item" href="#">Link 3</a>
              </div>
          </div>
      </div>

        </div>
          <div class="clearfix"></div>

        <div class="tab-content">
          <div id="prop" class="tab-pane fade in active show">
          <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-12 col-12">
            <div class="stats-block">
                  <p class="p14">Total Commission on platform</p>
                  <h2>$2,575.00</h2>
            </div>
            </div>
              <div class="col-lg-5 col-md-6 col-sm-12 col-12">
              <div class="stats-block">
                  <p class="p14">Your Sales</p>
                  <h2>$6,451.00 </h2>
            </div>
            </div>
            <div class="col-lg-2 col-md-12 col-sm-12 col-12">
            
                <p class="p12 text-right">Last 6 months</p>
            
            </div>
            </div>
            <div class="spacer30"></div>
            <div class="row">
              <div class="col-md-6 col-sm-12 col-12">
                <img class="img-fluid" src="assets/img/dummy-graph.png" alt="img">
              </div>
                <div class="col-md-6 col-sm-12 col-12">
                <img class="img-fluid" src="assets/img/dummy-graph2.png" alt="img">
              </div>

            </div>
              </div>
          <div id="notary" class="tab-pane fade">
            <h3>Menu 1</h3>
            <p>Some content in menu 1.</p>
          </div>
          <div id="banks" class="tab-pane fade">
            <h3>Menu 2</h3>
            <p>Some content in menu 2.</p>
          </div>
        </div>

        <div class="clearfix"></div>
</div>

<div class="spacer30"></div>
            <div class="row">
                <div class="col-12">
                  <div class="title-group">
                      <h5>Properties</h5>
                      <p>Showing <span class="green-color">130</span> out of 2790 <a class="view-all" href="javascript://">View All</a></p>
                  </div>
                </div>
              
            </div>
                      <div class="white-bg">
            <div class="table-responsive-md">
            <table class="table table-borderless properties-table">
              <tr>
                <td>
                  <div class="profile">
                    <div class="fig-block">
                      <img src="http://via.placeholder.com/56x56" alt="img">
                    </div>
                    <div class="profile-info">
                      <h6>Horizon Center</h6>
                      <p>Hamilton, New Jersey</p>
                    </div>

                  </div>

                </td>
                <td>
                  <p class="p12">Assigned to</p>
                  <p class="black-color p14">Mukesh Rana (Agent)</p>
              </td>
                <td>
                  <p class="p12">Configuration</p>
                  <p class="black-color p14">2BHK, 3BHK, 4BHK</p>
              </td>
                <td>
                  <p class="p12">Price Range</p>
                  <p class="black-color p14">$26.9k - $38.5k</p>
              </td>
              </tr>
              <tr>
                <td>
                  <div class="profile">
                    <div class="fig-block">
                      <img src="http://via.placeholder.com/56x56" alt="img">
                    </div>
                    <div class="profile-info">
                      <h6>Horizon Center</h6>
                      <p>Hamilton, New Jersey</p>
                    </div>

                  </div>

                </td>
                <td>
                  <p class="p12">Assigned to</p>
                  <p class="black-color p14">Mukesh Rana (Agent)</p>
              </td>
                <td>
                  <p class="p12">Configuration</p>
                  <p class="black-color p14">2BHK, 3BHK, 4BHK</p>
              </td>
                <td>
                  <p class="p12">Price Range</p>
                  <p class="black-color p14">$26.9k - $38.5k</p>
              </td>
              </tr>
              <tr>
                <td>
                  <div class="profile">
                    <div class="fig-block">
                      <img src="http://via.placeholder.com/56x56" alt="img">
                    </div>
                    <div class="profile-info">
                      <h6>Horizon Center</h6>
                      <p>Hamilton, New Jersey</p>
                    </div>

                  </div>

                </td>
                <td>
                  <p class="p12">Assigned to</p>
                  <p class="black-color p14">Mukesh Rana (Agent)</p>
              </td>
                <td>
                  <p class="p12">Configuration</p>
                  <p class="black-color p14">2BHK, 3BHK, 4BHK</p>
              </td>
                <td>
                  <p class="p12">Price Range</p>
                  <p class="black-color p14">$26.9k - $38.5k</p>
              </td>
              </tr>
              <tr>
                <td>
                  <div class="profile">
                    <div class="fig-block">
                      <img src="http://via.placeholder.com/56x56" alt="img">
                    </div>
                    <div class="profile-info">
                      <h6>Horizon Center</h6>
                      <p>Hamilton, New Jersey</p>
                    </div>

                  </div>

                </td>
                <td>
                  <p class="p12">Assigned to</p>
                  <p class="black-color p14">Mukesh Rana (Agent)</p>
              </td>
                <td>
                  <p class="p12">Configuration</p>
                  <p class="black-color p14">2BHK, 3BHK, 4BHK</p>
              </td>
                <td>
                  <p class="p12">Price Range</p>
                  <p class="black-color p14">$26.9k - $38.5k</p>
              </td>
              </tr>
              <tr>
                <td>
                  <div class="profile">
                    <div class="fig-block">
                      <img src="http://via.placeholder.com/56x56" alt="img">
                    </div>
                    <div class="profile-info">
                      <h6>Horizon Center</h6>
                      <p>Hamilton, New Jersey</p>
                    </div>

                  </div>

                </td>
                <td>
                  <p class="p12">Assigned to</p>
                  <p class="black-color p14">Mukesh Rana (Agent)</p>
              </td>
                <td>
                  <p class="p12">Configuration</p>
                  <p class="black-color p14">2BHK, 3BHK, 4BHK</p>
              </td>
                <td>
                  <p class="p12">Price Range</p>
                  <p class="black-color p14">$26.9k - $38.5k</p>
              </td>
              </tr>

          
            </table>
          </div>
          </div>
</div>