<div class="container-fluid">
      <div class="row">
            <div class="col-12">
                  <div class="title-group">
                        <h2>{{ 'addForm.documentation' | translate }}</h2>
                        <div class="spacer30"></div>
                  </div>
            </div>
      </div>
      <div class="card">
            <h5>{{ 'addForm.uploadDoc' | translate }}</h5>
            <hr />
            <div style="max-width: 400px; margin: 2%;"
            *ngIf="!model.user_linked_documents.length == 0">
                  <div class="input-icons" *ngFor="let bankAccount of model.user_linked_documents; let i = index">
                        <div class="row">
                              <div class="col-md-8">
                                    <input class="input-field" type="text"
                                          [(ngModel)]="bankAccount.user_document.name_en" name="name_en{{ i }}"
                                          disabled />

                                    <i class="fa fa-plus-circle icon" aria-hidden="true"
                                          *ngIf="!bankAccount.document_link" style="cursor: pointer;"
                                          (click)="openAddFolder(bankAccount,i)"></i>
                                    <i class="fa fa-check icon" aria-hidden="true"
                                          *ngIf="bankAccount.document_link"></i>
                              </div>
                              <div class="col-md-2">
                                    <i class="fa fa-eye icons" *ngIf="bankAccount.document_link"
                                          (click)="viewDocument(bankAccount?.document_link)"
                                          style="cursor: pointer;"></i>
                              </div>
                              <div class="col-md-2">
                                    <i class="fa fa-trash iconss" *ngIf="bankAccount.document_link" aria-hidden="true"
                                          (click)="deletePopup(i, bankAccount.id)"
                                          title="{{'table.title.delete' | translate}}"></i>
                              </div>
                        </div>

                  </div>
            </div>
            <div *ngIf="model.user_linked_documents.length == 0" style="text-align: center; color: black;">
                  <h5>No Record Available</h5>
            </div>
      </div>

      <a href="javascript://" data-toggle="modal" data-target="#add-folder" #folderModalOpen></a>

      <div class="modal animated" id="add-folder">
            <div class="modal-dialog fadeIndown" style="margin-top: 13%;">
                  <div class="modal-content notary-avail">
                        <div class="modal-header popup-header">
                              <h4>{{ 'addForm.uploadDoc' | translate }}</h4>
                              <button style="display: none;" type="button" class="close" data-dismiss="modal"
                                    #docsModalClose>&times;</button>
                              <button type="button" class="close" (click)="closeModal()">&times;</button>
                        </div>

                        <div class="modal-body">
                              <div class="white-bg">
                                    <div class="row">
                                          <div class="col-8">
                                                <p class="p16 marginB0">{{folderName}}</p>
                                          </div>
                                          <div class="col-4 text-right">
                                                <a class="add" href="javascript://" (click)="addDocs()">
                                                      <img *ngIf="parameter.loading" src="assets/img/loader_gif.gif"
                                                            height="20">
                                                      {{'commonBlock.add' | translate}}
                                                </a>

                                                <ng-template #noAddPermissiom>
                                                      <a class="add" href="javascript://">{{'commonBlock.add' |
                                                            translate}}</a>
                                                </ng-template>
                                          </div>
                                    </div>
                              </div>
                              <div class="form-group-2">
                                    <div class="form-group">
                                          <input type="file" name="docFile" id="folderId" #docsFile
                                                accept=".doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/pdf,image/x-png,image/jpg,image/jpeg"
                                                (change)="onSelectFile($event.target.files,folderId)">
                                    </div>
                              </div>

                        </div>
                  </div>
            </div>
      </div>

</div>