@media (max-width:1280px){
.table.table-striped tr td, .table.table-striped tr th{ padding:.5rem;  }
}

@media only screen and (min-width:1024px) and (max-width:1280px) {
  .steps ul li {
   
    width: 25%;
}


}
@media only screen and (min-width:768px) and (max-width:992px) {
  .cust-tabs .nav-item .nav-link {
  
    padding: 8px;
    margin-right: 1px;
    
}

.project-des-content {
 
    width: 73%;
    
}

.float-right.right-side{ float:left !important;   }
}
@media (max-width:768px){
  .sigle-row-table .table.table-striped tr td {
     text-align:center !important; 
    display: block;
}
.steps ul li {
 
    width: 50%;
   
    margin-bottom: 15px;
}

.steps .d-flex{    
  display: block !important;
    width: 100%;}
  .chat-name-list, .chat-window {
    min-height: unset;
}
 .chat-with-developer {
 
    margin-top: 30px;
}
.float-right.right-side{ float:left !important;   }
}
@media only screen and (min-width:576px) and (max-width:767px){}
@media (max-width:767px){
#side-menu-bar .scrollbox{height:auto; } 
   #side-menu-bar {
    width: auto;
    background-color:#131313;
    position: fixed;
    height: auto;
    top: 0;
    right: 0;
    padding: 0 15px;
}
.navbar-brand {
    display: block;
}
#content {
    padding-left: 0;
    margin-left: 0;
    padding-right: 0;
}
.form-group.marginB0{margin-bottom:15px !important;  }

.list-group-items ul li {
 
    margin-right:25px;
 
}

.upload-cover-img {
    height: 250px;
   
}

.upload-cover-img.upload-cover-small {
 
    margin-bottom: 0;
    margin-top: 30px;
}

.login h2 {
    margin-top: 0;
    font-size: 2rem;
     
}
.form-horizontal{margin-top: 15px;}
.login {
    padding-top: 5rem;
}

.nav-tabs .nav-item {
    margin-bottom: 10px;
    width: 50%;
}
.chat-user p {
  
    width: 90%;
}
.chat-text .chat-input {
    width: 70%;
    
}
 

}
@media (max-width:575px){}