
<div class="container-fluid">
  <div class="white-bg padding15">
    <div class="row">
      <div class="col-md-6">
        <div class="title-group">
          <h5>Add New Property</h5>
        </div>
      </div>
      <!-- <div class="col-md-6">
        <div class="btn-cont text-right">
          <a class="btn-third btn" href="javascript://" (click)="setTab(tab+1)" *ngIf="tab != 3">Next</a>
          <a class="btn-third btn" href="javascript://" *ngIf="tab == 3">Submitt</a>
        </div>
      </div> -->
    </div>
  </div>
  
  <ngx-loading [show]="parameter.loading"></ngx-loading>

  <div class="spacer10"></div>
  
  <div class="white-bg padding15">
    <div class="steps">
      <ul class="d-flex">
        <li [ngClass]="{'current': tab == 1}"><span></span><a (click)="setTab(1)">Create Draft</a></li>
        <li [ngClass]="{'current': tab == 2}"><span></span><a (click)="setTab(2)">Additional Info</a></li>
        <li [ngClass]="{'current': tab == 3}"><span></span><a (click)="setTab(3)">Preferable Buyers</a></li>
        <li [ngClass]="{'current': tab == 4}"><span></span><a (click)="setTab(4)">Custom</a></li>
        <li [ngClass]="{'current': tab == 5}"><span></span><a (click)="setTab(5)">Tag a Building</a></li>
        <li [ngClass]="{'current': tab == 6}"><span></span><a (click)="setTab(6)">Submit</a></li>
        <!-- <li [ngClass]="{'current': tab == 1}" [ngClass]="{'selected': tab > 1}"><span></span><a>Create Draft</a></li>
        <li [ngClass]="{'current': tab == 2}" [ngClass]="{'selected': tab > 2}"><span></span><a>Additional Info</a></li>
        <li [ngClass]="{'current': tab == 3}" [ngClass]="{'selected': tab > 3}"><span></span><a>Preferable Buyers</a></li>
        <li [ngClass]="{'current': tab == 4}" [ngClass]="{'selected': tab > 4}"><span></span><a>Custom</a></li>
        <li [ngClass]="{'current': tab == 5}" [ngClass]="{'selected': tab > 5}"><span></span><a>Tag a Building</a></li>
        <li [ngClass]="{'current': tab == 6}" [ngClass]="{'selected': tab > 6}"><span></span><a>Submit</a></li> -->
      </ul>
    </div>
  </div>

  <div class="spacer10"></div>

  <form  ngNativeValidate #addForm="ngForm">
    
    <!-- tab-1 -->
    <div class="white-bg" *ngIf="tab==1">
      <div class="page-title">
        <h3>Create Draft</h3>
      </div>
      <div class="padding40">
      <div class="form-group-3">
        <label>This Property is available for?</label>
        <div class="clearfix"></div>
        <label class="cust-radio">
          <input [(ngModel)]="model.for_sale" name="for_sale" type="checkbox" checked="model.for_sale == 1 ? checked: ''">
          <span class="checkmark">Buy</span>
        </label>
        <label class="cust-radio"> 
          <input [(ngModel)]="model.for_rent" name="for_rent" type="checkbox" checked="model.for_rent == 1 ? checked: ''">
          <span class="checkmark">Rent</span>
        </label>
        <div class="clearfix"></div>
      </div>
        <div class="spacer15"></div>
        <div class="row">
          <div class="col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="form-group-3">
              <label>Select Country</label>
              <select title="Choose Country" class="form-control" (change)="getStates($event.target.value)">
                <option value="" [selected]="model.country_id == ''" disabled>Select Country</option>
                <option *ngFor="let country of parameter.countries" value="{{country.id}}" [selected]="country.id == model.country_id">{{country.name_en}}</option>
              </select>
            </div>   
          </div>
          <div class="col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="form-group-3">
              <label>&nbsp;</label>
              <select title="Choose State" class="form-control" (change)="getCities($event.target.value)">
                <option value="" [selected]="model.state_id == ''" disabled>Select State</option>
                <option *ngFor="let state of parameter.states" value="{{state.id}}" [selected]="state.id == model.state_id">{{state.name_en}}</option>
              </select>
            </div>   
          </div>
          <div class="col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="form-group-3">
              <label>&nbsp;</label>
              <select title="Choose City" class="form-control" (change)="getLocalities($event.target.value)">
                <option value="" [selected]="model.city_id == ''" disabled>Select City</option>
                <option *ngFor="let city of parameter.cities" value="{{city.id}}" [selected]="city.id == model.city_id">{{city.name_en}}</option>
              </select>
            </div>   
          </div>
          <div class="col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="form-group-3">
              <label>&nbsp;</label>
              <select title="Choose Locality" class="form-control" (change)="setLocality($event.target.value)">
                <option value="" [selected]="model.locality_id == ''" disabled>Select Locality</option>
                <option *ngFor="let locality of parameter.localities" value="{{locality.id}}" [selected]="locality.id == model.locality_id">{{locality.name_en}}</option>
              </select>
            </div>   
          </div>
        </div>
      <div class="spacer15"></div>

      <div class="form-group-3">
        <label>Select Configuration?</label>
        <div class="clearfix"></div>
        <label class="cust-radio" *ngFor="let configuration of parameter.items">
          <input type="radio" (change)="setConfiguration(configuration.id)" value="{{configuration.id}}" checked="model.configuration_id == configuration.id ? checked : ''" name="configuration_id">
          <span class="checkmark">{{configuration.name_en}}</span>
        </label>
        <div class="clearfix"></div>
      </div>
      <div class="spacer15"></div>

      <div class="form-group-3">
        <label>Select Property Type?</label>
        <div class="clearfix"></div>
        <label class="cust-radio" *ngFor="let propertyType of parameter.propertyTypes">
          <input type="radio" (change)="setPropertyType(propertyType.id)" value="{{propertyType.id}}" checked="model.property_type_id == propertyType.id ? checked : ''" name="property_type_id">
          <span class="checkmark">{{propertyType.name_en}}</span>
        </label>
        <div class="clearfix"></div>
      </div>

      <div class="spacer15"></div>
        <div class="row" *ngFor="let carpet_area of model.carpet_areas; let c = index;">
          <div class="col-md-4 col-sm-12 col-12">
            <div class="form-group-3">
              <label>Enter Carpet Area</label>
              <input class="form-control" required type="text" name="area[{{c}}]" placeholder="Area should be in Sq/ft." [(ngModel)]="carpet_area.area">
            </div> 
          </div>
          <div class="col-md-4 col-sm-12 col-12">
            <div class="form-group-3">
              <label>Enter Average Price</label>
              <input class="form-control" required type="text" name="price[{{c}}]" placeholder="Amount should be in $" [(ngModel)]="carpet_area.price">
            </div> 
          </div>
          <div class="col-md-4 col-sm-12 col-12" *ngIf="c>0">
            <div class="btn-cont form-group-3">
              <a href="javascript://" class="btn delete-button" (click)="model.carpet_areas.splice(c, 1)">
                <img src="assets/img/delete-button.png" width="40">
              </a>
            </div> 
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 btn-cont">
              <a href="javascript://" class="btn-third btn" (click)="model.carpet_areas.push({area: '', price: ''})">Add More</a>
          </div>
        </div>
      
        <div class="row">
          <div class="col-md-12">
            <div class="btn-cont text-right">
              <a class="btn-third btn" href="javascript://" (click)="addProperty(addForm, 2)">Next</a>
            </div>
          </div>
        </div>

      </div>
    </div>


    <!-- tab-2 -->
    <div class="white-bg" *ngIf="tab==2">
      <div class="page-title">
        <h3>Additional Info</h3>
      </div>
      <div class="padding40">
        <div class="form-group-3">
        <label>Add Images of your Property</label>
          <div class="row">
            <div class="col-md-7 col-sm-12 col-12">
              <div class="upload-cover-img" [style.background-image]="image1">
                <!-- <img *ngIf="url" [src]="url" height="200"> -->
                <div class="upload-caption">
                  <div class="fig-block"> 
                    <img src="assets/img/placeholder-img.png" alt="img">
                  </div>
                  <p class="green-color marginT30">+Upload Cover image for the project</p>
                  <p>JPG or PNG. Image size should be 1920 × 1080 pixels (for HiDPI displays).</p>
                </div>  
                <input type="file" name="" accept="image/*" (change)="onSelectFile1($event)">
              </div>
            </div>
            <div class="col-md-5 col-sm-12 col-12">
              <div class="upload-cover-img upload-cover-small" [style.background-image]="image3">
                <input type="file" name="" accept="image/*" (change)="onSelectFile3($event)">
                <div class="upload-caption">
                  <p class="green-color marginT30">+ Add Floor plan</p>
                </div> 
              </div>

              <div class="upload-cover-img upload-cover-small" [style.background-image]="image2">
                <!-- <input type="file" name="" accept="image/*" (change)="onSelectFile2($event)"> -->
                <div class="upload-caption">
                  <!-- <p class="green-color marginT30">+ Add more image</p> -->
                  <p class="green-color marginT30" data-toggle="modal" data-target="#add-more-img">+ Add more images</p>
                </div> 
              </div>
            </div>
          </div>
        </div> 

      <div class="row">
        <!-- <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="form-group-3">
            <label>Total Area</label>
            <input class="form-control" type="number" name="" placeholder="in sq.ft.">
          </div>   
        </div> -->
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="form-group-3">
            <label>Floors</label>
            <input class="form-control" min="1" [(ngModel)]="model.floor" type="number" name="floor" placeholder="in numbers">
          </div>   
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="form-group-3">
            <label>Bedrooms</label>
            <input class="form-control" min="1" [(ngModel)]="model.bedroom" type="number" name="bedroom" placeholder="in numbers">
          </div>   
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="form-group-3">
            <label>Bathrooms</label>
            <input class="form-control" min="1" [(ngModel)]="model.bathroom" type="number" name="bathroom" placeholder="in numbers">
          </div>   
        </div>
      </div>
      <div class="form-group-3">
        <label>Is Parking Available?</label>
        <div class="clearfix"></div>
        <label class="cust-radio">
          <input type="radio" value="1" [(ngModel)]="model.parking" checked="model.parking == 1 ? checked: ''" name="parking">
          <span class="checkmark">Yes</span>
        </label>
        <label class="cust-radio"> 
          <input type="radio" value="0" [(ngModel)]="model.parking" checked="model.parking == 0 ? checked: ''" name="parking">
          <span class="checkmark">No</span>
        </label>
        <div class="clearfix"></div>
      </div>
      <div class="spacer15"></div>
      <div class="form-group-3">
        <label>Is Property Furnished?</label>
        <div class="clearfix"></div>
        <label class="cust-radio">
          <input type="radio" value="1" name="furnished" [(ngModel)]="model.furnished" checked="model.furnished == 1 ? checked: ''">
          <span class="checkmark">Yes</span>
        </label>
        <label class="cust-radio"> 
          <input type="radio" value="0" name="furnished" [(ngModel)]="model.furnished" checked="model.furnished == 0 ? checked: ''">
          <span class="checkmark">No</span>
        </label>
        <div class="clearfix"></div>
      </div>

      <div class="form-group-3">
        <label>Description</label>
        <textarea [(ngModel)]="model.description" placeholder="Enter description" name="description" class="form-control"></textarea>
      </div>

      <div class="spacer15"></div>
      <div class="form-group-3">
        <label>How much quantity do you have?</label>
        <div class="clearfix"></div>
        <label class="cust-radio">
          <input type="radio" checked="model.quantity == '1' ? checked: ''" name="quantity">
          <span class="checkmark">1</span>
        </label>
        <label class="cust-radio"> 
          <input type="radio" checked="model.quantity == '2' ? checked: ''" name="quantity">
          <span class="checkmark">2</span>
        </label>
        <label class="cust-radio">
          <input type="radio" checked="model.quantity == '3' ? checked: ''" name="quantity">
          <span class="checkmark">3</span>
        </label>
        <label class="cust-input">
          <input type="text" min="4" [(ngModel)]="model.quantity" name="quantity" placeholder="Enter">
        </label>
        <div class="clearfix"></div>
      </div>

      <div class="spacer15"></div>
      <div class="form-group-3">
        <label>List of Amenties with this property</label>
        <!-- <div class="list-group-items">
          <ul>
            <li *ngFor="let amenity of parameter.amenities" (click)="setAmenity(amenity.id)">
              <div class="fig-block"><img [src]="amenity.icon" alt="img" class="width100"></div>
              <p class="p13">{{amenity.name_en}}</p>
            </li>
          </ul>
        </div> -->

        <div class="inline-form-group form-group-3 paddingleft0">
          <div class="row">
              <!-- <div class="col-md-4">
                <label>Property Configuration</label>
              </div> -->
              <div class="col-md-8">
                <input type="text" list="amenities" name="amen" [(ngModel)]="amen">
                <datalist id="amenities">
                  <option *ngFor="let amenity of parameter.amenities" value="{{amenity.name_en}}">
                </datalist>
                <button class="add-btn" (click)="addAmenity(amen)"><img src="assets/img/add.png" alt="img"></button>
                
                <!-- <span class="tag" *ngFor="let a of amenityList; let aIndex=index;">
                <a href="javascript://" (click)="removeAmenity(aIndex)">
                  <img src="assets/img/close-tag.png" alt="img"></a>
                {{a.name_en}}
                </span> -->
                
                <div class="list-group-items" *ngIf="amenityList">
                  <ul>
                    <li *ngFor="let a of amenityList; let aIndex=index;">
                      <a href="javascript://" (click)="removeAmenity(aIndex)" class="close">&times;</a>
                      <div class="fig-block"><img class="width100" src="{{a.icon}}" alt="img"></div>
                      <p class="p13">{{a.name_en}}</p>
                    </li>
                  </ul>
                </div>
              </div>
          </div>
        </div>
      </div>

      <div class="spacer15"></div>
      <div class="form-group-3">
        <label>List of Banks</label>
        <div class="inline-form-group form-group-3 paddingleft0">
          <div class="row">
              <!-- <div class="col-md-4">
                <label>Property Configuration</label>
              </div> -->
              <div class="col-md-8">
                <input type="text" list="banks" name="bank" [(ngModel)]="bank">
                <datalist id="banks">
                  <option *ngFor="let tBank of parameter.banks" value="{{tBank.name}}">
                </datalist>
                <button class="add-btn" (click)="addBank(bank)"><img src="assets/img/add.png" alt="img"></button>
                <!-- <span class="tag" *ngFor="let b of bankList; let bIndex=index;">
                <a href="javascript://" (click)="removeBank(bIndex)"><img src="assets/img/close-tag.png" alt="img"></a>
                {{b.name}}
                </span> -->

                <div class="list-group-items" *ngIf="bankList">
                  <ul>
                    <li *ngFor="let b of bankList; let bIndex=index;">
                      <a href="javascript://" (click)="removeBank(bIndex)" class="close">&times;</a>
                      <div class="fig-block"><img class="width100" src="{{b.image}}" alt="img"></div>
                      <p class="p13">{{b.name}}</p>
                    </li>
                  </ul>
                </div>

              </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="btn-cont text-right">
            <a class="btn-third btn" href="javascript://" (click)="addProperty(addForm, 3)">Next</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>




    <!-- tab-3 -->
    <div class="white-bg" *ngIf="tab==3">
        <div class="page-title">
          <h3>Preferable Buyers</h3>
        </div>
        <div class="padding40">
        <div class="form-group-3">
          <label>Marital Status?</label>
          <div class="clearfix"></div>
          <label class="cust-radio" *ngFor="let m of testMarital; let mi=index">
            <input type="checkbox" value="{{m.id}}" name="marital_status" (click)="addMaritalStatus(m.id, mi)" checked="{{m.checked}}">
            <span class="checkmark">{{m.name}}</span>
          </label>
          <!-- <label class="cust-radio"> 
            <input type="checkbox" value="2" name="marital_status" [(ngModel)]="model.marital_status" checked="model.marital_status == 2 ? checked: ''">
            <span class="checkmark">Unmarried</span>
          </label>
          <label class="cust-radio"> 
            <input type="checkbox" value="3" name="marital_status" [(ngModel)]="model.marital_status" checked="model.marital_status == 3 ? checked: ''">
            <span class="checkmark">Divorced</span>
          </label> -->
          <div class="clearfix"></div>
        </div>
        <div class="spacer15"></div>
        <div class="form-group-3">
          <label>Pets Allowed?</label>
          <div class="clearfix"></div>
          <label class="cust-radio">
            <input type="radio" value="1" [(ngModel)]="model.pets" checked="model.pets == 1 ? checked: ''" name="pets">
            <span class="checkmark">Allowed</span>
          </label>
          <label class="cust-radio"> 
            <input type="radio" value="0" [(ngModel)]="model.pets" checked="model.pets == 0 ? checked: ''" name="pets">
            <span class="checkmark">Not Allowed</span>
          </label>
          <div class="clearfix"></div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="btn-cont text-right">
              <a class="btn-third btn" href="javascript://" (click)="addProperty(addForm, 4)">Next</a>
            </div>
          </div>
        </div>
        
      </div>
    </div>



    <!-- tab-4 -->
    <div class="white-bg" *ngIf="tab==4">
        <div class="page-title">
          <h3>Custom</h3>
        </div>
        <div class="padding40">
        <h5>Any information we missed, you want to add custom</h5>
        <div class="row" *ngFor="let custom_attribute of model.custom_attributes; let c = index;">
          <div class="col-md-4 col-sm-12 col-12">
            <div class="form-group-3">
              <label>Enter Parameter</label>
              <input class="form-control" required type="text" [(ngModel)]="custom_attribute.name" name="name" placeholder="Enter parameter">
            </div> 
          </div>
          <div class="col-md-4 col-sm-12 col-12">
            <div class="form-group-3">
              <label>Enter Value</label>
              <input class="form-control" required type="text" [(ngModel)]="custom_attribute.value" name="value" placeholder="Enter value">
            </div> 
          </div>
          <div class="col-md-4 col-sm-12 col-12" *ngIf="c>0">
            <div class="btn-cont ">
              <a href="javascript://" class="btn delete-button" (click)="model.custom_attributes.splice(c, 1)">
                <img src="assets/img/delete-button.png" width="40">
              </a>
            </div> 
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 btn-cont">
              <a href="javascript://" class="btn-third btn" (click)="model.custom_attributes.push({name: '', value: ''})">Add More</a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="btn-cont text-right">
              <a class="btn-third btn" href="javascript://" (click)="addProperty(addForm, 5)">Next</a>
            </div>
          </div>
        </div>
        
      </div>
    </div>

    

    <!-- tab-5 -->
    <div class="white-bg" *ngIf="tab==5">
      <div class="page-title">
        <h3>Tag a Building</h3>
      </div>
      <div class="padding40">
        <p class="p16">Search your building in Our Database</p>
        <div class="searh">
          <input type="text" #buildingname name="buildingName" [(ngModel)]="buildingName">
          <button (click)="searchBuilding(buildingname.value)">Search</button>
        </div>
        <div class="spacer50"></div>
        
        <div *ngIf="parameter.buildingCount != 0" class="white-bg">
          <div class="tabel-section">
            <div class="table-responsive">
    
            <table class="table table-striped">
                <tr>
                  <th>Name</th>
                  <th>Choose Building</th>
                </tr>

                <tr *ngFor="let item of parameter.buildings; let i = index">
                  <td class="text-left">{{item.name}}</td>
                  <td>
                    <input type="radio" name="building_id" (change)="setBuildingId(item.id)">                      
                  </td>
                </tr>
              </table>
            </div>
          </div>
    
          <div class="row">
            <div class="col-md-12">
              <div class="btn-cont text-right">
                <a class="btn-third btn" href="javascript://" (click)="tagBuilding()">Next</a>
              </div>
            </div>
          </div>
      </div>

        <p *ngIf="parameter.buildingCount == 0 && showText" class="p18">Didn’t Found your Building? <strong><span (click)="showBuildingDetails(true)" class="green-color cursor-pointer">Generate a Request to add a building by our Data collectors</span></strong></p>
        <div *ngIf="showBuilding" class="spacer50"></div>

        <div *ngIf="showBuilding" class="row">
          <div class="col-lg-7 col-md-12 col-sm-12 col-12">
            <div class="row">
              <div class="col-sm-6 col-12">
                <div class="form-group-3">
                  <label>Name of Building</label>
                  <input required class="form-control" type="text" name="name" [(ngModel)]="building.name" placeholder="Enter name of building">
                </div>
              </div>
              <div class="col-sm-6 col-12">
                <div class="form-group-3">
                  <label>Where it is located?</label>
                  <!-- <input class="form-control" type="text" name="address" [(ngModel)]="building.address" placeholder="Enter address"> -->
                  <input required placeholder="search for location" autocorrect="off" autocapitalize="off" 
                    spellcheck="off" type="text" class="form-control" #search (input)="loadPlaces()"
                    [formControl]="searchControl" [(ngModel)]="building.address" name="address">
                </div>
              </div>
            </div>
            <label class="label-optional">Developer Details (optional)</label>
            <div class="row">
              <div class="col-sm-6 col-12">
                <div class="form-group-3">
                  <label>Name of Developer</label>
                  <input class="form-control" type="text" name="dev_name" [(ngModel)]="building.dev_name">
                </div>
              </div>
              <div class="col-sm-6 col-12">
                <div class="form-group-3">
                  <label>Contact Number</label>
                  <input minlength="6" maxlength="16" autocomplete="off" type="text" class="form-control" id="dev_phone" required [(ngModel)]="building.dev_phone" name="dev_phone"
                      ng2TelInput [ng2TelInputOptions]="initialCountry" (countryChange)="onCountryChange($event)" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-12">
                <div class="form-group-3">
                  <label>Email Address</label>
                  <input class="form-control" type="text" name="dev_email" [(ngModel)]="building.dev_email">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-12 col-sm-12 col-12">
            <div class="form-group-3 mark-pin-map">
              <label>Mark Pin on Map</label>
              <!-- <input placeholder="search for location" autocorrect="off" autocapitalize="off" 
              spellcheck="off" type="text" class="form-control" #search (input)="loadPlaces()"
              [formControl]="searchControl"> -->
            </div>
            <div>
              <!-- <div id="mapDiv" style="height: 250px; width: 100%;" #mapDiv></div> -->
              <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" (mapClick)="placeMarker($event)"[zoom]="zoom">
                <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
              </agm-map>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="btn-cont text-right">
              <a class="btn-third btn" href="javascript://" (click)="buildingRequest()">Next</a>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  
  </form>

<!-- Add More img -->
<div class="modal add-more-popup" id="add-more-img">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Images</h4>
          <button type="button" style="display: none;" class="close" data-dismiss="modal" #modalClose>&times;</button>
          <button type="button" class="close" (click)="closeModal()">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <div class="uploaded-img-block">
            <div class="uploaded-img" *ngFor="let imageUrl of url2; let iu=index">
                  <a class="remove" (click)="removeImage(iu)">
                    <img src="assets/img/remove-icon.png" alt="img">
                  </a>
                  <img *ngIf="imageUrl" class="u-img" [src]="imageUrl" alt="img">
                  <img *ngIf="!imageUrl" class="u-img" src="http://via.placeholder.com/300x300" alt="img">
            </div>
          </div> 
          <div class="add-more-images">
              <input type="file" name="" multiple max="6" accept="image/*" (change)="onSelectFile2($event)">
              <span>+ Add more images</span>
          </div>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer btn-cont">
          <button type="button" class="btn btn-primary" (click)="saveImages()" data-dismiss="modal">Submit</button>
        </div>
  
      </div>
    </div>
  </div>
</div>
