
<ngx-loading [show]="parameter.loading"></ngx-loading>
<div class="container-fluid">
    <div class="row" *ngIf="admin?.admin_acl['Data Collector Lead Management']?.can_read==1">
        <div class="col-md-4">
            <div class="form-group">
            <p class="p16">Manage Data Collector's Leads</p>
            <div class="d-flex">
            <button (click)="removeCsrUser()" class="all-btn">All</button>

            <div class="autocomplete">
            <input style="max-width:200px" list="amenities" [(ngModel)]="parameter.keyword" (input)="getCsrListing()" class="form-control" type="text" name="keyword" (focusout)="closeCsrListing()">
            <!-- <input type="text"  (keyup.enter)="addAmenity(amen)" name="amen" [(ngModel)]="amen"> -->
            <div id="myInputautocomplete-list" class="autocomplete-items">
                <div *ngFor="let item of users" (click)="selectCsrUser(item)">{{item.email}}</div>
            </div>
            </div>
            
            </div>
            </div>
        </div>
        <div class="col-md-2">
        <div class="form-group">
        <label>Country</label>
        <select class="form-control" (change)="onCountryChange($event.target.value)">
            <option value="0">All</option>
            <option *ngFor="let item of location.countries" [value]="item.id">{{item.name}}</option>
        </select>
        </div>
        </div>
        <div class="col-md-2">
        <div class="form-group">
        <label>State</label>
        <select class="form-control" (change)="onStateChange($event.target.value)">
            <option value="0">All</option>
            <option *ngFor="let item of location.states" [value]="item.id">{{item.name}}</option>
        </select>
        </div>
        </div>
        <div class="col-md-2">
        <div class="form-group">
        <label>City</label>
            <select class="form-control" (change)="onCityChange($event.target.value)">
            <option value="0">All</option>
            <option *ngFor="let item of location.cities" [value]="item.id">{{item.name}}</option>
            </select>
        </div>
        </div>

        <div class="col-md-2">
        <div class="form-group">
        <label>Locality</label>
        <select class="form-control" (change)="onLocalityChange($event.target.value)">
            <option value="0">All</option>
            <option *ngFor="let item of location.localities" [value]="item.id">{{item.name}}</option>
        </select>
        </div>
        </div>
    </div>

  <div class="row">
      <div class="col-md-12">
        <div class="cust-tabs-2">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                  <a class="nav-link" [ngClass]="{'active':parameter.flag==1}" (click)="changeFlag(1)" >This Week</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" [ngClass]="{'active':parameter.flag==2}" (click)="changeFlag(2)" >This Month</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" [ngClass]="{'active':parameter.flag==3}" (click)="changeFlag(3)" >Last Month</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" [ngClass]="{'active':parameter.flag==4}" (click)="changeFlag(4)" >Lifetime</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" [ngClass]="{'active':parameter.flag==5}" (click)="parameter.flag=5" >Custom</a>
              </li>
            </ul>
        </div>
      </div>
      <div class="col-12">
        <hr style="margin-top:0;">
        <div *ngIf="parameter.flag == 5" class="pull-right btn-cont">
            From:<input type="date" [ngModel] ="parameter.min | date:'yyyy-MM-dd'" max="{{today| date:'yyyy-MM-dd'}}" (ngModelChange)="parameter.min = $event; parameter.max=''" />
            To:<input type="date" [ngModel] ="parameter.max | date:'yyyy-MM-dd'" min="{{parameter.min | date:'yyyy-MM-dd'}}" max="{{today| date:'yyyy-MM-dd'}}" (ngModelChange)="parameter.max = $event" />
            <button class="btn btn-primary" href="javascript://" (click)="getListing()" [disabled]="
            parameter.flag == 5 && (!parameter.min || !parameter.max)
            ">Go</button>
        </div>
      </div>
  </div>

  <div *ngIf="selectedUser as item" class="sigle-row-table">
        <table class="table table-striped">
        <tbody><tr>
            <td> <img class="rounded-circle" [src]="item.image" onerror='this.src="http://via.placeholder.com/50x50"' alt="img"></td>
            <td class="text-left">
                <span class="name">{{item.name}}</span>
            </td>
            <td class="text-left">
                {{item.phone}}
            </td>
            <td class="text-left">
                {{item.email}}
            </td>
            <td>
                <a (click)="removeCsrUser()" href="javascript://" class="icon-block edit-icon"><img src="assets/img/remove-icon.png" alt="remove" title="remove" /></a>
                <!-- <a href="javascript://" class="icon-block edit-icon"><img src="assets/img/edit.png" alt="img"></a>
                <a href="javascript://" class="icon-block block-icon"><img src="assets/img/block.png" alt="img"></a> -->
            </td>
            </tr>
        </tbody>
        </table>
  </div>

  <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12 col-12">
        <div class="info-box">
            <div class="one-row" [ngClass]="{'active':parameter.count_flag == '1'}" (click)="changeCountFlag(1)">
              <div class="o-block">
                  <h5>Buildings</h5>
                  <small>Requests Pending</small>
              </div>
              <div class="o-block">
                  <a class="view-all" href="javascript://">View All</a>
                  <h4>{{dash.request_pending_total}}</h4>
              </div>
            </div>
            <div class="three-row">
              <div class="t-block" [ngClass]="{'active':parameter.count_flag == '2'}" (click)="changeCountFlag(2)">
                  <p><strong>{{dash.request_pending_admin}}</strong></p>
                  <p>Admin</p>
              </div>
              <div class="t-block" [ngClass]="{'active':parameter.count_flag == '3'}" (click)="changeCountFlag(3)">
                  <p><strong>{{dash.request_pending_csr}}</strong></p>
                  <p>CSR</p>
              </div>
              <div class="t-block" [ngClass]="{'active':parameter.count_flag == '4'}" (click)="changeCountFlag(4)">
                  <p><strong>{{dash.request_pending_user}}</strong></p>
                  <p>User</p>
              </div>
            </div>
        </div>
      </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-12">
        <div class="four-block">
            <div class="d-flex">
              <div class="f-block approved">
                  <h5>Approved</h5>
                  <h3>{{dash.building_approved}}</h3>
              </div>
              <div class="f-block unapproved">
                  <h5>Unapproved</h5>
                  <h3>{{dash.building_unapproved}}</h3>
              </div>
            </div>
            <div class="d-flex">
              <div class="f-block pending">
                  <h5>Pending</h5>
                  <h3>{{dash.building_pending}}</h3>
              </div>
              <div class="f-block unapproved">
                  <h5>In Draft</h5>
                  <h3>{{dash.building_draft}}</h3>
              </div>
            </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-12">
            <div class="chat-msg all-leads" style="padding:0px;height:185px;">
                <div class="padding20" *ngIf="dash?.request_pending_total == 0">No records found</div>
                <ngx-charts-pie-chart [results]="chartView"></ngx-charts-pie-chart>
            </div>
      </div>
  </div>

  <div class="row">
      <div class="col-12">
        <div class="spacer40"></div>
      </div>
      <div class="col-6">
        <div class="title-group">
            <h5>Leads
                <span *ngIf="parameter.count_flag == 1">(Total Request)</span>
                <span *ngIf="parameter.count_flag == 2">(Admin Request)</span>
                <span *ngIf="parameter.count_flag == 3">(CSR Request)</span>
                <span *ngIf="parameter.count_flag == 4">(User Request)</span>
            </h5>
            <p>
            <!-- Showing {{parameter.page}} out of {{parameter.total_count}} -->
            </p>
        </div>
      </div>
      <div class="col-6">
            <div class="add-new text-right">
                <a class="btn" (click)="bulkAssign()" href="javascript://">Bulk Re-assign</a>
            </div>
        </div>
  </div>

  <div class="white-bg">
        <div class="tabel-section">
           <div class="table-responsive">
              <table class="table table-striped table-align-left vertical-align-top border-0">
                 <tr>
                        <!-- class="border-top-0" -->
                    <th style="width:6%">
                        <div class="table-search">
                            <label>All</label>
                            <div>
                                <label class="cust-check-bx" >
                                    <input class="width1" type="checkbox" (click)="selectAll(parameter.is_selected)" name="document">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </th>

                    <!-- <th>Image</th> -->
                    <th style="width:20%">
                        <div class="table-search">
                        <label>Name of Building</label>
                        <div class="searh-3">
                            <input autocomplete="off" type="text" name="name" [(ngModel)]="parameter.name" (keyup.enter)="getListing()">
                            <button *ngIf="parameter.name" (click)="getListing()"><i class="fa fa-search"></i></button>
                        </div>
                        </div>
                    </th>
                    <th style="width:20%; text-align:left;">
                        <div class="table-search">
                        <label>Address</label>
                        <div class="searh-3">
                            <input autocomplete="off" type="text" name="name" [(ngModel)]="parameter.location" (keyup.enter)="getListing()">
                            <button *ngIf="parameter.address" (click)="getListing()"><i class="fa fa-search"></i></button>
                        </div>
                        </div>
                    </th>
                    <th style="width:20%">
                        <div class="table-search">
                        <label>Developer</label>
                        <div class="searh-3">
                            <input autocomplete="off" type="text" name="name" [(ngModel)]="parameter.developer" (keyup.enter)="getListing()">
                            <button *ngIf="parameter.email" (click)="getListing()"><i class="fa fa-search"></i></button>
                        </div>
                        </div>
                    </th>
                    <th style="width:20%;">
                        <div class="table-search">
                            <label>Contact <br>Email</label>
                        </div>
                    </th>
                    <th style="width:14%">
                        <div class="table-search">
                            <label>Assignee</label>
                        </div>
                    </th>
                    <th style="width:14%">
                        <div class="table-search">
                            <label>Mark<br>Complete</label>
                        </div>
                    </th>
                 </tr>
                 <tr *ngFor="let item of items| paginate: { itemsPerPage: parameter.itemsPerPage, currentPage: parameter.p, totalItems: parameter.total }">
                    <!-- <td>
                        <a href="javascript://"><img *ngIf="item.image" class="rounded-circle" [src]="item.image" alt="img">
                        <img *ngIf="!item.image" class="rounded-circle" src="assets/img/default_img.png" alt="img">
                        </a>
                    </td> -->
                    <td (click)="$event.stopPropagation()">
                        <label class="cust-check-bx" >
                        <input type="checkbox" [(ngModel)]="item.selected" name="document">
                        <span class="checkmark"></span>
                        </label>
                    </td>
                    <td><strong>{{item.name}}</strong></td>
                    <td>{{item.address}}
                    </td>
                    <td>
                        <span>{{item?.dev_name}}</span>
                        <span *ngIf="!item.dev_name" >NA</span>
                    </td>
                    <td *ngIf="item.dev_phone || item.dev_mail">
                        {{item?.dev_countrycode ? item.dev_countrycode : constant.dial_code}}-{{item?.dev_phone}}<br>
                        {{item?.dev_mail}}
                    </td>
                    <td *ngIf="!item.dev_phone && !item.dev_mail">NA</td>
                    <td>{{item?.collector?.name}}</td>
                    <td style="vertical-align:middle; ">
                        <a title="Completed" *ngIf="item.status==1" style="cursor:auto;" class="green-color fontW500" href="javascript://">Completed</a>
                        <a style="cursor:auto;" *ngIf="admin?.admin_acl['Data Collector Lead Management']?.can_update==0 || admin?.permissions?.can_data_collector==0" class="green-color fontW500" href="javascript://">Mark Complete</a>
                        <a title="Mark Complete" *ngIf="item.status==0 && (admin?.admin_acl['Data Collector Lead Management']?.can_update==1 || admin?.permissions?.can_data_collector==1)" class="green-color fontW500" (click)="changeStatus(item, 1)" href="javascript://">Mark Complete</a>

                       <!-- <button *ngIf="!item.status" (click)="changeStatus(item, 1)" class="action-icon" title="Mark Complete"><img alt="img" src="assets/img/tick.png"></button>
                       <button *ngIf="item.status" (click)="changeStatus(item, 2)" class="action-icon" title="Mark Incomplete"><img alt="img" src="assets/img/tick-selected.png"></button> -->
                    </td>
                 </tr>
              </table>
              <!-- <div class="padding20" *ngIf="parameter.noResultFound">No result found</div> -->
                <div class="padding20 center" *ngIf="parameter.noResultFound">
                    <img src="assets/img/404-error.png">
                </div>

           </div>

           <!-- <div class="spacer30"></div>
           <pagination-controls class="my-pagination" (pageChange)="getPage($event)"></pagination-controls>

            -->
        </div>
     </div>

    <div class="btn-cont text-right marginT15" *ngIf="parameter.total">
        <pagination-controls class="my-pagination" (pageChange)="getPage($event)"></pagination-controls>
    </div>
</div>


<!-- Assignment model -->
<a data-toggle="modal" data-target="#assign-model" #openAssignModel></a>
<div class="modal" id="assign-model">
        <div class="modal-dialog ">
            <div class="modal-content notary-avail">
                <div class="modal-header popup-header">
                <h4 class="modal-title">Re Assign to</h4>
                <button type="button" class="close" data-dismiss="modal" #closeAssignModel>&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8">
                            <input style="max-width:200px" list="amenities" [(ngModel)]="assign.keyword" (input)="getAssignListing()" class="form-control" type="text" name="keyword" placeholder="Search">
                        </div>
                        <div class="col-md-4 btn-cont">
                            <a class="btn btn-primary pull-right" href="javascript://" (click)="assignNow()">Assign</a>
                        </div>
                    </div>
                    <div class="spacer40"></div>
                    <table class="table">
                        <tr *ngFor="let item of assign.items">
                            <td *ngIf="item.is_blocked!=1">
                                <div class="n-avail-profile">
                                <img [src]="item.image" onerror='src="assets/img/default_img.png"' alt="img">
                                <div class="n-avail-info">
                                    <p class="p12">{{item.name}}</p>
                                    <p class="p10">Phone : {{item.dial_code ? item.dial_code : constant.dial_code}}-{{item.phone}}</p>
                                </div>
                                </div>
                            </td>
                            <td *ngIf="item.is_blocked!=1">
                                <label class="cust-check-bx float-right">
                                    <input type="radio" name="notary_id" (click)="assignItem = item">
                                    <span class="checkmark"></span>
                                </label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>