
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <p class="p16">Manage CSR Closure's Lead</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group" *ngIf="admin?.admin_acl['Closer Lead Management']?.can_read==1 && !this.parameter.assignee_id">
                <div class="d-flex">
                <!-- <button (click)="removeCsrUser()" class="all-btn">All</button> -->
                <div class="autocomplete">
                <input placeholder="Search CSR Closure" style="max-width:200px" list="amenities" [(ngModel)]="parameter.keyword" (input)="getCsrListing()" class="form-control" type="text" name="keyword" (focusout)="closeCsrListing()">
                <div id="myInputautocomplete-list" class="autocomplete-items">
                    <div *ngFor="let item of users" (click)="selectCsrUser(item)">{{item.email}}</div>
                </div>
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-12">
            <div class="cust-tabs-2">
                <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="javascript://" [ngClass]="{'active':parameter.flag==1}" (click)="changeFlag(1)" >This Week</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript://" [ngClass]="{'active':parameter.flag==2}" (click)="changeFlag(2)" >This Month</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript://" [ngClass]="{'active':parameter.flag==3}" (click)="changeFlag(3)" >Last Month</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript://" [ngClass]="{'active':parameter.flag==4}" (click)="changeFlag(4)" >Lifetime</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript://" [ngClass]="{'active':parameter.flag==5}" (click)="parameter.flag=5" >Custom</a>
                </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div *ngIf="parameter.flag == 5" class="row">
                <div class="offset-lg-7"></div>
                <div class="col-lg-2 col-md-2 col-sm-5 col-5">
                <div class="form-group marginB0">
                    <label>From:</label>
                    <p-calendar showIcon="true" [(ngModel)]="parameter.min" [maxDate]="today" showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
                </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-5 col-5">
                <div class="form-group marginB0">
                    <label>To:</label>
                    <p-calendar showIcon="true" [(ngModel)]="parameter.max" [minDate]="parameter.min" [maxDate]="today" showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
                </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2 col-6">
                <div class="form-group btn-cont">
                    <label class="addMT3">&nbsp;</label>
                    <button class="btn btn-calender" href="javascript://" (click)="getListing(); getCSRDashBoardData();"
                        [disabled]="!parameter.min || !parameter.max">Apply</button>
                </div>
                </div>
            </div>
        </div>
    </div>

    <div class="listingResults" >
      <div class="row" *ngIf="admin?.admin_acl['Closer Lead Management']?.can_read==1 && !this.parameter.assignee_id">
            <div class="col-md-2">
                <div class="form-group">
                <label>Country</label>
                <select class="form-control" (change)="onCountryChange($event.target.value)">
                    <option value="0">All</option>
                    <option *ngFor="let item of location.countries" [value]="item.id">{{item.name}}</option>
                </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                <label>State</label>
                <select class="form-control" (change)="onStateChange($event.target.value)">
                    <option value="0">All</option>
                    <option *ngFor="let item of location.states" [value]="item.id">{{item.name}}</option>
                </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                <label>City</label>
                    <select class="form-control" (change)="onCityChange($event.target.value)">
                    <option value="0">All</option>
                    <option *ngFor="let item of location.cities" [value]="item.id">{{item.name}}</option>
                    </select>
                </div>
            </div>
    
            <div class="col-md-2">
                <div class="form-group">
                <label>Locality</label>
                <select class="form-control" (change)="onLocalityChange($event.target.value)">
                    <option value="0">All</option>
                    <option *ngFor="let item of location.localities" [value]="item.id">{{item.name}}</option>
                </select>
                </div>
            </div>
    
            <div class="col-md-2">
                <div class="form-group btn-cont">
                <label style="display: block; margin-top: 3px;">&nbsp;</label>
                <button type="button" (click)="getListing(); getCSRDashBoardData();" class="btn btn-primary-new width100P">Apply</button>
                </div>
            </div>
    
            <div class="col-md-2">
                <div class="form-group btn-cont">
                <label style="display: block; margin-top: 3px;">&nbsp;</label>
                <button type="button" (click)="resetFilters()" class="btn btn-primary-new width100P">Reset</button>
                </div>
            </div>
      </div>
      <div *ngIf="selectedUser as item" class="sigle-row-table">
            <table class="table table-striped">
            <tbody><tr>
                <td><img class="rounded-circle" [src]="item.image| img:'small'" onerror='this.src="assets/img/default_img.png"' alt="img"></td>
                <td class="text-left">
                    <span class="name">{{item.name | titlecase}}</span>
                </td>
                <td class="text-left">
                    {{item.phone}}
                </td>
                <td class="text-left">
                    {{item.email}}
                </td>
                <td>
                    <a (click)="removeCsrUser()" href="javascript://" class="icon-block edit-icon"><img src="assets/img/remove-icon.png" alt="remove" title="remove" /></a>
                </td>
                </tr>
            </tbody>
            </table>
      </div>
      <div class="row">
         <div class="col-lg-8 col-md-12 col-sm-12 col-12">
            <div class="info-box all-leads">
               <div class="row">
                  <div class="col-md-6 col-sm-6 col-12 bdr-right" [ngClass]="{'active':parameter.count_flag == 1}" (click)="changeCountFlag(1)">
                     <div class="one-row ">
                        <div class="o-block">
                           <h5>All Leads</h5>
                           <small>Total</small>
                        </div>
                        <div class="o-block">
                           <a class="view-all" href="javascript://">View All</a>
                           <h4>{{dash?.lead_total}}</h4>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-12 paddingL0">
                    <div class="two-block">
                        <div class="d-flex">
                            <div class="f-block" [ngClass]="{'active':parameter.count_flag == 2}" (click)="changeCountFlag(2)">
                                <h5>Notary</h5>
                                <small>Not Assigned</small>
                                <h3>{{dash?.noatary_pending}}</h3>
                            </div>
                            <div class="f-block" [ngClass]="{'active':parameter.count_flag == 3}" (click)="changeCountFlag(3)">
                                <h5>Bank</h5>
                                <small>Not Assigned</small>
                                <h3>{{dash?.bank_pending}}</h3>
                            </div>
                        </div>
                        
                        </div>
                  </div>
               </div>
            </div>
            <div class="info-box all-leads">
               <div class="row">
                  <div class="col-md-6 col-sm-6 col-12 bdr-right" [ngClass]="{'active':parameter.count_flag == 4}" (click)="changeCountFlag(4)">
                     <div class="one-row ">
                        <div class="o-block">
                           <h5>Leads</h5>
                           <small>Open</small>
                        </div>
                        <div class="o-block">
                           <a class="view-all" href="javascript://">View All</a>
                           <h4>{{dash?.lead_open}}</h4>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-12" [ngClass]="{'active':parameter.count_flag == 5}" (click)="changeCountFlag(5)">
                     <div class="one-row">
                        <div class="o-block">
                           <h5>Leads</h5>
                           <small>Closed</small>
                        </div>
                        <div class="o-block">
                           <a class="view-all" href="javascript://">View All</a>
                           <h4>{{dash?.lead_closed}}</h4>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
    
         </div>
         <div class="col-lg-4 col-md-12 col-sm-12 col-12">
            <div class="chat-msg all-leads" style="padding:0px">
                    <div class="padding20" *ngIf="dash.lead_total == 0">No records found</div>
                    <ngx-charts-pie-chart [results]="chartView"></ngx-charts-pie-chart>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-12">
            <div class="spacer40"></div>
         </div>
    
      </div>
      <div class="row">
         <div class="col-lg-6 col-md-6 col-6">
            <div class="title-group">
               <h5>Leads 
                <span *ngIf="parameter.count_flag == 1">(Total)</span>
                <span *ngIf="parameter.count_flag == 2">(Notary Not Assigned)</span>
                <span *ngIf="parameter.count_flag == 3">(Bank Not Assigned)</span>
                <span *ngIf="parameter.count_flag == 4">(Open)</span>
                <span *ngIf="parameter.count_flag == 5">(Closed)</span>
               </h5>
               <p>
                   <!-- Showing {{parameter.page}} out of {{parameter.total_count}} -->
                </p>
            </div>
         </div>
         <!-- only inhouse users can do this -->
         <div class="col-lg-6 col-md-6 col-5" *ngIf="admin?.admin_acl['Closer Lead Management']?.can_read==1 && !this.parameter.assignee_id">
            <div class="add-new text-right">
                <a class="btn" (click)="bulkAssign()" href="javascript://">Bulk Re-assign</a>
            </div>
        </div>
      </div>
      <div class="white-bg">
         <div class="tabel-section">
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                <!-- only inhouse users can do this -->
                    <th *ngIf="admin?.admin_acl['Closer Lead Management']?.can_read==1 && !this.parameter.assignee_id" style="width:6%">
                        <div class="table-search">
                            <label>All</label>
                            <div>
                                <label class="cust-check-bx" >
                                    <input class="width1" type="checkbox" (click)="selectAll(parameter.is_selected)" name="document">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </th>
                    <!-- <th style="width:6%">&nbsp;</th> -->
                    <th style="width:6%">
                        <div class="table-search">
                            <label>Image</label>
                            <div class="searh-3">
                                <!-- <input type="Search here" name="name" [(ngModel)]="parameter.name" (keyup.enter)="getListing()">
                                <button *ngIf="parameter.name" (click)="getListing()"><i class="fa fa-search"></i></button> -->
                            </div>
                        </div>
                    </th>
                    <th style="width:18%">
                        <div class="table-search">
                            <label>Name</label>
                            <div class="searh-3">
                                <input autocomplete="off" type="text" [(ngModel)]="parameter.name" (keyup.enter)="changeFilter('name',$event.target.value)" name="">
                                <button *ngIf="parameter.name" (click)="changeFilter('name', parameter.name)"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </th>
                    <th style="width:20%; text-align:left;">
                        <div class="table-search">
                            <label>Contact Number</label>
                            <div class="searh-3">
                                <input autocomplete="off" type="text" [(ngModel)]="parameter.phone" (keyup.enter)="changeFilter('phone',$event.target.value)" name="">
                                <button *ngIf="parameter.phone" (click)="changeFilter('phone', parameter.phone)"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </th>
                    <th style="width:30%" class="border-top-0">
                        <div class="table-search">
                            <label>Property</label>
                            <!-- <div class="searh-3">
                                <input type="text" [(ngModel)]="parameter.email" (keyup.enter)="changeFilter('email',$event.target.value)" name="">
                                <button *ngIf="parameter.email" (click)="changeFilter('email', parameter.email)"><i class="fa fa-search"></i></button>
                            </div> -->
                        </div>
                    </th>
                    <th style="width:10%" class="border-top-0">
                        <div class="table-search">
                            <label>Assignee</label>
                            <div class="searh-3"></div>
                        </div>
                    </th>
                    <th style="width:10%">
                        <div class="table-search">
                            <label>Property For</label>
                        </div>
                    </th>
                    <!-- <th style="width:14%">
                        &nbsp;
                    </th> -->
                </tr>
                <tr class="cursor-pointer" title="Click to view details" *ngFor="let item of items| paginate: { itemsPerPage: parameter.itemsPerPage, currentPage: parameter.page, totalItems: parameter.total }"
                    (click)="viewLeadDetails(item.id, item)">
                    <!-- routerLink="/dashboard/leads/csr-closers/{{item.id}}"  -->
                    <!-- only inhouse users can do this -->
                    <td *ngIf="admin?.admin_acl['Closer Lead Management']?.can_read==1 && !this.parameter.assignee_id" (click)="$event.stopPropagation()">
                        <label class="cust-check-bx" >
                        <input type="checkbox" [(ngModel)]="item.selected" name="document">
                        <span class="checkmark"></span>
                        </label>
                        <!-- <i class="fa" [ngClass]="item.selected?'fa-check-square-o':'fa-square-o'" (click)="item.selected = !item.selected" aria-hidden="true"></i> -->
                    </td>
                    <td>
                        <img class="rounded-circle" *ngIf="item?.image" onerror='src="assets/img/default_img.png"' alt="img"
                              [defaultImage]="item?.image| img:'thumb'" [lazyLoad]="item?.image">
                        <img class="rounded-circle" *ngIf="!item?.image" src="assets/img/default_img.png" alt="img">
                    </td>
                    <td class="text-left">
                        <span class="name">{{item.name | titlecase}}</span>
                    </td>
                    <td class="text-left">
                    {{item.dial_code ? item.dial_code : constant.dial_code}}-{{item.phone}}<br>
                    {{item.email}}
                    </td>
                    <td class="text-left">
                    <div class="property-selected">
                        <p class="p14 marginB0">
                            <app-property-configuration *ngIf="item?.selected_properties[0]?.property?.configuration" [configuration]="item?.selected_properties[0]?.property?.configuration"></app-property-configuration>
                        </p>
                        <p class="p12 marginB0"><strong>{{item?.selected_properties[0]?.property?.building?.name}}</strong></p>
                        <p class="p11"><i>{{item?.selected_properties[0]?.property?.building?.developer?.name}}</i></p>
                    </div>
                    </td>
                    <td class="text-left" title="CSR Closer">
                        {{item.closer.name | titlecase}}
                    </td>
                    <td class="text-left" *ngIf="item.sale_rent">{{item.sale_rent==1 ? ts.lang.Buy : 'Rent'}}</td>
                    <!-- <td>
                        <a href="javascript://" title="View Details" routerLink="/dashboard/leads/csr-closers/{{item.id}}" class="icon-block edit-icon"><img src="assets/img/viewfull.png" alt="img"></a>
                    </td> -->
                </tr>
            </table>
            <div class="padding20 center" *ngIf="parameter.noResultFound">
                <img src="assets/img/404-error.png">
            </div>
            </div>
         </div>
    
      </div>
      </div>


    <div class="btn-cont marginT15" *ngIf="parameter.total">
        <div class="row">
            <div class="col-6">
                <div class="title-group">
                    <p>Showing {{items?.length}} out of {{parameter.total}}</p>
                </div>
            </div>
            <div class="col-6 text-right">
                <pagination-controls class="my-pagination" (pageChange)="getPage($event)"></pagination-controls>
            </div>
        </div>
    </div>
    </div>
    

    <!-- Assignment model -->
<a data-toggle="modal" data-target="#assign-model" #openAssignModel></a>
<div class="modal" id="assign-model">
        <div class="modal-dialog ">
            <div class="modal-content notary-avail">
                <div class="modal-header popup-header">
                <h4 class="modal-title">Re Assign to</h4>
                <button type="button" class="close" data-dismiss="modal" #closeAssignModel>&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8 col-6">
                            <input style="max-width:200px" list="amenities" [(ngModel)]="assign.keyword" (keyup.enter)="getAssignListing()" class="form-control" type="text" name="keyword" placeholder="Search">
                        </div>
                        <div class="col-md-4 col-5 btn-cont">
                            <a class="btn btn-primary pull-right" href="javascript://" (click)="assignNow()">Assign</a>
                        </div>
                    </div>
                    <div class="spacer40"></div>
                    <div class="modal-table-data" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
                        <table class="table">
                            <tr *ngFor="let item of assign.items">
                                <td *ngIf="item.is_blocked!=1">
                                    <div class="n-avail-profile">
                                    <img *ngIf="item?.image" onerror='src="assets/img/default_img.png"' alt="img"
                                        [defaultImage]="item?.image| img:'thumb'" [lazyLoad]="item?.image">
                                    <img *ngIf="!item?.image" src="assets/img/default_img.png" alt="img">
                                    <div class="n-avail-info">
                                        <p class="p12">{{item.name | titlecase}}</p>
                                        <p class="p10">Phone : {{item.dial_code ? item.dial_code : constant.dial_code}}-{{item.phone}}</p>
                                    </div>
                                    </div>
                                </td>
                                <td *ngIf="item.is_blocked!=1">
                                    <label class="cust-check-bx float-right">
                                        <input type="radio" name="notary_id" (click)="assignItem = item">
                                        <span class="checkmark"></span>
                                    </label>
                                </td>
                            </tr>
                            <tr *ngIf="assign?.items?.length==0">
                                <p class="show-not-found">No CSR Closure found.</p>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>