
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <p class="p16">Manage Bank's Leads</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group" *ngIf="admin?.admin_acl['Bank Lead Management']?.can_read==1 && !this.parameter.assignee_id">
                <div class="d-flex">
                <div class="autocomplete">
                    <input placeholder="Search Bank" style="max-width:200px" list="amenities" [(ngModel)]="parameter.keyword" (input)="getCsrListing()" class="form-control" type="text" name="keyword" (focusout)="closeCsrListing()">
                    <div id="myInputautocomplete-list" class="autocomplete-items">
                        <div *ngFor="let item of users" (click)="selectCsrUser(item)">{{item.email}}</div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-12">
            <div class="cust-tabs-2">
                <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="javascript://" [ngClass]="{'active':parameter.flag==1}" (click)="changeFlag(1)" >This Week</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript://" [ngClass]="{'active':parameter.flag==2}" (click)="changeFlag(2)" >This Month</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript://" [ngClass]="{'active':parameter.flag==3}" (click)="changeFlag(3)" >Last Month</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript://" [ngClass]="{'active':parameter.flag==4}" (click)="changeFlag(4)" >Lifetime</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript://" [ngClass]="{'active':parameter.flag==5}" (click)="parameter.flag=5" >Custom</a>
                </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12">
            <div *ngIf="parameter.flag == 5" class="row">
                <div class="offset-lg-7"></div>
                <div class="col-lg-2 col-md-2 col-sm-5 col-5">
                <div class="form-group marginB0">
                    <label>From:</label>
                    <p-calendar showIcon="true" [(ngModel)]="parameter.min" [maxDate]="today" showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
                </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-5 col-5">
                <div class="form-group marginB0">
                    <label>To:</label>
                    <p-calendar showIcon="true" [(ngModel)]="parameter.max" [minDate]="parameter.min" [maxDate]="today" showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
                </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2 col-6">
                <div class="form-group btn-cont">
                    <label class="addMT3">&nbsp;</label>
                    <button class="btn btn-calender" href="javascript://" (click)="getListing(); getCSRDashBoardData();"
                        [disabled]="!parameter.min || !parameter.max">Apply</button>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="listingResults">
        <div *ngIf="selectedUser as item" class="sigle-row-table">
            <table class="table table-striped">
            <tbody><tr>
                <td>
                    <img *ngIf="item.image" [defaultImage]="item.image| img:'thumb'" [lazyLoad]="item.image" class="rounded-circle" alt="img">
                    <img *ngIf="!item.image" class="rounded-circle" src="assets/img/default_img.png" alt="img">
                </td>
                <td class="text-left">
                    <span class="name">{{item.name | titlecase}}</span>
                </td>
                <td class="text-left">{{item.phone}}</td>
                <td class="text-left">{{item.email}}</td>
                <td>
                    <a (click)="removeCsrUser()" href="javascript://" class="icon-block edit-icon"><img src="assets/img/remove-icon.png" alt="remove" title="remove" /></a>
                </td>
                </tr>
            </tbody>
            </table>
        </div>
        <div class="spacer30"></div>
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 col-12" >
            <div class="info-box all-leads marginT0">
                <div class="one-row" [ngClass]="{'active':parameter.count_flag == '1'}" (click)="changeCountFlag(1)">
                    <div class="o-block">
                        <h5>All Leads</h5>
                        <small>Total</small>
                    </div>
                    <div class="o-block">
                        <a class="view-all" href="javascript://">View All</a>
                        <h4>{{dash.all_count | numberWithCommas}}</h4>
                    </div>
                </div>
            </div>
            <div class="info-box all-leads">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-12" [ngClass]="{'active':parameter.count_flag == '2'}" (click)="changeCountFlag(2)" >
                    <div class="one-row ">
                        <div class="o-block">
                            <h5>Leads</h5>
                            <small>Open</small>
                        </div>
                        <div class="o-block">
                            <a class="view-all" href="javascript://">View All</a>
                            <h4>{{dash.open_count | numberWithCommas}}</h4>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-12" [ngClass]="{'active':parameter.count_flag == '3'}" (click)="changeCountFlag(3)">
                    <div class="one-row">
                        <div class="o-block">
                            <h5>Leads</h5>
                            <small>Closed</small>
                        </div>
                        <div class="o-block">
                            <a class="view-all" href="javascript://">View All</a>
                            <h4>{{dash.close_count | numberWithCommas}}</h4>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                <div class="chat-msg all-leads marginT0" style="padding:0px">
                    <div class="padding20" *ngIf="dash.lead_total == 0">No records found</div>
                    <ngx-charts-pie-chart [results]="chartView"></ngx-charts-pie-chart>
                </div>
            </div>
        </div>
      <div class="row">
         <div class="col-12">
            <div class="spacer40"></div>
         </div>
      </div>
      <div class="row">
         <div class="col-6">
            <div class="title-group">
                <h5>Leads 
                    <span *ngIf="parameter.count_flag == 1">(Total)</span>
                    <span *ngIf="parameter.count_flag == 2">(Open)</span>
                    <span *ngIf="parameter.count_flag == 3">(Closed)</span>
                </h5>
               <p>
                   <!-- Showing {{parameter.page}} out of {{parameter.total_count}} -->
                </p>
            </div>
         </div>
         <div class="col-6" *ngIf="admin?.admin_acl['Bank Lead Management']?.can_read==1 && !this.parameter.assignee_id">
            <div class="add-new text-right">
                <a class="btn" (click)="bulkAssign()" href="javascript://">Bulk Re-assign</a>
            </div>
        </div>
      </div>
      <div class="white-bg">
         <div class="tabel-section">
            <div class="table-responsive">
                <table class="table table-striped border-0">
                    <tbody><tr>
                    <th *ngIf="admin?.admin_acl['Bank Lead Management']?.can_read==1 && !this.parameter.assignee_id" style="width:6%">
                        <div class="table-search">
                        <a (click)="selectAll()"><label>All</label></a>
                        </div>
                    </th>
                    <th style="width:6%;">
                        <div class="table-search">
                            <label>Image</label>
                        </div>
                    </th>
                        <th style="width:20%;">
                            <div class="table-search">
                            <label>Name</label>
                            <div class="searh-3">
                                <input type="text" [(ngModel)]="parameter.name" (keyup.enter)="changeFilter('name',$event.target.value)" name="">
                                <button *ngIf="parameter.name" (click)="changeFilter('name', parameter.name)"><i class="fa fa-search"></i></button>
                            </div>
                            </div>
                        </th>
                        <th style="width:20%; text-align:left;">
                            <div class="table-search">
                            <label>Contact Number</label>
                            <div class="searh-3">
                                <input type="text" [(ngModel)]="parameter.phone" (keyup.enter)="changeFilter('phone',$event.target.value)" name="">
                                <button *ngIf="parameter.phone" (click)="changeFilter('phone', parameter.phone)"><i class="fa fa-search"></i></button>
                            </div>
                            </div>
                        </th>
                        <th style="width:25%;">
                            <div class="table-search">
                            <label>Email Address</label>
                            <div class="searh-3">
                                <input type="text" [(ngModel)]="parameter.email" (keyup.enter)="changeFilter('email',$event.target.value)" name="">
                                <button *ngIf="parameter.email" (click)="changeFilter('email', parameter.email)"><i class="fa fa-search"></i></button>
                            </div>
                            </div>
                        </th>
                        <th style="width:20%;">
                            <div class="table-search">
                            <label>Assignee</label>
                            </div>
                        </th>
                    </tr>
                    <tr class="cursor-pointer" title="Click to view details" *ngFor="let item of items| paginate: { itemsPerPage: parameter.itemsPerPage, currentPage: parameter.page, totalItems: parameter.total }; let i=index"
                        routerLink="/dashboard/banks/bank-leads/{{item.id}}">
                        <td *ngIf="admin?.admin_acl['Bank Lead Management']?.can_read==1 && !this.parameter.assignee_id" (click)="$event.stopPropagation()">
                            <label class="cust-check-bx" >
                            <input type="checkbox" [(ngModel)]="item.selected" name="document">
                            <span class="checkmark"></span>
                            </label>
                        </td>
                        <td>
                            <img class="rounded-circle" [src]="item.user.image| img:'small'" onerror="this.src='assets/img/default_img.png'" alt="img">
                        </td>
                        <td class="text-left">
                            <span class="name">{{item.user.name | titlecase}}</span>
                        </td>
                        <td class="text-left">
                            {{item.user.dial_code ? item.user.dial_code : constant.dial_code}}-{{item.user.phone}}<br>
                        </td>
                        <td class="text-left">
                            {{item.user.email}}
                        </td>
                        <td class="text-left" title="Bank">
                            {{item?.selected_properties[0]?.banks[0]?.name | titlecase}}
                        </td>
                        <!-- <td>
                        <a style="display:none;" #modalOpen class="green-color fontW500" data-toggle="modal" data-target="#set-availability" href="javascript://">Change Availability</a>
                        <a class="green-color fontW500" (click)="openModal(item, i)" href="javascript://">Change Availability</a>
                        </td> -->
                        <!-- <td>
                            <a title="View Details" href="javascript://" routerLink="/dashboard/banks/bank-leads/{{item.id}}" class="icon-block edit-icon"><img src="assets/img/viewfull.png" alt="img"></a> 
                        </td> -->
                    </tr>
                </tbody>
            </table>
            <div class="padding20 center" *ngIf="parameter.noResultFound">
            <img src="assets/img/404-error.png">
            </div>

            </div>
         </div>
    
        </div>
    </div>
    

    <div class="btn-cont marginT15" *ngIf="parameter.total">
        <div class="row">
            <div class="col-6">
                <div class="title-group">
                    <p>Showing {{items?.length}} out of {{parameter.total}}</p>
                </div>
            </div>
            <div class="col-6 text-right">
                <pagination-controls class="my-pagination" (pageChange)="getPage($event)"></pagination-controls>
            </div>
        </div>
    </div>
</div>


<!-- Assignment model -->
<a data-toggle="modal" data-target="#assign-model" #openAssignModel></a>
<div class="modal" id="assign-model">
        <div class="modal-dialog ">
            <div class="modal-content notary-avail">
                <div class="modal-header popup-header">
                <h4 class="modal-title">Re Assign to</h4>
                <button type="button" class="close" data-dismiss="modal" #closeAssignModel>&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8">
                            <input style="max-width:200px" list="amenities" [(ngModel)]="assign.keyword" (input)="getAssignListing()" class="form-control" type="text" name="keyword" placeholder="Search">
                        </div>
                        <div class="col-md-4 btn-cont">
                            <a class="btn btn-primary pull-right" href="javascript://" (click)="assignNow()">Assign</a>
                        </div>
                    </div>
                    <div class="spacer40"></div>
                    <div class="modal-data">
                        <table class="table">
                            <tr *ngFor="let item of assign.items">
                                <td *ngIf="item.is_blocked!=1">
                                    <div class="n-avail-profile">
                                    <img [src]="item.image" onerror='src="assets/img/default_img.png"' alt="img">
                                    <div class="n-avail-info">
                                        <p class="p12">{{item.name | titlecase}}</p>
                                        <p class="p10">Phone : {{item.dial_code ? item.dial_code : constant.dial_code}}-{{item.phone}}</p>
                                    </div>
                                    </div>
                                </td>
                                <td *ngIf="item.is_blocked!=1">
                                    <label class="cust-check-bx float-right">
                                        <input type="radio" name="notary_id" (click)="assignItem = item">
                                        <span class="checkmark"></span>
                                    </label>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>