{{address|json}}

<div class="row" *ngIf="address">
  <div class="col-sm-3 col-12">
    <div class="form-group-2">
      <label>Country</label>
      <select [disabled]="status" required title="Choose Country" class="form-control" (change)="getStatesNew($event.target.value, i)">
        <option value="" disabled>Select Country</option>
        <option *ngFor="let countryAdd of countries" [selected]="countryAdd.id == address.countries" value="{{countryAdd.id}}">{{countryAdd.name}}</option>
      </select>
    </div>
  </div>
  <div class="col-sm-3 col-12">
    <div class="form-group-2">
      <label>State</label>
      <select [disabled]="status" required title="Choose State" class="form-control" (change)="getCitiesNew($event.target.value, i)">
        <option value="" disabled>Select State</option>
        <option *ngFor="let stateAdd of parameter.statesAdd" [selected]="stateAdd.id == address.states" value="{{stateAdd.id}}">{{stateAdd.name}}</option>
      </select>
    </div>
  </div>
  <div class="col-sm-3 col-12">
    <div class="form-group-2">
      <label>City</label>
      <select [disabled]="status" required title="Choose City" class="form-control" (change)="getLocalitiesNew($event.target.value, i)">
      <option value="" disabled>Select City</option>
      {{parameter.citiesAdd | json}}
      <option *ngFor="let cityAdd of parameter.citiesAdd" [selected]="cityAdd.id == address.cities" value="{{cityAdd.id}}">{{cityAdd.name}}</option>
    </select>
    </div>
  </div>
  <div class="col-sm-3 col-12">
    <div class="form-group-2">
      <label>Locality</label>
      <select [disabled]="status" required title="Choose Locality" class="form-control" (change)="getLocalityBuildings($event.target.value, i)">
      <option value="" disabled>Select Locality</option>
      <option *ngFor="let localityAdd of parameter.localitiesAdd" [selected]="localityAdd.id == address.localities" value="{{localityAdd.id}}">{{localityAdd.name}}</option>
    </select>
    </div>
  </div>
  <div class="col-sm-3 col-12">
    <div class="row">
      <div class="col-10">
      <div class="form-group-2">
        <label>Building</label>
        <select [disabled]="status" required title="Choose Building" class="form-control" (change)="setBuilding($event.target.value, i)">
          <option value="" disabled>Select Building</option>
          <option *ngFor="let buildingAdd of parameter.buildingsAdd" [disabled]="buildingAdd.disabled" [selected]="buildingAdd.id == address.buildings" value="{{buildingAdd.id}}">{{buildingAdd.name}}</option>
        </select>
      </div>
      </div>
      <a href="javascript://" (click)="removeRow()" class="close" *ngIf="index!=0">
        <img src="assets/img/close-tag.png" alt="img">
      </a>
    </div>
  </div>
</div>