
<div class="container-fluid">
    <div class="row" *ngIf="admin?.admin_acl['Broker Lead Management']?.can_read==1">
        <div class="col-md-4">
            <div class="form-group">
                <p class="p16">Manage Inhouse Broker's Leads</p>
                <div class="d-flex">
                <button (click)="removeCsrUser()" class="all-btn">All</button>

                <div class="autocomplete">
                    <input style="max-width:200px" list="amenities" [(ngModel)]="parameter.keyword" (input)="getCsrListing()" class="form-control" type="text" name="keyword" (focusout)="closeCsrListing()">
                    <div id="myInputautocomplete-list" class="autocomplete-items">
                        <div *ngFor="let item of users" (click)="selectCsrUser(item)">{{item.email}}</div>
                    </div>
                </div>
                
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Country</label>
                <select class="form-control" (change)="onCountryChange($event.target.value)">
                    <option value="0">All</option>
                    <option *ngFor="let item of location.countries" [value]="item.id">{{item.name}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
            <label>State</label>
            <select class="form-control" (change)="onStateChange($event.target.value)">
                <option value="0">All</option>
                <option *ngFor="let item of location.states" [value]="item.id">{{item.name}}</option>
            </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
            <label>City</label>
                <select class="form-control" (change)="onCityChange($event.target.value)">
                <option value="0">All</option>
                <option *ngFor="let item of location.cities" [value]="item.id">{{item.name}}</option>
                </select>
            </div>
        </div>
    
        <div class="col-md-2">
            <div class="form-group">
            <label>Locality</label>
            <select class="form-control" (change)="onLocalityChange($event.target.value)">
                <option value="0">All</option>
                <option *ngFor="let item of location.localities" [value]="item.id">{{item.name}}</option>
            </select>
            </div>
        </div>
    </div>
    
        <!-- <div *ngIf="users?.length > 0 && initSelection"class="row">
            <table class="table table-striped">
                <tbody><tr *ngFor="let item of users" (click)="selectCsrUser(item)">
                    <td> <img class="rounded-circle" [src]="item.image" onerror='this.src="http://via.placeholder.com/50x50"' alt="img"></td>
                    <td class="text-left">
                        <span class="name">{{item.name}}</span>
                    </td>
                    <td class="text-left">
                        {{item.phone}}
                    </td>
                    <td class="text-left">
                        {{item.email}}
                    </td>
                    <td>
                        <a href="javascript://" class="icon-block edit-icon"><img src="assets/img/edit.png" alt="img"></a>
                        <a href="javascript://" class="icon-block block-icon"><img src="assets/img/block.png" alt="img"></a>
                    </td>
                    </tr>
                </tbody>
            </table>
        </div> -->
    <div class="listingResults" >
        <div class="row">
            <div class="col-12">
                <div class="cust-tabs-2">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active':parameter.flag==1}" (click)="changeFlag(1)" >This Week</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active':parameter.flag==2}" (click)="changeFlag(2)" >This Month</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active':parameter.flag==3}" (click)="changeFlag(3)" >Last Month</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active':parameter.flag==4}" (click)="changeFlag(4)" >Lifetime</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active':parameter.flag==5}" (click)="changeFlag(5)" >Custom</a>
                    </li>
                </ul>
                </div>
            </div>
            <div class="col-12">
                <hr style="margin-top:0;">
            </div>
        </div>
        <div *ngIf="selectedUser as item" class="sigle-row-table">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td> <img class="rounded-circle" [src]="item.image" onerror='this.src="http://via.placeholder.com/50x50"' alt="img"></td>
                        <td class="text-left">
                            <span class="name">{{item.name}}</span>
                        </td>
                        <td class="text-left">
                            {{item.phone}}
                        </td>
                        <td class="text-left">
                            {{item.email}}
                        </td>
                        <td>
                            <a (click)="removeCsrUser()" href="javascript://" class="icon-block edit-icon"><img src="assets/img/remove-icon.png" alt="remove" title="remove" /></a>
                            <!-- <a href="javascript://" class="icon-block edit-icon"><img src="assets/img/edit.png" alt="img"></a>
                            <a href="javascript://" class="icon-block block-icon"><img src="assets/img/block.png" alt="img"></a> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                <div class="info-box all-leads">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-12" [ngClass]="{'active':parameter.count_flag == '1'}" (click)="changeCountFlag(1)">
                        <div class="one-row ">
                            <div class="o-block">
                            <h5>Leads</h5>
                            <small>Total</small>
                            </div>
                            <div class="o-block">
                            <a class="view-all" href="javascript://">View All</a>
                            <h4>{{dash?.lead_total}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-12" [ngClass]="{'active':parameter.count_flag == '2'}" (click)="changeCountFlag(2)">
                        <div class="one-row">
                            <div class="o-block">
                            <h5>Properties</h5>
                            <small>Dealing In</small>
                            </div>
                            <div class="o-block">
                            <a class="view-all" href="javascript://">View All</a>
                            <h4>{{dash?.lead_properties}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="info-box all-leads">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-12" [ngClass]="{'active':parameter.count_flag == '3'}" (click)="changeCountFlag(3)">
                        <div class="one-row ">
                            <div class="o-block">
                            <h5>Leads</h5>
                            <small>Open</small>
                            </div>
                            <div class="o-block">
                            <a class="view-all" href="javascript://">View All</a>
                            <h4>{{dash?.lead_open}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-12" [ngClass]="{'active':parameter.count_flag == '4'}" (click)="changeCountFlag(4)">
                        <div class="one-row">
                            <div class="o-block">
                            <h5>Leads</h5>
                            <small>Closed</small>
                            </div>
                            <div class="o-block">
                            <a class="view-all" href="javascript://">View All</a>
                            <h4>{{dash?.lead_closed}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
        
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                <div class="chat-msg all-leads" style="padding:0px">
                    <div class="padding20" *ngIf="dash.lead_total == 0">No records found</div>
                    <ngx-charts-pie-chart [results]="chartView"></ngx-charts-pie-chart>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="spacer40"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="title-group">
                <h5>Leads 
                    <span *ngIf="parameter.count_flag == 1">(Total)</span>
                    <span *ngIf="parameter.count_flag == 2">(Properties Dealing In)</span>
                    <span *ngIf="parameter.count_flag == 3">(Open)</span>
                    <span *ngIf="parameter.count_flag == 4">(Closed)</span>
                </h5>
                <p>
                    <!-- Showing {{parameter.page}} out of {{parameter.total_count}} -->
                    </p>
                </div>
            </div>
            <div class="col-6">
                <div class="add-new text-right">
                    <a class="btn" (click)="bulkAssign()" href="javascript://">Bulk Re-assign</a>
                </div>
            </div>
        </div>
        <div class="white-bg">
            <div class="tabel-section">
                <div class="table-responsive">
                    <table class="table table-striped table-align-left vertical-align-top">
                        <tr>
                            <th style="width:6%">
                                <div class="table-search">
                                <a (click)="selectAll()"><label>All</label></a>
                                </div>
                            </th>

                            <th style="width:6%">
                                <div class="table-search"></div>
                            </th>
                            <th style="width:15%">
                                <div class="table-search">
                                    <label>Name</label>
                                    <div class="searh-3">
                                        <input type="text" [(ngModel)]="parameter.name" (keyup.enter)="changeFilter('name',$event.target.value)" name="">
                                        <button *ngIf="parameter.name" (click)="changeFilter('name', parameter.name)"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </th>
                            <th style="width:15%; text-align:left;">
                                <div class="table-search">
                                    <label>Contact Number</label>
                                    <div class="searh-3">
                                        <input type="text" [(ngModel)]="parameter.phone" (keyup.enter)="changeFilter('phone',$event.target.value)" name="">
                                        <button *ngIf="parameter.phone" (click)="changeFilter('phone', parameter.phone)"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </th>
                            <th style="width:20%">
                                <div class="table-search">
                                    <label>Email</label>
                                    <div class="searh-3">
                                        <input type="text" [(ngModel)]="parameter.email" (keyup.enter)="changeFilter('email',$event.target.value)" name="">
                                        <button *ngIf="parameter.email" (click)="changeFilter('email', parameter.email)"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </th>
                            <th style="width:10%">
                                <div class="table-search">
                                    <label>Interested In</label>
                                </div>
                            </th>
                            <th style="width:10%">
                                <div class="table-search">
                                    <label>Assignee</label>
                                </div>
                            </th>
                            <th style="width:10%">
                                <div class="table-search">
                                    <label>Property For</label>
                                </div>
                            </th>
                            <th style="width:14%"></th>
                        </tr>
                        <tr *ngFor="let item of items| paginate: { itemsPerPage: parameter.itemsPerPage, currentPage: parameter.page, totalItems: parameter.total }; let in=index">
                        <td>
                            <label class="cust-check-bx" >
                            <input type="checkbox" [(ngModel)]="item.selected" name="document">
                            <span class="checkmark"></span>
                            </label>
                            <!-- <i class="fa" [ngClass]="item.selected?'fa-check-square-o':'fa-square-o'" (click)="item.selected = !item.selected" aria-hidden="true"></i> -->
                        </td>
                        <td>
                            <img *ngIf="item.image" class="rounded-circle" [src]="item.image" alt="img">
                            <img *ngIf="!item.image" class="rounded-circle" src="./../../../assets/img/default_img.png" alt="img">
                        </td>
                        <td class="text-left">
                            <span routerLink="/dashboard/leads/inhouse-broker/{{item.id}}"  class="name">{{item.name}}</span>
                        </td>
                        <td class="text-left" *ngIf="item.phone">{{item.dial_code ? item.dial_code : constant.dial_code}}-{{item.phone}}</td>
                        <td class="text-left" *ngIf="!item.phone">NA</td>
                        <td class="text-left">{{item.email}}</td>
                        <td>
                            <span *ngFor="let conf of item.configuration; let ii=index">
                                {{conf.name}}<span *ngIf="ii<item?.configuration?.length-1">,</span>
                            </span>
                            <span *ngIf="item.configuration?.length==0">NA</span>
                        </td>
                        <td class="text-left" title="Inhouse Broker" *ngIf="item?.admin?.name">{{item.broker.name}}</td>
                        <td class="text-left" *ngIf="!item?.admin?.name">Not Assigned</td>
                        <td class="text-left" *ngIf="item.sale_rent">{{item.sale_rent==1 ? 'Buy' : 'Rent'}}</td>
                        <td>
                            <a href="javascript://" title="View Details" routerLink="/dashboard/leads/inhouse-broker/{{item.id}}" class="icon-block edit-icon"><img src="assets/img/edit.png" alt="img"></a>
                            <button [disabled]="admin?.admin_acl['Buyer Lead Management']?.can_update==0"
                                (click)="updateLeadType(item.sale_rent==1?'2':'1', item.id, in)" 
                                title="Change Type" class="action-icon"><img src="assets/img/block.png" alt="img">
                            </button>
                        </td>
                        </tr>
                    </table>
                    <div class="padding20 center" *ngIf="parameter.noResultFound">
                            <img src="assets/img/404-error.png">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="btn-cont text-right marginT15" *ngIf="parameter.total">
        <pagination-controls class="my-pagination" (pageChange)="getPage($event)"></pagination-controls>
    </div>
</div>



<!-- Assignment model -->
<a data-toggle="modal" data-target="#assign-model" #openAssignModel></a>
<div class="modal" id="assign-model">
        <div class="modal-dialog ">
            <div class="modal-content notary-avail">
                <div class="modal-header popup-header">
                <h4 class="modal-title">Re Assign to</h4>
                <button type="button" class="close" data-dismiss="modal" #closeAssignModel>&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8">
                            <input style="max-width:200px" list="amenities" [(ngModel)]="assign.keyword" (input)="getAssignListing()" class="form-control" type="text" name="keyword" placeholder="Search">
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-primary pull-right" (click)="assignNow()">Assign</a>
                        </div>
                    </div>
                    <div class="spacer40"></div>
                    <table class="table">
                        <tr *ngFor="let item of assign.items">
                            <td>
                                <div class="n-avail-profile">
                                <img [src]="item.image" onerror='src="assets/img/house.png"' alt="img">
                                <div class="n-avail-info">
                                    <p class="p12">{{item.name}}</p>
                                    <p class="p10">Phone : {{item.dial_code ? item.dial_code : constant.dial_code}}-{{item.phone}}</p>
                                </div>
                                </div>
                            </td>
                            <td>
                                <label class="cust-check-bx float-right">
                                    <input type="radio" name="notary_id" (click)="assignItem = item">
                                    <span class="checkmark"></span>
                                </label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    