
  th, td {
    padding: 5px;
    text-align: center;
  }
  h5{
    margin-top: 15px;
  }

  textarea {
    background: #fff !important;
  }
  .red-color{
    color: red;
  }
  table.table-striped.quick-table{
    table-layout: fixed;
  }
  
table.table-striped.quick-table th, table.table-striped.quick-table td {
  width: 70px;
  word-break: break-word;
}
.remaining_amt{
  background: #faebd7b0 !important;
  font-weight: 600;
}