<div class="container-fluid">
  <div class="row">
    <div class="col-lg-11 col-md-11 col-6">
      <div class="form-group">
        <p class="p16">{{'quickVisualization.label' | translate}}</p>
      </div>
    </div>
     
    <div class="col-lg-1 col-md-1 col-6">
      <div class="btn-cont text-right">
          <a class="btn" href="javascript://" style="display: none;" data-toggle="modal" data-target="#addInhouseUser" #inhouseUserModalOpen>{{'table.addNewBtn' | translate}}</a>
          <!-- *ngIf="admin?.admin_acl['Data Collector Management']?.can_create==1 && parameter.userType=='data-collectors' ||
          admin?.admin_acl['Seller Management']?.can_create==1 && parameter.userType=='csr-sellers'" -->
          <a class="btn btn-primary-new width100P" href="javascript://" (click)="exportData()">{{'table.exportDataBtn' | translate}}</a>
        </div>
    </div>

    <div class="col-lg-1 col-md-1 col-6">
      <div class="btn-cont text-right">
          <a class="btn btn-primary-new width100P" href="javascript://" (click)="getCollectionDetails()">Refresh</a>
        </div>
    </div>
  </div>

  <hr>

  <h5>{{'quickVisualization.stackholdersInformation' | translate}}</h5>
  <div class="row cust-tabs">
    <div class="col-md-4">

        <div class="table-responsive">
          <table class="table table-bordered white-bg">
            <tbody>
              <tr>
                <th rowspan="3">{{'quickVisualization.buyer' | translate}}:</th>
                <td *ngIf="model?.buyer_type==2">{{model?.buyer_legal_entity?.comm_name || ('table.tr.td.NA' | translate)}}</td>
                <td *ngIf="model?.buyer_type!=2">{{model?.buyer?.name || ('table.tr.td.NA' | translate)}}</td>
              </tr>
              <tr>
                <td>{{model?.buyer?.email || ('table.tr.td.NA' | translate)}}</td>
              </tr>
              <tr>
                <td>{{model?.buyer?.dial_code}} {{model?.buyer?.phone || ('table.tr.td.NA' | translate)}}</td>
              </tr>
            </tbody>
          </table>
        </div>
          <div class="table-responsive">
            <table class="table table-bordered white-bg">
              <tbody>
                <tr>
                  <th rowspan="3">{{'quickVisualization.seller' | translate}}:</th>
                  <td *ngIf="model?.seller_type==2">{{model?.seller_legal_entity?.comm_name || ('table.tr.td.NA' | translate)}}</td>
                  <td *ngIf="model?.seller_type!=2">{{model?.seller?.name || ('table.tr.td.NA' | translate)}}</td>
                </tr>
                <tr>
                  <td>{{model?.seller?.email || ('table.tr.td.NA' | translate)}}</td>
                </tr>
                <tr>
                  <td>{{model?.seller?.dial_code}} {{model?.buyer?.phone || ('table.tr.td.NA' | translate)}}</td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>

    <div class="col-md-1"></div>

    <div class="col-md-4">

          <div class="table-responsive">
            <table class="table table-bordered white-bg">
              <tbody>
                <tr>
                  <th rowspan="3">{{'quickVisualization.buyerLegal' | translate}} <br> {{'quickVisualization.representativeContact' | translate}}:</th>
                  <td>{{model?.buyer_leg_rep_name || ('table.tr.td.NA' | translate)}}</td>
                </tr>
                <tr>
                  <td>{{model?.buyer_leg_rep_email || ('table.tr.td.NA' | translate)}}</td>
                </tr>
                <tr>
                  <td>{{model?.buyer?.dial_code}} {{model?.buyer_leg_rep_phone || ('table.tr.td.NA' | translate)}}</td>
                </tr>
              </tbody>
            </table>
          </div>
            <div class="table-responsive">
              <table class="table table-bordered white-bg">
                <tbody>
                  <tr>
                    <th rowspan="3">{{'quickVisualization.sellerLegal' | translate}} <br> {{'quickVisualization.representativeContact' | translate}}:</th>
                    <td>{{model?.seller_leg_rep_name || ('table.tr.td.NA' | translate)}}</td>
                  </tr>
                  <tr>
                    <td>{{model?.seller_leg_rep_email || ('table.tr.td.NA' | translate)}}</td>
                  </tr>
                  <tr>
                    <td>{{model?.seller?.dial_code}} {{model?.seller_leg_rep_phone || ('table.tr.td.NA' | translate)}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
      </div>
  </div>


    <h5>{{'quickVisualization.generalPropertyInformation' | translate}}</h5>
    <div class="row">
    <div class="col-md-4">

          <div class="table-responsive">
            <table class="table table-bordered white-bg">
              <tbody>
                  <tr>
                      <th>{{'quickVisualization.project' | translate}}:</th>
                      <td>{{model?.property?.building?.name || ('table.tr.td.NA' | translate)}}</td>
                    </tr>
                    <tr>
                      <th>{{'quickVisualization.tower' | translate}}:</th>
                      <td>{{model?.property?.building_towers?.tower_name || ('table.tr.td.NA' | translate)}}</td>
                    </tr>
                    <tr>
                      <th>{{'quickVisualization.floor' | translate}}:</th>
                      <td>
                          {{model?.property?.floor_num ? (model?.property?.floor_num == 0 ? ('addCollection.groundFloor' | translate) : ('addCollection.floor' | translate) + ' ' + model?.property?.floor_num) : ('table.tr.td.NA' | translate)}}
                      </td>
                    </tr>
                    <tr>
                      <th>{{'quickVisualization.model' | translate}}:</th>
                      <td>{{model?.property?.building_configuration?.name || ('table.tr.td.NA' | translate)}}</td>
                    </tr>
                    <tr>
                      <th>{{'quickVisualization.propertyName' | translate}}:</th>
                      <td>{{model?.property?.name || ('table.tr.td.NA' | translate)}}</td>
                    </tr>
                    <!-- <tr>
                      <th>M2:</th>
                      <td>{{model?.property?.building?.name || 'NA'}}</td>
                    </tr> -->
                    <tr>
                      <th>{{'quickVisualization.price' | translate}}:</th>
                      <td>${{(model?.property?.min_price || 0) | roundNumber}}</td>
                    </tr>
              </tbody>
            </table>
          </div>
      </div>
  
      <div class="col-md-1"></div>
  
      <div class="col-md-4">  
            <div class="table-responsive">
              <table class="table table-bordered white-bg">
                <tbody>
                    <tr>
                        <th>{{'quickVisualization.purchaseDate' | translate}}</th>
                      </tr>
                      <tr>
                        <td>{{model?.deal_purchase_date || ('table.tr.td.NA' | translate)}}</td>
                      </tr>
                </tbody>
              </table>
            </div>
              <div class="table-responsive">
                <table class="table table-bordered white-bg">
                  <tbody>
                      <tr>
                          <th>{{'quickVisualization.currency' | translate}}</th>
                        </tr>
                        <tr>
                          <td>{{model?.currency?.code || ('table.tr.td.NA' | translate)}}</td>
                        </tr>
                  </tbody>
                </table>
              </div>
              <div class="table-responsive">
                <table class="table table-bordered white-bg">
                  <tbody>
                      <tr>
                          <th>{{'quickVisualization.paid' | translate}}:</th>
                          <td>${{(model?.paid || 0) | roundNumber}}</td>
                          <!-- <td>${{(model?.totalPaid || 0) | roundNumber}}</td> -->
                        </tr>
                        <tr>
                          <th>{{'quickVisualization.remaining' | translate}}:</th>
                          <td>${{((model?.total || 0) - (model?.paid || 0)) | roundNumber}}</td>
                          <!-- <td>${{(model?.totalOutstanding || 0) | roundNumber}}</td> -->
                        </tr>
                  </tbody>
                </table>
              </div>
        </div>

  </div>


  <h5>{{'quickVisualization.paymentInformation' | translate}}</h5>
  <div class="cust-tabs">
    <div class="tab-content white-bg">
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-align-center quick-table">
          <thead>
            <tr>
              <th [style.width]="'10%'">
                <b>{{'quickVisualization.concept' | translate}}</b>
              </th>
              <th [style.width]="'10%'">
                <b>{{'quickVisualization.month' | translate}}</b>
              </th>
              <th [style.width]="'10%'">
                <b>{{'quickVisualization.paymentDate' | translate}}</b>
              </th>
              <th [style.width]="'5%'">
                <b>{{'quickVisualization.paid' | translate}}</b>
              </th>
              <th [style.width]="'10%'">
                <b>{{'quickVisualization.paymentMethods' | translate}}</b>
              </th>
              <th [style.width]="'5%'">
                <b>{{'quickVisualization.outstandingPayment' | translate}}</b>
              </th>
              <th [style.width]="'3%'">
                <b>{{'quickVisualization.paymentAttachment' | translate}}</b>
              </th>
              <th [style.width]="'3%'">
                <b>{{'quickVisualization.paymentDescription' | translate}}</b>
              </th>
              <th [style.width]="'5%'">
                <b>{{'quickVisualization.penaltyFLP' | translate}}</b>
              </th>
              <th [style.width]="'3%'">
                <b>{{'quickVisualization.penaltyDescription' | translate}}</b>
              </th>
              <th [style.width]="'5%'">
                <b>{{'quickVisualization.purchasedCommission' | translate}}</b>
              </th>
              <th [style.width]="'5%'">
                <b>{{'quickVisualization.dateOfPC' | translate}}</b>
              </th>
              <th [style.width]="'3%'">
                <b>{{'quickVisualization.PCAttachment' | translate}}</b>
              </th>
              <th [style.width]="'3%'">
                <b>{{'quickVisualization.PCDescription' | translate}}</b>
              </th>
              <th [style.width]="'5%'">
                <b>{{'quickVisualization.collectionCommission' | translate}}</b>
              </th>
              <th [style.width]="'5%'">
                <b>{{'quickVisualization.dateOfCC' | translate}}</b>
              </th>
              <th [style.width]="'3%'">
                <b>{{'quickVisualization.CCAttachment' | translate}}</b>
              </th>
              <th [style.width]="'3%'">
                <b>{{'quickVisualization.CCDescription' | translate}}</b>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of paymentConcepts; let i=index">
              <td>{{p?.name}}</td>
              <td>{{p?.date}}</td>
              <td>{{p?.collection_payment?.payment_date || ''}}</td>
              <td>
                <!-- {{p?.collection_payment ? model?.currency?.symbol : ''}} 
                {{p?.collection_payment ? ((p?.collection_payment?.amount || 0) | roundNumber) : ''}} -->
                {{p?.is_paid_calculated == 1 ? model?.currency?.symbol : ''}} 
                {{p?.is_paid_calculated == 1 ? ((p?.collection_payment ? p?.collection_payment?.amount : p?.amount) | roundNumber) : ''}}
              </td>
              <td>{{p?.collection_payment?.payment_method?.name || ''}}</td>
              <td *ngIf="p?.key!='total'">
                {{p?.collection_payment ? '' : model?.currency?.symbol}} 
                {{p?.collection_payment ? '' : ((p?.amount || 0) | roundNumber)}}
              </td>
              <td *ngIf="p?.key=='total'">
                {{model?.currency?.symbol}} 
                {{(p?.amount || 0) | roundNumber}}
              </td>
              <td>
                <a class="green-color fontW500" *ngIf="p?.collection_payment && p?.key!='total'" target="_blank" href="{{p?.collection_payment?.receipt}}">
                  {{'quickVisualization.view' | translate}}
                </a>
              </td>
              <td>
                <button class="action-icon" *ngIf="p?.collection_payment?.description" (click)="showDescription(p?.collection_payment?.description, 1)">
                    <img src="assets/img/eye-icon.png" alt="img">
                </button>
                <!-- {{p?.collection_payment?.description || ''}} -->
              </td>
              <td>
                {{p?.penalty ? model?.currency?.symbol : ''}} 
                {{p?.penalty ? ((p?.penalty?.amount || 0) || roundNumber) : ''}}
              </td>
              <td>
                  <button class="action-icon" *ngIf="p?.penalty?.description" (click)="showDescription(p?.penalty?.description, 2)">
                      <img src="assets/img/eye-icon.png" alt="img">
                  </button>
                <!-- {{p?.penalty?.description || ''}} -->
              </td>
              <td>
                {{collectionCommission[i]?.purchase_payment ? model?.currency?.symbol : ''}} 
                {{collectionCommission[i]?.purchase_payment ? (collectionCommission[i]['purchase_payment']?.amount | roundNumber) : ''}}</td>
              <td>
                {{collectionCommission[i]?.purchase_payment ? (collectionCommission[i]['purchase_payment']?.payment_date | date:'mediumDate') : ''}}</td>
              <td>
                <a class="green-color fontW500" *ngIf="collectionCommission[i]?.purchase_payment" target="_blank" href="{{collectionCommission[i]?.purchase_payment?.receipt}}">
                  {{'quickVisualization.view' | translate}}
                </a>
              </td>
              <td>
                  <button class="action-icon" *ngIf="collectionCommission[i]?.purchase_payment?.description" (click)="showDescription(collectionCommission[i]?.purchase_payment?.description, 3)">
                      <img src="assets/img/eye-icon.png" alt="img">
                  </button>
                <!-- {{collectionCommission[i]?.purchase_payment?.description || ''}} -->
              </td>
              <td>
                {{collectionCommission[i]?.payment ? model?.currency?.symbol : ''}} 
                {{collectionCommission[i]?.payment ? (collectionCommission[i]['payment']?.amount | roundNumber) : ''}}</td>
              <td>
                {{collectionCommission[i]?.payment ? (collectionCommission[i]['payment']?.payment_date | date:'mediumDate') : ''}}</td>
              <td>
                <a class="green-color fontW500" *ngIf="collectionCommission[i]?.payment" target="_blank" href="{{collectionCommission[i]?.payment?.receipt}}">
                  {{'quickVisualization.view' | translate}}
                </a>
              </td>
              <td>
                  <button class="action-icon" *ngIf="collectionCommission[i]?.payment?.description" (click)="showDescription(collectionCommission[i]?.payment?.description, 4)">
                      <img src="assets/img/eye-icon.png" alt="img">
                  </button>
                <!-- {{collectionCommission[i]?.payment?.description || ''}} -->
              </td>
              
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



<a href="javascript://" data-toggle="modal" data-target="#des-modal" #viewDesModal></a>
<div class="modal animated" id="des-modal">
      <div class="modal-dialog fadeIndown">
            <div class="modal-content notary-avail">
                  <div class="modal-header popup-header">
                        <h4 *ngIf="title==1">{{'quickVisualization.paymentDescription' | translate}}</h4>
                        <h4 *ngIf="title==2">{{'quickVisualization.penaltyDescription' | translate}}</h4>
                        <h4 *ngIf="title==3">{{'quickVisualization.PCDescription' | translate}}</h4>
                        <h4 *ngIf="title==4">{{'quickVisualization.CCDescription' | translate}}</h4>
                        <button style="display: none;" type="button" class="close" data-dismiss="modal" #viewDesModalClose>&times;</button>
                        <button type="button" class="close" (click)="closeDescModal()">&times;</button>
                  </div>

                  <div class="modal-body">
                        <div class="form-group-2">
                              <div class="form-group">
                                    <textarea rows="4" readonly required class="form-control note" name="description" [(ngModel)]="description"></textarea>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>
