<!-- <div class="page-wrapper">
  <app-header class="header clf" app-header></app-header>
  <app-sidebar class="page-sidebar" id="sidebar" app-sidebar></app-sidebar>
  <ngbox></ngbox>
  <div class="wrapper content-wrapper">
    <router-outlet></router-outlet>
  </div>
</div> -->






<section id="wrapper">
    <app-header></app-header>
    <!--header start start-->
    <!-- <header>
       <div class="row">
          <app-header></app-header>
          <app-sidebar class="page-sidebar" id="sidebar" app-sidebar></app-sidebar>
       </div>
    </header> -->
    <!--header start end-->
    <section id="main">
        <!--content start-->
        <div  id="content">
          <router-outlet></router-outlet>
        </div>
    </section>
 </section>