<div class="container-fluid">
<div class="row">
    <div class="col-12">
      <div class="title-group">
          <h5>Add ACL User</h5>
          <div class="spacer30"></div>
      </div>
    </div>
</div>
<div class="white-bg padding40">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-12">
          <div class="row">
            <div class="col-6">
                <div class="add-img">
                  <input type="file" name="">
                  <label>+ Add Image</label>
                </div>
            </div>
            <div class="col-6">
                <div class="btn-cont text-right">
                  <button class="btn btn-primary">ADD</button>
                </div>
            </div>
            <div class="col-12">
                <div class="spacer40"></div>
            </div>
            <div class="col-12">
                <div class="form-group-2">
                  <label>Name</label>
                  <input class="form-control" type="text" name="">
                </div>
            </div>
            <div class="col-12">
                <div class="form-group-2">
                  <label>Contact number</label>
                  <input class="form-control" type="text" name="">
                </div>
            </div>
            <div class="col-12">
                <div class="form-group-2">
                  <label>Email ID</label>
                  <input class="form-control" type="text" name="">
                </div>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-sm-3 col-12">
                <div class="form-group-2">
                  <label>Country</label>
                  <select class="form-control">
                      <option>1BHK</option>
                      <option>2BHK</option>
                      <option>3BHK</option>
                  </select>
                </div>
            </div>
            <div class="col-sm-3 col-12">
                <div class="form-group-2">
                  <label>City</label>
                  <select class="form-control">
                      <option>1BHK</option>
                      <option>2BHK</option>
                      <option>3BHK</option>
                  </select>
                </div>
            </div>
            <div class="col-sm-6 col-12">
                <div class="row">
                  <div class="col-9">
                      <div class="form-group-2">
                        <label>Neighbourhood</label>
                        <select class="form-control">
                            <option>1BHK</option>
                            <option>2BHK</option>
                            <option>3BHK</option>
                        </select>
                      </div>
                  </div>
                  <div class="col-3">
                      <div class="inline-form-group padding0 marginT10"> <button class="add-btn margin0"><img src="img/add.png" alt="img"></button></div>
                  </div>
                </div>
            </div>
          </div> -->
          <!-- <div class="row">
            <div class="col-sm-3 col-12">
                <div class="form-group-2">
                  <label>Country</label>
                  <select class="form-control">
                      <option>1BHK</option>
                      <option>2BHK</option>
                      <option>3BHK</option>
                  </select>
                </div>
            </div>
            <div class="col-sm-3 col-12">
                <div class="form-group-2">
                  <label>City</label>
                  <select class="form-control">
                      <option>1BHK</option>
                      <option>2BHK</option>
                      <option>3BHK</option>
                  </select>
                </div>
            </div>
            <div class="col-sm-6 col-12">
                <div class="row">
                  <div class="col-9">
                      <div class="form-group-2">
                        <label>Neighbourhood</label>
                        <select class="form-control">
                            <option>1BHK</option>
                            <option>2BHK</option>
                            <option>3BHK</option>
                        </select>
                      </div>
                  </div>
                  <div class="col-3">
                      <div class="inline-form-group padding0 marginT10"> <button class="add-btn margin0"><img src="img/add.png" alt="img"></button></div>
                  </div>
                </div>
            </div>
          </div> -->
          <div class="access-controls">
              <div class="select-controls">
              <label class="cust-check-bx2">Broker/Seller/Developer
              <input id="bsd" type="checkbox" checked="checked">
              <span class="checkmark"></span>
              </label>
              <div class="clearfix"></div>
              <div style="display:none;" id="broker-seller-dev" class="inner-select">
                <label class="cust-check-bx">Abc
                              <input type="checkbox">
                              <span class="checkmark"></span>
                  </label>
                  <label class="cust-check-bx inner-checked">Lorem ipsum
                              <input type="checkbox" checked="checked">
                              <span class="checkmark"></span>
                  </label>
                  <label class="cust-check-bx">xyz
                              <input type="checkbox">
                              <span class="checkmark"></span>
                  </label>
                  <label class="cust-check-bx">Abc
                              <input type="checkbox">
                              <span class="checkmark"></span>
                  </label>
                  <label class="cust-check-bx inner-checked">Lorem ipsum
                              <input type="checkbox" checked="checked">
                              <span class="checkmark"></span>
                  </label>
                  <label class="cust-check-bx">xyz
                              <input type="checkbox">
                              <span class="checkmark"></span>
                  </label>
  
              </div>
            </div>
            
              
                  <div class="select-controls">
              <label class="cust-check-bx2">Data Collector
              <input id="dc" type="checkbox">
              <span class="checkmark"></span>
              </label>
              <div class="clearfix"></div>
                    <div style="display:none;" id="data-collector" class="inner-select">
                <label class="cust-check-bx">Abc
                              <input type="checkbox">
                              <span class="checkmark"></span>
                  </label>
                  <label class="cust-check-bx inner-checked">Lorem ipsum
                              <input type="checkbox" checked="checked">
                              <span class="checkmark"></span>
                  </label>
                  <label class="cust-check-bx">xyz
                              <input type="checkbox">
                              <span class="checkmark"></span>
                  </label>
                  <label class="cust-check-bx">Abc
                              <input type="checkbox">
                              <span class="checkmark"></span>
                  </label>
                  <label class="cust-check-bx inner-checked">Lorem ipsum
                              <input type="checkbox" checked="checked">
                              <span class="checkmark"></span>
                  </label>
                  <label class="cust-check-bx">xyz
                              <input type="checkbox">
                              <span class="checkmark"></span>
                  </label>
  
              </div>
                </div>
  
  
                
            </div>
      </div>
    </div>
</div>