<div class="container-fluid">
<div class="row">
    <div class="col-12">
      <div class="title-group">
          <h5>Add ACL User</h5>
          <div class="spacer30"></div>
      </div>
    </div>
</div>
<div class="white-bg padding40">
    <div class="row">
    <form role="form" ngNativeValidate #addForm="ngForm" (ngSubmit)="add()">
      <div class="col-xl-12 col-lg-12 col-md-12 col-12">
          <div class="row">
            <div class="col-6">
                <div class="add-img">
                  <input type="file" name="">
                  <label>+ Add Image</label>
                </div>
            </div>
            <div class="col-6">
                <div class="btn-cont text-right">
                    <button *ngIf="model.id==''" type="submit" [disabled]="!addForm.valid" class="btn btn-primary">ADD</button>
                    <button *ngIf="model.id!=''" type="submit" class="btn btn-primary">UPDATE</button>
                </div>
            </div>
            <div class="col-12">
                <div class="spacer40"></div>
            </div>
            <div class="col-12">
                <div class="form-group-2">
                  <label>Name</label>
                  <input autocomplete="off" required type="text" class="form-control" [(ngModel)]="model.name" name="name">
                </div>
            </div>
            <div class="col-12">
                <div class="form-group-2">
                  <label>Contact number</label>
                  <input minlength="6" maxlength="16" autocomplete="off" type="text" [pattern]="constant.phonePattern" class="form-control" id="phone" required minlength="1" [(ngModel)]="model.phone" name="phone"
                        ng2TelInput [ng2TelInputOptions]="initialCountry" (countryChange)="onCountryChange($event)" />
                </div>
            </div>
            <div class="col-12">
                <div class="form-group-2">
                  <label>Email ID</label>
                  <input autocomplete="off" required [pattern]="constant.emailPattern" type="email" class="form-control" [(ngModel)]="model.email" name="email">
                </div>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-sm-3 col-12">
                <div class="form-group-2">
                  <label>Country</label>
                  <select class="form-control">
                      <option>1BHK</option>
                      <option>2BHK</option>
                      <option>3BHK</option>
                  </select>
                </div>
            </div>
            <div class="col-sm-3 col-12">
                <div class="form-group-2">
                  <label>City</label>
                  <select class="form-control">
                      <option>1BHK</option>
                      <option>2BHK</option>
                      <option>3BHK</option>
                  </select>
                </div>
            </div>
            <div class="col-sm-6 col-12">
                <div class="row">
                  <div class="col-9">
                      <div class="form-group-2">
                        <label>Neighbourhood</label>
                        <select class="form-control">
                            <option>1BHK</option>
                            <option>2BHK</option>
                            <option>3BHK</option>
                        </select>
                      </div>
                  </div>
                  <div class="col-3">
                      <div class="inline-form-group padding0 marginT10"> <button class="add-btn margin0"><img src="img/add.png" alt="img"></button></div>
                  </div>
                </div>
            </div>
          </div> -->
          <!-- <div class="row">
            <div class="col-sm-3 col-12">
                <div class="form-group-2">
                  <label>Country</label>
                  <select class="form-control">
                      <option>1BHK</option>
                      <option>2BHK</option>
                      <option>3BHK</option>
                  </select>
                </div>
            </div>
            <div class="col-sm-3 col-12">
                <div class="form-group-2">
                  <label>City</label>
                  <select class="form-control">
                      <option>1BHK</option>
                      <option>2BHK</option>
                      <option>3BHK</option>
                  </select>
                </div>
            </div>
            <div class="col-sm-6 col-12">
                <div class="row">
                  <div class="col-9">
                      <div class="form-group-2">
                        <label>Neighbourhood</label>
                        <select class="form-control">
                            <option>1BHK</option>
                            <option>2BHK</option>
                            <option>3BHK</option>
                        </select>
                      </div>
                  </div>
                  <div class="col-3">
                      <div class="inline-form-group padding0 marginT10"> <button class="add-btn margin0"><img src="img/add.png" alt="img"></button></div>
                  </div>
                </div>
            </div>
          </div> -->
        
          <div class="access-controls">
              <div class="select-controls" *ngFor="let permission of model.admin_acl; let i=index">
              <label class="cust-check-bx2" [ngClass]="{'access-control11':permission.can_create==1 || permission.can_read==1 || permission.can_update==1 || permission.can_delete==1}">{{permission?.acl?.name}}
              <input (click)="expandBox(i)" type="checkbox" [checked]="permission.can_create == 1 || permission.can_read==1 || permission.can_update==1 || permission.can_delete==1 ? 'checked': ''">
              <span class="checkmark"></span>
              </label>
              
              <div class="clearfix"></div>
              <div *ngIf="permission.show" id="broker-seller-dev" class="inner-select">
                <label class="cust-check-bx" [ngClass]="{'inner-checked':permission.can_create==1}">Can Create
                    <input type="checkbox" [checked]="permission.can_create == 1 ? 'checked': ''"  (click)="setPermission('can_create', i)">
                    <span class="checkmark"></span>
                </label>
                <label class="cust-check-bx" [ngClass]="{'inner-checked':permission.can_read==1}">Can Read
                    <input type="checkbox" [checked]="permission.can_read == 1 ? 'checked': ''"  (click)="setPermission('can_read', i)">
                    <span class="checkmark"></span>
                </label>
                <label class="cust-check-bx" [ngClass]="{'inner-checked':permission.can_update==1}">Can Update
                    <input type="checkbox" [checked]="permission.can_update == 1 ? 'checked': ''"  (click)="setPermission('can_update', i)">
                    <span class="checkmark"></span>
                </label>
                <label class="cust-check-bx" [ngClass]="{'inner-checked':permission.can_delete==1}">Can Block/Unblock
                    <input type="checkbox" [checked]="permission.can_delete == 1 ? 'checked': ''"  (click)="setPermission('can_delete', i)">
                    <span class="checkmark"></span>
                </label>
                <label class="cust-check-bx" [ngClass]="{'inner-checked':permission.can_crud==1}">CRUD
                    <input type="checkbox" [checked]="permission.can_crud == 1 ? 'checked': ''"  (click)="setPermission('can_crud', i)">
                    <span class="checkmark"></span>
                </label>
                <br>
              </div>
              <div class="clearfix"></div>
            </div>
            
            <!-- inner-checked -->
                  <!-- <div class="select-controls">
              <label class="cust-check-bx2">Data Collector
              <input id="dc" type="checkbox">
              <span class="checkmark"></span>
              </label>
              <div class="clearfix"></div>
                    <div style="display:none;" id="data-collector" class="inner-select">
                <label class="cust-check-bx">Abc
                              <input type="checkbox">
                              <span class="checkmark"></span>
                  </label>
                  <label class="cust-check-bx inner-checked">Lorem ipsum
                              <input type="checkbox" checked="checked">
                              <span class="checkmark"></span>
                  </label>
                  <label class="cust-check-bx">xyz
                              <input type="checkbox">
                              <span class="checkmark"></span>
                  </label>
                  <label class="cust-check-bx">Abc
                              <input type="checkbox">
                              <span class="checkmark"></span>
                  </label>
                  <label class="cust-check-bx inner-checked">Lorem ipsum
                              <input type="checkbox" checked="checked">
                              <span class="checkmark"></span>
                  </label>
                  <label class="cust-check-bx">xyz
                              <input type="checkbox">
                              <span class="checkmark"></span>
                  </label>
  
              </div>
                </div> -->
  
  
                
            </div>
      </div>
      </form>
    </div>
</div>