
<div class="container-fluid">
<div class="row">
    <div class="col-12">
      <div class="title-group">
          <h5>{{model.id ? 'Edit' : 'Add'}} Agency</h5>
          <div class="spacer30"></div>
      </div>
    </div>
</div>

<div class="white-bg padding40">
    <div class="row">
    <form role="form" ngNativeValidate #addForm="ngForm" (ngSubmit)="add(addForm)">
      <div class="col-xl-12 col-lg-12 col-md-12 col-12">
          <div class="row">
            <div class="col-2">
              <div class="add-img" style="display:flex;">
                  <img *ngIf="model?.image" [src]="model?.image" [defaultImage]="model?.image| img:'thumb'" [lazyLoad]="model?.image" style="object-fit: cover; width: 100%;">
                  <label *ngIf="model?.image">
                    <input accept="image/*" name="image" class="image" (change)="changeListner($event, 'img_loader', 'image')" type="file">
                  </label>
                  <label *ngIf="!model?.image">+ Add Image</label>
                  <input *ngIf="!model?.image" accept="image/*" name="image" class="image" (change)="changeListner($event, 'img_loader', 'image')" type="file">
                  <div *ngIf="model.img_loader" class="loaderr"></div>
              </div>
            </div>
            <div class="col-2">
                <div class="add-img" style="display:flex;">
                    <img *ngIf="model?.logo" [src]="model?.logo" [defaultImage]="model?.logo| img:'thumb'" [lazyLoad]="model?.logo" style="object-fit: cover; width: 100%;">
                    <label *ngIf="model?.logo">
                      <input accept="image/*" name="image" class="image" (change)="changeListner($event, 'logo_loader', 'logo')" type="file">
                    </label>
                    <label *ngIf="!model?.logo">+ Add Logo</label>
                    <input *ngIf="!model?.logo" accept="image/*" name="image" class="image" (change)="changeListner($event, 'logo_loader', 'logo')" type="file">
                    <div *ngIf="model.logo_loader" class="loaderr"></div>
                </div>
            </div>
            <div class="col-8">
                <div class="btn-cont text-right">
                    <button *ngIf="!model?.id" type="submit" [disabled]="!addForm.valid" class="btn btn-primary">ADD</button>
                    <button *ngIf="model?.id" type="submit" class="btn btn-primary">UPDATE</button>
                </div>
            </div>
            <div class="col-12">
                <div class="spacer40"></div>
            </div>

            <div class="col-12">
              <div class="form-group-2">
                <label>Company Name (Commercial Name)<span class="color-red">*</span></label>
                <input autocomplete="off" [pattern]="constant.onlyWhiteSpaces" required type="text" class="form-control" [(ngModel)]="model.name" name="name">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group-2">
                <label>RFC (Legal ID)<span class="color-red">*</span></label>
                <input autocomplete="off" [pattern]="constant.onlyWhiteSpaces" required type="text" class="form-control" [(ngModel)]="model.rfc" name="rfc">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group-2">
                <label>Razon Social (Legal Name)<span class="color-red">*</span></label>
                <input autocomplete="off" [pattern]="constant.onlyWhiteSpaces" required type="text" class="form-control" [(ngModel)]="model.razon_social" name="razon_social">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group-2">
                <label>Name<span class="color-red">*</span></label>
                <input autocomplete="off" [pattern]="constant.onlyWhiteSpaces" required type="text" class="form-control" [(ngModel)]="model.person_in_charge" name="person_in_charge">
              </div>
            </div>
            <div class="col-12">
                <div class="form-group-2">
                  <label>Contact number <span class="color-red">*</span></label>
                  <input minlength="6" maxlength="16" autocomplete="off" type="text" [pattern]="constant.phonePattern" class="form-control" id="phone" required minlength="1" [(ngModel)]="model.phone" name="phone"
                        ng2TelInput [ng2TelInputOptions]="initialCountry" (countryChange)="onCountryCodeChange($event)" />
                </div>
            </div>
            <div class="col-12">
                <div class="form-group-2">
                  <label>Email ID <span class="color-red">*</span></label>
                  <input (keydown.space)="$event.preventDefault();" autocomplete="off" required [pattern]="constant.emailPattern" type="email" class="form-control" [(ngModel)]="model.email" name="email">
                </div>
            </div>
            <div class="col-12">
                <div class="form-group-2">
                  <label>Address <span class="color-red">*</span></label>
                  <input placeholder="Search for address" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search (input)="loadPlaces('address', 'lat', 'lng', 'searchElementRef')" name="address" [(ngModel)]="model.address" autocomplete="off">
                </div>
            </div>
            <div class="col-12">
              <div class="form-group-2">
                  <label>Location Pin on Map<span class="color-red">*</span></label>
                  <agm-map class="height200" [latitude]="model.lat" [longitude]="model.lng" [scrollwheel]="false" (mapClick)="placeMarker($event, 'address', 'lat', 'lng')" [zoom]="constant.zoom">
                    <agm-marker [latitude]="model.lat" [longitude]="model.lng"></agm-marker>
                  </agm-map>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group-2">
                <label>Description <span class="color-red">*</span></label>
                <textarea autocomplete="off" [pattern]="constant.onlyWhiteSpaces" required rows="3" class="form-control" name="description" [(ngModel)]="model.description"></textarea>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group-2">
                <label>Branch Office<span class="color-red">*</span></label>
                <input placeholder="Search for branch office" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search1 (input)="loadPlaces('branch_office', 'branch_lat', 'branch_lng', 'search1ElementRef')" name="branch_office" [(ngModel)]="model.branch_office" autocomplete="off">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group-2">
                  <label>Location Pin on Map</label>
                  <agm-map class="height200" [latitude]="model.branch_lat" [longitude]="model.branch_lng" [scrollwheel]="false" (mapClick)="placeMarker($event, 'branch_office', 'branch_lat', 'branch_lng')" [zoom]="constant.zoom">
                    <agm-marker [latitude]="model.branch_lat" [longitude]="model.branch_lng"></agm-marker>
                  </agm-map>
              </div>
            </div>
            
          </div>
      </div>
      </form>
    </div>
</div>
