.logo .logo-name{
    font-size: 3em; letter-spacing: -1px;
}
.show-error{
    background: rgba(0, 0, 0, 0.2);
    padding: 10px 0px;
    border-radius: 4px;
    font-size: 18px;
    margin-top: 10%;
}
:host {
    display: block;
}
.login-page .ibox-content{
    border: none; background: rgba(0, 0, 0, 0.2);
}
.login-page {
    position: absolute; 
    top: 0;
    left: 0; right: 0; bottom: 0; overflow: auto; 
    text-align: center; 
    padding: 3em;
}
.login-page p{
    text-align: center; 
    color: #888888;
}
.login-page h3{
    text-align: center; 
    color: #bfbcbc;
}
.login-page .user-avatar {
    width: 50%;
}
.profile_image{
    height: 90px;
    border-radius: 50%;
}
.img_div{
    padding-top: 8%;
}
.img_label{
    background: rgba(0, 0, 0, 0.2); padding: 2px 10px 2px 10px; border-radius: 3px; color: #fff; font-weight: 400; font-size: 13px;
    padding: 10px;
}
.img_label input{
    display: none;
}