<ngx-loading [show]="parameter.loading"></ngx-loading>
<div class="container-fluid">
      <div class="row">
         <div class="col-md-4">
               <div class="form-group">
                  <p class="p16">Manage Properties</p>
               </div>
         </div>
      </div>
      <div class="row">
         <div class="offset-md-4"></div>
         <div class="col-md-8 col-12">
               <div class="cust-tabs-2">
                  <ul class="nav nav-tabs float-right">
                     <li class="nav-item">
                        <a [ngClass]="{'active':parameter.dash_flag == 1}" (click)="changeFlag(1)" class="nav-link" data-toggle="tab" href="#tw">This Week</a>
                     </li>
                     <li class="nav-item">
                        <a [ngClass]="{'active':parameter.dash_flag == 2}" (click)="changeFlag(2)" class="nav-link" data-toggle="tab" href="#tm">This Month</a>
                     </li>
                     <li class="nav-item">
                        <a [ngClass]="{'active':parameter.dash_flag == 3}" (click)="changeFlag(3)" class="nav-link" data-toggle="tab" href="#lm">Last Month</a>
                     </li>
                     <li class="nav-item">
                        <a [ngClass]="{'active':parameter.dash_flag == 4}" (click)="changeFlag(4)" class="nav-link" data-toggle="tab" href="#lt">Lifetime</a>
                     </li>
                     <li class="nav-item">
                        <a [ngClass]="{'active':parameter.dash_flag == 5}" (click)="changeFlag(5)" class="nav-link" data-toggle="tab" href="#cust">Custom</a>
                     </li>
                  </ul>
               </div>
         </div>
      </div>
   
      <div class="row">
      <div class="col-12">
            <div *ngIf="parameter.dash_flag == 5" class="row">
               <div class="offset-lg-7"></div>
               <div class="col-lg-2 col-md-2 col-sm-5 col-5">
               <div class="form-group marginB0">
                  <label>From:</label>
                  <p-calendar showIcon="true" [(ngModel)]="parameter.min" [maxDate]="today" showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
               </div>
               </div>
               <div class="col-lg-2 col-md-2 col-sm-5 col-5">
               <div class="form-group marginB0">
                  <label>To:</label>
                  <p-calendar showIcon="true" [(ngModel)]="parameter.max" [minDate]="parameter.min" [maxDate]="today" showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
               </div>
               </div>
               <div class="col-lg-1 col-md-2 col-sm-2 col-6">
               <div class="form-group btn-cont">
                  <label class="addMT3">&nbsp;</label>
                  <button class="btn btn-calender" href="javascript://" (click)="getListing()"
                        [disabled]="!parameter.min || !parameter.max">Apply</button>
               </div>
               </div>
            </div>
      </div>
   </div>

   <div class="row">
      <div class="col-lg-2 col-md-2">
            <div class="form-group">
            <label>Country</label>
            <select class="form-control" (change)="onCountryChange($event.target.value)">
               <option value="0">All</option>
               <option *ngFor="let item of location.countries" [value]="item.id">{{item.name}}</option>
            </select>
            </div>
      </div>
      <div class="col-lg-2 col-md-2">
            <div class="form-group">
            <label>State</label>
            <select class="form-control" (change)="onStateChange($event.target.value)">
               <option value="0">All</option>
               <option *ngFor="let item of location.states" [value]="item.id">{{item.name}}</option>
            </select>
            </div>
      </div>
      <div class="col-lg-2 col-md-2">
            <div class="form-group">
            <label>City</label>
               <select class="form-control" (change)="onCityChange($event.target.value)">
               <option value="0">All</option>
               <option *ngFor="let item of location.cities" [value]="item.id">{{item.name}}</option>
               </select>
            </div>
      </div>

      <div class="col-lg-2 col-md-2">
            <div class="form-group">
            <label>Locality</label>
            <select class="form-control" (change)="getLocalityBuildings($event.target.value)">
               <option value="0">All</option>
               <option *ngFor="let item of location.localities" [value]="item.id">{{item.name}}</option>
            </select>
            </div>
      </div>

      <div class="col-lg-2 col-md-2">
         <div class="form-group marginB0">
               <label>Building</label>
               <select class="form-control" (change)="setBuilding($event.target.value)">
               <option value="0">All</option>
               <option *ngFor="let building of parameter.buildings" value="{{building.id}}">{{building.name}}</option>
               </select>
         </div>
      </div>
      
      <div class="col-lg-1 col-md-2">
            <div class="form-group btn-cont">
            <label style="display: block; margin-top: 3px;">&nbsp;</label>
            <button type="button" (click)="getListing()" class="btn btn-primary-new width100P P86">Apply</button>
            </div>
      </div>

      <div class="col-lg-1 col-md-2">
            <div class="form-group btn-cont">
            <label style="display: block; margin-top: 3px;">&nbsp;</label>
            <button type="button" (click)="resetFilters()" class="btn btn-primary-new width100P P86">Reset</button>
            </div>
      </div>
   </div>
   <!-- <div class="row">
      <div class="col-md-4">
      <div class="form-group">
         <p class="p16">Manage Properties</p>
         </div>
      </div>
      <div class="col-md-2">
   <div class="form-group">
   <label>Country</label>
      <select class="form-control" (change)="onCountryChange($event.target.value)">
         <option value="0">All</option>
         <option *ngFor="let item of location.countries" [value]="item.id">{{item.name}}</option>
      </select>
   </div>
   </div>
   <div class="col-md-2">
   <div class="form-group">
   <label>State</label>
      <select class="form-control" (change)="onStateChange($event.target.value)">
         <option value="0">All</option>
         <option *ngFor="let item of location.states" [value]="item.id">{{item.name}}</option>
      </select>
   </div>
   </div>
   <div class="col-md-2">
      <div class="form-group">
      <label>City</label>
         <select class="form-control" (change)="onCityChange($event.target.value)">
         <option value="0">All</option>
         <option *ngFor="let item of location.cities" [value]="item.id">{{item.name}}</option>
         </select>
      </div>
   </div>

   <div class="col-md-2">
   <div class="form-group">
   <label>Locality</label>
   <select class="form-control" (change)="onLocalityChange($event.target.value)">
         <option value="0">All</option>
         <option *ngFor="let item of location.localities" [value]="item.id">{{item.name}}</option>
      </select>
   </div>
   </div>
   </div>

   <div class="row">
         <div class="col-md-12">
            <div class="cust-tabs-2">
               <ul class="nav nav-tabs float-right">
                  <li class="nav-item">
                     <a [ngClass]="{'active':parameter.dash_flag == 1}" (click)="parameter.dash_flag=1;getListing()" class="nav-link" data-toggle="tab" href="#tw">This Week</a>
                  </li>
                  <li class="nav-item">
                     <a [ngClass]="{'active':parameter.dash_flag == 2}" (click)="parameter.dash_flag=2;getListing()" class="nav-link" data-toggle="tab" href="#tm">This Month</a>
                  </li>
                  <li class="nav-item">
                     <a [ngClass]="{'active':parameter.dash_flag == 3}" (click)="parameter.dash_flag=3;getListing()" class="nav-link" data-toggle="tab" href="#lm">Last Month</a>
                  </li>
                  <li class="nav-item">
                     <a [ngClass]="{'active':parameter.dash_flag == 4}" (click)="parameter.dash_flag=4;getListing()" class="nav-link" data-toggle="tab" href="#lt">Lifetime</a>
                  </li>
                  <li class="nav-item">
                     <a [ngClass]="{'active':parameter.dash_flag == 5}" (click)="parameter.dash_flag=5" class="nav-link" data-toggle="tab" href="#cust">Custom</a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="col-12">
            <div *ngIf="parameter.dash_flag == 5" class="pull-right row">
               <div class="col-lg-4 col-md-4 col-sm-5 col-5">
               <div class="form-group marginB0">
                     <label>From:</label>
                     <p-calendar showIcon="true" [(ngModel)]="parameter.min" [maxDate]="today" showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
               </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-5 col-5">
               <div class="form-group marginB0">
                     <label>To:</label>
                     <p-calendar showIcon="true" [(ngModel)]="parameter.max" [minDate]="parameter.min" [maxDate]="today" showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
               </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-2 col-6">
               <div class="form-group btn-cont">
                     <label class="addMT3">&nbsp;</label>
                     <button class="btn btn-calender" href="javascript://" (click)="getListing()"
               [disabled]="!parameter.min || !parameter.max">Apply</button>
               </div>
               </div>
            </div>
         </div>
      </div> -->

         <div class="cust-tabs">
         <div class="row flex-wrap-reverse">
            
         <div class="col-xl-10 col-lg-12 col-md-12 col-sm-12 col-12">
         <ul class="nav nav-tabs">
            <li class="nav-item">
               <a [ngClass]="{'active':parameter.flag==3}" (click)="changePropertyFlag(3)" class="nav-link" >Approved</a>
            </li>
            <li class="nav-item">
               <a [ngClass]="{'active':parameter.flag==4}" (click)="changePropertyFlag(4)" class="nav-link" >Unapproved</a>
            </li>
               <li class="nav-item">
               <a [ngClass]="{'active':parameter.flag==2}" (click)="changePropertyFlag(2)" class="nav-link" >Pending Review</a>
            </li>
               <li class="nav-item">
               <a [ngClass]="{'active':parameter.flag==1}" (click)="changePropertyFlag(1)" class="nav-link" >In Draft</a>
            </li>
         </ul>
         </div>
         <div class="col-xl-2 col-lg-12 col-md-12 col-sm-12 col-12"><div class="add-new text-left">
               <a *ngIf="admin?.admin_acl['Property Management']?.can_create==1" class="btn" href="javascript://" routerLink="/dashboard/properties/add-property/0/0">+Add New Property</a>
            </div></div>
            </div>
         <div class="tab-content white-bg">
            <div class="tab-pane active">
               <div class="tabel-section">
                  <div class="table-responsive">
                     <table class="table table-striped table-align-left">
                        <tr>
                           <th style="width:15%; text-align:left;">
                              <div class="table-search">
                                 <label>Name of Building</label>
                                 <div class="searh-3">
                                    <input type="text" [(ngModel)]="parameter.keyword" (keyup.enter)="getListing()" >
                                    <button *ngIf="parameter.keyword" (click)="getListing()"><i class="fa fa-search"></i></button>
                                 </div>
                              </div>
                           </th>
                           <th style="width:10%; text-align:left;">
                              <div class="table-search">
                                 <label>Configuration</label>
                                 <select [(ngModel)]="parameter.configuration_id" (change)="getListing()">
                                    <option value="0">All configuration</option>
                                    <option *ngFor="let c of configurations" value="{{c.id}}" >
                                       {{c.name}}
                                    </option>
                                 </select>
                              </div>
                           </th>
                           <th style="width:10%;vertical-align:top;">
                              <div (click)="sort_by(1)" class="d-flex table-search">
                                 <label>Price</label>
                                 <a href="javascript://"><img [ngClass]="{'upsidedown':parameter.sort_by==1 && parameter.sort_by_order==0}" src="assets/img/top-arrow.png" alt="img"></a></div>
                           </th>
                           <th style="width:10%;vertical-align:top;">
                              <div (click)="sort_by(2)" class="d-flex table-search">
                                 <label>Availability</label>
                              <a href="javascript://"><img [ngClass]="{'upsidedown':parameter.sort_by==2 && parameter.sort_by_order==0}" src="assets/img/top-arrow.png" alt="img"></a>
                              </div>
                           </th>
                           <th style="width:8%;vertical-align:top;">
                              <div (click)="sort_by(3)" class="d-flex table-search">
                                 <label>Leads</label>
                                 <a href="javascript://"><img [ngClass]="{'upsidedown':parameter.sort_by==3 && parameter.sort_by_order==0}" src="assets/img/top-arrow.png" alt="img"></a>
                              </div>

                              <!-- <div (click)="sort_by(3)" class="-d-flex table-search">
                                 <label>Leads</label>
                                 <a href="javascript://"><img [ngClass]="{'upsidedown':parameter.sort_by==3 && parameter.sort_by_order==0}" src="assets/img/top-arrow.png" alt="img"></a></div> -->
                           </th>
                           <th style="width:8%;vertical-align:top;">
                              <div class="d-flex table-search">
                                 <label>Link seller</label>
                              </div>
                           </th>
                           <th style="width:8%;vertical-align:top;">
                              <div class="d-flex table-search">
                                 <label>Assign outside<br>agent</label>
                              </div>
                           </th>
                           <th style="width:10%;vertical-align:top;">
                              <div class="d-flex table-search">
                                 <label>Change property <br> sold status</label>
                              </div>
                           </th>
                           <th style="width:20%;">&nbsp;</th>
                        </tr>
                  
                        <tr *ngFor="let p of items | paginate: { itemsPerPage: parameter.itemsPerPage, currentPage: parameter.page, totalItems: total }; let i=index">
                              <td class="cursor-pointer" title="Click to view details" routerLink="/dashboard/properties/details/{{p.id}}">
                              <strong>{{p?.building?.name?p?.building?.name:'NA'}}</strong>
                              <!-- <strong>{{p?.name ? p?.name : 'NA'}}</strong> -->
                              <div class="clearfix"></div>
                              <small *ngIf="p.quantity > 0">
                                 {{p.quantity}} 
                                 <span *ngIf="p.quantity == 1">property</span>
                                 <span *ngIf="p.quantity > 1">properties</span>
                              </small>                                     

                              </td>
                              <td><span *ngIf="p && p.configuration">{{p.configuration?.name}}</span></td>
                              <td><span>{{p.min_price}}</span></td>
                              <td><span class="green-color">
                              <span *ngIf="p.for_sale">Sell</span>
                              <span *ngIf="p.for_rent">Rent</span></span>
                              </td>
                              <td><span>{{p.lead_properties_count}}</span></td>
                              
                              <td class="cursor-pointer" title="Link Seller to Property" (click)="showAllSellers(p?.id)">
                                 <span class="green-color"><span>Link</span></span>
                              </td>
                              
                              <td class="cursor-pointer" (click)="getInhouseBroker(p, '')">
                                 <span class="green-color">
                                    <span title="Click to {{p?.external_broker?.id ? 'change' : 'assign'}}">{{p?.external_broker?.id ? 'Change' : 'Assign'}}</span>
                                 </span>
                              </td>
                              <td class="cursor-pointer" (click)="changeSoldStatusPopup(p, i)" *ngIf="p.for_sale">
                                 <span class="green-color">
                                    <span title="Click to mark property sold." *ngIf="p.for_sale && !p.is_property_sold">Mark Sold</span>
                                    <span title="Click to made available for sale." *ngIf="p.for_sale && p.is_property_sold">Mark Available</span>
                                 </span>
                              </td>
                              <td *ngIf="p.for_rent">
                                 <span class="green-color">
                                    <span>Available for rent out</span>
                                 </span>
                              </td>

                              <td>
                              <div class="message">
                                 <button [disabled]="admin?.admin_acl['Property Management']?.can_update==0" *ngIf="parameter?.flag!=3" routerLink="../edit-property/{{p.id}}" title="Edit Details" class="action-icon"><img src="assets/img/edit.png" alt="img"></button>
                                 <button [disabled]="admin?.admin_acl['Property Management']?.can_update==0" *ngIf="parameter?.flag==3" routerLink="../edit-property/{{p.id}}/edit" title="Edit Details" class="action-icon"><img src="assets/img/edit.png" alt="img"></button>
                                 <button [disabled]="admin?.admin_acl['Property Management']?.can_delete==0" *ngIf="!p.is_blocked" (click)="block(p);" class="action-icon" title="Block"><img src="assets/img/block.png" alt="img"></button>
                                 <button [disabled]="admin?.admin_acl['Property Management']?.can_delete==0" *ngIf="p.is_blocked == true" (click)="unblock(p);" class="action-icon unblock-bg" title="UnBlock"><img src="assets/img/unblock.png" alt="img"></button>
                                 <button [disabled]="admin?.admin_acl['Property Management']?.can_update==0" *ngIf="p.status == 3" (click)="changeStatus(p,2);" class="action-icon" title="Unapprove"><img src="assets/img/ic_disapprove.png" alt="img"></button>
                                 <button [disabled]="admin?.admin_acl['Property Management']?.can_update==0" *ngIf="p.status == 2" (click)="changeStatus(p,3);" class="action-icon" title="Approve"><img src="assets/img/tick.png" alt="img"></button>
                                 <button [disabled]="admin?.admin_acl['Property Management']?.can_update==0" *ngIf="p.status == 3 && p.is_featured==0" (click)="markPropertyFeatured(p,1);" class="action-icon" title="Mark feature"><img src="assets/img/ic_featured.png" alt="img"></button>
                                 <button [disabled]="admin?.admin_acl['Property Management']?.can_update==0" *ngIf="p.status == 3 && p.is_featured==1" (click)="markPropertyFeatured(p,0);" class="action-icon" title="Mark unfeature"><img src="assets/img/tick-selected.png" alt="img"></button>
                                 <!-- delete -->
                                 <button [disabled]="admin?.admin_acl['Property Management']?.can_purge==0" (click)="deletePopup(p, i)" class="action-icon" 
                                    title="Delete Property"><img src="assets/img/ic_delete.png" alt="img"></button>
                              </div>

                              </td>
                        </tr>
                        <!-- <tr *ngIf="parameter.loading == false && total == 0">
                           <td colspan="10">No result found</td>
                           </tr> -->
                     </table>
                     <div class="padding20 center" *ngIf="parameter.loading == false && total == 0">
                           <img src="assets/img/404-error.png">
                     </div>
                  </div>
               </div>
            </div>
            <div class="tab-pane container fade" id="seller">Seller tab on</div>
         </div>
      </div>
      
    <div class="btn-cont marginT15" *ngIf="total">
         <div class="row">
             <div class="col-6">
                 <div class="title-group">
                     <p>Showing {{items?.length}} out of {{total}}</p>
                 </div>
             </div>
             <div class="col-6 text-right">
                 <pagination-controls class="my-pagination" (pageChange)="getPage($event)"></pagination-controls>
             </div>
         </div>
     </div>
</div>




<!-- Link Seller -->
<a data-toggle="modal" data-target="#link-seller-model" #linkSellerModal></a>
<div class="modal" id="link-seller-model">
   <div class="modal-dialog ">
      <div class="modal-content notary-avail">
            <div class="modal-header popup-header">
            <h4 class="modal-title">Link Seller</h4>
            <button type="button" class="close" #closeLinkSellerModal data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

               <p class="modal-title" *ngIf="selecter_seller">Currently linked to Seller - <b>{{selecter_seller?.user?.name}}</b></p>

               <!-- <div class="row">
                     <input style="max-width:200px" [(ngModel)]="keyword" (input)="showAllSellers()" class="form-control" type="text" name="keyword" placeholder="Search">
               </div> -->
               <div class="spacer40"></div>
               <table class="table">
                  <tr *ngFor="let item of allSellers">
                        <td *ngIf="item?.user?.is_blocked!=1">
                           <div class="n-avail-profile">
                           <img [src]="item?.user?.image| img:'small'" onerror='src="assets/img/default_img.png"' alt="img">
                           <div class="n-avail-info">
                              <p class="p12">{{item?.user?.name}}</p>
                              <p class="p10">Phone : {{item?.user?.dial_code ? item?.user?.dial_code : constant.dial_code}}-{{item?.user?.phone}}</p>
                           </div>
                           </div>
                        </td>
                        <td *ngIf="item.is_blocked!=1">
                           <!-- <label class="cust-check-bx float-right">
                              <input type="radio" name="user_id" (click)="assignItem = item">
                              <span class="checkmark"></span>
                           </label> -->
                           <!-- <button *ngIf="item.status == 0" (click)="changeStatusSellerSelection(item.property_id, item.user_id, 2)" class="action-icon" title="Reject">
                              <img src="assets/img/tick-selected.png" alt="img"></button> -->
                           <button (click)="changeStatusPopUp(item.property_id, item.user_id, 1)" class="action-icon" title="Accept">
                              <img src="assets/img/tick.png" alt="img"></button>
                        </td>
                  </tr>
                  <tr *ngIf="allSellers?.length==0">
                     <p class="show-not-found">
                        No seller found.
                     </p>
                  </tr>
               </table>
            </div>
      </div>
   </div>
</div>

<!-- Link External Broker -->
<a data-toggle="modal" data-target="#link-broker-model" #linkExtBrokerModal></a>
<div class="modal" id="link-broker-model">
   <div class="modal-dialog ">
      <div class="modal-content notary-avail">
            <div class="modal-header popup-header">
            <h4 class="modal-title">{{property?.external_broker?.id ? 'Change' : 'Assign'}} External Agent</h4>
            <button type="button" class="close" #closeExtBrokerModal data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

               <p class="modal-title" *ngIf="property?.external_broker?.id">Currently assigned to Agent - <b>{{property?.external_broker?.name}}</b></p>

               <div class="spacer30"></div>
               <input style="max-width:200px" [(ngModel)]="keyword" (input)="getInhouseBroker('', keyword)" class="form-control" type="text" name="keyword" placeholder="Search">

               <div class="spacer40"></div>
               <table class="table">
                  <tr *ngFor="let item of allExtBrokers">
                        <td>
                           <div class="n-avail-profile">
                           <img [src]="item?.image| img:'small'" onerror='src="assets/img/default_img.png"' alt="img">
                           <div class="n-avail-info">
                              <p class="p12">{{item?.name}}</p>
                              <p class="p10">Phone : {{item?.dial_code ? item?.dial_code : constant.dial_code}}-{{item?.phone}}</p>
                           </div>
                           </div>
                        </td>
                        <td>
                           <!-- <label class="cust-check-bx float-right">
                              <input type="radio" name="user_id" (click)="assignItem = item">
                              <span class="checkmark"></span>
                           </label> -->
                           <!-- <button *ngIf="item.status == 0" (click)="changeStatusSellerSelection(item.property_id, item.user_id, 2)" class="action-icon" title="Reject">
                              <img src="assets/img/tick-selected.png" alt="img"></button> -->
                           <button (click)="attachExternalBrokerPopUp(item)" class="action-icon" title="Accept">
                              <img src="assets/img/tick.png" alt="img"></button>
                        </td>
                  </tr>
                  <tr *ngIf="allExtBrokers?.length==0">
                     <p class="show-not-found">No external agent found.</p>
                  </tr>
               </table>
            </div>
      </div>
   </div>
</div>