.circle-radio {
  position: relative;
  padding: 0px 10px 0px 0px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.circle-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.circle-radio input:checked ~ .checkmark {
  background-color: #00B96F;
  border: 1px solid #00B96F;
  color: #fff;
}
.circle-radio .checkmark {
  box-sizing: border-box;
  height: 30px;
  width: 30px;
  border-radius: 29px;
  border: 1px solid #BDBDBD;
  text-align: center;
  display: inline-block;
  padding: 3px 9px 0px 5px;
}
.cust-radio {
  position: relative;
  padding: 0px 10px 0px 0px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cust-radio .checkmark {
  border-radius: 20px;
    text-align: center;
    border: 1px solid #BDBDBD;
    padding-top: 2px;
    display: inline-block;
    padding: 3px 10px;
    min-width: 88px;
}
.cust-radio input:checked ~ .checkmark {
  background-color: #00B96F;
  border: 1px solid #00B96F;
  color: #fff;
}
h4.serch-title {
  height: 19px;
  width: 192px;
  color: #333;
  font-family: "sf_ui_textregular";
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 19px;
}
h4.serch1-title {
  height: 19px;
  width: 192px;
  color: #333;
  font-family: "sf_ui_textregular";
  font-size: 16px;
}
h4.configuration-title{
  height: 17px;
    width: 101px;
    color: #333;
    font-family: "sf_ui_textlight";
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    margin-left: 16px;
    margin-bottom: 19px;
}
input[type="text"] {
    background-color : white; 
}
.form-group .form-control {
  height: 40px;
  border: 1px solid rgba(0,0,0,0.11);
  border-radius: 4px;
  color: #3E3E3E;
  font-size: 14px;
  font-weight: 500;
  box-shadow: none;
  background-color: white;
}

.switch1 {
  position: relative;
  display: inline-block;
  width: 61px;
  height: 34px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
height: 34px;
margin-left: 29px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  .switch1 input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 49px;
    height: 24px;
    background-color: #00B96F;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 19px;
    left: 2px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #00B96F;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #00B96F;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  a:hover {
    color: #00B96F;
  }

  /* :host ::ng-deep .multiselect-dropdown[_ngcontent-c8] {
    position: relative;
    width: 100%;
    font-size: inherit;
    font-family: inherit;
    background-color: #d1d1d1;
} */

:host ::ng-deep .multiselect-dropdown {
  position: relative;
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  background-color: white;
}


@media screen and (min-width: 320px) and (max-width: 767px) {
  .modal-dialog {
    max-width: 100%;
}
.modal-dialogg.fadeIndown {
  max-width: 100%;
}
}

@media screen and (min-width: 1200px) {
  .modal-dialog {
    max-width: 45%;
}
.modal-dialogg.fadeIndown {
  max-width: 45%;
  margin-left: 29%;
  margin-top: 12%;
}

}

.main-table{
  height: 143px;
}
  /* table.table-striped.quick-table th, table.table-striped.quick-table td {
    width: 190px;
  } */
  table.table-striped.quick-table {
    table-layout: fixed;
    width:100%;
  }
  table.table-striped.quick-table, table.table-striped.quick-table th:nth-child(1),
  table.table-striped.quick-table thead tr th 
  {
    position:sticky;
    left:0;
    top: 0;
    z-index:1;
    background-color: white;
    color: black;
  }
  table.table-striped.quick-table th:first-child {
    z-index:2;
  }
 
  .is_commission_sale_enabled{
    width: 25px;
    height: 25px;
}

.unActive{
  background-color: #fff !important;
  color: rgba(0,0,0,0.5) !important;
}