.upload-cover-img{
  background-size:100%;
  background-repeat: no-repeat;
}
agm-map{height:325px;}

.loc-tags-group li{
  padding:0px;
  background-color:transparent;
  margin-right:0px;
  margin-bottom: 3px;
}
.loc-tags-group li span{
  background-color:rgba(223,223,223,0.5);
  padding: 8px 10px 8px 16px;
  border-radius:3px;
  margin-right:3px;
  display: inline-block;
}
.loc-tags-group li span b{
  filter:opacity(50%);
  cursor: pointer;
}
.loc-tags-group li span b:hover{
  filter:opacity(100%);
}
.chat-shared-file a {
  padding: 7px 25px 4px 10px;
  font-size: 14px;
  height: 40px;
}

.title-div{
  display: flex;
  align-items: baseline;
}

.back-icon{
  font-size: 24px;
  color: #00B96F;
  margin-right: 10px;
}