<div class="container-fluid">
  <div class="white-bg">
     <div class="page-title">
        <h3>Manage Projects</h3>
     </div>

     <div class="padding40 paddingT0">
        <div class="row">
           <div class="col-md-5 col-sm-12 col-12">
              <div class="form-group-3">
                 <label>Add Images</label>
                 <div class="upload-cover-img" [style.background-image]="image1">
                   <!-- <img *ngIf="url" [src]="url" height="200"> -->
                   <div *ngIf="!image1" class="upload-caption">
                     <div class="fig-block">
                       <img [src]="image1" onerror='this.src="assets/img/placeholder-img.png"' alt="img">
                     </div>
                     <p class="green-color marginT30">+Upload Cover image for the project</p>
                     <p>JPG or PNG. Image size should be 1920 × 1080 pixels (for HiDPI displays).</p>
                   </div>
                   <input type="file" name="cover_image" accept="image/*" (change)="onSelectFile1($event)">
                 </div>
              </div>
              <div class="add-project-img-more" [style.background-image]="image2">
                 <div class="upload-caption">
                   <p class="green-color marginT30" data-toggle="modal" data-target="#add-more-img">+ Add more images</p>
                 </div>
              </div>
           </div>
           <div class="col-md-7 col-sm-12 col-12">
              <div class="row">
                 <div class="col-sm-6 col-12">
                    <div class="form-group-3" >
                      <label>Name of Building</label>
                      <input class="form-control" type="text" [(ngModel)]="model.name" name="name" placeholder="Enter name of building" >
                    </div>
                 </div>
                 <div class="col-sm-6 col-12">
                   <div class="form-group-3">
                     <label>Where it is located?</label>
                     <input placeholder="search for location" autocorrect="off" autocapitalize="off"
                       spellcheck="off" type="text" class="form-control" #search (input)="loadPlaces()"
                     name="address" [(ngModel)]="model.address">
                   </div>
                 </div>
              </div>
              <div class="form-group-3">
                 <label>Location Pin on Map</label>
                 <div style="width: 100%;">
                   <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" (mapClick)="placeMarker($event)"[zoom]="zoom">
                     <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
                   </agm-map>
                 </div>
                 <p class="p13">Verify these two details provided initially, Proceed further if correct or edit the details if wrong and then proceed ahead.</p>
              </div>
              <div class="row">
                 <div class="col-sm-6 col-12">
                    <div class="form-group-3">
                       <label>Building Age</label>
                       <input class="form-control" [(ngModel)]="model.building_age"  type="text" name="building_age" />
                    </div>
                 </div>
                 <div class="col-sm-6 col-12">
                    <div class="form-group-3">
                       <label>Building type</label>
                       <select [(ngModel)]="model.building_type_id"  class="form-control">
                          <option *ngFor="let s of all_building_types" [value]="s.id">
                            {{s.name}}
                          </option>
                       </select>
                    </div>
                 </div>
                 <div class="col-12">
                    <div class="form-group-3">
                       <label>Descriptuion</label>
                       <textarea [(ngModel)]="model.description" name="description" class="form-control"></textarea>
                    </div>
                 </div>
                 <div class="col-md-4 col-sm-6 col-12">
                    <div class="form-group-3">
                       <label>Possession status</label>
                       <select [(ngModel)]="model.possession_status_id" class="form-control">
                          <option *ngFor="let s of all_possession_statuses" [value]="s.id">
                            {{s.name}}
                          </option>
                       </select>
                    </div>
                 </div>
                 <div class="col-md-4 col-sm-6 col-12">
                    <div class="form-group-3">
                       <label>Floors</label>
                       <input class="form-control" [ngModel]="model.floors"  type="text" name="building_floors">
                    </div>
                 </div>
                 <div class="col-md-4 col-sm-6 col-12">
                    <div class="form-group-3">
                       <label>Average Price</label>
                       <input class="form-control" [ngModel]="model.avg_price"  type="text" name="building_avg_price">
                    </div>
                 </div>
                 <div class="col-sm-12 col-12">
                    <div class="form-group-3">
                       <label>Enter Custom Parameter and Value</label>
                       <table class="table-responsive">
                         <thead>
                         <tr>
                           <td style="width:43%">Parameter Name</td> <td style="width:43%">Parameter Value</td><td style="width:20%"></td>
                         </tr>
                       </thead>
                        <tbody>
                         <tr *ngFor="let c of model.custom_attributes ;let i=index;">
                           <td>
                             <input [(ngModel)]="c.name" class="form-control" type="text" />
                           </td>
                           <td>
                             <input [(ngModel)]="c.value" class="form-control" type="text" />
                           </td>
                           <td>
                             <a (click)="model.custom_attributes.splice(i,1)"><img src="assets/img/remove-icon.png" /></a>
                           </td>
                         </tr>

                       </tbody>
                       </table>
                       <br/>
                       <div class="btn-cont">
                          <a (click)="model.custom_attributes.push({name:'',value:''})" class="btn-third btn" href="javascript://">Add</a>
                       </div>
                       <br/>

                    </div>
                 </div>

                 <div class="col-12">
                    <div class="form-group-3 marginB0">
                       <label>Amenities available</label>
                       <ul class="loc-tags-group">
                          <li *ngFor="let a of all_amenities"><span *ngIf="a.selected==true">{{a.name}}</span></li>
                       </ul>
                    </div>
                 </div>
                 <div class="col-12">
                    <div class="form-group-3 marginT15">
                       <div class="btn-cont">
                          <a class="btn-third btn btn-block" data-toggle="modal" data-target="#amenities" href="javascript://">Add More</a>
                       </div>
                    </div>
                 </div>
                 <div class="col-12">
                    <div class="form-group-3" style="width: 100%;">
                       <label class="float-left marginB0">Configuration</label>
                       <label class="float-right marginB0"><a class="edit-del" href="javascript://">Edit/Delete</a></label>
                       <div class="clearfix"></div>
                       <hr>
                       <div *ngFor="let c of model.configurations" class="configur">
                          <div class="row">
                             <div class="col-md-6 col-12">
                                <p class="p18">{{c.config.name}}</p>
                                <label>Images</label>
                                <div class="image-group">
                                   <div class="fig-block">
                                      <img class="img-fluid" [src]="c.floor_map_image" onerror='this.src="http://via.placeholder.com/48x48"' alt="img">
                                   </div>
                                </div>
                             </div>
                             <div class="col-md-6 col-12">
                                <p class="p14 text-right">Average Price</p>
                                <h3 class="text-right">{{c.base_price}} per sq/ft.</h3>
                             </div>
                             <div class="col-12">
                                <hr>
                             </div>
                          </div>
                       </div>

                        <div>
                           <div class="form-group-3 marginT15">
                              <div class="btn-cont">
                                 <a (click)="openConfigPopupFun()" class="btn-third btn btn-block"  href="javascript://">Add New</a>
                              </div>
                           </div>
                        </div>

                    </div>
                 </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="page-title paddingL0">
                    <h3>Developer Info</h3>
                 </div>
                </div>

                <div class="col-md-6 col-sm-6 col-12">
                    <div class="form-group-3">
                      <label>Name</label>
                      <input [(ngModel)]="model.developer.name" class="form-control" type="text" name="assaas">
                    </div>
                 </div>
                 <div class="col-md-6 col-sm-6 col-12">
                    <div class="form-group-3">
                       <label>Email</label>
                       <input  [(ngModel)]="model.developer.email" class="form-control" type="text" name="assaas">
                    </div>
                 </div>
                 <div class="col-md-6 col-sm-6 col-12">
                    <div class="form-group-3">
                       <label>Phone Number</label>
                       <input minlength="6" maxlength="16" autocomplete="off" type="text" class="form-control" id="phone" required minlength="1" [(ngModel)]="model.developer.phone" name="phone"
                             ng2TelInput [ng2TelInputOptions]="initialCountry" (countryChange)="onCountryChange($event)" />

                    </div>
                 </div>

                 <div class="col-12">
                     <div class="form-group-3">
                      <label>Logo</label>

                       <div class="add-project-img-more">
                       <input type="file" name="sasdsda" (change)="fileUploader($event,'dev_logo',model)">
                       <img class="img-fluid" *ngIf="FU.dev_logo" [src]="FU.dev_logo">
                       <div class="upload-caption">
                          <p class="green-color">+ Add more images</p>
                       </div>
                       {{model.dev_logo|json}}
              </div>

              </div>
                 </div>

                   <div class="col-12">

                   <div class="btn-cont text-right">
                   <hr>
                   <button [disabled]="myform.valid" (click)="addProject()" class="btn-primary btn">Submit</button>
                   </div>

                   </div>



              </div>
           </div>
        </div>
     </div>

  </div>
</div>

<!-- Amanities model -->
<div class="modal" id="amenities" style="display: none;" aria-hidden="true">
  <div class="modal-dialog">
     <div class="modal-content amenities-popup">
        <div class="modal-header popup-header">
           <h4 class="modal-title">Amenities</h4>
           <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        <div class="modal-body">
           <label *ngFor="let a of all_amenities; " (click)="a.selected = !a.selected" class="cust-check-bx2">
             {{a.name}}
           <span *ngIf="a.selected==true" class="checkmark open"></span>
           </label>

        </div>
        <div class="modal-footer">
           <div class="btn-cont">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
           </div>
        </div>
     </div>
  </div>
</div>


<!-- Add More img -->
<div class="modal add-more-popup" id="add-more-img">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Images</h4>
          <button type="button" style="display: none;" class="close" data-dismiss="modal" #modalClose>&times;</button>
          <button type="button" class="close" (click)="closeModal()">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="uploaded-img-block">
            <div class="uploaded-img" *ngFor="let imageUrl of url2; let iu=index">
                  <a class="remove" (click)="removeImage(iu)">
                    <img src="assets/img/remove-icon.png" alt="img">
                  </a>
                  <img *ngIf="imageUrl" class="u-img" [src]="imageUrl" alt="img">
                  <img *ngIf="!imageUrl" class="u-img" src="http://via.placeholder.com/300x300" alt="img">
            </div>
          </div>
          <div class="add-more-images">
              <input type="file" name="add-more" multiple max="6" accept="image/*" (change)="onSelectFile2($event)">
              <span>+ Add more images</span>
          </div>

        </div>

        <!-- Modal footer -->
        <div class="modal-footer btn-cont">
          <button type="button" (click)="saveImages()" class="btn btn-primary" data-dismiss="modal">Submit</button>
        </div>

      </div>
    </div>
  </div>


<a #openConfigPopup class="btn-third btn btn-block" data-target="#add-config" data-toggle="modal"></a>
  <div class="modal" id="add-config">
      <div class="modal-dialog modal-lg">
         <div class="modal-content add-config-popup">

            <div class="modal-header popup-header">
               <h4 class="modal-title">Add Configuration</h4>
               <button type="button" class="close" data-dismiss="modal" #closeConfigPopup>×</button>
            </div>
            <div *ngIf="new_config" class="modal-body">
               <div class="row">
                  <div class="col-sm-6 col-12">
                     <div class="form-group-3">
                        <label>Title</label>
                        <select class="form-control" [(ngModel)]="new_config.configuration_id" (change)="selectConfiguration($event.target.value,new_config)" name="config_name">
                           <option *ngFor="let c of all_configurations" value="{{c.id}}" daa-model="c">{{c.name}}</option>
                        </select>
                     </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 col-12">
                     <div class="form-group-3">
                        <label>Carpet area (sqft)</label>
                        <input class="form-control" [(ngModel)]="new_config.carpet_area" type="number" name="base_price">
                     </div>
                  </div>
                  <div class="col-sm-6 col-12">
                     <div class="form-group-3">
                        <label>Base Price</label>
                        <input class="form-control" [(ngModel)]="new_config.base_price" type="number" name="base_price">
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-12">


                     <div class="form-group-3">
                        <label>Add Images</label>
                        <div class="upload-cover-img">
                           <div class="upload-caption">
                              <div class="fig-block">
                                <img class="img-fluid" *ngIf="FU.floor_map_image" [src]="FU.floor_map_image" onerror='this.src="assets/img/placeholder-img.png"' />
                              <p class="green-color marginT30">+Upload Cover image for the project</p>
                              <p>JPG or PNG. Imae size should be 1920 × 1080 pixels (for HiDPI displays).</p>
                           </div>
                           <input type="file" name="sasdsda" (change)="fileUploader($event,'floor_map_image',new_config)">
                        </div>
                     </div>

                     <div class="uploaded-img-block">
                       <div class="uploaded-img" *ngFor="let imageUrl of new_config.images; let iu=index">
                             <a class="remove" (click)="removeImageMulti(iu)">
                               <img src="assets/img/remove-icon.png" alt="img">
                             </a>
                             <img *ngIf="imageUrl" class="u-img" [src]="imageUrl" alt="img">
                             <img *ngIf="!imageUrl" class="u-img" src="http://via.placeholder.com/300x300" alt="img">
                       </div>
                     </div>

                     <div class="add-project-img-more">
                        <input type="file" name="add-more" multiple max="6" accept="image/*" (change)="fileUploaderMulti($event)">
                        <div class="upload-caption">
                           <p class="green-color">+ Add more images</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="modal-footer">
               <div class="btn-cont">
                  <button (click)="addNewConfig()" type="button" class="btn btn-primary">Save</button>
               </div>
            </div>

         </div>
      </div>
   </div>
