.upload-cover-img{
  background-size:100%;
  background-repeat: no-repeat;
}
agm-map{height:325px;}

.loc-tags-group li{
  padding:0px;
  background-color:transparent;
  margin-right:0px;
  margin-bottom: 3px;
}
.loc-tags-group li span{
  background-color:rgba(223,223,223,0.5);
  padding: 8px 10px 8px 16px;
  border-radius:3px;
  margin-right:3px;
  display: inline-block;
}
.loc-tags-group li span b{
  filter:opacity(50%);
  cursor: pointer;
}
.loc-tags-group li span b:hover{
  filter:opacity(100%);
}

/*.uploaded-img .remove {*/
  /*position: absolute;*/
  /*right: -39px;*/
  /*top: -12px;*/
/*}*/

/*.uploaded-img {*/
  /*width: 72px;*/
  /*height: 72px;*/
  /*position: relative;*/
  /*margin-right: 40px;*/
  /*margin-bottom: 16px;*/
/*}*/


/*.loaderr{*/
  /*border: 5px solid #f3f3f3;*/
  /*border-radius: 50%;*/
  /*border-top: 5px solid #00B96F;*/
  /*width: 30px;*/
  /*height: 30px;*/
  /*-webkit-animation: spin 2s linear infinite;*/
  /*animation: spin 2s linear infinite;*/
  /*position: absolute;*/
  /*right: -19px;*/
  /*left: 0;*/
  /*top: 0;*/
  /*bottom: 0;*/
  /*margin: auto;*/
  /*z-index: 9;*/
/*}*/
