<div class="container-fluid">
  <div class="white-bg">
     <div class="page-title">
        <h3>Manage Projects</h3>
     </div>
     <div class="padding40 paddingT0">
        <div class="row">
           <div class="col-md-5 col-sm-12 col-12">
              <div class="form-group-3">
                 <label>Add Images</label>
                 <div class="upload-cover-img">
                    <div class="upload-caption">
                       <div class="fig-block"> <img src="assets/img/placeholder-img.png" alt="img"></div>
                       <p class="green-color marginT30">+Upload Cover image for the project</p>
                       <p>JPG or PNG. Imae size should be 1920 × 1080 pixels (for HiDPI displays).</p>
                    </div>
                    <input type="file" name="">
                 </div>
              </div>
              <div class="add-project-img-more">
                 <input type="file" name="">
                 <div class="upload-caption">
                    <p class="green-color">+ Add more images</p>
                 </div>
              </div>
           </div>
           <div class="col-md-7 col-sm-12 col-12">
              <div class="row">
                 <div class="col-sm-6 col-12">
                    <div class="form-group-3">
                       <label>Name of the Building</label>
                       <input class="form-control" type="text" name="">
                    </div>
                 </div>
                 <div class="col-sm-6 col-12">
                    <div class="form-group-3">
                       <label>Location</label>
                       <input class="form-control" type="text" name="">
                    </div>
                 </div>
              </div>
              <div class="form-group-3">
                 <label>Location Pin on Map</label>
                 <div style="width: 100%;">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2965.0824050173574!2d-93.63905729999999!3d41.998507000000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sWebFilings%2C+University+Boulevard%2C+Ames%2C+IA!5e0!3m2!1sen!2sus!4v1390839289319" width="100%" height="200" frameborder="0" style="border:0"></iframe>
                 </div>
                 <p class="p13">Verify these two details provided initially, Proceed further if correct or edit the details if wrong and then proceed ahead.</p>
              </div>
              <div class="row">
                 <div class="col-sm-6 col-12">
                    <div class="form-group-3">
                       <label>Building add-project-page</label>
                       <input class="form-control" type="text" name="">
                    </div>
                 </div>
                 <div class="col-sm-6 col-12">
                    <div class="form-group-3">
                       <label>Building type</label>
                       <input class="form-control" type="text" name="">
                    </div>
                 </div>
                 <div class="col-12">
                    <div class="form-group-3">
                       <label>Descriptuion</label>
                       <textarea class="form-control"></textarea>
                    </div>
                 </div>
                 <div class="col-md-4 col-sm-6 col-12">
                    <div class="form-group-3">
                       <label>Possession status</label>
                       <select class="form-control">
                          <option>Abc</option>
                          <option>Xyz</option>
                          <option>Abc</option>
                          <option>Xyz</option>
                       </select>
                    </div>
                 </div>
                 <div class="col-md-4 col-sm-6 col-12">
                    <div class="form-group-3">
                       <label>Floors</label>
                       <input class="form-control" type="text" name="">
                    </div>
                 </div>
                 <div class="col-md-4 col-sm-6 col-12">
                    <div class="form-group-3">
                       <label>Avergae Price</label>
                       <input class="form-control" type="text" name="">
                    </div>
                 </div>
                 <div class="col-sm-6 col-12">
                    <div class="form-group-3">
                       <label>Enter Custom Parameter and Value</label>
                       <input class="form-control" type="text" name="">
                    </div>
                 </div>
                 <div class="col-sm-6 col-12">
                    <div class="form-group-3">
                       <label class="float-right"><a class="edit-del" href="javascript://">Edit/Delete</a></label>
                       <input class="form-control" type="text" name="">
                    </div>
                 </div>
                 <div class="col-12">
                    <div class="form-group-3">
                       <div class="btn-cont">
                          <a class="btn-third btn" href="javascript://">Add New</a>
                       </div>
                    </div>
                 </div>
                 <div class="col-12">
                    <div class="form-group-3 marginB0">
                       <label>Amenities available</label>
                       <ul class="loc-tags-group">
                          <li><span>Gymnasium</span></li>
                          <li><span>Power Backup</span></li>
                          <li><span>Monterrey</span></li>
                          <li><span>Swimming Pool</span></li>
                          <li><span>Oaxaca</span></li>
                          <li><span>Bank</span></li>
                          <li><span>Acapulco</span></li>
                          <li><span>Monterrey</span></li>
                          <li><span>Puebla</span></li>
                          <li><span>Oaxaca</span></li>
                          <li><span>Alevator</span></li>
                          <li><span>Acapulco</span></li>
                          <li><span>Monterrey</span></li>
                          <li><span>Electricity Backup</span></li>
                          <li><span>Security</span></li>
                       </ul>
                    </div>
                 </div>
                 <div class="col-12">
                    <div class="form-group-3 marginT15">
                       <div class="btn-cont">
                          <a class="btn-third btn btn-block" data-toggle="modal" data-target="#amenities" href="javascript://">Add More</a>
                       </div>
                    </div>
                 </div>
                 <div class="col-12">
                    <div class="form-group-3" style="width: 100%;">
                       <label class="float-left marginB0">Configuration</label>
                       <label class="float-right marginB0"><a class="edit-del" href="javascript://">Edit/Delete</a></label>
                       <div class="clearfix"></div>
                       <hr>
                       <div class="configur">
                          <div class="row">
                             <div class="col-md-6 col-12">
                                <p class="p18">2 BHK</p>
                                <label>Images</label>
                                <div class="image-group">
                                   <div class="fig-block">
                                      <img src="http://via.placeholder.com/48x48" alt="img">
                                   </div>
                                   <div class="fig-block">
                                      <img src="http://via.placeholder.com/48x48" alt="img">
                                   </div>
                                   <div class="fig-block">
                                      <img src="http://via.placeholder.com/48x48" alt="img">
                                   </div>
                                </div>
                             </div>
                             <div class="col-md-6 col-12">
                                <p class="p14 text-right">Average Price</p>
                                <h3 class="text-right">$1267 per sq/ft.</h3>
                             </div>
                             <div class="col-12">
                                <hr>
                             </div>
                          </div>
                       </div>
                       <div class="configur">
                          <div class="row">
                             <div class="col-md-6 col-12">
                                <p class="p18">2 BHK</p>
                                <label>Images</label>
                                <div class="image-group">
                                   <div class="fig-block">
                                      <img src="http://via.placeholder.com/48x48" alt="img">
                                   </div>
                                   <div class="fig-block">
                                      <img src="http://via.placeholder.com/48x48" alt="img">
                                   </div>
                                   <div class="fig-block">
                                      <img src="http://via.placeholder.com/48x48" alt="img">
                                   </div>
                                </div>
                             </div>
                             <div class="col-md-6 col-12">
                                <p class="p14 text-right">Average Price</p>
                                <h3 class="text-right">$1267 per sq/ft.</h3>
                             </div>
                             <div class="col-12">
                                <hr>
                             </div>
                             <div class="col-12">
                                <div class="form-group-3 marginT15">
                                   <div class="btn-cont">
                                      <a class="btn-third btn btn-block" data-toggle="modal" data-target="#add-config" href="javascript://">Add New</a>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="page-title paddingL0">
        <h3>Developer Info</h3>
     </div>
                </div>

                <div class="col-md-4 col-sm-6 col-12">
                    <div class="form-group-3">
                       <label>Name</label>
                       <select class="form-control">
                          <option>Abc</option>
                          <option>Xyz</option>
                          <option>Abc</option>
                          <option>Xyz</option>
                       </select>
                    </div>
                 </div>
                 <div class="col-md-4 col-sm-6 col-12">
                    <div class="form-group-3">
                       <label>Email</label>
                       <input class="form-control" type="text" name="">
                    </div>
                 </div>
                 <div class="col-md-4 col-sm-6 col-12">
                    <div class="form-group-3">
                       <label>Phone Number</label>
                       <input class="form-control" type="text" name="">
                    </div>
                 </div>

                 <div class="col-12">
                     <div class="form-group-3">
                      <label>Logo</label>
                 <div class="add-project-img-more">
                 <input type="file" name="">
                 <div class="upload-caption">
                    <p class="green-color">+ Add more images</p>
                 </div>
              </div>

              </div>
                 </div>

                   <div class="col-12">
                   <div class="btn-cont text-right">
                   <hr>
                   <button class="btn-primary btn">Submit</button>
                   </div>
                   </div>



              </div>
           </div>
        </div>
     </div>
  </div>
</div>
