<div *ngIf="data" class="project-des-bx white-bg" (click)="setBuildingId(data)">
  <!-- <div class="price">
    <input type="radio" [(ngModel)]="buildingId" name="buildingId" (change)="setBuildingId(data)">
  </div> -->
  <div class="fig-block" (click)="setBuildingId(data)">
    <img *ngIf="data?.main_image" onerror='this.src="assets/img/placeholder-img.png"'
      [defaultImage]="data?.main_image| img:'thumb'" [lazyLoad]="data?.main_image">
    <img *ngIf="!data?.main_image" src="assets/img/placeholder-img.png">
  </div>
  <div class="project-des-content">
    <small title="Developer Name">{{data?.developer?.name ? data?.developer?.name : 'NA'}}</small>
    <!-- <a routerLink="/dashboard/projects/details/{{data.id}}"> -->
    <h5 title="Building Name">{{data?.name.slice(0, 35)}}</h5>
    <!-- </a> -->
    <p class="p12">{{data?.address.slice(0, 90)}}</p>

    <p class="p13">
      <span *ngFor="let conf1 of data?.configurations; let k=index">
        {{conf1?.name ? conf1?.name : conf1?.config?.name}}<span *ngIf="k<data?.configurations?.length-1">,</span>
      </span>
      <span *ngIf="data?.configurations?.length==0">NA</span>
    </p>
  </div>
</div>