<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-6">
      <div class="title-group">
        <h5>{{'templates.label' | translate}}</h5>
      </div>
    </div>
    <div class="col-md-6 col-6">
      <div class="btn-cont text-right">
        <a *ngIf="admin?.admin_acl['Templates']?.can_create==1" routerLink="/dashboard/templates/add-template/0"
          class="btn btn-primary" href="javascript://">{{'templates.addBtn' | translate}}</a>
      </div>
    </div>
  </div>

  <div class="cust-tabs">
    <div class="row flex-wrap-reverse">

      <div class="col-xl-10 col-lg-12 col-md-12 col-sm-12 col-12">
        <ul class="nav nav-tabs">
          <li class="nav-item cursor-pointer">
            <a [ngClass]="{'active':parameter.post_type=='1'}" (click)="changeFlag('1')" class="nav-link">{{'filters.type.post' | translate}}</a>
          </li>
          <li class="nav-item cursor-pointer">
            <a [ngClass]="{'active':parameter.post_type=='2'}" (click)="changeFlag('2')" class="nav-link">{{'filters.type.page' | translate}}</a>
          </li>
          <li class="nav-item cursor-pointer">
            <a [ngClass]="{'active':parameter.post_type=='3'}" (click)="changeFlag('3')" class="nav-link">{{'filters.type.news' | translate}}</a>
          </li>
          <li class="nav-item cursor-pointer">
            <a [ngClass]="{'active':parameter.post_type=='4'}" (click)="changeFlag('4')" class="nav-link">{{'filters.type.mainTemplates' | translate}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="tab-content">
      <div class="tab-pane active">
        <div class="tabel-section">
          <div class="table-responsive">
            <table class="table table-striped table-align-left">
              <tr>
                <th style="vertical-align:top; width: 6%;"></th>
                <th style="width:20%; text-align:left;">
                  <div class="table-search">
                    <label>{{'table.th.title' | translate}}</label>
                    <div class="searh-3">
                      <input type="text" [(ngModel)]="parameter.name" (keyup.enter)="getListing()" autocomplete="address-level4" >
                      <button *ngIf="parameter.name" (click)="getListing()"><i class="fa fa-search"></i></button>
                    </div>
                  </div>
                </th>
                <th style="width:25%; text-align:left;">
                  <div class="table-search">
                    <label>{{'table.th.description' | translate}}</label>
                    <div class="searh-3">
                      <input type="text" [(ngModel)]="parameter.keyword" (keyup.enter)="getListing()" autocomplete="address-level4" >
                      <button *ngIf="parameter.keyword" (click)="getListing()"><i class="fa fa-search"></i></button>
                    </div>
                  </div>
                </th>
                <th style="width:15%;vertical-align:top;">
                  <div class="table-search">
                    <label>{{'table.th.status' | translate}}</label>
                  </div>
                </th>
                <th style="width:15%;vertical-align:top;">
                  <div (click)="sort_by(1)" class="d-flex table-search">
                    <label>{{'table.th.publishDate' | translate}}</label>
                    <a href="javascript://"><img [ngClass]="{'upsidedown':this.parameter.sort_by_order==0}"
                        src="assets/img/top-arrow.png" alt="img"></a>
                  </div>
                </th>
                <th style="width:9%;">&nbsp;</th>
              </tr>
              <tr
                *ngFor="let item of items | paginate: { itemsPerPage: parameter.itemsPerPage, currentPage: parameter.page, totalItems: total }; let i=index">
                <td>
                    <img *ngIf="item.image" [defaultImage]="item.image| img:'thumb'" [lazyLoad]="item.image" class="rounded-circle" alt="img">
                    <img *ngIf="!item.image" class="rounded-circle" src="assets/img/default_img.png" alt="img">
                </td>
                <td>
                  <strong>{{item.title}}</strong>
                </td>
                <td><span>{{item.meta_description | slice:0:200}}</span></td>
                <td><span>{{status[item.status]}}</span></td>
                <td><span>{{item.publish_date|date:'shortDate'}}</span></td>
                <td>
                  <div class="message">
                    <button [disabled]="admin?.admin_acl['Templates']?.can_update==0"
                      routerLink="/dashboard/templates/edit-template/{{item.id}}" title="{{'table.title.editDetails' | translate}}"
                      class="action-icon"><img src="assets/img/edit.png" alt="img"></button>
                    <button [disabled]="admin?.admin_acl['Templates']?.can_purge==0"
                      (click)="deleteBlogPopUp(item.id, i)" title="{{'table.title.delete' | translate}}" class="action-icon"><img
                        src="assets/img/ic_delete.png" alt="img"></button>
                  </div>
                </td>
              </tr>
            </table>
            <div class="padding20 center" *ngIf="total == 0">
              <img src="assets/img/404-error.png">
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="btn-cont text-right marginT15" *ngIf="total">
      <pagination-controls class="my-pagination" (pageChange)="getPage($event)"></pagination-controls>
    </div>
  </div>
</div>