<ngx-loading [show]="parameter.loading"></ngx-loading>
<div class="container-fluid">
  <div class="white-bg padding15">
     <div class="row">
      <div class="col-lg-3 col-md-12 col-sm-12 col-12">
         <div class="df-profile">
            <a routerLink="../"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
            <img [src]="parameter?.lead?.user?.image" onerror='src="assets/img/default_img.png"' alt="img">
            <div class="df-info">
                <p class="p14">{{parameter?.lead?.user?.name ? parameter?.lead?.user?.name : parameter?.lead?.name}}</p>
                <p class="p12">
                    {{parameter?.lead?.user?.dial_code ? parameter?.lead?.user?.dial_code : parameter?.lead?.dial_code}}-{{parameter?.lead?.user?.phone ? parameter?.lead?.user?.phone : parameter?.lead?.phone}}
                </p>
            </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-12 col-sm-6 col-12">
          <div class="profile-list">
          <ul>
              <li>
                  <div class="df-info">
                      <p class="p14 marginB0" *ngIf="parameter.lead?.admin">{{parameter.lead.admin.name}}</p>
                      <p class="p12">CSR Buyer</p>
                  </div>
              </li>
              <li>
                  <div class="df-info" *ngIf="parameter.lead?.broker">
                      <p class="p14 marginB0">{{parameter.lead.broker.name}}</p>
                      <p class="p12">Inhouse Broker</p>
                  </div>
              </li>
          </ul>
          </div>
      </div>

      <div class="col-lg-4 col-md-12 col-sm-12 col-12">
        <div class="row">
            <div class="col-sm-7 btn-cont text-right">
                <a *ngIf="is_deal_finalised" style="cursor: auto;" class="btn btn-fourth" href="javascript://">Deal Finalized</a>
            </div>
            <div class="col-sm-5 btn-cont text-right">
                <a (click)="getInvoice()" class="btn btn-fourth" href="javascript://">Invoice</a>
                <!-- <button type="button" class="btn btn-primary-new dropdown-toggle" data-toggle="dropdown">
                 Action
               </button>
               <div class="dropdown-menu dropdown-menu-right">
                 <a *ngIf="is_deal_finalised" (click)="getInvoice()" class="dropdown-item" href="javascript://">Download Invoice</a>
                 <a data-toggle="modal" data-target="#set_appointment" class="dropdown-item" href="javascript://">Schedule Meeting</a>
               </div> -->
            </div>
        </div>
     </div>

     </div>
  </div>
  <div class="spacer30"></div>
  <div class="row">
     <div class="col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="white-bg padding30">
           <div class="row">
              <div class="col-md-6">
                 <h6>Details</h6>
              </div>
              <!-- <div class="col-md-6">
                 <div class="edit text-right"><a href="javascript://">Edit</a></div>
              </div> -->
           </div>
           <div class="details-table">
             <table class="table">
                <tbody><tr>
                   <td style="padding-left:0"><label>Full Name</label></td>
                   <td *ngIf="parameter?.lead?.name">{{parameter.lead.user.name}}</td>
                </tr>
                <tr>
                   <td style="padding-left:0"><label>Contact Number</label></td>
                   <td *ngIf="parameter?.lead?.phone">{{parameter.lead.user.dial_code ? parameter.lead.user.dial_code : constant.dial_code}}-{{parameter.lead.phone}}</td>
                </tr>
                <tr>
                   <td style="padding-left:0"><label>Email address</label></td>
                   <td *ngIf="parameter?.lead?.email">{{parameter.lead.user.email}}</td>
                </tr>
                <tr>
                   <td style="padding-left:0"><label>Interested In</label></td>
                   <td *ngIf="parameter?.lead?.configuration">
                     <span *ngFor="let conf of parameter.lead.configuration; let ii=index">
                       {{conf.name}}<span *ngIf="ii<parameter?.lead?.configuration.length-1">,</span>
                     </span>
                     <span *ngIf="parameter.lead.configuration?.length==0">NA</span>
                   </td>
                </tr>
                <tr>
                   <td style="padding-left:0"><label>Favorite Projects</label></td>
                   <td>{{parameter.favorites?.length}} 
                      <a style="display: none;" data-toggle="modal" #showPropertyModal data-target="#view-fav-property" class="view-all" href="javascript://">View All</a>
                      <a *ngIf="parameter.favorites?.length!=0" class="view-all" href="javascript://" (click)="viewFavProperties()">View All</a>
                    </td>
                </tr>

                <!-- Meeting Schedule -->
                <tr *ngIf="parameter?.lead?.sale_rent==1">
                    <td  style="padding-left:0"><label><strong>Meeting Schedule</strong></label></td>
                    <td *ngIf="is_deal_finalised" colspan="2" class="cursor-pointer">
                        <p class="date" *ngIf="appointment.appointment_date; else noAvailability4" data-toggle="modal" data-target="#set_appointment">
                            <span title="Reschedule meeting">{{app_date|moment}}</span>
                        </p>
                        <ng-template #noAvailability4>
                            <p title="Schedule meeting" data-toggle="modal" data-target="#set_appointment">Appointment not scheduled.</p>
                        </ng-template>
                    </td>
                    <td *ngIf="!is_deal_finalised" colspan="2" class="cursor-pointer">
                        <p title="Schedule meeting">Cannot schedule meeting as deal is not finalized.</p>
                    </td>
                </tr>
    
              </tbody>
             </table>
           </div>
        </div>

        <div class="spacer30"></div>
        <div *ngIf="parameter.lead?.user">
          <app-chat [lead_id]="parameter.lead_id" [sent_as]="parameter.sent_as" [user_id]="parameter.user_id" [admin_id]="parameter.admin_id"></app-chat>
        </div>

     </div>
     <div class="col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="white-bg chat-with-developer padding15">
           <i class="float-left marginR15"><img src="assets/img/chat-icon.png" alt="img"></i>
           <a href="javascript://" routerLink="/dashboard/leads/chat-with-developer/{{parameter.lead_id}}">Chat with Developers <i class="fa fa-angle-right"></i></a>
        </div>
        
        <app-fill-information [sent_as]="parameter.sent_as" [fillInfo]="fillInfo" [lead_id]="parameter.lead_id"></app-fill-information>

        <app-notes [sent_as]="parameter.sent_as" [lead_id]="parameter.lead_id"></app-notes>

     </div>
  </div>

  <!-- Interested Properties start -->
  <!-- <app-interested-property (deal_finalised_success)="dealFinalisedReceived(v)" [is_deal_finalised]="is_deal_finalised" [selected_properties]="parameter?.lead?.selected_properties" [lead_id]="parameter.lead_id" [interested_properties]="parameter.interested_properties" [sent_as]="parameter.sent_as"></app-interested-property> -->
  <app-interested-property [is_deal_finalised]="is_deal_finalised" [selected_properties]="parameter?.lead?.selected_properties" [lead_id]="parameter.lead_id" [interested_properties]="parameter.interested_properties" [sent_as]="parameter.sent_as"></app-interested-property>
  <!-- Interested Properties end -->

  <!-- viewed property or projects start -->
  <app-viewed-property [user_id]="parameter?.lead?.user_id" [viewed_properties]="parameter.viewed_properties"></app-viewed-property>
  <!-- viewed property or projects end -->

  <!-- viewed projects start -->
  <app-viewed-projects [user_id]="parameter?.lead?.user_id" [viewed_projects]="parameter.viewed_projects"></app-viewed-projects>
  <!-- viewed projects end -->
</div>


<!-- show fav properties -->
<div class="modal" id="view-fav-property">
  <div class="modal-dialog  modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <h3>Favorite Properties</h3>
          <hr>
          <div class="scrollbox fav-prop">
            <div class="row">
              <div class="col-lg-6 col-md-12 col-sm-12 col-12" *ngFor="let x of parameter.favorites">
                  <div class="project-des-bx white-bg-2">
                      <div class="price">${{x.min_price}}</div>
                    <div class="fig-block">
                        <img [src]="x.image" onerror='src="assets/img/bank.png"' alt="img">
                    </div>
                    <div class="project-des-content">
                        <small>{{x.building.developer.name}}</small>
                        <a routerLink="/dashboard/properties/details/{{x.id}}">
                            <h5>{{x.building.name.slice(0, 15)}}</h5>
                        </a>
                        <p class="p12">{{x.building.address.slice(0, 50)}}</p>
                        <p class="p13" *ngIf="x">{{x.configuration.name}}, {{x.property_type.name}}</p>
                        <p class="p13" *ngIf="x">{{x.for_sale==1 ? 'Buy': 'Rent'}}</p>
                        <!-- <p class="p13" *ngIf="x">{{x.property_type.name}}</p>
                        <p class="p13" *ngIf="!x">NA</p> -->
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>


<!-- add inhouse user modal -->
<div class="modal animated" id="set_appointment">
    <div class="modal-dialog fadeIndown">
        <div class="modal-content">
            <div class="modal-header modal-header-new">
                <h4 class="modal-title">Schedule Appointment</h4>
                <button type="button" style="display: none;" class="close" data-dismiss="modal" #modalClose>&times;</button>
                <button type="button" class="close" (click)="closeModal()">&times;</button>
            </div>
    
            <form class="form-horizontal form-model0P" role="form" ngNativeValidate #addForm="ngForm" (ngSubmit)="add()">
            <div class="modal-body modal-body-new">
                <div class="row">
                    <div class="col-10">
                        <p-calendar title="Click to add" name="app" [(ngModel)]="appointment.appointment_date" [minDate]="today" showButtonBar="true" showTime="true" hourFormat="12" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
                    </div>
                    <div class="col-2">
                        <div class="form-group-2">
                            <a *ngIf="!appointment.id && appointment.appointment_date" class="green-color fontW500" (click)="add()" href="javascript://">Save</a>
                            <a *ngIf="appointment.id" class="green-color fontW500" (click)="add()" href="javascript://">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
    