<!-- <ngx-loading [show]="parameter.loading"></ngx-loading> -->
<div class="container-fluid">
  <div class="white-bg padding15">
     <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 col-12">
         <div class="profile">
            <div class="fig-block">
                <img [src]="parameter.lead?.user?.image" onerror='src="assets/img/default_img.png"' alt="img">
            </div>
            <div class="profile-info" *ngIf="parameter.lead?.user">
               <h6>{{parameter.lead.user.name}}</h6>
               <p>{{parameter.lead.user.phone}}</p>
            </div>
         </div>
      </div>
     </div>
  </div>
  <div class="spacer30"></div>
  <div class="row">
     <div class="col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="white-bg padding30">
           <div class="row">
              <div class="col-md-6">
                 <h6>Details</h6>
              </div>
              <!-- <div class="col-md-6">
                 <div class="edit text-right"><a href="javascript://">Edit</a></div>
              </div> -->
           </div>
           <div class="details-table">
             <table class="table">
                <tbody><tr>
                   <td style="padding-left:0"><label>Full Name</label></td>
                   <td *ngIf="parameter?.lead?.name">{{parameter.lead.name}}</td>
                </tr>
                <tr>
                   <td style="padding-left:0"><label>Contact Number</label></td>
                   <td *ngIf="parameter?.lead?.phone">+{{parameter.lead.dial_code}}{{parameter.lead.phone}}</td>
                </tr>
                <tr>
                   <td style="padding-left:0"><label>Email address</label></td>
                   <td *ngIf="parameter?.lead?.email">{{parameter.lead.email}}</td>
                </tr>
                <tr>
                   <td style="padding-left:0"><label>Interested In</label></td>
                   <td *ngIf="parameter?.lead?.configuration">
                     <span *ngFor="let conf of parameter.lead.configuration">
                       {{conf.name}},
                     </span>
                     <span *ngIf="parameter.lead.configuration?.length==0">NA</span>
                   </td>
                </tr>
                <tr>
                   <td style="padding-left:0"><label>Favourite Projects</label></td>
                   <td>{{parameter.favorites?.length}} 
                      <a style="display: none;" data-toggle="modal" #showPropertyModal data-target="#view-fav-property" class="view-all" href="javascript://">View All</a>
                      <a *ngIf="parameter.favorites?.length!=0" class="view-all" href="javascript://" (click)="viewFavProperties()">View All</a>
                    </td>
                </tr>
              </tbody>
             </table>
           </div>
        </div>

        <div class="spacer30"></div>
        <div *ngIf="parameter.lead?.user">
          <app-chat [lead_id]="parameter.lead_id" [sent_as]="parameter.sent_as" [user_id]="parameter.user_id" [admin_id]="parameter.admin_id"></app-chat>
        </div>

     </div>
     <div class="col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="white-bg chat-with-developer padding15">
           <i class="float-left marginR15"><img src="assets/img/chat-icon.png" alt="img"></i>
           <a href="javascript://">Chat with Developers <i class="fa fa-angle-right"></i></a>
        </div>
        
        <app-fill-information [fillInfo]="fillInfo" [lead_id]="parameter.lead_id"></app-fill-information>

        <app-notes [lead_id]="parameter.lead_id"></app-notes>

     </div>
  </div>

  <!-- Interested Properties start -->
  <!-- <div class="spacer30"></div>
  <div class="row">
     <div class="col-6">
        <p class="p16">Interested Properties</p>
     </div>
   <div class="col-6">
        <div class="btn-cont text-right"> <a routerLink="/dashboard/properties/add-property/0" class="btn btn-fourth" href="javascript://">Add</a></div>
     </div>
  </div>
  
  <div class="spacer15"></div>
  <div class="row" *ngIf="parameter.interested_properties?.length>0">
    <div class="col-lg-4 col-md-12 col-sm-12 col-12" *ngFor="let ip of parameter.interested_properties; let in=index">
      <app-interested-property *ngIf="ip.property.building" [data]="ip" [index]="in" [adminType]="2"></app-interested-property>
    </div>
  </div>
  <div *ngIf="parameter.interested_properties?.length == 0">
    <p class="show-error">
      {{constant.errorMsg.NO_INTERESTED_PROPERTY_FOUND}}
    </p>
  </div> -->
  <app-interested-property [selected_properties]="parameter?.lead?.selected_properties" [lead_id]="parameter.lead_id" [interested_properties]="parameter.interested_properties" [adminType]="2"></app-interested-property>
<!-- Interested Properties end -->

<!-- viewed property or projects start -->
<app-viewed-property [viewed_properties]="parameter.viewed_properties"></app-viewed-property>
  <!-- <div class="spacer30"></div>
  <div class="row">
     <div class="col-6">
        <p class="p16">Viewed Projects or properties</p>
     </div>
     <div class="col-6">
        <a class="view-all-2 float-right" href="javascript://">View All</a>
     </div>
  </div>
  <div class="spacer15"></div>
  <div class="row" *ngIf="parameter.viewed_properties?.length>0">
      <div class="col-lg-4 col-md-12 col-sm-12 col-12" *ngFor="let vp of parameter.viewed_properties">
          <app-viewed-property *ngIf="vp.building" [property]="vp"></app-viewed-property>
      </div>
    </div>
    <div *ngIf="parameter.viewed_properties?.length == 0">
      <p class="show-error">
        {{constant.errorMsg.NO_VIEWED_PROPERTY_FOUND}}
      </p>
    </div> -->
<!-- viewed property or projects end -->
</div>


<!-- show fav properties -->
<div class="modal" id="view-fav-property">
  <div class="modal-dialog  modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <h3>Favourite Properties</h3>
          <hr>
          <div class="scrollbox fav-prop">
            <div class="row">
              <div class="col-lg-6 col-md-12 col-sm-12 col-12" *ngFor="let x of parameter.favorites">
                  <div class="project-des-bx white-bg-2">
                      <div class="price">${{x.min_price}}</div>
                    <div class="fig-block">
                        <img [src]="x.image" onerror='src="assets/img/bank.png"' alt="img">
                    </div>
                    <div class="project-des-content">
                        <small>{{x.building.developer.name}}</small>
                        <h5>{{x.building.name.slice(0, 15)}}</h5>
                        <p class="p12">{{x.building.address.slice(0, 60)}}</p>
                        <p class="p13" *ngIf="x">{{x.configuration.name}}</p>
                        <p class="p13" *ngIf="!x">NA</p>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>