<ngx-loading [show]="parameter.loading"></ngx-loading>
<div class="spacer30"></div>
<div class="row">
   <div class="col-6">
      <p class="p16">Viewed Projects</p>
   </div>
 <div class="col-6">
      <div class="btn-cont text-right">
        <a style="display: none;" data-toggle="modal" #showProjectModal data-target="#view-viewed-projects" class="btn btn-fourth" href="javascript://">View All</a>
        <a *ngIf="viewed_projects?.length!=0" class="btn btn-fourth" href="javascript://" (click)="viewProjects(viewed_properties, user_id)">View All</a>
      </div>
   </div>
</div>

<div class="spacer15"></div>
<div class="row" *ngIf="viewed_projects?.length>0">
  <div class="col-lg-6 col-md-12 col-sm-12 col-12" *ngFor="let data of viewed_projects; let in=index">

  <div *ngIf="data && in<2" class="project-des-bx white-bg">
    <div class="price">{{data.starting_price|thousand}}+</div>
    <div class="fig-block">
      <img [src]="data.main_image" onerror='src="assets/img/placeholder-img.png"' alt="img">
    </div>
    <div class="project-des-content">
      <small>{{data?.developer?.name}}</small>
      <a routerLink="/dashboard/projects/details/{{data.id}}">
      <h5>{{data.name.slice(0, 35)}}</h5>
      </a>
      <p class="p12">{{data.address.slice(0, 90)}}</p>

      <p class="p13">
          <span *ngFor="let conf1 of data.configurations; let k=index">
              {{conf1.config.name}}<span *ngIf="k<data?.configurations?.length-1">,</span>
          </span>
          <span *ngIf="data.configurations?.length==0">NA</span>
      </p>
      <!-- <p class="p13" title="Type"><strong>{{data.for_sale == 1 ? 'Buy' : 'Rent'}}</strong></p> -->
    </div>
  </div>

  </div>
</div>
<div *ngIf="viewed_projects?.length == 0">
  <p class="show-not-found">
    {{constant.errorMsg.NO_VIEWED_PROPERTY_FOUND}}
  </p>
</div>


<!-- show viewed_projects -->
<div class="modal" id="view-viewed-projects">
  <div class="modal-dialog  modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <h3>Viewed Projects</h3>
          <hr>
          <div class="scrollbox fav-prop" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
            <div class="row">
              <div class="col-lg-6 col-md-12 col-sm-12 col-12"
                *ngFor="let x of parameter.viewed_projects| paginate: {itemsPerPage: parameter.itemsPerPage, currentPage: parameter.page, totalItems: parameter.total }; let in=index">
                  <div class="project-des-bx white-bg-2">
                      <div class="price">{{x.starting_price|thousand}}+</div>
                    <div class="fig-block">
                        <img [src]="x.main_image" onerror='src="assets/img/bank.png"' alt="img">
                    </div>
                    <div class="project-des-content">
                        <small>{{x?.developer?.name}}</small>
                        <a routerLink="/dashboard/projects/details/{{x.id}}">
                          <h5>{{x.name.slice(0, 15)}}</h5>
                        </a>
                        <p class="p12">{{x.address.slice(0, 45)}}</p>
                        <p class="p13">
                            <span *ngFor="let conf of x.configurations; let ii=index">
                                {{conf.config.name}}<span *ngIf="ii<x?.configurations?.length-1">,</span>
                            </span>
                            <span *ngIf="x.configurations?.length==0">NA</span>
                        </p>
                        <!-- <p class="p13" *ngIf="x">{{x.for_sale==1 ? 'Buy' : 'Rent'}}</p> -->
                    </div>
                  </div>
              </div>
            </div>
            <pagination-controls class="my-pagination" (pageChange)="getPage($event)"></pagination-controls>
          </div>
        </div>
      </div>
  </div>
</div>