<div class="spacer30"></div>
<div class="row">
  <div class="col-6">
    <p class="p16">Viewed Projects</p>
  </div>
  <div class="col-6">
    <div class="btn-cont text-right">
      <a style="display: none;" data-toggle="modal" #showProjectModal data-target="#view-viewed-projects"
        class="btn btn-fourth" href="javascript://">View All</a>
      <a *ngIf="viewed_projects?.length>1" class="btn btn-fourth" href="javascript://"
        (click)="viewProjects(viewed_properties, 1, user_id)">View All</a>
    </div>
  </div>
</div>

<div class="spacer15"></div>
<div class="row" *ngIf="viewed_projects?.length>0">
  <div class="col-lg-6 col-md-12 col-sm-12 col-12" *ngFor="let data of viewed_projects; let in=index">

    <div *ngIf="data && in<2" class="project-des-bx white-bg">
      <!-- <div class="price">{{data.starting_price|thousand}}+</div> -->
      <div class="fig-block">
        <img [src]="data.main_image| img:'thumb'" onerror='src="assets/img/placeholder-img.png"' alt="img">
      </div>
      <div class="project-des-content">
        <small title="Developer">{{data?.developer?.name ? data?.developer?.name : 'NA'}}</small>
        <a title="Building Name" routerLink="/dashboard/projects/details/{{data.id}}">
          <h5>{{data.name.slice(0, 35)}}</h5>
        </a>
        <p class="p12">{{data.address.slice(0, 90)}}</p>

        <p class="p13" title="Configurations">
          <span *ngFor="let conf1 of data.configurations; let k=index">
            <!-- {{conf1.config.name}} -->
            {{conf1?.name ? conf1?.name : conf1?.config?.name}}
            <span *ngIf="k<data?.configurations?.length-1">,</span>
          </span>
          <span *ngIf="data.configurations?.length==0">NA</span>
        </p>
        <p class="p13"><strong>{{data.starting_price|price}}</strong></p>
      </div>
    </div>

  </div>
</div>
<div *ngIf="viewed_projects?.length == 0">
  <p class="show-not-found">
      {{'message.error.noViewedPropertyFound' | translate}}
  </p>
</div>


<!-- show viewed_projects -->
<div class="modal" id="view-viewed-projects">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <h3>Viewed Projects</h3>
        <hr>
        <pagination-controls id="v-projects-1" class="my-pagination" (pageChange)="getPage($event)">
        </pagination-controls>
        <div class="scrollbox fav-prop" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12"
              *ngFor="let x of parameter.viewed_projects| paginate: {id:'v-projects-1', itemsPerPage: parameter.itemsPerPage, currentPage: parameter.page, totalItems: parameter.total }; let in=index">
              <div class="project-des-bx white-bg-2">
                <!-- <div class="price">{{x.starting_price|thousand}}+</div> -->
                <div class="fig-block">
                  <img [src]="x.main_image| img:'thumb'" onerror='src="assets/img/bank.png"' alt="img">
                </div>
                <div class="project-des-content">
                  <small title="Developer">{{x?.developer?.name ? x?.developer?.name : 'NA'}}</small>
                  <a title="Building Name" routerLink="/dashboard/projects/details/{{x.id}}">
                    <h5>{{x.name.slice(0, 15)}}</h5>
                  </a>
                  <p class="p12">{{x.address.slice(0, 45)}}</p>
                  <p class="p13">
                    <span *ngFor="let conf of x.configurations; let ii=index">
                      {{conf.name ? conf.name : conf.config.name}}<span *ngIf="ii<x?.configurations?.length-1">,</span>
                    </span>
                    <span *ngIf="x.configurations?.length==0">NA</span>
                  </p>
                  <p class="p13">{{x.starting_price|price}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>