<div class="container-fluid">
  <div class="row">
    <div class="col-lg-11 col-md-11 col-6">
      <div class="form-group">
        <p class="p16">Quick Visualization</p>
      </div>
    </div>
     
    <div class="col-lg-1 col-md-1 col-6">
      <div class="btn-cont text-right">
          <a class="btn" href="javascript://" style="display: none;" data-toggle="modal" data-target="#addInhouseUser" #inhouseUserModalOpen>{{'table.addNewBtn' | translate}}</a>
          <!-- *ngIf="admin?.admin_acl['Data Collector Management']?.can_create==1 && parameter.userType=='data-collectors' ||
          admin?.admin_acl['Seller Management']?.can_create==1 && parameter.userType=='csr-sellers'" -->
          <a class="btn btn-primary-new width100P" href="javascript://" (click)="exportData()">{{'table.exportDataBtn' | translate}}</a>
      </div>
    </div>
  </div>

  <hr>

  <h5>Stackholders Information</h5>
  <div class="row cust-tabs">
    <div class="col-md-4">

        <div class="table-responsive">
          <table class="table table-bordered white-bg">
            <tbody>
              <tr>
                <th rowspan="3">Buyer:</th>
                <td>{{model?.buyer?.name || ('table.tr.td.NA' | translate)}}</td>
              </tr>
              <tr>
                <td>{{model?.buyer?.email || ('table.tr.td.NA' | translate)}}</td>
              </tr>
              <tr>
                <td>{{model?.buyer?.dial_code}} {{model?.buyer?.phone || ('table.tr.td.NA' | translate)}}</td>
              </tr>
            </tbody>
          </table>
        </div>
          <div class="table-responsive">
            <table class="table table-bordered white-bg">
              <tbody>
                <tr>
                  <th rowspan="3">Seller:</th>
                  <td>{{model?.seller?.name || ('table.tr.td.NA' | translate)}}</td>
                </tr>
                <tr>
                  <td>{{model?.seller?.email || ('table.tr.td.NA' | translate)}}</td>
                </tr>
                <tr>
                  <td>{{model?.seller?.dial_code}} {{model?.buyer?.phone || ('table.tr.td.NA' | translate)}}</td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>

    <div class="col-md-1"></div>

    <div class="col-md-4">

          <div class="table-responsive">
            <table class="table table-bordered white-bg">
              <tbody>
                <tr>
                  <th rowspan="3">Buyer Legal <br> Representative Contact:</th>
                  <td>{{model?.buyer?.name || ('table.tr.td.NA' | translate)}}</td>
                </tr>
                <tr>
                  <td>{{model?.buyer?.email || ('table.tr.td.NA' | translate)}}</td>
                </tr>
                <tr>
                  <td>{{model?.buyer?.dial_code}} {{model?.buyer?.phone || ('table.tr.td.NA' | translate)}}</td>
                </tr>
              </tbody>
            </table>
          </div>
            <div class="table-responsive">
              <table class="table table-bordered white-bg">
                <tbody>
                  <tr>
                    <th rowspan="3">Seller Legal <br> Representative Contact:</th>
                    <td>{{model?.seller?.name || ('table.tr.td.NA' | translate)}}</td>
                  </tr>
                  <tr>
                    <td>{{model?.seller?.email || ('table.tr.td.NA' | translate)}}</td>
                  </tr>
                  <tr>
                    <td>{{model?.seller?.dial_code}} {{model?.buyer?.phone || ('table.tr.td.NA' | translate)}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
      </div>
  </div>


    <h5>General Property Information</h5>
    <div class="row">
    <div class="col-md-4">

          <div class="table-responsive">
            <table class="table table-bordered white-bg">
              <tbody>
                  <tr>
                      <th>Project:</th>
                      <td>{{model?.property?.building?.name || ('table.tr.td.NA' | translate)}}</td>
                    </tr>
                    <tr>
                      <th>Tower:</th>
                      <td>{{model?.property?.building_towers?.tower_name || ('table.tr.td.NA' | translate)}}</td>
                    </tr>
                    <tr>
                      <th>Floor:</th>
                      <td>
                          {{model?.property?.floor_num ? (model?.property?.floor_num == 0 ? ('addCollection.groundFloor' | translate) : ('addCollection.floor' | translate) + ' ' + model?.property?.floor_num) : ('table.tr.td.NA' | translate)}}
                      </td>
                    </tr>
                    <tr>
                      <th>Model:</th>
                      <td>{{model?.property?.building_configuration?.name || ('table.tr.td.NA' | translate)}}</td>
                    </tr>
                    <tr>
                      <th>Property Name:</th>
                      <td>{{model?.property?.name || ('table.tr.td.NA' | translate)}}</td>
                    </tr>
                    <!-- <tr>
                      <th>M2:</th>
                      <td>{{model?.property?.building?.name || 'NA'}}</td>
                    </tr> -->
                    <tr>
                      <th>Price:</th>
                      <td>${{(model?.property?.min_price || 0) | numberWithCommas}}</td>
                    </tr>
              </tbody>
            </table>
          </div>
      </div>
  
      <div class="col-md-1"></div>
  
      <div class="col-md-4">
  
            <div class="table-responsive">
              <table class="table table-bordered white-bg">
                <tbody>
                    <tr>
                        <th>Purchase Date</th>
                      </tr>
                      <tr>
                        <td>{{model?.deal_purchase_date || ('table.tr.td.NA' | translate)}}</td>
                      </tr>
                </tbody>
              </table>
            </div>
              <div class="table-responsive">
                <table class="table table-bordered white-bg">
                  <tbody>
                      <tr>
                          <th>Currency</th>
                        </tr>
                        <tr>
                          <td>{{model?.currency?.code || ('table.tr.td.NA' | translate)}}</td>
                        </tr>
                  </tbody>
                </table>
              </div>
        </div>
  </div>


  <h5>Payment Information</h5>
  <div class="cust-tabs">
    <div class="tab-content white-bg">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>
                <b>Concept</b>
              </th>
              <th>
                <b>Month</b>
              </th>
              <th>
                <b>Payment Date</b>
              </th>
              <th>
                <b>Paid</b>
              </th>
              <th>
                <b>Outstanding Payment</b>
              </th>
              <th>
                <b>Penalty FLP</b>
              </th>
              <th>
                <b>Purchased Commission</b>
              </th>
              <th>
                <b>Date Of PC</b>
              </th>
              <th>
                <b>Collection Commission</b>
              </th>
              <th>
                <b>Date Of CC</b>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of paymentConcepts; let i=index">
              <td>{{p?.name}}</td>
              <td>{{p?.date}}</td>
              <td>{{p?.collection_payment?.payment_date || ''}}</td>
              <td>
                {{p?.collection_payment ? model?.currency?.symbol : ''}} 
                {{p?.collection_payment ? ((p?.collection_payment?.amount || 0) | numberWithCommas) : ''}}
              </td>
              <td *ngIf="p?.key!='total'">
                {{p?.collection_payment ? '' : model?.currency?.symbol}} 
                {{p?.collection_payment ? '' : ((p?.amount || 0) | numberWithCommas)}}
              </td>
              <td *ngIf="p?.key=='total'">
                {{model?.currency?.symbol}} 
                {{(p?.amount || 0) | numberWithCommas}}
              </td>
              <td>
                {{p?.penalty ? model?.currency?.symbol : ''}} 
                {{p?.penalty ? ((p?.penalty?.amount || 0) || numberWithCommas) : ''}}
              </td>
              <td>
                {{collectionCommission[i]['purchase_payment'] ? model?.currency?.symbol : ''}} 
                {{collectionCommission[i]['purchase_payment'] ? (collectionCommission[i]['purchase_payment']?.amount | numberWithCommas) : ''}}</td>
              <td>
                {{collectionCommission[i]['purchase_payment'] ? (collectionCommission[i]['purchase_payment']?.payment_date | date:'mediumDate') : ''}}</td>
              <td>
                {{collectionCommission[i]['payment'] ? model?.currency?.symbol : ''}} 
                {{collectionCommission[i]['payment'] ? (collectionCommission[i]['payment']?.amount | numberWithCommas) : ''}}</td>
              <td>
                {{collectionCommission[i]['payment'] ? (collectionCommission[i]['payment']?.payment_date | date:'mediumDate') : ''}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>