
<div class="container-fluid">
  <div class="breadcrumb-group">
    <h5>{{'settings.label' | translate}}</h5>
      <nav class="breadcrumb">
        <a class="breadcrumb-item">{{'settings.home' | translate}}</a>
        <a class="breadcrumb-item">{{'settings.label' | translate}}</a>
        <span class="breadcrumb-item active">{{'property.label' | translate}}</span>
      </nav>
  </div>
  <div class="white-bg">
      <div class="page-title">
        <h3>{{'property.label' | translate}}</h3>
      </div>


      <div class="form-outer">
          <div class="inline-form-group">
             <div class="row">
                <div class="col-md-4">
                    <label><strong>{{'property.propertyConfiguration' | translate}}</strong></label>
                </div>
                <div class="col-md-8" *ngIf="admin?.admin_acl['Settings']?.can_create==1" >
                   <!-- <form role="form" novalidate #addConfigForm="ngForm" (ngSubmit)="checkIfConfigSpanishNameEntered(addConfigForm, '', addConfigForm.value.name_en, addConfigForm.value.name_es, 1, 'add')">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <input type="text" class="form-control" placeholder="Configuration name (English)" id="name_en" required [(ngModel)]="property.configuration.name_en" name="name_en" #name_en="ngModel">
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <input type="text" class="form-control" placeholder="Configuration name (Spanish)" [(ngModel)]="property.configuration.name_es" name="name_es">
                        </div>
                      </div>
                    <button [disabled]="admin?.admin_acl['Settings']?.can_create==0 || addConfigForm.invalid" type="submit" class="add-btn btn">
                       <img src="assets/img/add.png" alt="img">
                     </button>
                   </form> -->

                    <div class="form-group marginB0">
                      <div class="btn-cont text-right">
                          <a *ngIf="admin?.admin_acl['Settings']?.can_create==1" class="btn btn-primary" href="javascript://" (click)="openPropertyConfigModal(addPropertyConfigModal, -1, '', '', '', '', '', '', 1)">
                            {{'location.addNew' | translate}}</a>
                      </div>
                    </div>
                   <!-- <button [disabled]="admin?.admin_acl['Settings']?.can_create==0" type="button" class="add-btn btn"
                      (click)="openPropertyConfigModal(addPropertyConfigModal, -1, '', '', '', '', '', '', 1)">
                      <img src="assets/img/add.png" alt="img">
                    </button> -->
                </div>
             </div>
          </div>
      </div>

      <div class="tabel-section padding40 paddingT0">
          <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                  <th style="width:25%; text-align:left;">{{'table.th.nameEn' | translate}}</th>
                  <th style="width:25%; text-align:left;">{{'table.th.nameEn' | translate}}</th>
                  <th style="width:10%; text-align:left;">{{'table.th.bedrooms' | translate}}</th>
                  <th style="width:10%; text-align:left;">{{'table.th.bathrooms' | translate}}</th>
                  <th style="width:10%; text-align:left;">{{'table.th.halfBathrooms' | translate}}</th>
                  <th style="width:20%">{{'table.th.actions.label' | translate}}</th>
                </tr>
                <tr *ngFor="let item of parameter.items; let i=index">
                  <td class="text-left">
                    {{item.name_en}}
                  </td>
                  <td class="text-left">
                    {{item.name_es}}
                  </td>
                  <td class="text-left">
                    {{item.bedroom}}
                  </td>
                  <td class="text-left">
                    {{item.bathroom}}
                  </td>
                  <td class="text-left">
                    {{item.half_bathroom}}
                  </td>
                  <td>
                    <button title="{{'table.title.editDetails' | translate}}" [disabled]="admin?.admin_acl['Settings']?.can_update==0" 
                      (click)="openPropertyConfigModal(addPropertyConfigModal, i, item.id, item.name_en, item.name_es, item.bedroom, item.bathroom, item.half_bathroom, item.status)" class="action-icon"><img src="assets/img/edit.png" alt="img"></button>
                    
                      <!-- status = 1 means unblocked -->
                    <button [disabled]="admin?.admin_acl['Settings']?.can_delete==0"
                      (click)="addPropertyConfigurationPopup(i, item.id, item.name_en, item.name_es, item.bedroom, item.bathroom, item.half_bathroom, item.status==1?0:1, item.status==1?'block':'unblock')" 
                      title="{{item.status==1 ? ('table.title.block' | translate) : ('table.title.unblock' | translate)}}" [ngClass]="{'unblock-bg':item.status==0}"
                      class="action-icon"><img src="assets/img/block.png" alt="img">
                    </button>
                  </td>
                </tr>

                <div *ngIf="parameter.total == 0">
                  <p class="show-not-found">
                      {{'message.error.noPropertyConfigFound' | translate}}
                  </p>
                </div>
            </table>
          </div>
      </div>


      <div class="form-outer">
        <div class="inline-form-group">
           <div class="row">
              <div class="col-md-4">
                  <label><strong>{{'property.propertyType' | translate}}</strong></label>
              </div>
              <div class="col-md-8" *ngIf="admin?.admin_acl['Settings']?.can_create==1">
                 <form role="form" novalidate #addTypeForm="ngForm" (ngSubmit)="checkIfTypeSpanishNameEntered(addTypeForm, '', addTypeForm.value.name_en, addTypeForm.value.name_es, 1, 'add')">
                  <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <input type="text" class="form-control" placeholder="{{'addForm.placeholder.propertyTypeEn' | translate}}" id="name_en" required [(ngModel)]="property.type.name_en" name="name_en" #name_en="ngModel">
                        <!-- <div *ngIf="name_en.errors && (name_en.dirty || name_en.touched)" class="show-not-found">
                          <div [hidden]="!name_en.errors.required">
                            {{constant.errorMsg.PROPERTY_TYPE_REQUIRED}}
                          </div>
                      </div>     -->
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <input type="text" class="form-control" placeholder="{{'addForm.placeholder.propertyTypeEs' | translate}}" [(ngModel)]="property.type.name_es" name="name_es">
                    </div>
                  </div>
                  <button [disabled]="admin?.admin_acl['Settings']?.can_create==0 || addTypeForm.invalid" type="submit" class="add-btn btn">
                     <img src="assets/img/add.png" alt="img">
                   </button>
                 </form>
              </div>
           </div>
        </div>
    </div>

    <div class="tabel-section padding40 paddingT0">
        <div class="table-responsive">
          <table class="table table-striped">
              <tr>
                <th style="width:40%; text-align:left;">{{'table.th.nameEn' | translate}}</th>
                <th style="width:40%; text-align:left;">{{'table.th.nameEs' | translate}}</th>
                <th style="width:20%">{{'table.th.actions.label' | translate}}</th>
              </tr>
              <tr *ngFor="let item of parameter.propertyTypes; let j=index">
                <td class="text-left">
                  {{item.name_en}}
                </td>
                <td class="text-left">
                  {{item.name_es}}
                </td>
                <td>
                  <button title="{{'table.title.editDetails' | translate}}" [disabled]="admin?.admin_acl['Settings']?.can_update==0" 
                  (click)="openPropertyTypeModal(addPropertyTypeModal, j, item.id, item.name_en, item.name_es, item.status)" class="action-icon"><img src="assets/img/edit.png" alt="img"></button>
                
                  <!-- status = 1 means unblocked -->
                  <button [disabled]="admin?.admin_acl['Settings']?.can_delete==0"
                    (click)="addPropertyTypePopup(j, item.id, item.name_en, item.name_es, item.status==1?0:1, item.status==1?'block':'unblock')" 
                    title="{{item.status==1 ? ('table.title.block' | translate) : ('table.title.unblock' | translate)}}" [ngClass]="{'unblock-bg':item.status==0}"
                    class="action-icon"><img src="assets/img/block.png" alt="img">
                  </button>
                </td>
              </tr>

              <div *ngIf="parameter.total == 0">
                <p class="show-not-found">
                    {{'message.error.noPropertyTypeFound' | translate}}
                </p>
              </div>
          </table>
        </div>
    </div>


      <div class="form-outer">
        <div class="inline-form-group">
            <div class="row">
              <div class="col-md-4">
                  <label>{{'property.amenities' | translate}}</label>
              </div>
              <div class="col-md-8" *ngIf="admin?.admin_acl['Settings']?.can_create==1">
                 <form role="form" novalidate #addAmenityForm="ngForm" (ngSubmit)="checkIfAmenitySpanishNameEntered(addAmenityForm, '', '', addAmenityForm.value.name_en, addAmenityForm.value.name_es, 1, 'add')">
                  <div class="browse-files">
                    <input accept="image/*" (change)="changeListner($event)" type="file" class="image form-control" placeholder="{{'addForm.placeholder.amenity' | translate}}" id="icon" required [(ngModel)]="property.amenities.icon" name="icon" #icon="ngModel">
                    <span>{{'property.amenities' | translate}}</span>
                    <!-- <div *ngIf="icon.errors && (icon.dirty || icon.touched)" class="show-not-found">
                      <div [hidden]="!icon.errors.required">
                        {{constant.errorMsg.FILE_REQUIRED}}
                      </div>
                  </div> -->
                  </div>
                  <!-- <input type="file" class="form-control" placeholder="Amenity" id="icon" required [(ngModel)]="property.amenities.icon" name="icon" #icon="ngModel">
                    <div *ngIf="icon.errors && (icon.dirty || icon.touched)" class="show-not-found">
                      <div [hidden]="!icon.errors.required">
                        {{constant.errorMsg.PROPERTY_TYPE_REQUIRED}}
                      </div>
                  </div> -->
                  
                  <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <input type="text" class="form-control" placeholder="{{'addForm.placeholder.amenityEn' | translate}}" id="name_en" required [(ngModel)]="property.amenities.name_en" name="name_en" #name_en="ngModel">
                        <!-- <div *ngIf="name_en.errors && (name_en.dirty || name_en.touched)" class="show-not-found">
                          <div [hidden]="!name_en.errors.required">
                            {{constant.errorMsg.PROPERTY_TYPE_REQUIRED}}
                          </div>
                      </div>     -->
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <input type="text" class="form-control" placeholder="{{'addForm.placeholder.amenityEs' | translate}}" [(ngModel)]="property.amenities.name_es" name="name_es">
                    </div>
                  </div>
                  <button [disabled]="admin?.admin_acl['Settings']?.can_create==0 || addAmenityForm.invalid" type="submit" class="add-btn btn">
                     <img src="assets/img/add.png" alt="img">
                   </button>
                 </form>
              </div>
              <!-- <div class="col-md-8">
                  <div class="browse-files">
                    <input type="file" name="">
                    <span>Browse</span>
                  </div>
                  <input type="text" name="">
                  <button class="add-btn" (click)="openAmenitiesModal(addAmenitiesModal, '', '', '', '', 1)">
                    <img src="assets/img/add.png" alt="img">
                  </button>
              </div> -->
            </div>
        </div>
      </div>

      <div class="tabel-section padding40">
        <div class="table-responsive">
            <table class="table table-striped">
              <tr>
                  <th style="width:20%">{{'table.th.image' | translate}}</th>
                  <th style="width:30%; text-align:left;">{{'table.th.nameEn' | translate}}</th>
                  <th style="width:30%; text-align:left;">{{'table.th.nameEs' | translate}}</th>
                  <th style="width:20%">{{'table.th.actions.label' | translate}}</th>
              </tr>
              <tr *ngFor="let item of parameter.amenities; let k=index">
                  <td>
                    <!-- <i class="fa fa-building"></i> -->
                    <img alt="image" height="30" width="30" src="{{item.icon}}">
                  </td>
                  <td class="text-left">
                    {{item.name_en}}
                  </td>
                  <td class="text-left">
                    {{item.name_es}}
                  </td>
                  <td>
                      <button title="{{'table.title.editDetails' | translate}}" [disabled]="admin?.admin_acl['Settings']?.can_update==0" 
                      (click)="openAmenityModal(addAmenityModal, k, item.id, item.icon, item.name_en, item.name_es, item.status)" class="action-icon"><img src="assets/img/edit.png" alt="img"></button>
                    
                      <!-- status = 1 means unblocked -->
                      <button [disabled]="admin?.admin_acl['Settings']?.can_delete==0"
                        (click)="addAmenityPopup(k, item.id, item.icon, item.name_en, item.name_es, item.status==1?0:1, item.status==1?'block':'unblock')" 
                        title="{{item.status==1 ? ('table.title.block' | translate) : ('table.title.unblock' | translate)}}" [ngClass]="{'unblock-bg':item.status==0}"
                        class="action-icon"><img src="assets/img/block.png" alt="img">
                      </button>
                  </td>
              </tr>
            </table>
        </div>
      </div>
      <!-- <div class="btn-cont text-right padding40 paddingT0">
        <button class="btn btn-primary">Save</button>
      </div> -->
  </div>
</div>


<!-- add configuration modal -->
<ng-template #addPropertyConfigModal>
  <div class="modal-content">
    <div class="modal-header my-modal-header">
      <h4 class="modal-title">{{parameter.index!='-1' ? ('property.editPropertyConfig' | translate) : ('property.addPropertyConfig' | translate)}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form class="form-horizontal my-modal-form" role="form" novalidate #addForm="ngForm" (ngSubmit)="checkIfConfigSpanishNameEntered(addForm, property.configuration.id, addForm.value.name_en, addForm.value.name_es, addForm.value.bedroom, addForm.value.bathroom, addForm.value.half_bathroom, property.configuration.status, 'edit')">
      <div class="modal-body my-modal-body">
        <div class="form-group">
          <input autocomplete="off" type="text" class="form-control" placeholder="{{'addForm.placeholder.propertyConfigEn' | translate}}" id="name_en" required [(ngModel)]="property.configuration.name_en" name="name_en" #name_en="ngModel">
          <!-- <div *ngIf="name_en.errors && (name_en.dirty || name_en.touched)" class="show-not-found">
              <div [hidden]="!name_en.errors.required">
                {{constant.errorMsg.PROPERTY_TYPE_REQUIRED}}
              </div>
          </div> -->
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="{{'addForm.placeholder.propertyConfigEs' | translate}}" [(ngModel)]="property.configuration.name_es" name="name_es">
        </div>
        <div class="form-group">
          <input type="number" class="form-control" required placeholder="{{'addForm.placeholder.bedrooms' | translate}}" [(ngModel)]="property.configuration.bedroom" name="bedroom" #bedroom="ngModel">
        </div>
        <div class="form-group">
          <input type="number" class="form-control" required placeholder="{{'addForm.placeholder.bathrooms' | translate}}" [(ngModel)]="property.configuration.bathroom" name="bathroom" #bathroom="ngModel">
        </div>
        <div class="form-group">
          <input type="number" class="form-control" required placeholder="{{'addForm.placeholder.halfBathrooms' | translate}}" [(ngModel)]="property.configuration.half_bathroom" name="half_bathroom" #half_bathroom="ngModel">
        </div>
      </div>
      <div class="modal-footer btn-cont">
        <button type="submit" [disabled]="admin?.admin_acl['Settings']?.can_update==0 || addForm.invalid" class="btn btn-primary-new">{{'addForm.submit' | translate}}</button>
        <button type="button" class="btn btn-default" aria-label="Close" (click)="modalRef.hide()">{{'addForm.close' | translate}}</button>
      </div>
    </form>
  </div>
</ng-template>


<!-- add PropertyTypeModal modal -->
<ng-template #addPropertyTypeModal>
  <div class="modal-content">
    <div class="modal-header my-modal-header">
      <h4 class="modal-title">{{'property.editPropertyType' | translate}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form class="form-horizontal my-modal-form" role="form" novalidate #addForm1="ngForm" (ngSubmit)="checkIfTypeSpanishNameEntered(addForm1, property.type.id, addForm1.value.name_en, addForm1.value.name_es, property.type.status, 'edit')">
      <div class="modal-body my-modal-body">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="{{'addForm.placeholder.propertyTypeEn' | translate}}" id="name_en" required [(ngModel)]="property.type.name_en" name="name_en" #name_en="ngModel">
          <!-- <div *ngIf="name_en.errors && (name_en.dirty || name_en.touched)" class="show-not-found">
              <div [hidden]="!name_en.errors.required">
                {{constant.errorMsg.PROPERTY_TYPE_REQUIRED}}
              </div>
          </div> -->
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="{{'addForm.placeholder.propertyTypeEs' | translate}}" [(ngModel)]="property.type.name_es" name="name_es">
        </div>
      </div>
      <div class="modal-footer btn-cont">
        <button type="submit" [disabled]="admin?.admin_acl['Settings']?.can_update==0 || addForm1.invalid" class="btn btn-primary-new">{{'addForm.submit' | translate}}</button>
        <button type="button" class="btn btn-default" aria-label="Close" (click)="modalRef.hide()">{{'addForm.close' | translate}}</button>
      </div>
    </form>
  </div>
</ng-template>


<!-- addAmenitiesModal -->
<ng-template #addAmenityModal>
    <div class="modal-content">
      <div class="modal-header my-modal-header">
        <h4 class="modal-title">{{'property.editAmenity' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form-horizontal my-modal-form" role="form" novalidate #addForm2="ngForm" (ngSubmit)="checkIfAmenitySpanishNameEntered(addForm2, property.amenities.id, '', addForm2.value.name_en, addForm2.value.name_es, property.amenities.status, 'edit')">
        <div class="modal-body my-modal-body">
          <div class="form-group amenity-img">
            <img src="{{property.amenities.icon}}" width="100" height="100" class="image1">
          </div>
          <div class="form-group">
            <input accept="image/*" (change)="changeListner1($event)" type="file" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="{{'addForm.placeholder.amenityEn' | translate}}" id="name_en" required [(ngModel)]="property.amenities.name_en" name="name_en" #name_en="ngModel">
            <!-- <div *ngIf="name_en.errors && (name_en.dirty || name_en.touched)" class="show-not-found">
                <div [hidden]="!name_en.errors.required">
                  {{constant.errorMsg.PROPERTY_TYPE_REQUIRED}}
                </div>
            </div> -->
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="{{'addForm.placeholder.amenityEs' | translate}}" [(ngModel)]="property.amenities.name_es" name="name_es">
          </div>
        </div>
        <div class="modal-footer btn-cont">
          <button type="submit" [disabled]="admin?.admin_acl['Settings']?.can_update==0 || addForm2.invalid" class="btn btn-primary-new">{{'addForm.submit' | translate}}</button>
          <button type="button" class="btn btn-default" aria-label="Close" (click)="modalRef.hide()">{{'addForm.close' | translate}}</button>
        </div>
      </form>
  </div>
</ng-template>
  