<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="title-group">
        <h5>{{model.id ? ('viewUsers.editBtn' | translate) : ('viewUsers.addBtn' | translate)}}</h5>
        <div class="spacer30"></div>
      </div>
    </div>
  </div>


  <form role="form" ngNativeValidate #addForm="ngForm" (ngSubmit)="add(addForm)">

    <div class="col-12">
      <div class="btn-cont text-right">
        <button *ngIf="!model?.id" type="submit" [disabled]="!addForm.valid" class="btn btn-primary">{{'addForm.addBtn'
          | translate}}</button>
        <button *ngIf="model?.id" type="submit" class="btn btn-primary">{{'addForm.updateBtn' | translate}}</button>
      </div>
    </div>
    <div class="col-12">
      <div class="spacer40"></div>
    </div>

    <!-- Street Address,External Number,Internal Number,Neighborhood,Municipality,City,ZIP code,State,Address -->
    <div class="white-bg padding40">
      <h3>{{'addForm.generalData' | translate}}</h3>
      <div class="col-12">
        <div class="spacer40"></div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="form-group-3">
            <label>{{'addForm.names' | translate}} <span class="color-red">*</span></label>
            <input autocomplete="off" minlength="1" maxlength="30"
              [pattern]="constant.acceptAlphabetNumberAccentscharactersWithWhiteSpace" required type="text"
              class="form-control" [(ngModel)]="model.name" name="name1">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group-3">
            <label>{{'addForm.firstSurname' | translate}}
              <span class="color-red">*</span>
            </label>
            <input autocomplete="off" minlength="1" maxlength="30"
              [pattern]="constant.acceptAlphabetNumberAccentscharactersWithWhiteSpace" type="text" class="form-control"
              required [(ngModel)]="model.first_surname" name="first_surname1">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group-3">
            <label>{{'addForm.secondSurname' | translate}}
              <!-- <span class="color-red">*</span> -->
            </label>
            <input autocomplete="off" minlength="1" maxlength="30"
              [pattern]="constant.acceptAlphabetNumberAccentscharactersWithWhiteSpace" type="text" class="form-control"
              [(ngModel)]="model.second_surname" name="second_surname1">
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="spacer40"></div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="form-group-3">
            <label>{{'addForm.gender' | translate}}</label><br />
            <input type="radio" name="gender" value="male" [checked]="isChecked('male')"
              (change)="selectGender($event.target.value)">{{'addForm.male' | translate}} &nbsp;&nbsp;
            <input type="radio" name="gender" value="female" [checked]="isChecked('female')"
              (change)="selectGender($event.target.value)">{{'addForm.female' | translate}}
          </div>
        </div>
        <div class="col-4">
          <div class="form-group-3">
            <label>{{'addForm.email' | translate}} <span class="color-red">*</span></label>
            <input (keydown.space)="$event.preventDefault();" autocomplete="off" required
              [pattern]="constant.emailPattern" type="email" class="form-control" [(ngModel)]="model.email"
              name="email">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group-3">
            <label>{{'addForm.contact_number' | translate}} <span class="color-red">*</span></label>
            <input minlength="10" maxlength="10" autocomplete="off" type="text" [pattern]="constant.phonePattern"
              class="form-control" id="phone" required [(ngModel)]="model.phone" name="phone" ng2TelInput
              [ng2TelInputOptions]="initialCountry" (countryChange)="onCountryChange($event)" />
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="spacer40"></div>
      </div>

      <div class="row">
        <div class="col-4">
          <div class="form-group-3">
            <label>{{'addForm.dateOfBirth' | translate}}</label>
            <input class="form-control" type="date" name="dob" [(ngModel)]="model.dob">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group-3">
            <label>{{'addForm.CURP' | translate}}</label>
            <input (keydown.space)="$event.preventDefault();" autocomplete="off" type="text" minlength="18"
              maxlength="18" class="form-control" [(ngModel)]="model.curp" name="curp">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group-3">
            <label>{{'addForm.fedralTaxPayerRegistry' | translate}}</label>
            <input autocomplete="off" minlength="13" maxlength="13" [pattern]="constant.onlyWhiteSpaces" type="text"
              class="form-control" [(ngModel)]="model.fed_tax_pay" name="fed_tax_pay">
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="spacer40"></div>
      </div>

      <div class="row">
        <div class="col-4">
          <div class="form-group-3">
            <label class="p16-two">{{'addForm.nacionality' | translate}}</label>
            <select title="Select Nationality" [(ngModel)]="model.nationality_id" name="nationality_id" class="form-control" (change)="this.updateNationalityName($event.target.value)">
              <!-- <option value="-1" disabled>{{'addForm.selectNationality' | translate}}</option> -->
              <option *ngFor="let tempNationalityDetails of nationalityDetails"
                [selected]="tempNationalityDetails.id == model.nationality_id" value="{{tempNationalityDetails.id}}">
                {{tempNationalityDetails.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-4" *ngIf="model.nationality_id == 0">
          <div class="form-group-3">
            <label>{{'addForm.specifyNationality' | translate}}</label>
            <input (keydown.space)="$event.preventDefault();" autocomplete="off" type="text" class="form-control"
              [(ngModel)]="model.nationality_name" name="nationality_name">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group-3">
            <label class="p16-two">{{'addForm.marital_status' | translate}}</label>
            <select title="Select Marital Status" name="marital_status" class="form-control"
              (change)="getMaritalStatus($event.target.value)">
              <option value="0" disabled>{{'addForm.maritalStatus.selectMaritalStatus' | translate}}</option>
              <option *ngFor="let maritalStatus of marrital_status_list"
                [selected]="maritalStatus.id == model.marital_statuses_id" value="{{maritalStatus.id}}">{{language_code
                == 'en'? maritalStatus.name_en : maritalStatus.name_es}}</option>
            </select>

          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="spacer40"></div>
      </div>

      <div class="row">
        <div class="col-12">
          <label>{{'addCollection.bankName' | translate}}
            <span class="pull-right"><a class="add" (click)="addDeveloperBank($event)"
                href="javascript://">{{'addCollection.addNewBankAccount' | translate}}</a></span>
          </label>
          <div class="row" *ngFor="let bankAccount of model.legal_rep_banks; let i=index">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
              <div class="form-group-3">
                <label>{{'addCollection.bankName' | translate}}</label>
                <div class="clearfix"></div>
                <input autocomplete="off" minlength="1" maxlength="30" class="form-control" type="text"
                  [(ngModel)]="bankAccount.bank_name" name="bank_name{{i}}">
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
              <div class="form-group-3">
                <label>{{'addCollection.accountNumber' | translate}}</label>
                <div class="clearfix"></div>
                <input autocomplete="off" class="form-control" type="text" minlength="10" maxlength="20"
                  [pattern]="constant.accountPattern" [(ngModel)]="bankAccount.account_number"
                  name="account_number{{i}}">
              </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-12">
              <div class="form-group-3">
                <label>{{'addCollection.clabeSwift' | translate}}</label>
                <div class="clearfix"></div>
                <input autocomplete="off" class="form-control" type="text" [(ngModel)]="bankAccount.swift"
                  name="swift{{i}}">
              </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-12">
              <div class="form-group-3">
                <label>{{'addCollection.currency' | translate}}</label>
                <div class="clearfix"></div>
                <select name="currency_id{{i}}" [(ngModel)]="bankAccount.currency_id" class="form-control">
                  <option value="">{{'addCollection.currency' | translate}}</option>
                  <option value="{{c.id}}" *ngFor="let c of currencies">{{ c?.code }} | {{c?.currency}}</option>
                </select>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-12">
              <div class="form-group-3">
                <label>Remove</label>
                <div class="clearfix"></div>
                <button type="button" (click)="removeDeveloperBank($event, bankAccount, i)">Remove</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="spacer40"></div>
    </div>

    <div class="white-bg padding40">
      <h3>{{'addForm.address' | translate}}</h3>
      <div class="col-12">
        <div class="spacer40"></div>
      </div>
      <div class="row">
        <div class="col-3">
          <div class="form-group-3">
            <label>{{'addForm.streetAddress' | translate}}</label>
            <input type="text" class="form-control" name="street_address" [(ngModel)]="model.street_address"
              (keyup)="this.onClickUseUserSameAddress()" />
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group-3">
            <label>{{'addForm.externalNumber' | translate}}</label>
            <input type="text" class="form-control" name="external_number" 
              [(ngModel)]="model.external_number" (keyup)="this.onClickUseUserSameAddress()" />
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group-3">
            <label>{{'addForm.internalNumber' | translate}}</label>
            <input type="text" class="form-control" name="internal_number"
               [(ngModel)]="model.internal_number"
              (keyup)="this.onClickUseUserSameAddress()" />
          </div>
        </div>
        <div class="col-3">
          <div class="form-group-3">
            <label>{{'addForm.ZIP' | translate}}</label>
            <input minlength="8" maxlength="15" autocomplete="off" type="text" class="form-control" id="zipcode"
              minlength="1" [(ngModel)]="model.zipcode" name="zipcode" (keyup)="this.getCounrtyByZipcode(false)" />
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="spacer40"></div>
      </div>

      <div class="row">
        <div class="col-4">
          <div class="form-group-3">
            <label>{{'addForm.municipality' | translate}}</label>
            <input (keydown.space)="$event.preventDefault();" autocomplete="off" type="text" class="form-control"
              [(ngModel)]="model.municipality" name="municipality" (keyup)="this.onClickUseUserSameAddress()">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group-3">
            <label>{{'filters.location.country' | translate}}</label>
            <input autocomplete="off" type="text" class="form-control" id="country" [(ngModel)]="model.country"
              name="country" (keyup)="this.onClickUseUserSameAddress()" />
          </div>
        </div>
        <div class="col-4">
          <div class="form-group-3">
            <label>{{'filters.location.state' | translate}}</label>
            <input autocomplete="off" type="text" class="form-control" id="state" [(ngModel)]="model.state" name="state"
              (keyup)="this.onClickUseUserSameAddress()" />
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="spacer40"></div>
      </div>

      <div class="row">
        <div class="col-4">
          <div class="form-group-3">
            <label>{{'filters.location.city' | translate}}</label>
            <input autocomplete="off" type="text" class="form-control" id="city" [(ngModel)]="model.city" name="city"
              (keyup)="this.onClickUseUserSameAddress()" />
          </div>
        </div>
        <div class="col-4">
          <div class="form-group-3">
            <label>{{'addForm.neighbourhood' | translate}}</label>
            <select class="form-control" [(ngModel)]="model.neighborhood" name="neighborhood"
              (change)="this.onClickUseUserSameAddress()">
              <option *ngFor="let tempNeighbourhood of model.neighbourhoods" value="{{tempNeighbourhood}}">
                {{tempNeighbourhood}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="spacer40"></div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="form-group-3-2">
            <label>{{'addForm.address' | translate}}
            </label>
            <input placeholder="{{'addForm.placeholder.searchForAddress' | translate}}" autocorrect="off"
              autocapitalize="off" spellcheck="off" type="text" class="form-control" #search
              (input)="loadPlaces('developer_address', 'lat', 'lng', 'searchElementRef')" name="developer_address"
              [(ngModel)]="model.developer_address" autocomplete="off">
          </div>
        </div>
        <div class="col-12">
          <div class="form-group-3-2">
            <label>{{'addForm.googleSearchAddress' | translate}}
              <!-- <span class="color-red">*</span> -->
            </label>
            <agm-map class="height200" [latitude]="model.lat" [longitude]="model.lng" [scrollwheel]="false"
              (mapClick)="placeMarker($event, 'developer_address', 'lat', 'lng')" [zoom]="constant.zoom">
              <agm-marker [latitude]="model.lat" [longitude]="model.lng"></agm-marker>
            </agm-map>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="spacer40"></div>
    </div>

    <div class="white-bg padding40">
      <div class="row">
        <div class="col-2">
          <h3>{{'addForm.taxAddress' | translate}}</h3>
        </div>
        <div class="col-md-4 col-sm-4 col-4">
          <div class="form-group-3">
            <div class="form-check">
              <label class="form-check-label">
                {{'addForm.useUserSameAddress' | translate}}
                <input type="checkbox" name="use_user_same_address" [(ngModel)]="model.use_user_same_address"
                  (change)="this.onClickUseUserSameAddress()">
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="spacer40"></div>
      </div>
      <div class="row">
        <div class="col-3">
          <div class="form-group-3">
            <label>{{'addForm.streetAddress' | translate}}</label>
            <input type="text" class="form-control" name="tax_street_address" [(ngModel)]="model.tax_street_address" />
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group-3">
            <label>{{'addForm.externalNumber' | translate}}</label>
            <input type="text" class="form-control" name="tax_external_number" 
              [(ngModel)]="model.tax_external_number" />
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group-3">
            <label>{{'addForm.internalNumber' | translate}}</label>
            <input type="text" class="form-control" name="tax_internal_number"
               [(ngModel)]="model.tax_internal_number" />
          </div>
        </div>
        <div class="col-3">
          <div class="form-group-3">
            <label>{{'addForm.ZIP' | translate}}</label>
            <input minlength="8" maxlength="15" autocomplete="off" type="text" class="form-control" id="tax_zipcode"
              minlength="1" [(ngModel)]="model.tax_zipcode" name="tax_zipcode"
              (keyup)="this.getCounrtyByZipcode(true)" />
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="spacer40"></div>
      </div>

      <div class="row">
        <div class="col-4">
          <div class="form-group-3">
            <label>{{'addForm.municipality' | translate}}</label>
            <input (keydown.space)="$event.preventDefault();" autocomplete="off" type="text" class="form-control"
              [(ngModel)]="model.tax_municipality" name="tax_municipality">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group-3">
            <label>{{'filters.location.country' | translate}}</label>
            <input autocomplete="off" type="text" class="form-control" id="tax_country" [(ngModel)]="model.tax_country"
              name="tax_country" />
          </div>
        </div>
        <div class="col-4">
          <div class="form-group-3">
            <label>{{'filters.location.state' | translate}}</label>
            <input autocomplete="off" type="text" class="form-control" id="tax_state" [(ngModel)]="model.tax_state"
              name="tax_state" />
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="spacer40"></div>
      </div>

      <div class="row">
        <div class="col-4">
          <div class="form-group-3">
            <label>{{'filters.location.city' | translate}}</label>
            <input autocomplete="off" type="text" class="form-control" id="tax_city" [(ngModel)]="model.tax_city"
              name="tax_city" />
          </div>
        </div>
        <div class="col-4">
          <div class="form-group-3">
            <label>{{'addForm.neighbourhood' | translate}}</label>
            <select class="form-control" [(ngModel)]="model.tax_neighbourhood" name="tax_neighbourhood">
              <option *ngFor="let temp_tax_neighbourhood of model.tax_neighbourhoods"
                value="{{temp_tax_neighbourhood}}">
                {{temp_tax_neighbourhood}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="spacer40"></div>
    </div>

    <div class="white-bg padding40">
      <h3>{{'addForm.legalRepresentativeInfo' | translate}}</h3>
      <div class="col-12">
        <div class="spacer40"></div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="form-group-3">
            <label>{{'addForm.names' | translate}}
              <!-- <span class="color-red">*</span> -->
            </label>
            <input autocomplete="off" minlength="1" maxlength="50"
              [pattern]="constant.acceptAlphabetNumberAccentscharactersWithWhiteSpace" type="text" class="form-control"
              [(ngModel)]="model.legal_representative.name" name="name">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group-3">
            <label>{{'addForm.firstSurname' | translate}}
              <!-- <span class="color-red">*</span> -->
            </label>
            <input autocomplete="off" minlength="1" maxlength="30"
              [pattern]="constant.acceptAlphabetNumberAccentscharactersWithWhiteSpace" type="text" class="form-control"
              [(ngModel)]="model.legal_representative.first_surname" name="first_surname">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group-3">
            <label>{{'addForm.secondSurname' | translate}}
              <!-- <span class="color-red">*</span> -->
            </label>
            <input autocomplete="off" minlength="1" maxlength="30"
              [pattern]="constant.acceptAlphabetNumberAccentscharactersWithWhiteSpace" type="text" class="form-control"
              [(ngModel)]="model.legal_representative.second_surname" name="second_surname">
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="spacer40"></div>
      </div>

      <div class="row">
        <div class="col-4">
          <div class="form-group-3">
            <label>{{'addForm.contactNumber' | translate}}</label>
            <input minlength="8" maxlength="15" autocomplete="off" type="text" [pattern]="constant.phonePattern"
              class="form-control" id="phone" [(ngModel)]="model.legal_representative.phone"
              name="legal_representative_phone" ng2TelInput [ng2TelInputOptions]="initialCountry"
              (countryChange)="onCountryChange($event)" />
          </div>
        </div>
        <div class="col-4">
          <div class="form-group-3">
            <label>{{'addForm.emailId' | translate}}</label>
            <input (keydown.space)="$event.preventDefault();" autocomplete="off" [pattern]="constant.emailPattern"
              type="email" class="form-control" [(ngModel)]="model.legal_representative.email" name="rep_email">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group-3">
            <label>{{'addForm.fedralTaxPayerRegistry' | translate}}</label>
            <input autocomplete="off" minlength="13" maxlength="13" [pattern]="constant.onlyWhiteSpaces" type="text"
              class="form-control" [(ngModel)]="model.legal_representative.fed_tax_pay" name="le_fed_tax_pay">
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="spacer40"></div>
      </div>

      <div class="row">
        <div class="col-12">
          <label>{{'addCollection.bankAccount' | translate}}
            <!-- <span class="color-red">*</span> -->
            <span class="pull-right"><a class="add" (click)="addLegalEntityBank($event)"
                href="javascript://">{{'addCollection.addNewBankAccount' | translate}}</a></span>
          </label>
          <div class="row" *ngFor="let leBankAccount of model.legal_representative.legal_rep_banks; let i=index">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
              <div class="form-group-3">
                <label>{{'addCollection.bankName' | translate}}</label>
                <div class="clearfix"></div>
                <input autocomplete="off" minlength="1" maxlength="30" class="form-control" type="text"
                  [(ngModel)]="leBankAccount.bank_name" name="le_bank_name{{i}}">
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
              <div class="form-group-3">
                <label>{{'addCollection.accountNumber' | translate}}</label>
                <div class="clearfix"></div>
                <input autocomplete="off" class="form-control" type="text" minlength="9" maxlength="20"
                  [pattern]="constant.accountPattern" [(ngModel)]="leBankAccount.account_number"
                  name="le_account_number{{i}}">
              </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-12">
              <div class="form-group-3">
                <label>{{'addCollection.clabeSwift' | translate}}</label>
                <div class="clearfix"></div>
                <input autocomplete="off" class="form-control" type="text" [(ngModel)]="leBankAccount.swift"
                  name="le_swift{{i}}">
              </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-12">
              <div class="form-group-3">
                <label>{{'addCollection.currency' | translate}}</label>
                <div class="clearfix"></div>
                <select name="le_currency_id{{i}}" [(ngModel)]="leBankAccount.currency_id" class="form-control">
                  <option value="">{{'addCollection.currency' | translate}}</option>
                  <option value="{{c.id}}" *ngFor="let c of currencies">{{ c?.code }} | {{c?.currency}}</option>
                </select>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-12">
              <div class="form-group-3">
                <label>{{'addCollection.remove' | translate}}</label>
                <div class="clearfix"></div>
                <button type="button" (click)="removeLegalEntityBank($event, leBankAccount, i)">{{'addCollection.remove'
                  |
                  translate}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="spacer40"></div>
    </div>
    <div class="white-bg padding40">
      <!-- Beneficiaries -->
       <h5 style="color: black;font-weight: bold;">{{'addCollection.beneficiaries' | translate}}</h5>
       <div class="row">
         <div class="col-lg-3 col-md-6 col-sm-6 col-12">
           <div class="form-group-3">
             <label>{{'addForm.names' | translate}}</label>
             <div class="clearfix"></div>
             <input  autocomplete="off" class="form-control" type="text" name="beneficiary_name"
             [(ngModel)]="beneficiary.beneficiary_name">
           </div>
         </div>
         <div class="col-lg-3 col-md-6 col-sm-6 col-12">
           <div class="form-group-3">
             <label>{{'addForm.firstSurname' | translate}}</label>
             <div class="clearfix"></div>
             <input  autocomplete="off" class="form-control" type="text" name="beneficiary_firstSurname"
             [(ngModel)]="beneficiary.beneficiary_firstSurname">
           </div>
         </div>
         <div class="col-lg-3 col-md-6 col-sm-6 col-12">
           <div class="form-group-3">
             <label>{{'addForm.secondSurname' | translate}}</label>
             <div class="clearfix"></div>
             <input  autocomplete="off" class="form-control" type="text" name="beneficiary_secondSurname"
             [(ngModel)]="beneficiary.beneficiary_secondSurname">
           </div>
         </div>
         <div class="col-lg-3 col-md-6 col-sm-6 col-12">
           <div class="form-group-3">
             <div class="form-group">
               <label>{{'creditForm.RELATIONSHIP' | translate}}</label>
               <select title="{{'creditForm.selectRELATIONSHIP' | translate}}"
                 class="form-control" name="beneficiary_relationship"
                 [(ngModel)]="beneficiary.beneficiary_relationship">
                 <option disabled selected value="undefined">{{'creditForm.selectRELATIONSHIP' | translate}}
                 </option>
                 <option *ngFor="let dest of Relationship_list" [value]="dest.id">
                   {{language_code
                   == 'en'? dest.name_en : dest.name_es}}</option>
               </select>
 
             </div>
           </div>
         </div>
       </div>
       <div class="row">
         <div class="col-lg-3 col-md-6 col-sm-6 col-12">
           <div class="form-group-3">
             <label>{{'addForm.dateOfBirth' | translate}}</label>
             <input class="form-control" type="date" name="beneficiary_dob" 
             [(ngModel)]="beneficiary.beneficiary_dob" (ngModelChange)="ageFromDateOfBirthday($event)">
           </div>
         </div>
         <div class="col-lg-6 col-md-6 col-sm-6 col-12">
           <div class="form-group-3">
             <label>{{'addForm.address' | translate}}</label>
             <input  autocomplete="off" class="form-control" type="text" name="beneficiary_address"
             [(ngModel)]="beneficiary.beneficiary_address">
           </div>
         </div>
         <div class="col-lg-3 col-md-6 col-sm-6 col-12">
           <div class="form-group-3">
             <label>{{'addForm.phone' | translate}} </label>
             <div class="clearfix"></div>
             <input  minlength="10" maxlength="10" autocomplete="off" class="form-control" type="text" name="beneficiary_phone"
             [(ngModel)]="beneficiary.beneficiary_phone">
           </div>
         </div>
        
       </div>
       <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="form-group-3">
            <label>{{'addForm.email' | translate}} </label>
            <div class="clearfix"></div>
            <input  autocomplete="off" class="form-control" type="email" name="beneficiary_email"
            [(ngModel)]="beneficiary.beneficiary_email">
          </div>
        </div>
       </div>
       <div class="col-12">
         <div class="spacer40"></div>
       </div>
       <div class="white-bg padding40" *ngIf="age<=18">
          <!-- Tutor -->
       <h5 style="color: black;font-weight: bold;">{{'addCollection.Tutor' | translate}}</h5>
       <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="form-group-3">
            <label>{{'addForm.names' | translate}}</label>
            <div class="clearfix"></div>
            <input  autocomplete="off" class="form-control" type="text" name="tutor_name"
              [(ngModel)]="beneficiary.tutor.tutor_name">
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="form-group-3">
            <label>{{'addForm.firstSurname' | translate}}</label>
            <div class="clearfix"></div>
            <input  autocomplete="off" class="form-control" type="text" name="tutor_firstSurname"
            [(ngModel)]="beneficiary.tutor.tutor_firstSurname">
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="form-group-3">
            <label>{{'addForm.secondSurname' | translate}}</label>
            <div class="clearfix"></div>
            <input  autocomplete="off" class="form-control" type="text" name="tutor_secondSurname"
             [(ngModel)]="beneficiary.tutor.tutor_secondSurname">
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="form-group-3">
            <div class="form-group">
              <label>{{'creditForm.RELATIONSHIP' | translate}}</label>
              <select title="{{'creditForm.selectRELATIONSHIP' | translate}}"
                class="form-control" name="tutor_relationship" 
                [(ngModel)]="beneficiary.tutor.tutor_relationship">
                <option disabled selected value="undefined">{{'creditForm.selectRELATIONSHIP' | translate}}
                </option>
                <option *ngFor="let dest of Relationship_list" [value]="dest.id">
                  {{language_code
                  == 'en'? dest.name_en : dest.name_es}}</option>
              </select>

            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="form-group-3">
            <label>{{'addForm.dateOfBirth' | translate}}</label>
            <input class="form-control" type="date" name="tutor_dob"
            [(ngModel)]="beneficiary.tutor.tutor_dob">
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="form-group-3">
            <label>{{'addForm.address' | translate}}</label>
            <input  autocomplete="off" class="form-control" type="text" name="tutor_address"
            [(ngModel)]="beneficiary.tutor.tutor_address">
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="form-group-3">
            <label>{{'addForm.phone' | translate}} </label>
            <div class="clearfix"></div>
            <input  minlength="10" maxlength="10" autocomplete="off" class="form-control" type="text" name="tutor_phone"
            [(ngModel)]="beneficiary.tutor.tutor_phone">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="form-group-3">
            <label>{{'addForm.email' | translate}} </label>
            <div class="clearfix"></div>
            <input  autocomplete="off" class="form-control" type="email" name="tutor_email"
            [(ngModel)]="beneficiary.tutor.tutor_email">
          </div>
        </div>
      </div>
   </div>
   <div class="spacer15"></div>
   <div class="row">
    <div class="col-12">
      <div class="btn-cont text-right">
        <button class="btn btn-primary" type="button" 
        [disabled]="!beneficiary.beneficiary_name"
        (click)="addBeneficiary()">
        {{beneficiary.id ? ('creditForm.editBeneficiaries' | translate) : ('creditForm.AddBeneficiaries' | translate)}}
        </button>
      </div>
    </div>
  </div>
  <div class="spacer15"></div>
   <div class="white-bg padding40">
     <h5 style="color: black;font-weight: bold;">{{'creditForm.ListBeneficiaries' | translate}}</h5>
     <div class="col-12">
       <div class="spacer40"></div>
     </div>
     <table class="table">
       <thead class="thead-light">
         <tr>
           <th style="color: black;">{{'creditForm.id' | translate}}</th>
           <th style="color: black;">{{'creditForm.RELATIONSHIP' | translate}}:</th>
           <th style="color: black;">{{'creditForm.age' | translate}}:</th>
           <th style="color: black;">{{'addCollection.edit' | translate}}</th>
           <th style="color: black;">{{'addCollection.delete' | translate}}</th>
         </tr>
       </thead>
       <tbody>
        <tr *ngFor="let beneficiary of beneficiary_list; let i=index">
          <td>{{(i+1)}}</td>
          <td>{{beneficiary?.beneficiary_relationship ? this.getAccountTypeText(beneficiary?.beneficiary_relationship) : ('table.tr.td.NA' | translate)}}
          </td>

          <td>{{beneficiary?.beneficiary_dob | date:'M/d/yy'  || ('table.tr.td.NA' | translate)}}</td>
          <td>
            <button class="action-icon" title="{{'addCollection.edit' | translate}}"
              (click)="editBeneficiary(beneficiary,i)" type="button"> 
              <img src="assets/img/edit.png" alt="img">
            </button>
          </td>
          <td>
            <button class="action-icon" title="{{'addCollection.delete' | translate}}"
              (click)="deleteBeneficiary(beneficiary,i)" type="button">
              <img src="assets/img/ic_delete.png" alt="img">
            </button>
          </td>
        </tr>
        <tr *ngIf="beneficiary_list.length == 0"><th colspan="6" style="text-align: center;">{{'message.error.noRecordFound' | translate}}</th></tr>
      </tbody>
     </table>
    
   </div>
  </div>
  </form>
  
 