
<div class="container-fluid">
  <div class="white-bg padding15">
      <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-6 col-12">
            <div class="df-profile">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
              <img [src]="parameter.lead?.user?.image" onerror='src="assets/img/default_img.png"' alt="img">
              <div class="df-info" *ngIf="parameter.lead?.user">
                  <p class="p14">{{parameter.lead.user.name}}</p>
                  <p class="p12">Status: Open</p>
              </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-6 col-12">
            <div class="profile-list">
              <ul>
                  <li>
                    <div class="df-info">
                        <p class="p14 marginB0" *ngIf="parameter.lead?.admin">{{parameter.lead.admin.name}}</p>
                        <p class="p12">CSR Buyer</p>
                    </div>
                  </li>
                  <li>
                    <div class="df-info" *ngIf="parameter.lead?.broker">
                        <p class="p14 marginB0">{{parameter.lead.broker.name}}</p>
                        <p class="p12">Inhouse Broker</p>
                    </div>
                  </li>
              </ul>
            </div>
        </div>
      </div>
  </div>
  
  <div class="spacer30"></div>
  <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="white-bg padding30">
            <div class="row">
              <div class="col-md-6">
                  <h6>Details</h6>
              </div>
              <!-- <div class="col-md-6">
                  <div class="edit text-right"><a href="javascript://">Edit</a></div>
              </div> -->
            </div>
            <div class="details-table">
              <table class="table">
                  <tr>
                    <td style="padding-left:0"><label>Full Name</label></td>
                    <td colspan="2" *ngIf="parameter?.lead?.name">{{parameter.lead.name}}</td>
                  </tr>
                  <tr>
                    <td style="padding-left:0"><label>Contact Number</label></td>
                    <td colspan="2" *ngIf="parameter?.lead?.phone">+{{parameter.lead.dial_code ? parameter.lead.dial_code : constant.dial_code}}-{{parameter.lead.phone}}</td>
                  </tr>
                  <tr>
                    <td style="padding-left:0"><label>Email address</label></td>
                    <td colspan="2" *ngIf="parameter?.lead?.email">{{parameter.lead.email}}</td>
                  </tr>
                  <tr>
                     <td style="padding-left:0"><label>Interested In</label></td>
                     <td *ngIf="parameter?.lead?.configuration">
                       <span *ngFor="let conf of parameter.lead.configuration">
                         {{conf.name}},
                       </span>
                       <span *ngIf="parameter.lead.configuration?.length == 0">NA</span>
                     </td>
                  </tr>
                  <tr>
                    <td style="padding-left:0"><label><strong>Property Selected</strong></label></td>
                    <td *ngIf="parameter?.lead?.selected_properties?.length!=0">
                        <p class="p14 marginB0">2 BHK</p>
                        <!-- parameter?.lead?.selected_properties[0].configuration.name -->
                        <p class="p12 marginB0"><strong>Green House Apartments</strong></p>
                        <p class="p11"><i>Sarovar Builders</i></p>
                    </td>
                    <td *ngIf="parameter?.lead?.selected_properties?.length!=0">
                        <a class="view-all-2" href="javascript://" (click)="viewPropertyDetails(parameter?.lead?.selected_properties[0])"> View Property</a>
                    </td>
                    <td *ngIf="parameter?.lead?.selected_properties?.length==0">NA</td>
                  </tr>
                  <!-- <tr>
                    <td  style="padding-left:0"><label><strong>Meeting Schedule</strong></label></td>
                    <td colspan="2">
                        <p class="date">02-Oct-2018, 04:00pm</p>
                    </td>
                  </tr> -->
              </table>
            </div>
        </div>
 
        <!-- notes start -->
        <app-notes [lead_id]="parameter.lead_id"></app-notes>
        <!-- notes end -->

        <!-- <div class="spacer15"></div> -->
        <div class="bank-assigned-now white-bg">
            <div class="row">
               <div class="col-md-6 col-sm-6 col-12 b-left">
                  <p class="p13" *ngIf="selectedProperties?.noataries && selectedProperties.noataries.length==0">No Notary assigned yet </p>
                  <a style="display:none;" #showNotaries href="javascript://" class="green green-color" data-toggle="modal" data-target="#notary-avail">Assign Now</a>
                  <a href="javascript://" *ngIf="selectedProperties?.noataries && selectedProperties.noataries.length==0" class="green-color green" (click)="getNotaries(selectedProperties.property_id)">Assign Now</a>
                  <div class="d-flex" *ngIf="selectedProperties?.noataries && selectedProperties.noataries.length!=0">
                    <img [src]="selectedProperties?.noataries && selectedProperties.noataries[0].image" onerror='src="assets/img/house.png"' alt="img">
                    <div class="bank-info">
                        <p title="Notary" class="p14">{{selectedProperties.noataries[0].name}}</p>
                        <p class="p11">{{selectedProperties.noataries[0].dial_code ? selectedProperties.noataries[0].dial_code : constant.dial_code}}-{{selectedProperties.noataries[0].phone}}</p>
                        <a href="javascript://" #showNotaries style="display: none;" data-toggle="modal" data-target="#notary-avail" class="green-color green">Change</a>
                        <a href="javascript://" class="green-color green" (click)="getNotaries(selectedProperties.property_id)">Change</a>
                    </div>
                    </div>
                  <!-- <p class="p13" *ngIf="selectedProperties?.noataries && selectedProperties.noataries.length!=0">{{selectedProperties.noataries[0].name}}</p>
                  <p class="p13" *ngIf="selectedProperties?.noataries && selectedProperties.noataries.length!=0">Notary</p> -->
               </div>
               <div class="col-md-6 col-sm-6 col-12 b-right">
                  <p class="p13" *ngIf="selectedProperties?.banks && selectedProperties.banks.length==0">No Bank assigned yet </p>
                  <!-- <a *ngIf="selectedProperties?.banks && selectedProperties.banks.length==0" href="javascript://" class="green" data-toggle="modal" data-target="#notary-avail">Assign Now</a> -->
                  <a style="display:none;" #showBanks href="javascript://" class="green green-color" data-toggle="modal" data-target="#bank-listing">Assign Now</a>
                  <a href="javascript://" *ngIf="selectedProperties?.banks && selectedProperties.banks.length==0" class="green-color green" (click)="getBanks(selectedProperties.property_id)">Assign Now</a>
                  <div class="d-flex" *ngIf="selectedProperties?.banks && selectedProperties.banks.length!=0">
                     <img [src]="selectedProperties?.banks && selectedProperties.banks[0].image" onerror='src="assets/img/bank-building.png"' alt="img">
                     <div class="bank-info">
                        <p title="Bank" class="p14">{{selectedProperties.banks[0].name}}</p>
                        <p class="p11">{{selectedProperties.banks[0].branch}}</p>
                        <a href="javascript://" #showBanks style="display: none;" data-toggle="modal" data-target="#bank-listing" class="green-color green">Change</a>
                        <a href="javascript://" class="green-color green" (click)="getBanks(selectedProperties.property_id)">Change</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <!-- <div class="spacer15"></div> -->
        <div class="payment-status-table white-bg">
            <div class="page-title-2 marginB0 border-0">
               <div class="row">
                  <div class="col-md-6 col-sm-6 col-12">
                     <h4>Payment Status</h4>
                  </div>
                   <div class="col-md-6 col-sm-6 col-12">
                     <div class="grand-total">${{selectedProperties.total_amount}}</div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-12">
                  <table class="table">
                     <tr>
                        <td><label>Token Amount</label></td>
                        <td><strong>${{selectedProperties.token_money}}</strong></td>
                        <td>&nbsp;</td>
                     </tr>
                     <tr>
                        <td><label>Commission (1.45%)</label></td>
                        <td><strong>${{selectedProperties.total_amount}}</strong></td>
                        <td class="text-right">
                           <div class="pending-status">Pending</div>
                        </td>
                     </tr>
                     <tr>
                        <td>
                           <label>Pending Amount</label>
                           <small>(Full property)</small>
                        </td>
                        <td><strong>$1,263,223.32</strong></td>
                        <td>&nbsp;</td>
                     </tr>
                  </table>
               </div>
            </div>

         </div>
      </div>


      <div class="col-lg-6 col-md-12 col-sm-12 col-12">
      <div class="white-bg">
        <div class="page-title-3 marginB0">
        <h4><i><img src="assets/img/chat-icon.png" alt="img"></i> Chat</h4>
      </div>
      <div class="cust-tabs-4">
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#csr-closer">CSR Closer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#notary">Seller</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#bank">Buyer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#bank">Bank</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="csr-closer">
              <div class="chat-window white-bg">
                  <div class="chat-top">
                    <a href="javascript://">
                        <div class="profile">
                          <div class="fig-block">
                              <img src="http://via.placeholder.com/62x62" alt="img">
                          </div>
                          <div class="profile-info">
                              <h6>Cole Washington</h6>
                              <p class="p12">CSR Closer</p>
                          </div>
                        </div>
                    </a>
                  </div>
                  <div class="chat-area scrollbox" tabindex="0" style="width: 488px; padding-right: 27px; outline: none; overflow: hidden;">
                    <div class="chat-user chat-user-two">
                        <p> Hey! I am interested in the  property you’ve listed. I was thinking of having a look at it. Can we schedule a tour? and Is the price listed fixed? Thanks. </p>
                        <span class="time">
                        2:05pm, May 01, 2014
                        </span>
                    </div>
                    <div class="chat-user chat-user-one">
                        <p> Hey! I am interested in the  property you’ve listed. I was thinking of having a look at it. Can we schedule a tour? and Is the price listed fixed? Thanks. </p>
                        <span class="time">
                        2:05pm, May 01, 2014
                        </span>
                    </div>
                    <div class="chat-user chat-user-two">
                        <p> Hey! I am interested in the  property you’ve listed. I was thinking of having a look at it. Can we schedule a tour? and Is the price listed fixed? Thanks. </p>
                        <span class="time">
                        2:05pm, May 01, 2014
                        </span>
                    </div>
                    <div class="chat-user chat-user-one">
                        <p> Hey! I am interested in the  property you’ve listed. I was thinking of having a look at it. Can we schedule a tour? and Is the price listed fixed? Thanks. </p>
                        <span class="time">
                        2:05pm, May 01, 2014
                        </span>
                    </div>
                  </div> 
                  <div class="chat-text">
                    <input class="chat-input" type="text" name="" placeholder="Type your message here …">
                    <button class="btn">Send</button>
                  </div>
              </div>
            </div>
            <div class="tab-pane container fade" id="notary">Notary</div>
            <div class="tab-pane container fade" id="bank">Bank</div>
        </div>
      </div>

      </div>

      <div class="clearfix"></div>
      <div class="upload-document-block white-bg">
         <div class="page-title-2 border-0">
            <div class="row">
               <div class="col-9">
                  <h4>Documents</h4>
               </div>
               <div class="col-3">
                <a class="view" href="javascript://" (click)="save()">Save</a>
               </div>
            </div>
            <table class="table">
               <tr *ngFor="let document of selectedProperties.allDocuments; let i=index">
                  <td>
                     <label class="cust-check-bx">{{document.name}}
                      <input type="checkbox" (click)="setValue(i)" [checked]="document.is_selected == 1 ? 'checked' : ''" name="document">
                      <span class="checkmark"></span>
                     </label>
                  </td>
               </tr>
            </table>
         </div>
      </div>
       <div class="all-document-block white-bg">
       <div class="page-title-2 border-0">
       <div class="row">
          <div class="col-9">
              <h4>All Documents</h4>
              <p class="p11 marginB0">From both seller and buyer</p>

             </div>
             <div class="col-3 text-right">
                    <a *ngIf="selectedProperties?.uploaded_documents?.length==0" (click)="noDocumentUploaded()" class="view" href="javascript://" >View</a>
                <a *ngIf="selectedProperties?.uploaded_documents?.length!=0" class="view" data-toggle="modal" data-target="#uploaded-documents" href="javascript://" >View</a>
             </div>
          </div>
       </div>
       </div>
      </div>
  </div>
</div>


<div class="modal" id="uploaded-documents">
    <div class="modal-dialog ">
      <div class="modal-content notary-avail">
          <!-- <div class="modal-header modal-header-new"> -->
            <div class="modal-header modal-header-new">
            <h4 class="modal-title">All Uploaded Documents</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body modal-body-new">
            <table class="table">
                <tr *ngFor="let upDocument of selectedProperties.uploaded_documents">
                  <td>
                      <div class="n-avail-profile">
                        <div class="n-avail-info">
                            <p class="p12" *ngIf="upDocument.attachment_name">{{upDocument.attachment_name}}</p>
                            <!-- <p class="p12" *ngIf="!upDocument.attachment_name">{{upDocument.attachment.substring(upDocument.attachment.lastIndexOf('/'), upDocument.attachment.length)}}</p> -->
                            <p class="p12" *ngIf="!upDocument.attachment_name">No name</p>
                        </div>
                      </div>
                  </td>
                  <td>
                      <label class="cust-check-bx float-right">
                          <!-- <a target="_blank" href="https://docs.google.com/viewer?url={{upDocument.attachment}}">View</a> -->
                          <a target="_blank" href="{{upDocument.attachment}}">View</a>
                      </label>
                  </td>
                </tr>
            </table>
          </div>
      </div>
    </div>
</div>

<div class="modal" id="bank-listing">
    <div class="modal-dialog ">
      <div class="modal-content notary-avail">
          <div class="modal-header popup-header">
            <h4 class="modal-title">Banks available</h4>
            <button type="button" class="close" data-dismiss="modal" #hideBanks>&times;</button>
          </div>
          <div class="modal-body">
            <table class="table">
                <tr *ngFor="let bank of parameter.banks">
                  <td>
                      <div class="n-avail-profile">
                        <img [src]="bank.image" onerror='src="assets/img/bank.png"' alt="img">
                        <div class="n-avail-info">
                            <p class="p12">{{bank.name}}</p>
                            <p class="p10">Branch : {{bank.branch ? bank.branch : 'NA'}}</p>
                        </div>
                      </div>
                  </td>
                  <td>
                      <label class="cust-check-bx float-right">
                      <input type="radio" name="bank_id" (click)="assignBank(bank.id)">
                      <span class="checkmark"></span>
                      </label>
                  </td>
                </tr>
            </table>
          </div>
      </div>
    </div>
</div>

<div class="modal" id="notary-avail">
    <div class="modal-dialog ">
        <div class="modal-content notary-avail">
            <div class="modal-header popup-header">
            <h4 class="modal-title">Notaries available</h4>
            <button type="button" class="close" data-dismiss="modal" #hideNotaries>&times;</button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr *ngFor="let item of parameter.items">
                        <td>
                            <div class="n-avail-profile">
                            <img [src]="item.image" onerror='src="assets/img/house.png"' alt="img">
                            <div class="n-avail-info">
                                <p class="p12">{{item.name}}</p>
                                <p class="p10">Phone : {{item.dial_code ? item.dial_code : constant.dial_code}}-{{item.phone}}</p>
                            </div>
                            </div>
                        </td>
                        <td>
                            <label class="cust-check-bx float-right">
                                <input type="radio" name="notary_id" (click)="assignNoatary(item.id)">
                                <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>