
<section id="wrapper">
    <header>
        <div class="row">
            <div class="col-6">
                <a class="logo" href="index.html">
                <img src="http://via.placeholder.com/150x40" alt="img">
                </a>
            </div>
        </div>
    </header>
    <ngx-loading [show]="parameter.loading"></ngx-loading>
    <div class="login">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-6 col-md-6 col-12">
                    <h2>One Easy Solution for Your Needs.</h2>
                    <p class="p18">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet.</p>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                    <form class="form-horizontal text-center" role="form" novalidate #loginForm="ngForm" (ngSubmit)="forgotPassword(loginForm)">
                        <h3>Forgot Password</h3>
                        <div class="form-group-3">
                            <input autocomplete="off" [pattern]="emailPattern" class="form-control" placeholder="Registered Email" id="email" required [(ngModel)]="model.email" name="email" #input1 #email="ngModel">
                            <div *ngIf="email.errors && (email.dirty || email.touched)" class="show-error">
                                <div [hidden]="!email.errors.required">
                                    Email is required!
                                </div>
                                <div [hidden]="!email.errors.pattern">
                                    Email must be valid email.
                                </div>
                            </div>
                        </div>
                        <a class="fgt-pswd" href="">Login ?</a>
                        <button type="submit" [disabled]="loginForm.invalid" class="login-btn mgt-50">FORGOT PASSWORD</button>
                        <p class="text-center">We'll send reset password link to your registered email.</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>