
.logo{
    margin-top: 40px;
    height: 50px;
}
.show-error{
    /* background: rgba(255, 255, 255, 0.4); */
    padding: 8px 0px;
    border-radius: 4px;
    font-size: 16px;
    /* text-align: left; */
    /* margin-top: 10%; */
    color: #ed5565 !important;
}
:host {
    display: block;
}
.login-page .ibox-content{
    border: none; 
    background: rgba(255, 255, 255, 0.4);
    /* background: none; */
}
.login-page {
    background:url('../../assets/img/hyrit_bg.png'); background-size:cover;
    position: absolute; 
    top: 0;
    left: 0; right: 0; bottom: 0; overflow: auto; 
    text-align: center; 
    padding: 3em;
    padding-top: 8%;
}
.login-page p{
    text-align: center; 
    color: #888888;
}
.login-page h1{
    text-align: center; 
    font-size: 40px;
    font-weight: 600;
    background-image: -webkit-gradient(linear,40% 50%,50% 50%,from(#eb4b2a),to(#d61955));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 25px;
}
.login-page button{
    background: linear-gradient(-90deg, #d61955, #eb4b2a);
    border-radius: 22px;
    font-size: 18px;
    padding: 9px;
}
.login-page .user-avatar {
    width: 50%;
}
.login-page input{
    font-size: 16px;
    padding: 20px 15px;
    border-radius: 22px;
}
.login-page input:focus {
    border-color: #eb4b2a !important;
}
.form-control-feedback{
    color: red;
}