
<section id="wrapper">
    <header>
        <div class="row">
            <div class="col-6">
                <a class="logo" href="">
                    <img class="app-logo" src="assets/img/web_logo.png" alt="img">
                </a>
            </div>
        </div>
    </header>

    <div class="login">
        <div class="container">    
            <div class="row">
                <div class="col-xl-8 col-lg-6 col-md-6 col-12">
                    <h2>{{'login.topHeader' | translate}}</h2>
                    <p class="p18">{{'login.middleHeader' | translate}}</p>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                    <form class="form-horizontal text-center" #loginForm="ngForm" role="form" novalidate (ngSubmit)="forgotPassword(loginForm)">
                        <h3>{{'forgotPassword.form.header' | translate}}</h3>
                        <p>{{'forgotPassword.form.label' | translate}}</p>
                        <div class="form-group-3">
                            <input autocomplete="off" [pattern]="constant.emailPattern" class="form-control" placeholder="{{'forgotPassword.form.emailPlaceHolder' | translate}}" id="email" required [(ngModel)]="model.email" name="email" #input1 #email="ngModel">
                            <div *ngIf="email.errors && (email.dirty || email.touched)" class="show-error">
                                <div [hidden]="!email.errors.required">
                                    {{'forgotPassword.form.validations.emailRequired' | translate}}
                                </div>
                                <div [hidden]="!email.errors.pattern">
                                    {{'forgotPassword.form.validations.emailValid' | translate}}
                                </div>
                            </div>
                        </div>
                        <a class="fgt-pswd" href="/login"> << {{'forgotPassword.form.loginLabel' | translate}}</a>
                        <div class="btn-cont text-right">
                            <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary login-btn mgt-50">{{'forgotPassword.form.send' | translate}}</button>
                        </div>
                        <!-- <button type="submit" [disabled]="loginForm.invalid" class="login-btn mgt-50">SEND</button> -->
                        <p class="text-center">{{'forgotPassword.form.byLoginYouAreAgreeTo' | translate}} <a href="{{admin.termConditionUrl}}" target="_blank"> {{'forgotPassword.form.termsCondition' | translate}} </a>
                            {{'forgotPassword.form.and' | translate}} <a href="{{admin.privacyPolicyUrl}}" target="_blank"> {{'forgotPassword.form.privacyPolicy' | translate}}</a> {{'forgotPassword.form.of' | translate}} {{constant.projectName}}.</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>