<div *ngIf="data" class="project-des-bx white-bg">
  <!-- <div class="fig-block">
    <img *ngIf="data?.external_broker?.image" onerror='this.src="assets/img/placeholder-img.png"'
      [defaultImage]="data?.external_broker?.image| img:'thumb'" [lazyLoad]="data?.external_broker?.image">
    <img *ngIf="!data?.external_broker?.image" src="assets/img/placeholder-img.png">
  </div> -->
  <div class="project-des-content">
    <div>
      <small title="Developer Name">{{data?.name ? data?.name : ('commonBlock.NA' | translate)}}</small>
        <label class="cust-check-bx float-right">
            <input type="radio" (click)="setBuildingId(data, index)" [checked]="data.selected ? 'checked' : ''" name="notary_id">
            <span class="checkmark"></span>
        </label>
    </div>
    <p class="p13">
      <span>
        <b>OfferID:</b>&nbsp;{{data?.ramdom_id}}<span *ngIf="k<data?.configurations?.length-1">,</span>
        <p class="p12">{{data?.date | date}}</p>
      </span>
    </p>
  </div>
</div>