<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-6">
      <div class="title-group">
        <h5>Managers</h5>
        <p>Showing {{items?.length}} out of {{parameter.total}}</p>
      </div>
    </div>
    <div class="col-md-5 col-6">
      <div class="btn-cont upload-excel pull-right">
        <a title="Download Sample File" href="assets/docx/BD_TowerManagerPerson_Sozu.xlsx" class="btn"><span
            class="fa fa-download"></span></a>
        <label title="Choose Excel File" class="img_label">{{label}}
          <input type="file" #fileInput accept=".xls,.xlsx" (change)="getFileName()">
        </label>
        <a title="Upload Selected File" (click)="importData()" href="javascript://" class="btn"><span
            class="fa fa-upload"></span></a>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div class="btn-cont text-right">
        <a class="btn" href="javascript://" style="display: none;" data-toggle="modal" data-target="#addInhouseUser"
          #inhouseUserModalOpen>Add New</a>
        <a *ngIf="admin?.admin_acl['Data Collector Management']?.can_create==1 || parameter.userType=='data-collectors' || 1"
          class="btn btn-primary-new width100P" href="javascript://" (click)="openAddModal()">Add New</a>
      </div>
    </div>
  </div>

  <hr>

  <div class="white-bg">
    <div class="tabel-section">
      <div class="table-responsive">

        <table class="table table-striped">
          <tr>
            <th style="width:6%">&nbsp;</th>
            <th style="width:20%">
              <div class="table-search">
                <label>Company Name <br> (Commercial Name)</label>
                <div class="searh-3">
                  <input type="text" [(ngModel)]="parameter.company_name"
                    (keyup.enter)="searchUserByCompanyName(parameter.company_name)" name="">
                  <button type="button" *ngIf="parameter.company_name"
                    (click)="searchUserByCompanyName(parameter.company_name)"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </th>
            <th style="width:15%">
              <div class="table-search">
                <label><br>&nbsp;Name</label>
                <div class="searh-3">
                  <input type="text" [(ngModel)]="parameter.name" (keyup.enter)="searchUserByName(parameter.name)"
                    name="">
                  <button type="button" *ngIf="parameter.name" (click)="searchUserByName(parameter.name)"><i
                      class="fa fa-search"></i></button>
                </div>
              </div>
            </th>
            <th style="width:15%; text-align:left;">
              <div class="table-search">
                <label><br>&nbsp;Contact Number</label>
                <div class="searh-3">
                  <input type="text" [(ngModel)]="parameter.phone" (keyup.enter)="searchUserByPhone(parameter.phone)"
                    name="">
                  <button type="button" *ngIf="parameter.phone" (click)="searchUserByPhone(parameter.phone)"><i
                      class="fa fa-search"></i></button>
                </div>
              </div>
            </th>
            <th style="width:20%">
              <div class="table-search">
                <label><br>&nbsp;Email Address</label>
                <div class="searh-3">
                  <input (keydown.space)="$event.preventDefault();" type="text" [(ngModel)]="parameter.email"
                    (keyup.enter)="searchUserByEmail(parameter.email)" name="">
                  <button type="button" *ngIf="parameter.email" (click)="searchUserByEmail(parameter.email)"><i
                      class="fa fa-search"></i></button>
                </div>
              </div>
            </th>
            <th style="width:5%; vertical-align: top;">
              <div class="table-search">
                <label>Linked Projects</label>
                <a (click)="sortData(model.project_sort==1?2:1)" href="javascript://"><img
                    [ngClass]="{'upsidedown':model.project_sort==2}" src="assets/img/top-arrow.png" alt="img"></a>
              </div>
            </th>
            <th style="width:19%">
              &nbsp;
            </th>
          </tr>
          <tr
            *ngFor="let item of items| paginate: { itemsPerPage: parameter.itemsPerPage, currentPage: parameter.p, totalItems: parameter.total }; let i = index">
            <td>
              <img *ngIf="item.image" [defaultImage]="item.image| img:'thumb'" [lazyLoad]="item.image"
                class="rounded-circle" alt="img">
              <img *ngIf="!item.image" class="rounded-circle" src="assets/img/default_img.png" alt="img">
            </td>
            <td class="text-left">
              <span class="name">{{item?.company?.name ? item?.company?.name : 'Freelancer'}}</span>
            </td>
            <td class="text-left text-ellipsis120">
              <span class="name">{{item.name | titlecase}}</span>
            </td>
            <td class="text-left" *ngIf="item.phone">
              {{item.dial_code && item.dial_code!=undefined ? item.dial_code : constant.dial_code}}-{{item.phone}}</td>
            <td class="text-left" *ngIf="!item.phone">NA</td>
            <td class="text-left">{{item.email}}</td>
            <td class="text-left">{{item.project_count | numberWithCommas}}</td>
            <td>
              <div class="table-actions">
                <button 
                  [disabled]="admin?.admin_acl['Managers Management']?.can_update==0"
                  title="Edit Details" (click)="editUser(item, i)" class="action-icon"><img
                    src="assets/img/edit.png" alt="img"></button>
                <button
                  [disabled]="admin?.admin_acl['Managers Management']?.can_delete==0"
                  (click)="blockUnblockPopup(i, item.id, item.is_blocked==1?0:1)"
                  title="{{item.is_blocked==1?'Unblock Manager':'Block Manager'}}"
                  [ngClass]="{'unblock-bg':item.is_blocked==1}" class="action-icon">
                  <img src="assets/img/block.png" alt="img">
                </button>
                <button [disabled]="admin?.admin_acl['Managers Management']?.can_purge==0"
                  (click)="deletePopup(item, i);" class="action-icon" title="Delete Manager"><img
                    src="assets/img/ic_delete.png" alt="img"></button>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="center" *ngIf="parameter.total == 0">
      <img src="assets/img/404-error.png">
    </div>

  </div>
  <div class="btn-cont text-right marginT15">

    <pagination-controls class="my-pagination" (pageChange)="getPage($event)"></pagination-controls>
  </div>
</div>


<div class="modal animated" id="addInhouseUser">
  <div class="modal-dialog fadeIndown modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" style="display: none;" class="close" data-dismiss="modal" #modalClose>&times;</button>
        <button type="button" class="close" (click)="closeModal(); addForm.reset()">&times;</button>
      </div>

      <form class="form-horizontal form-model0P" role="form" ngNativeValidate #addForm="ngForm"
        (ngSubmit)="addNewUser(addForm)">
        <div class="modal-body">
          <div class="row">
            <div class="col-3">
              <div class="add-img" style="display:flex;">
                <img *ngIf="image" [src]="image" [defaultImage]="image| img:'thumb'" [lazyLoad]="image"
                  style="object-fit: cover; width: 100%;">
                <label *ngIf="model.image">
                  <input accept="image/*" name="image" class="image"
                    (change)="onFileChange($event, 'img_loader', 'image')" type="file">
                </label>
                <label *ngIf="!image">+ Add Image</label>
                <input *ngIf="!image" accept="image/*" name="image" class="image"
                  (change)="onFileChange($event, 'img_loader', 'image')" type="file">
                <div *ngIf="model.img_loader" class="loaderr"></div>
              </div>
            </div>
            <div class="col-3">
              <div class="add-img" style="display:flex;">
                <img *ngIf="logo" [src]="logo" [defaultImage]="logo| img:'thumb'" [lazyLoad]="logo"
                  style="object-fit: cover; width: 100%;">
                <label *ngIf="model.logo">
                  <input accept="image/*" name="logo" class="image"
                    (change)="onFileChange($event, 'logo_loader', 'logo')" type="file">
                </label>
                <label *ngIf="!logo">+ Add Image</label>
                <input *ngIf="!logo" accept="image/*" name="logo" class="image"
                  (change)="onFileChange($event, 'logo_loader', 'logo')" type="file">
                <div *ngIf="model.logo_loader" class="loaderr"></div>
              </div>
            </div>
            <div class="col-6">
              <div class="btn-cont text-right">
                <button *ngIf="!model.id" type="submit" [disabled]="addForm.invalid"
                  class="btn btn-primary">ADD</button>
                <button *ngIf="model.id" type="submit" [disabled]="addForm.invalid"
                  class="btn btn-primary">UPDATE</button>
              </div>
            </div>
            <div class="col-12">
              <div class="spacer40"></div>
            </div>
            <div class="col-12">
              <div class="form-group-2">
                <label>Name <span class="color-red">*</span></label>
                <div class="form-group">
                  <input autocomplete="off" [pattern]="constant.onlyWhiteSpaces" type="text" class="form-control" required [(ngModel)]="model.name"
                    name="name">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group-2">
                <label>Contact number <span class="color-red">*</span></label>
                <div class="form-group">
                  <input minlength="6" maxlength="16" autocomplete="off" type="text" [pattern]="constant.phonePattern"
                    class="form-control" id="phone" required minlength="1" [(ngModel)]="model.phone" name="phone"
                    ng2TelInput #phonetest (intlTelInputObject)="telInputObject($event)"
                    (countryChange)="onCountryChange($event)" />
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group-2">
                <label>Email ID <span class="color-red">*</span></label>
                <div class="form-group">
                  <input (keydown.space)="$event.preventDefault();" autocomplete="off" [pattern]="constant.emailPattern"
                    type="email" class="form-control" required [(ngModel)]="model.email" name="email">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group-2">
                <label>Company</label>
                <select title="Choose Company" name="company" class="form-control"
                  (change)="setCompany($event.target.value)">
                  <option value="">Select Company</option>
                  <option *ngFor="let company of companies" value="{{company.id}}"
                    [selected]="model?.company?.id == company.id">{{company.name}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>