
<div class="container-fluid">
<div class="row">
    <div class="col-12">
      <div class="title-group">
          <h5>{{model.id ? ('viewDevelopers.editDeveloper' | translate) : ('viewDevelopers.addDeveloper' | translate)}}</h5>
          <div class="spacer30"></div>
      </div>
    </div>
</div>

<div class="white-bg padding40">
    <div class="row">
    <form role="form" ngNativeValidate #addForm="ngForm" (ngSubmit)="add(addForm)">
      <div class="col-xl-12 col-lg-12 col-md-12 col-12">
          <div class="row">
            <div class="col-2">
                <div class="add-img" style="display:flex;">
                    <img *ngIf="image" [src]="image" style="object-fit: cover; width: 100%;">
                    <label *ngIf="model?.image">
                      <input accept="image/*" name="image" class="image" (change)="changeListner($event, 'image')" type="file">
                    </label>
                    <label *ngIf="!image">{{'addForm.image' | translate}}</label>
                    <input *ngIf="!image" accept="image/*" name="image" class="image" (change)="changeListner($event, 'image')" type="file">
                </div>
            </div>
            <div class="col-2">
                <div class="add-img" style="display:flex;">
                    <img *ngIf="developer_image" [src]="developer_image" style="object-fit: cover; width: 100%;">
                    <label *ngIf="model?.developer_image">
                      <input accept="image/*" name="image" class="image" (change)="changeListner($event, 'developer_image')" type="file">
                    </label>
                    <label *ngIf="!developer_image">{{'addForm.coverImage' | translate}}</label>
                    <input *ngIf="!developer_image" accept="image/*" name="image" class="image" (change)="changeListner($event, 'developer_image')" type="file">
                </div>
            </div>
            <div class="col-8">
                <div class="btn-cont text-right">
                    <button *ngIf="!model?.id" type="submit" [disabled]="!addForm.valid" class="btn btn-primary">{{'addForm.addBtn' | translate}}</button>
                    <button *ngIf="model?.id" type="submit" class="btn btn-primary">{{'addForm.updateBtn' | translate}}</button>
                </div>
            </div>
            <div class="col-12">
                <div class="spacer40"></div>
            </div>
            <div class="col-12">
                <div class="form-group-2">
                  <label>{{'addForm.name' | translate}} <span class="color-red">*</span></label>
                  <input autocomplete="off" [pattern]="constant.onlyWhiteSpaces" required type="text" class="form-control" [(ngModel)]="model.name" name="name">
                </div>
            </div>
            <div class="col-12">
                <div class="form-group-2">
                  <label>{{'addForm.contactNumber' | translate}} <span class="color-red">*</span></label>
                  <input minlength="6" maxlength="16" autocomplete="off" type="text" [pattern]="constant.phonePattern" class="form-control" id="phone" required minlength="1" [(ngModel)]="model.phone" name="phone"
                        ng2TelInput [ng2TelInputOptions]="initialCountry" (countryChange)="onCountryChange($event)" />
                </div>
            </div>
            <div class="col-12">
                <div class="form-group-2">
                  <label>{{'addForm.emailId' | translate}} <span class="color-red">*</span></label>
                  <input (keydown.space)="$event.preventDefault();" autocomplete="off" required [pattern]="constant.emailPattern" type="email" class="form-control" [(ngModel)]="model.email" name="email">
                </div>
            </div>
            <div class="col-12">
                <div class="form-group-2">
                  <label>{{'addForm.companyName' | translate}} <span class="color-red">*</span></label>
                  <input autocomplete="off" [pattern]="constant.onlyWhiteSpaces" required type="text" class="form-control" [(ngModel)]="model.developer_company" name="developer_company">
                </div>
            </div>
            <div class="col-12">
                <div class="form-group-2">
                  <label>Federal Tax Payer Registry <span class="color-red">*</span></label>
                  <input autocomplete="off" [pattern]="constant.onlyWhiteSpaces" required type="text" class="form-control" [(ngModel)]="model.name" name="name">
                </div>
            </div>
            <div class="col-12">
                <div class="form-group-2">
                  <label>{{'addForm.address' | translate}} <span class="color-red">*</span></label>
                  <input placeholder="{{'addForm.placeholder.searchForAddress' | translate}}" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search (input)="loadPlaces('developer_address', 'lat', 'lng', 'searchElementRef')" name="developer_address" [(ngModel)]="model.developer_address" autocomplete="off">
                </div>
            </div>
            <div class="col-12">
              <div class="form-group-2">
                  <label>{{'addForm.locationPinOnMap' | translate}} <span class="color-red">*</span></label>
                  <agm-map class="height200" [latitude]="model.lat" [longitude]="model.lng" [scrollwheel]="false" (mapClick)="placeMarker($event, 'lat', 'lng')" [zoom]="constant.zoom">
                    <agm-marker [latitude]="model.lat" [longitude]="model.lng"></agm-marker>
                  </agm-map>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group-2">
                <label>{{'addForm.description' | translate}} <span class="color-red">*</span></label>
                <textarea autocomplete="off" required rows="3" class="form-control" name="developer_desc" [(ngModel)]="model.developer_desc"></textarea>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group-2">
                <label>{{'addForm.branchOffice' | translate}}</label>
                <input placeholder="{{'addForm.placeholder.searchForBranch' | translate}}" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search1 (input)="loadPlaces('branch_office', 'branch_lat', 'branch_lng', 'search1ElementRef')" name="branch_office" [(ngModel)]="model.branch_office" autocomplete="off">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group-2">
                  <label>{{'addForm.locationPinOnMap' | translate}}</label>
                  <agm-map class="height200" [latitude]="model.branch_lat" [longitude]="model.branch_lng" [scrollwheel]="false" (mapClick)="placeMarker($event, 'branch_lat', 'branch_lng')" [zoom]="constant.zoom">
                    <agm-marker [latitude]="model.branch_lat" [longitude]="model.branch_lng"></agm-marker>
                  </agm-map>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group-2">
                  <label>{{'addForm.addMoreImages' | translate}}</label>
                  <div class="add-project-img-more marginT0">
                    <img *ngIf="model.images?.length>0" [src]="model.images[0]?.image" onerror="this.src='assets/img/placeholder.png'" class="img-fluid">
                    <div class="upload-caption">
                      <p *ngIf="model?.images?.length > 1" class="number" (click)="modelOpenFun()">+{{model?.images?.length-1}}</p>
                      <p *ngIf="model?.images?.length <= 1" class="green-color"  (click)="modelOpenFun()">{{'addForm.moreImages.addMoreBtn' | translate}}</p>
                    </div>
                  </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-12">
                <div class="spacer40"></div>
            </div>
            <div class="col-12">
              <div class="form-group-2">
                <h5>Legal Entity Information</h5>
                <!-- <input autocomplete="off" [pattern]="constant.onlyWhiteSpaces" required type="text" class="form-control" [(ngModel)]="model.name" name="name"> -->
              </div>
            </div>
            <div class="col-12">
                <div class="form-group-2">
                  <label>Commercial Name <span class="color-red">*</span></label>
                  <input autocomplete="off" [pattern]="constant.onlyWhiteSpaces" required type="text" class="form-control" [(ngModel)]="model.developer_company" name="developer_company">
                </div>
            </div>
            <div class="col-12">
                <div class="form-group-2">
                  <label>Legal Name <span class="color-red">*</span></label>
                  <input autocomplete="off" [pattern]="constant.onlyWhiteSpaces" required type="text" class="form-control" [(ngModel)]="model.developer_company" name="developer_company">
                </div>
            </div>
            <div class="col-12">
                <div class="form-group-2">
                  <label>{{'addForm.contactNumber' | translate}} <span class="color-red">*</span></label>
                  <input minlength="6" maxlength="16" autocomplete="off" type="text" [pattern]="constant.phonePattern" class="form-control" id="phone" required minlength="1" [(ngModel)]="model.phone" name="phone"
                        ng2TelInput [ng2TelInputOptions]="initialCountry" (countryChange)="onCountryChange($event)" />
                </div>
            </div>
          <div class="col-12">
              <div class="form-group-2">
                <label>Address <span class="color-red">*</span></label>
                <input autocomplete="off" required type="text" class="form-control" [(ngModel)]="model.address" name="address">
              </div>
          </div>
          <div class="col-12">
              <div class="form-group-2">
                <label>Federal Tax Payer Registry <span class="color-red">*</span></label>
                <input autocomplete="off" [pattern]="constant.onlyWhiteSpaces" required type="text" class="form-control" [(ngModel)]="model.name" name="name">
              </div>
          </div>

          <div class="col-12">
            <label>Bank Account Information<span class="color-red">*</span>
              <span class="pull-right"><a class="add" (click)="addLegalRepBank($event)" href="javascript://">{{'addCollection.addNewBankAccount' | translate}}</a></span>
            </label>
            <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                  <div class="form-group-3">
                  <label>{{'addCollection.bankName' | translate}}</label>
                  <div class="clearfix"></div>
                  <input required autocomplete="off" class="form-control" type="text" name="bank_name">
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                  <div class="form-group-3">
                <label>{{'addCollection.accountNumber' | translate}}</label>
                <div class="clearfix"></div>
                <input required autocomplete="off" class="form-control" type="number" minlength="10" maxlength="20" min="0" name="account_number">
              </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                <div class="form-group-3">
                <label>{{'addCollection.clabeSwift' | translate}}</label>
                <div class="clearfix"></div>
                <input required autocomplete="off" class="form-control" type="text" name="swift">
              </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                <div class="form-group-3">
                <label>{{'addCollection.currency' | translate}}</label>
                <div class="clearfix"></div>
                <select required name="currency_id" required class="form-control">
                  <option value="">{{'addCollection.currency' | translate}}</option>
                  <!-- <option value="{{c.id}}" *ngFor="let c of currencies">{{ c?.currency }} | {{c?.symbol}}</option> -->
                </select>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                <div class="form-group-3">
                <label>Remove</label>
                <div class="clearfix"></div>
                <!-- <button type="button" (click)="removeSellerBank($event, i)">Remove</button> -->
                <button type="button">Remove</button>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
      </form>
    </div>
</div>


<span data-target="#add-more-img" data-toggle="modal" #modalOpen></span>
<div class="modal add-more-popup" id="add-more-img">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{'addForm.moreImages.label' | translate}}</h4>
        <button type="button" class="close" data-dismiss="modal" #modalClose>&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="uploaded-img-block" *ngIf="file4.files?.length > 0">
          <div class="uploaded-img" *ngFor="let item of file4.files; let i=index">
            <a class="remove" (click)="file4.remove(i)"><img src="assets/img/remove-icon.png" alt="img"></a>
            <img *ngIf="item" class="u-img" [src]="item.image" alt="img">
            <img *ngIf="!item" class="u-img" src="http://via.placeholder.com/300x300" alt="img">
          </div>
        </div>
        <div class="add-more-images">
          <input type="file" name="add-more" multiple max="6" accept="image/*" (change)="file4Select($event)">
          <span>{{'addForm.moreImages.addMoreBtn' | translate}}</span>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer btn-cont">
        <button type="button" (click)="saveImages()" class="btn btn-primary">{{'addForm.moreImages.submitBtn' | translate}}</button>
      </div>

    </div>
  </div>
</div>