
.have_dev_panel_access{
    width: 25px;
    height: 25px;
}
.marginR10 {
    margin-right: 10px;
}

.container input:checked ~ .checkmark {
    background-color: green;
  }

  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .title-div{
    display: flex;
    align-items: baseline;
  }
  
  .back-icon{
    font-size: 22px;
    color: #00B96F;
    margin-right: 10px;
  }