/* You can add global styles to this file, and also import other style files */
@import "~nouislider/distribute/nouislider.min.css";

#wrapper{ background: #f4f4f4 !important; }
.backdrop{ position: fixed !important; }
.spinner-rectangle-bounce{ position: fixed !important; }
.intl-tel-input { width: 100% !important; }
.my-pagination{text-align: right;}
.ngx-pagination .current { background: #00B96F !important; }
.center{ text-align: center; }
.app-logo{ padding-top: 7px; }
.form-group select.form-control { padding: 8px 25px 8px 15px !important; height: 40px !important; }
.form-group .form-control:focus {
    /* border: none !important; */
    /* border-bottom: solid 1px #00B96F !important; */
}
.ibox{ overflow-x: auto; }
.no-data { font-size: 20px; font-weight: 100; }
/* .ng-valid[required], .ng-valid.required { border-bottom: 1px solid #00B96F !important; } */
/* .ng-touched.ng-invalid:not(form) { border-bottom: 1px solid #a94442 !important; } */
.show-error{
    padding: 8px 10px;
    border-radius: 4px;
    font-size: 16px;
    color: #ed5565 !important;
}
.show-not-found{
    padding: 8px 10px;
    border-radius: 4px;
    font-size: 16px;
    color: #434b51c2 !important;
}
.btn:disabled{ cursor:not-allowed; }

/* ngx-my-date-picker */
ngx-my-date-picker .ngxmdp .header {
    width: 100%;
    height: 30px;
    border-radius: 4px 4px 0 0;
    background-color: #FAFAFA;
    display: contents;
}
ngx-my-date-picker .ngxmdp .headertodaybtn { padding: 0px 14px; min-width: 100px; }

/* modal css */
.my-modal-header{ padding-left: 30px; padding-top: 20px; }
.my-modal-form{ padding: 15px 15px !important; }
.my-modal-body{ padding: 10px; }
.unblock-bg{ background: #ea5d5d !important; }
.delete-button{ margin-top: 22px; }
.cursor-pointer{ cursor: pointer; }
.btn-cont .btn-primary { border-radius: 4px !important; }
.searh-2 button { padding: 0px 10px; }
.error-border { border: 1px solid #dfe2e6; border-top: none; }
.searh-3 { display:flex;  }
.searh-3 input {
    border: 1px solid rgba(196,196,196,0.5); background-color: #FEFEFE;
    height: 24px; width: 87%; padding:8px 15px;
}
.searh-3 button {
    border: 1px solid rgba(196,196,196,0.5); background-color: #00B96F;
    font-size: 12px; color:#fff;
}
.cust-check-bx2 .checkmark.open{ background-color: #00B96F; border-color: #00B96F; }
.cust-check-bx2 .checkmark.open:after{ display:block; }
/* .mCSB_container_wrapper { margin-right: 0px !important; } */
.scrollbox {
    overflow: auto;
    width: 100% !important;
    height: 550px !important;
    /* padding-right: 0 !important; */
}
.access-control11{ background-color: rgba(0,185,111,0.22); color: #00B96F; }
/* slider css start */
nouislider{ padding-left: 50px; padding-right: 50px;}
.noUi-connect { background: #00b96e;}
.noUi-horizontal{height:4px !important;}
.noUi-horizontal .noUi-handle {
    right: -11px !important;
    left: auto;
    background: url(assets/img/range-slider-btn.png) no-repeat;
    padding: 0px;
    border: none;
    width: 23px;
    top: 2px;
    box-shadow: none;
  }
.noUi-handle:after, .noUi-handle:before{display:none !important}
/* slider css end */

.fill-info{
    max-height: 470px;
}
.modal-header-new {
    padding: 20px;
    padding-bottom: 0;
}
.modal-body-new {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.form-model-newP{
    padding: 20px 15px;
}
.green-bg {
    background-color: #4eb96f;
    border-color: #4eb96f;
}
.green-color {
    color: #00B96F;
}
.delete{
    padding-right: 22px;
}
.newline{white-space: pre-wrap;}
.read-more {
    color: #00B96F;
    cursor: pointer;
}

/* .chat-load-more img{height:30px;}
.video55{display:none;} */




/* chat */
/* .chat-text .chat-input{width:70%;}
.attach-items>a{
    background-color: #fff;
    height:52px;
    color:#00B96F;
    display: flex;
    align-items: center;
    width:52px;
    font-size:21px;
    justify-content: center;
    float:left;
}
    .attach-items .dropdown-toggle::after{ display: none; }
    .attach-items .dropdown-menu .dropdown-item .fa{font-size:12px;  color: #434B52; padding-right: 8px;}
    .attach-items .dropdown-menu .dropdown-item span {
    font-size: 13px;
    color: #434B52;
    }
    .attach-items .dropdown-menu {
    border: none;
    box-shadow: 0 0 8px #dad8d8;
    margin: 0;
    padding: 0;
    }
    .attach-items .dropdown-menu .dropdown-item:active{    background-color: #f8f9fa;}
    .attach-items .dropdown-menu .dropdown-item {
    border-bottom: solid 1px #f1f1f1;
    padding: 8px 16px;
    position: relative;
    }
    .chat-shared-file{margin-bottom:6px;}
    .chat-shared-file a {
        font-weight: 600;
        border-radius: 4px;
        border: solid 1px #ccc;
        padding: 4px 25px 4px 10px;
        text-align: center;
        color: #3E3E3E;
        font-size: 12px;
        display: inline-block;
    }
    .chat-shared-file a span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 250px;
    }
    .chat-shared-file .fa {
        padding-left: 7px;
        color: #3E3E3E;
        font-size: 11px;
    }
    
    .chat-user-one .chat-shared-file{text-align: right;}
    
    .chat-attached-file .attached-inner .fig-block img{
        max-width:80px;
        overflow: hidden;
    }
    .chat-attached-file .attached-inner .fig-block video{
        max-width:80px;
        overflow: hidden;
    }
    .chat-attached-file .attached-inner {
        position: relative;
        display: inline-block;
    }
    
    .chat-attached-file .attached-inner .close {
        position: absolute;
        right: 5px;
        font-size: 14px;
        background-color: #fff;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        display: block;
        opacity: 1;
        text-align: center;
        top: 5px;
        z-index: 1;
    }
    
    .attach-items .dropdown-menu .dropdown-item input[type="file"] {
        position: absolute;
        text-indent: 500px;
        font-size: 0;
        z-index: 9;
        cursor: pointer;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
    }
     
    .chat-user-one .chat-vid .vid-icon { 
        width:32px !important;
        height:32px; 
        position: absolute; left:0; right:0; bottom:0; top:0; margin:auto;  
        cursor: pointer;
    }
    
    .chat-vid .vid-img, 
    .chat-user-one .chat-vid span{  height:120px; position: relative;}
    
    .chat-user-one .chat-vid span, 
    .chat-user-one video, 
    .chat-user-one img{float:right; border-radius:10px 0px 10px 10px;}
    
    .chat-user-two .chat-vid .vid-icon { 
        width:32px !important;
        height:32px; 
        position: absolute; left:0; right:0; bottom:0; top:0; margin:auto;  
        cursor: pointer;
    }
    
    .chat-vid .vid-img, 
    .chat-user-two .chat-vid span{ height:120px; position: relative;}
    
    .chat-user-two .chat-vid span, 
    .chat-user-two video, 
    .chat-user-two img{float: left; border-radius:10px 10px 10px 0;}
    
    .chat-user video, .chat-user img{ height:120px;}
    
    
    .chat-user-two .chat-vid span,
    .chat-user-two video,
    .chat-user-two img
      {
        border-radius: 0 10px 10px 10px;
    } */

/* chat */

    p .m-loader img{
        height: 15px;
    }
    a .m-loader img{
        height:120px;
    }
    .chat-shared-file .m-loader img{
        height: 15px;
    }
    .video55{display:none;}

.single-user { text-align: center;}
.single-user .fig-block{
    width: 100px;
    height: 100px;
    margin: 0px auto;
    display: flex;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}
.single-user .fig-block img{object-fit: cover}
.single-user .content{
    margin-bottom: 20px;
    overflow: auto;
}

.chat-load-more{
    padding: 5px 13px;
    background: #eee;
    max-width: 300px;
    margin: 0px auto;
    text-align: center;
    color: #555;
    border-radius: 20px;
    cursor: pointer;
}
.chat-load-more img{height:30px;}
.addpropertydetails{
    padding: 20px;
    background: #efefef;
}

.loaderr {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 9;
  }
pre { font-family: 'sf_ui_textregular'; white-space: pre-wrap; word-wrap: break-word;}
.note{border: 1px solid #80808026 !important;padding: 5px 10px !important; resize: none;}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.searh-3 input{
    padding: 5px 8px !important;
}
.m-loader .text-message{
    width: 30px !important;
    height: 22px !important;
}
/* .m-loader .file-message{
    height: 22px !important;
} */
.display-none {
    display: none;
}
.action-icon {
    height: 32px;
    width: 32px;
    border: 1px solid rgba(206,206,206,0.5);
    background-color: #FFFFFF;
    display: inline-block;
    text-align: center;
    padding: 3px;
    cursor: pointer;
}
.notary-ava {
    background-color: #e0f5e6;
    padding: 5px 15px;
    color: #4eb96f;
}

/**/
.upload-cover-img,.add-project-img-more{
    overflow:hidden;
}
.upload-cover-img img,
.add-project-img-more img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
.upload-caption{cursor:pointer}
.upload-caption .number{
    font-size: 50px;
    color: #00B96F;
    text-shadow: 1px 1px 5px #000;
}
.form-control.ng-invalid.ng-touched{
    border: solid thin #fb9494;
}
.paramtext{padding:10px;}
.btn-green{
 background: #00B96F;
 color:#fff;   
}



/*******/
.pointer{cursor:pointer}
.upsidedown{transform: rotate(180deg);}
input[type="file"]{background:transparent !important}
.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
  }
  
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
  
  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
  }
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9; 
  }
  
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }
  .legend-title {
      /* position: relative; */
      display: none;
  }
  .legend-labels {
      width: 200px !important;
  }