.folder-box {
    background: #80808030;
    border: 1px solid #4543437d;
    height: 200px;
    padding: 15px 16px;
}
.folder-box .form-group-3 p {
    /* height: 180px; */
    text-align: center;
}
.folder-box button{
    padding: 4px 12px;
    border-radius: 4px;
    border-style: outset;
}