
<div class="white-bg padding15">
  <div class="row">
    <div class="col-md-6">
      <div class="title-group">
        <h5 *ngIf="!editMode"><a routerLink="/dashboard/properties/view-properties" href="javascript://"><i
              class="fa fa-angle-double-left"></i> </a> &nbsp;&nbsp;{{'addCollection.addLabel' | translate}}</h5>
        <h5 *ngIf="editMode"> <a routerLink="/dashboard/properties/view-properties" href="javascript://"><i
              class="fa fa-angle-double-left"></i> </a> &nbsp;&nbsp;{{'addCollection.editLabel' | translate}}: {{model?.name}}</h5>
      </div>
    </div>
    <div class="col-md-6 btn-cont">
      <!-- <app-add-lead *ngIf="this.parameter?.property_id && editMode"  [property_id]="parameter.property_id"></app-add-lead> -->
    </div>
  </div>
</div>

<div class="spacer10"></div>

<div class="white-bg add-property padding20">
  <div class="steps">
    <ul class="d-flex">
      <li [ngClass]="{'current': tab == 1}"><span></span><a (click)="setTab(1)">{{'addCollection.tabs.property' | translate}}</a></li>
      <li [ngClass]="{'current': tab == 2}"><span></span><a (click)="setTab(2)">{{'addCollection.tabs.seller' | translate}}</a></li>
      <li [ngClass]="{'current': tab == 3}"><span></span><a (click)="setTab(3)">{{'addCollection.tabs.buyer' | translate}}</a></li>
      <li [ngClass]="{'current': tab == 4}"><span></span><a (click)="setTab(4)">{{'addCollection.tabs.deal' | translate}}</a></li>
      <li [ngClass]="{'current': tab == 5}"><span></span><a (click)="setTab(5)">{{'addCollection.tabs.commission' | translate}}</a></li>
      <li [ngClass]="{'current': (tab == 6) || (tab == 7)}"><span></span><a (click)="setTab(6)">{{'addCollection.tabs.uploadDocuments' | translate}}</a></li>
    </ul>
  </div>
</div>

<div class="spacer10"></div>



<!-- Tag a building start -->
<div class="white-bg" *ngIf="tab==1">
  <div class="page-title">
    <h3>{{'addCollection.chooseYourProperty' | translate}}</h3>
  </div>

  <div class="padding40" *ngIf="building.id && showSearch==false">
    <div class="row">
      <div class="col-sm-9 col-lg-9">
        <p class="p16">{{'addCollection.taggedBuildingName' | translate}}</p>
      </div>
      <div class="col-sm-3 col-lg-3 btn-cont text-right">
        <button type="button" class="btn btn-primary" (click)="showSearchBox()">{{'addCollection.change' | translate}}</button>
      </div>
    </div>
    <p><b>{{building.name}}</b></p>

    <div class="row">
      <div class="col-sm-9 col-lg-9">
        <p class="p16">{{'addCollection.taggedTowerName' | translate}}</p>
      </div>
    </div>
    <p><b>{{model?.building_towers?.tower_name ? model?.building_towers?.tower_name : ('table.tr.td.NA' | translate)}}</b></p>

    <div class="row" *ngIf="model?.building_towers">
      <div class="col-sm-9 col-lg-9">
        <p class="p16">{{'addCollection.taggedFloor' | translate}}</p>
      </div>
    </div>
    <p><b>{{model?.building_towers?.tower_name ? (model?.floor_num == 0 ? ('addCollection.groundFloor' | translate) : ('addCollection.floor' | translate) + ' ' + model?.floor_num) : 'NA'}}</b></p>
    
    <div class="row">
      <div class="col-md-12">
        <div class="btn-cont text-right">
          <button type="button" (click)="tab=2" class="btn btn-primary">{{'addCollection.next' | translate}}</button>
        </div>
      </div>
    </div>
  </div>

  <div class="padding40" *ngIf="showSearch">
    <h5 class="p16-two">{{'addCollection.SearchYourBuildingInOurDatabase' | translate}}</h5>
    <div class="searh d-flex">
      <input class="border-right-0" autocomplete="off" type="text" #buildingname
        (keyup.enter)="searchBuilding(buildingname.value)" name="buildingName" [(ngModel)]="buildingName">
      <button class="btn" type="button" (click)="searchBuilding(buildingname.value)">{{'addCollection.search' | translate}}</button>
    </div>
    <div class="spacer50"></div>
    <div *ngIf="buildingLoading">
      <img src="assets/img/loading_content.gif" />
    </div>
    <div *ngIf="!buildingLoading && parameter.buildingCount != 0" class="white-bg">
      <!-- ngNativeValidate  #tagABuilding="ngForm" -->
      <form  [formGroup]="addFormStep1"  (ngSubmit)="createCollection(addFormStep1.value, 1)">
        
        <!-- buildings listing -->
        <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12 col-12" 
          *ngFor="let item of searchedBuildings| paginate: { itemsPerPage: parameter.itemsPerPage, currentPage: parameter.page, totalItems: parameter.buildingCount }; let i = index">
            <app-project-block (setBuilding)="setBuildingId($event)" (buildingIndex)="getBuildingIndex($event)" [data]="item" [index]="i"></app-project-block>
          </div>
        </div>

        <div class="row" *ngIf="searchedBuildings?.length>0">
          <div class="col-lg-6 col-md-12 col-sm-12 col-12"></div>
          <div class="col-lg-6 col-md-12 col-sm-12 col-12 btn-cont text-right marginT15">
            <pagination-controls class="my-pagination" (pageChange)="getPage($event)"></pagination-controls>
          </div>
        </div>

        <!-- towers listing wrt building id -->
        <div class="row marginT20" *ngIf="building.id">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="form-group-3">
              <label class="p16-two">{{'addCollection.selectTowerIn' | translate}} {{selectedBuilding?.name}} <span class="color-red">*</span></label>
              <select name="tower" *ngIf="selectedBuilding" formControlName="selectedTowerId" required class="form-control" (change)="setTower($event.target.value)">
                <option value="">{{'addCollection.selectTower' | translate}}</option>
                <option *ngFor="let bt of selectedBuilding?.building_towers" [value]="bt.id">
                  {{bt.tower_name}}</option>
              </select>
              <!-- <select name="tower" [(ngModel)]="selectedTower" required class="form-control" (change)="setTower(selectedTower)">
                <option value="">{{'addCollection.selectTower' | translate}}</option>
                <option *ngFor="let bt of selectedBuilding?.building_towers" [ngValue]="bt">
                  {{bt.tower_name}}</option>
              </select> -->
            </div>
          </div>  
        </div>

        <!-- floor listing wrt tower id -->
        <div class="row marginT20" *ngIf="selectedTower">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="form-group-3">
              <label class="p16-two">{{'addCollection.selectFloorIn' | translate}} {{selectedTower?.tower_name}} <span class="color-red">*</span></label>
              <select required class="form-control" (change)="getProperties($event)">
                <option value="">{{'addCollection.selectFloor' | translate}}</option>
                <option *ngFor="let fa of selectedTower?.unique_floors; let j=index" [value]="fa">
                  {{j == 0 ? ('addCollection.groundFloor' | translate): ('addCollection.floor' | translate) + ' '+fa}}</option>
              </select>
            </div>
          </div>  
        </div>

        <!-- properties listing wrt building id -->
        <div class="row marginT20" *ngIf="model.floor_num">
            <div class="col-lg-6 col-md-6 col-sm-12 col-6">
            <div class="form-group form-group-3">
              <label class="p16-two">{{'addCollection.selectYourApartment' | translate}} <span class="color-red">*</span></label>
              
              <!-- <p-dropdown [(ngModel)]="model.property_id" class="form-control search-dropdown"
                [options]="properties" [style]="{'width':'100%'}" (onChange)="setPropertyId(null)"
                [filter]="true" optionLabel="name">
              </p-dropdown> -->

              <p-dropdown class="search-dropdown"
                [options]="properties" [style]="{'width':'100%'}" formControlName="property_id"
                [filter]="true" optionLabel="name" (onChange)="setPropertyId(property_id)">
              </p-dropdown>
             
            </div>
          </div>  
          <div class="col-lg-6 col-md-6 col-sm-12 col-6">
            <div class="form-group-3">
              <label class="p16-two">{{'addCollection.selectDealType' | translate}}<span class="color-red">*</span></label>
              <select required class="form-control" formControlName="deal_type_id" (change)="setDealType($event.target.value)">
                <option value="1">Purchase</option>
                <option value="2">Purchase</option>
              </select>
            </div>
          </div>  
        </div>
        
        <div class="row">
          <div class="col-md-12">
            <div class="btn-cont text-right">
                <!-- [disabled]="tagABuilding.invalid" -->
              <button type="submit"  class="btn btn-primary">{{'addCollection.next' | translate}}</button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <p *ngIf="parameter.buildingCount == 0 && showText" class="p18">{{'addCollection.didntFoundyourBuilding' | translate}} <strong><span
          (click)="showBuildingDetails(true)" class="green-color cursor-pointer">{{'addCollection.GenerateARequesttoAddABuildingByOurDataCollectors' | translate}}</span></strong></p>
    <div *ngIf="showBuilding" class="spacer50"></div>

    <form ngNativeValidate #buildingRequestForm="ngForm" (ngSubmit)="buildingRequest()">
      <div *ngIf="showBuilding" class="row">
        <div class="col-lg-7 col-md-12 col-sm-12 col-12">
          <div class="row">
            <div class="col-sm-6 col-12">
              <div class="form-group-3">
                <label>{{'addCollection.nameBuilding' | translate}}</label>
                <input autocomplete="off" required class="form-control" [pattern]="constant.onlyWhiteSpaces" type="text" name="name"
                  [(ngModel)]="building.name" placeholder="{{'addForm.placeholder.nameOfBuilding' | translate}}">
              </div>
            </div>
            <div class="col-sm-6 col-12">
              <div class="form-group-3">
                <label>{{'addCollection.whereItIsLocated' | translate}}</label>
                <input required placeholder="{{'addForm.placeholder.searchForLocation' | translate}}" autocorrect="off" autocapitalize="off"
                  spellcheck="off" type="text" class="form-control" #search (input)="loadPlaces()"
                  [formControl]="searchControl" [(ngModel)]="building.address" name="address">
              </div>
            </div>
          </div>
          <label class="label-optional">{{'addCollection.developerDetails' | translate}}</label>
          <div class="row">
            <div class="col-sm-6 col-12">
              <div class="form-group-3">
                <label>{{'addCollection.nameOfDeveloper' | translate}}</label>
                <input autocomplete="off" class="form-control" [pattern]="constant.onlyWhiteSpaces" type="text" name="dev_name"
                  [(ngModel)]="building.dev_name">
              </div>
            </div>
            <div class="col-sm-6 col-12">
              <div class="form-group-3">
                <label>{{'addCollection.contactNumber' | translate}}</label>
                <input minlength="6" maxlength="16" autocomplete="off" type="text" class="form-control" id="dev_phone"
                  [(ngModel)]="building.dev_phone" name="dev_phone" ng2TelInput [ng2TelInputOptions]="initialCountry"
                  (countryChange)="onCountryChange($event)" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-12">
              <div class="form-group-3">
                <label>{{'addCollection.emailId' | translate}}</label>
                <input autocomplete="off" class="form-control" type="email" name="dev_email"
                  [(ngModel)]="building.dev_email">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 col-12">
          <div class="form-group-3 mark-pin-map">
            <label>{{'addCollection.markPinonMap' | translate}}</label>
          </div>
          <div>
            <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false"
              (mapClick)="placeMarker($event)" [zoom]="zoom">
              <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
            </agm-map>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="showBuilding">
        <div class="col-md-12">
          <div class="btn-cont text-right">
            <button type="submit" [disabled]="buildingRequestForm.invalid" class="btn btn-primary">{{'addCollection.submitRequest' | translate}}</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- Tag a building end -->


<!-- ngNativeValidate #createDraft="ngForm" -->
<form [formGroup]="addFormStep2" (ngSubmit)="createCollection(addFormStep2.value, 2)">
  <div class="white-bg" *ngIf="tab==2">
    <div class="page-title">
      <h3>{{'addCollection.chooseTheSeller' | translate}}</h3>
    </div>
    <div class="paddingT0 padding40">

      <!-- search seller -->
        <h5 class="p16-two">{{'addCollection.SearchASellerInOurDatabase' | translate}}</h5>
        <div class="searh d-flex">
          <!-- <input class="border-right-0" autocomplete="off" type="text" #buildingname
            (keyup.enter)="searchBuilding(buildingname.value)" name="buildingName" [(ngModel)]="buildingName">
          <button class="btn" type="button" (click)="searchBuilding(buildingname.value)">{{'addCollection.search' | translate}}</button> -->
        </div>
        <div class="spacer50"></div>

        <!-- complete seller details -->
        <h5 class="p16-two">{{'addCollection.completeTheSellerInfo' | translate}}</h5>
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="form-group-3">
              <label>{{'addCollection.name' | translate}}</label>
              <div class="clearfix"></div>
              <input type="text" name="seller_name" class="form-control" formControlName="seller_name">
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-12">
              <div class="form-group-3">
              <label>{{'addCollection.phonenumber' | translate}}</label>
              <div class="clearfix"></div>
              <input class="form-control" type="text" name="seller_phone" formControlName="seller_phone">
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-12">
              <div class="form-group-3">
              <label>{{'addCollection.email' | translate}}</label>
              <div class="clearfix"></div>
              <input class="form-control" type="text" name="seller_email" formControlName="seller_email">
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-12">
              <div class="form-group-3">
              <label>{{'addCollection.companyName' | translate}}</label>
              <div class="clearfix"></div>
              <input class="form-control" type="text" name="seller_company_name" formControlName="seller_company_name">
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="form-group-3">
              <label>{{'addCollection.fedralTaxPayerRegistry' | translate}}</label>
              <div class="clearfix"></div>
              <input class="form-control" type="text" name="seller_fed_tax" formControlName="seller_fed_tax">
            </div>
          </div>
        </div>

        <div class="spacer50"></div>
        <!-- bank account -->
        <h5 class="p16-two">{{'addCollection.bankAccount' | translate}}
          <span class="pull-right"><a class="add" (click)="addSellerBank($event)" href="javascript://">{{'addCollection.addNewBankAccount' | translate}}</a></span>
        </h5>
        <div formArrayName="collection_seller_banks">
        <ng-container *ngFor="let seller_banks of addFormStep2.get('collection_seller_banks').controls; let i=index">
            <div class="row" [formGroupName]="i">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="form-group-3">
                  <label>{{'addCollection.accountNumber' | translate}}</label>
                  <div class="clearfix"></div>
                  <input class="form-control" type="text" name="account_number" formControlName="account_number">
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                  <div class="form-group-3">
                  <label>{{'addCollection.clabeSwift' | translate}}</label>
                  <div class="clearfix"></div>
                  <input class="form-control" type="text" name="swift" formControlName="swift">
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                  <div class="form-group-3">
                  <label>{{'addCollection.currency' | translate}}</label>
                  <div class="clearfix"></div>
                  <input class="form-control" type="text" name="currency_id" formControlName="currency_id">
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                  <div class="form-group-3">
                  <label>Remove</label>
                  <div class="clearfix"></div>
                  <button (click)="removeSellerBank($event, i)">Remove</button>
                </div>
              </div>
            </div>
        </ng-container>
        </div>

        <div class="spacer50"></div>
        <!-- legal Representative Info -->
        <h5 class="p16-two">{{'addCollection.legalRepresentativeInfo' | translate}}</h5>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="form-group-3">
              <label>{{'addCollection.name' | translate}}</label>
              <div class="clearfix"></div>
              <input class="form-control" type="text" name="seller_leg_rep_name" formControlName="seller_leg_rep_name">
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-12">
              <div class="form-group-3">
              <label>{{'addCollection.phonenumber' | translate}}</label>
              <div class="clearfix"></div>
              <input class="form-control" type="text" name="seller_leg_rep_phone" formControlName="seller_leg_rep_phone">
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-12">
              <div class="form-group-3">
              <label>{{'addCollection.email' | translate}}</label>
              <div class="clearfix"></div>
              <input class="form-control" type="text" name="seller_leg_rep_email" formControlName="seller_leg_rep_email">
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-12">
              <div class="form-group-3">
              <label>{{'addCollection.companyName' | translate}}</label>
              <div class="clearfix"></div>
              <input class="form-control" type="text" name="seller_leg_rep_comp" formControlName="seller_leg_rep_comp">
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="form-group-3">
              <label>{{'addCollection.fedralTaxPayerRegistry' | translate}}</label>
              <div class="clearfix"></div>
              <input class="form-control" type="text" name="seller_leg_rep_fed_tax" formControlName="seller_leg_rep_fed_tax">
            </div>
          </div>
        </div>
        
      <div class="spacer15"></div>

      <div class="spacer15"></div>
      <div class="row">
        <div class="col-md-12">
          <div class="btn-cont text-right">
            <button type="button" class="btn btn-primary" (click)="setTab(1)">{{'addCollection.previous' | translate}}</button>
            <button type="submit" class="btn btn-primary marginL15">{{'addCollection.next' | translate}}</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</form>


<!-- ngNativeValidate #createDraft="ngForm" -->
<form [formGroup]="addFormStep3" (ngSubmit)="createCollection(addFormStep3.value, 3)">
    <div class="white-bg" *ngIf="tab==3">
      <div class="page-title">
        <h3>{{'addCollection.chooseTheBuyer' | translate}}</h3>
      </div>
      <div class="paddingT0 padding40">
  
        <!-- search -->
          <h5 class="p16-two">{{'addCollection.SearchABuyerInOurDatabase' | translate}}</h5>
          <div class="searh d-flex">
            <!-- <input class="border-right-0" autocomplete="off" type="text" #buildingname
              (keyup.enter)="searchBuilding(buildingname.value)" name="buildingName" [(ngModel)]="buildingName">
            <button class="btn" type="button" (click)="searchBuilding(buildingname.value)">{{'addCollection.search' | translate}}</button> -->
          </div>
          <div class="spacer50"></div>
  
          <!-- complete details -->
          <h5 class="p16-two">{{'addCollection.completeTheBuyerInfo' | translate}}</h5>
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
              <div class="form-group-3">
                <label>{{'addCollection.name' | translate}}</label>
                <div class="clearfix"></div>
                <input type="text" name="buyer_name" class="form-control" formControlName="buyer_name">
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="form-group-3">
                <label>{{'addCollection.phonenumber' | translate}}</label>
                <div class="clearfix"></div>
                <input class="form-control" type="text" name="buyer_phone" formControlName="buyer_phone">
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="form-group-3">
                <label>{{'addCollection.email' | translate}}</label>
                <div class="clearfix"></div>
                <input class="form-control" type="text" name="buyer_email" formControlName="buyer_email">
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="form-group-3">
                <label>{{'addCollection.companyName' | translate}}</label>
                <div class="clearfix"></div>
                <input class="form-control" type="text" name="buyer_company_name" formControlName="buyer_company_name">
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                  <div class="form-group-3">
                <label>{{'addCollection.fedralTaxPayerRegistry' | translate}}</label>
                <div class="clearfix"></div>
                <input class="form-control" type="text" name="buyer_fed_tax" formControlName="buyer_fed_tax">
              </div>
            </div>
          </div>
  
          <div class="spacer50"></div>
          <!-- bank account -->
          <h5 class="p16-two">{{'addCollection.bankAccount' | translate}}
            <span class="pull-right"><a class="add" (click)="addBuyerBank($event)" href="javascript://">{{'addCollection.addNewBankAccount' | translate}}</a></span>
          </h5>
          <div formArrayName="collection_buyer_banks">
          <ng-container *ngFor="let buyer_banks of addFormStep3.get('collection_buyer_banks').controls; let i=index">
              <div class="row" [formGroupName]="i">
                  <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                      <div class="form-group-3">
                    <label>{{'addCollection.accountNumber' | translate}}</label>
                    <div class="clearfix"></div>
                    <input class="form-control" type="text" name="account_number" formControlName="account_number">
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="form-group-3">
                    <label>{{'addCollection.clabeSwift' | translate}}</label>
                    <div class="clearfix"></div>
                    <input class="form-control" type="text" name="swift" formControlName="swift">
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="form-group-3">
                    <label>{{'addCollection.currency' | translate}}</label>
                    <div class="clearfix"></div>
                    <input class="form-control" type="text" name="currency_id" formControlName="currency_id">
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="form-group-3">
                    <label>Remove</label>
                    <div class="clearfix"></div>
                    <button (click)="removeBuyerBank($event, i)">Remove</button>
                  </div>
                </div>
              </div>
          </ng-container>
          </div>
  
          <div class="spacer50"></div>
          <!-- legal Representative Info -->
          <h5 class="p16-two">{{'addCollection.legalRepresentativeInfo' | translate}}</h5>
          <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                  <div class="form-group-3">
                <label>{{'addCollection.name' | translate}}</label>
                <div class="clearfix"></div>
                <input class="form-control" type="text" name="buyer_leg_rep_name" formControlName="buyer_leg_rep_name">
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="form-group-3">
                <label>{{'addCollection.phonenumber' | translate}}</label>
                <div class="clearfix"></div>
                <input class="form-control" type="text" name="buyer_leg_rep_phone" formControlName="buyer_leg_rep_phone">
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="form-group-3">
                <label>{{'addCollection.email' | translate}}</label>
                <div class="clearfix"></div>
                <input class="form-control" type="text" name="buyer_leg_rep_email" formControlName="buyer_leg_rep_email">
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="form-group-3">
                <label>{{'addCollection.companyName' | translate}}</label>
                <div class="clearfix"></div>
                <input class="form-control" type="text" name="buyer_leg_rep_comp" formControlName="buyer_leg_rep_comp">
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                  <div class="form-group-3">
                <label>{{'addCollection.fedralTaxPayerRegistry' | translate}}</label>
                <div class="clearfix"></div>
                <input class="form-control" type="text" name="buyer_leg_rep_fed_tax" formControlName="buyer_leg_rep_fed_tax">
              </div>
            </div>
          </div>
          
        <div class="spacer15"></div>
  
        <div class="spacer15"></div>
        <div class="row">
          <div class="col-md-12">
            <div class="btn-cont text-right">
              <button type="button" class="btn btn-primary" (click)="setTab(1)">{{'addCollection.previous' | translate}}</button>
              <button type="submit" class="btn btn-primary marginL15">{{'addCollection.next' | translate}}</button>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </form>



<form [formGroup]="addFormStep4" (ngSubmit)="createCollection(preferableBuyer, 4)">
  <!-- tab-4 -->
  <div class="white-bg" *ngIf="tab==4">
    <div class="page-title">
      <h3>{{'addCollection.deal' | translate}}</h3>
    </div>
    <div class="padding40">
      <h5>{{'addCollection.completeTheDealInfo' | translate}}</h5>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="form-group-3">
            <label>{{'addCollection.purchaseDate' | translate}}</label>
            <div class="clearfix"></div>
            <p-calendar [style]="{'width':'100%'}" formControlName="deal_purchase_date" class="sz-calendar" [locale]="locale" showIcon="true" (onSelect)="onSelect($event)" 
                showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2040"></p-calendar>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="form-group-3">
            <label>{{'addCollection.price' | translate}}</label>
            <div class="clearfix"></div>
            <input class="form-control" type="number" placeholder="{{'addForm.placeholder.enter' | translate}}" formControlName="deal_price" min="0"
                name="deal_price">
          </div>
        </div>
      </div>

      <label>{{'addCollection.layawayPayment' | translate}}</label>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="form-group-3">
            <div class="clearfix"></div>
              <p-calendar [style]="{'width':'100%'}" formControlName="deal_lay_date" class="sz-calendar" [locale]="locale" showIcon="true" (onSelect)="onSelect($event)" 
                showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2040"></p-calendar>
              <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="form-group-3">
            <div class="clearfix"></div>
            <select name="tower" formControlName="deal_lay_type" required class="form-control" (change)="setTower(selectedTower)">
              <option value="">{{'addCollection.percentage' | translate}}</option>
              <option value="">{{'addCollection.amount' | translate}}</option>
            </select>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="form-group-3">
            <div class="clearfix"></div>
            <input class="form-control" type="number" placeholder="{{'addForm.placeholder.enter' | translate}}" formControlName="deal_lay_percent_value" min="0"
                name="deal_lay_percent_value">
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="form-group-3">
            <div class="clearfix"></div>
            <input class="form-control" type="number" formControlName="deal_lay_amount_value" min="0" name="deal_lay_amount_value">
          </div>
        </div>
      </div>

      <label>{{'addCollection.downPayment' | translate}}</label>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="form-group-3">
            <div class="clearfix"></div>
              <p-calendar [style]="{'width':'100%'}" formControlName="deal_lay_date" class="sz-calendar" [locale]="locale" showIcon="true" (onSelect)="onSelect($event)" 
                showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2040"></p-calendar>
              <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="form-group-3">
            <div class="clearfix"></div>
            <select name="tower" formControlName="deal_lay_type" required class="form-control" (change)="setTower(selectedTower)">
              <option value="">{{'addCollection.percentage' | translate}}</option>
              <option value="">{{'addCollection.amount' | translate}}</option>
            </select>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="form-group-3">
            <div class="clearfix"></div>
            <input class="form-control" type="number" placeholder="{{'addForm.placeholder.enter' | translate}}" formControlName="deal_lay_percent_value" min="0"
                name="deal_lay_percent_value">
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="form-group-3">
            <div class="clearfix"></div>
            <input class="form-control" type="number" formControlName="deal_lay_amount_value" min="0" name="deal_lay_amount_value">
          </div>
        </div>
      </div>

      <label>{{'addCollection.paymentUponDelivery' | translate}}</label>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="form-group-3">
            <div class="clearfix"></div>
              <p-calendar [style]="{'width':'100%'}" formControlName="deal_lay_date" class="sz-calendar" [locale]="locale" showIcon="true" (onSelect)="onSelect($event)" 
                showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2040"></p-calendar>
              <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="form-group-3">
            <div class="clearfix"></div>
            <select name="tower" formControlName="deal_lay_type" required class="form-control" (change)="setTower(selectedTower)">
              <option value="">{{'addCollection.percentage' | translate}}</option>
              <option value="">{{'addCollection.amount' | translate}}</option>
            </select>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="form-group-3">
            <div class="clearfix"></div>
            <input class="form-control" type="number" placeholder="{{'addForm.placeholder.enter' | translate}}" formControlName="deal_lay_percent_value" min="0"
                name="deal_lay_percent_value">
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="form-group-3">
            <div class="clearfix"></div>
            <input class="form-control" type="number" formControlName="deal_lay_amount_value" min="0" name="deal_lay_amount_value">
          </div>
        </div>
      </div>

      <label>{{'addCollection.specialPayments' | translate}}</label>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="form-group-3">
            <div class="clearfix"></div>
              <p-calendar [style]="{'width':'100%'}" formControlName="deal_lay_date" class="sz-calendar" [locale]="locale" showIcon="true" (onSelect)="onSelect($event)" 
                showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2040"></p-calendar>
              <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="form-group-3">
            <div class="clearfix"></div>
            <select name="tower" formControlName="deal_lay_type" required class="form-control" (change)="setTower(selectedTower)">
              <option value="">{{'addCollection.percentage' | translate}}</option>
              <option value="">{{'addCollection.amount' | translate}}</option>
            </select>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="form-group-3">
            <div class="clearfix"></div>
            <input class="form-control" type="number" placeholder="{{'addForm.placeholder.enter' | translate}}" formControlName="deal_lay_percent_value" min="0"
                name="deal_lay_percent_value">
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="form-group-3">
            <div class="clearfix"></div>
            <input class="form-control" type="number" formControlName="deal_lay_amount_value" min="0" name="deal_lay_amount_value">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-12" *ngIf="model.parking==1">
          <div class="form-group-3">
            <label>{{'addCollection.interestRate' | translate}}</label>
            <div class="clearfix"></div>
            <input class="form-control" type="number" formControlName="deal_lay_amount_value" min="0" name="deal_lay_amount_value">
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12" *ngIf="model.parking==1">
          <div class="form-group-3">
            <label>{{'addCollection.monthlyPayment' | translate}}</label>
            <div class="clearfix"></div>
            <input class="form-control" type="number" formControlName="deal_lay_amount_value" min="0" name="deal_lay_amount_value">
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12" *ngIf="model.parking==1">
          <div class="form-group-3">
            <label>&nbsp;</label>
            <div class="clearfix"></div>
            <input class="form-control" type="number" formControlName="deal_lay_amount_value" min="0" name="deal_lay_amount_value">
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12" *ngIf="model.parking==1">
          <div class="form-group-3">
            <label>{{'addCollection.penalityForLatePayment' | translate}}</label>
            <div class="clearfix"></div>
            <input class="form-control" type="number" formControlName="deal_lay_amount_value" min="0" name="deal_lay_amount_value">
          </div>
        </div>
      </div>
      

      <div class="row">
        <div class="col-md-12">
          <div class="btn-cont text-right">
            <!-- <a class="btn-third btn" href="javascript://" (click)="createCollection(addForm, 4)">Next</a> -->
            <button type="button" class="btn btn-primary" (click)="setTab(3)">{{'addForm.previous' | translate}}</button>
            <button type="submit" class="btn btn-primary marginL15">{{'addForm.next' | translate}}</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</form>


<!-- [formGroup]="addFormStep5" -->
<form ngNativeValidate  #custom="ngForm" (ngSubmit)="createCollection(custom, 5)">
  <!-- tab-5 -->
  <div class="white-bg" *ngIf="tab==5 || tab==6">
    <div class="page-title">
      <h3>{{'addForm.tabs.Custom' | translate}}</h3>
    </div>
    <div class="padding40">
      <h5 class="marginB30">{{'addForm.anyInformationWeMissedYouWantToAdd' | translate}}</h5>

      <div class="row">
        <div class="col-md-4 col-sm-12 col-12">
          <div class="form-group-3">
            <label class="p16-two">{{'addForm.enterParameter' | translate}}</label>
            <input autocomplete="off" class="form-control" [pattern]="constant.onlyWhiteSpaces" type="text" [(ngModel)]="newcustom_attribute.name"
              name="name[{{c}}]" placeholder="{{'addForm.placeholder.enterParameter' | translate}}">
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-12">
          <div class="form-group-3">
            <label class="p16-two">{{'addForm.enterValue' | translate}}</label>
            <input autocomplete="off" class="form-control" [pattern]="constant.onlyWhiteSpaces" type="text" [(ngModel)]="newcustom_attribute.value"
              name="value[{{c}}]" placeholder="{{'addForm.placeholder.enterValue' | translate}}">
          </div>
        </div>
        <div class="col-md-2 btn-cont">
          <a href="javascript://" class="add-more btn" (click)="addCustomAttribute()">Add More</a>
        </div>
      </div>

      <div class="row" *ngFor="let custom_attribute of model.custom_attributes; let c = index;">
        <div class="col-md-4 col-sm-12 col-12">
          <div class="form-group-3">
            <label class="p16-two">{{'addForm.enterParameter' | translate}}</label>
            <input autocomplete="off" class="form-control" [pattern]="constant.onlyWhiteSpaces" type="text" [value]="custom_attribute.name" disabled />
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-12">
          <div class="form-group-3">
            <label class="p16-two">{{'addForm.enterValue' | translate}}</label>
            <input autocomplete="off" class="form-control" [pattern]="constant.onlyWhiteSpaces" type="text" [value]="custom_attribute.value" disabled />
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-12">
          <div class="btn-cont ">
            <a href="javascript://" class="btn delete-button marginT30" (click)="model.custom_attributes.splice(c, 1)">
              <img src="assets/img/delete-button.png" width="40" style="width: 20px; margin-top: 10px;">
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="btn-cont text-right">
            <!-- <a class="btn-third btn" href="javascript://" (click)="createCollection(addForm, 5)">Next</a> -->
            <button type="button" class="btn btn-primary" (click)="setTab(4)">{{'addForm.previous' | translate}}</button>
            <button type="submit" class="btn btn-primary marginL15">{{'addForm.submit' | translate}}</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</form>

