<div class="container-fluid">
  <div class="white-bg padding15">
      <div class="row">
          <div class="col-lg-3 col-md-12 col-sm-12 col-12">
              <div class="df-profile">
                  <a routerLink="../" *ngIf="!user_id"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                  <img [src]="leadData?.user?.image" onerror='src="assets/img/default_img.png"' alt="img">
                  <div class="df-info">
                      <p class="p14 text-ellipsis120">
                          {{leadData?.user?.name ? leadData?.user?.name : leadData?.name}}
                          {{leadData?.user?.first_surname ? leadData?.user?.first_surname : leadData?.first_surname}}
                          {{leadData?.user?.second_surname ? leadData?.user?.second_surname : leadData?.second_surname}}
                      </p>
                      <p class="p12">
                          {{leadData?.user?.dial_code?leadData?.user?.dial_code:leadData?.dial_code}}-{{leadData?.user?.phone ? leadData?.user?.phone:leadData?.phone}}
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-lg-7 col-md-12 col-sm-6 col-12">
              <div class="profile-list">
                  <ul>
                      <li>
                          <div class="df-info">
                              <p class="p14 marginB0" *ngIf="leadData?.admin">
                                  {{leadData.admin.name | titlecase}}
                                  {{leadData.admin.first_surname | titlecase}}
                                  {{leadData.admin.second_surname | titlecase}}
                              </p>
                              <p class="p12">{{'leadDetails.creditAgent' | translate}}
                                  
                              </p>
                          </div>
                      </li>
                      <li>
                          <div class="df-info" *ngIf="leadData?.broker">
                              <p class="p14 marginB0">
                                  {{leadData.broker.name | titlecase}}
                                  {{leadData.broker.first_surname | titlecase}}
                                  {{leadData.broker.second_surname | titlecase}}
                              </p>
                              <p class="p12">
                                  {{leadData?.broker?.is_external_agent==1 ? ('leadDetails.outsideAgent' | translate) : ('leadDetails.inhouseAgent' | translate)}}</p>
                          </div>
                      </li>
                      <li>
                          <div class="df-info" *ngIf="leadData?.closer">
                              <p class="p14 marginB0">{{leadData.closer.name | titlecase}}</p>
                              <p class="p12">{{'leadDetails.CSRClosure' | translate}}</p>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>

          <div class="col-lg-2 col-md-12 col-sm-12 col-12"
              *ngIf="admin?.admin_acl['Buyer Lead Management']?.can_update==1 || admin?.permissions?.can_csr_buyer==1">
              <div *ngIf="!leadData?.broker && leadData?.user && (admin?.admin_acl['Buyer Lead Management']?.can_update==1 || admin?.permissions?.can_csr_buyer==1)"
                  class="form-group d-flex marginT10 float-right right-side">
                  <div class="dropdown btn-cont">
                      <a (click)="assignToBroker()" class="btn btn-primary" href="javascript://">{{'leadDetails.assignToAgent' | translate}}</a>
                      <!-- <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
               Action
             </button>
             <div class="dropdown-menu dropdown-menu-right">
               <a (click)="assignToBroker()" *ngIf="!leadData?.broker && leadData?.user" class="dropdown-item" href="javascript://">Assign to broker</a>
               <a (click)="blockThisLead()" class="dropdown-item" href="javascript://">Block</a>
             </div> -->
                  </div>
              </div>
              <div *ngIf="is_deal_finalised" class="row">
                  <div class="col-sm-7 btn-cont text-right">
                      <a style="cursor: auto;" class="btn btn-fourth" href="javascript://">{{'leadDetails.dealFinalized' | translate}}</a>
                  </div>
              </div>
          </div>
      </div>

  </div>

  <div class="spacer30"></div>
  <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="white-bg padding30">

              <div class="row">
                  <div class="col-md-6">
                      <h6>{{'leadDetails.details' | translate}}</h6>
                  </div>
                  <!-- <div class="col-md-6">
               <div class="edit text-right"><a href="javascript://">Edit</a></div>
            </div> -->
              </div>
              <div class="details-table">
                  <table class="table">
                      <tbody>
                          <tr>
                              <td style="padding-left:0"><label>{{'leadDetails.fullName' | translate}}</label></td>
                              <td *ngIf="leadData?.name">
                                  {{leadData?.user?.name ? leadData?.user?.name : leadData?.name}}
                                  {{leadData?.user?.first_surname ? leadData?.user?.first_surname : leadData?.first_surname}}
                                  {{leadData?.user?.second_surname ? leadData?.user?.second_surname : leadData?.second_surname}}
                              </td>
                          </tr>
                          <tr>
                              <td style="padding-left:0"><label>{{'leadDetails.contactNumber' | translate}}</label></td>
                              <td *ngIf="leadData?.phone">
                                  {{leadData?.user?.dial_code ? leadData?.user?.dial_code : leadData?.dial_code}} -
                                  {{leadData?.user?.phone ? leadData?.user?.phone : leadData?.phone}}</td>
                          </tr>
                          <tr>
                              <td style="padding-left:0"><label>{{'leadDetails.emailAddress' | translate}}</label></td>
                              <td *ngIf="leadData?.email">
                                  {{leadData?.user?.email ? leadData?.user?.email : leadData?.email}}</td>
                          </tr>
                          <tr>
                              <td style="padding-left:0"><label>{{'leadDetails.interestedIn' | translate}}</label></td>
                              <td *ngIf="leadData?.configuration">
                                  <span *ngFor="let conf of leadData.configuration; let ii=index">
                                      <app-property-configuration *ngIf="conf" [configuration]="conf"></app-property-configuration>
                                      <span *ngIf="ii<leadData?.configuration?.length-1"> | </span><br>
                                  </span>
                                  <span *ngIf="leadData.configuration?.length==0">{{'leadDetails.NA' | translate}}</span>
                              </td>
                          </tr>
                          <tr>
                              <td style="padding-left:0"><label>{{'leadDetails.favoriteProperties' | translate}}</label></td>
                              <td>{{parameter.fav_properties_count}}
                                  <a style="display: none;" data-toggle="modal" #showPropertyModal
                                      data-target="#view-fav-property" class="view-all" href="javascript://">{{'leadDetails.viewAll' | translate}}</a>
                                  <a *ngIf="parameter.fav_properties_count" class="view-all" href="javascript://"
                                      (click)="viewFavProperties()">{{'leadDetails.viewAll' | translate}}</a>
                              </td>
                          </tr>

                          <!-- Meeting Schedule -->
                          <tr *ngIf="leadData?.sale_rent==1">
                              <td style="padding-left:0"><label><strong>{{'leadDetails.meetingSchedule' | translate}}</strong></label></td>
                              <td colspan="2">
                                  <p style="display:none;" class="date" #modalOpen data-toggle="modal"
                                      data-target="#set_appointment">{{'leadDetails.clickToSchedule' | translate}}</p>
                                  <!-- <p class="date cursor-pointer" (click)="openModal()">{{'leadDetails.clickToSchedule' | translate}}</p> -->
                                  <p class="date cursor-pointer" style="color: gray !important;">{{'leadDetails.clickToSchedule' | translate}}</p>
                                  <p *ngFor="let na of data; let m=index" class="date">
                                      <span *ngIf="m<2">{{na.appointment_date | moment}}</span>
                                  </p>
                                  <span class="read-more" *ngIf="data.length>2" data-toggle="modal"
                                      data-target="#get-availability1">{{'leadDetails.viewAll' | translate}}</span>
                              </td>
                          </tr>

                      </tbody>
                  </table>
              </div>
          </div>
          <div class="spacer30"></div>
          
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-12">
           <div *ngIf="!leadData?.user" class="white-bg padding20">
                  {{'leadDetails.userIsNotRegistered' | translate}}
          </div> 

          <!-- chat start -->
          <!-- <div *ngIf="leadData?.user"> -->
              <!-- <app-chat [lead_id]="parameter.lead_id" [sent_as]="parameter.sent_as" [user_id]="parameter.user_id"
                  [admin_id]="parameter.admin_id"></app-chat> -->
              <!-- <div class="white-bg move-below">
                  <div class="page-title-3 marginB0">
                      <h4><i><img src="assets/img/chat-icon.png" alt="img"></i> {{'leadDetails.chat' | translate}}</h4>
                  </div>
                  <div class="cust-tabs-4">
                      <app-chat-tabs *ngIf="leadData?.user" [lead_id]="parameter.lead_id"
                          [sent_as]="parameter.sent_as" [user_id]="parameter.user_id" [admin_id]="parameter.admin_id"
                          [leadData]="leadData">
                      </app-chat-tabs>
                  </div>
              </div>
          </div> -->
          <!-- chat end -->

          <!-- notes start -->
          <app-notes *ngIf="parameter?.lead_id || parameter?.user_id" [sent_as]="parameter.sent_as" [lead_id]="parameter.lead_id" [user_id]="parameter.user_id"></app-notes>
          <!-- notes end -->

      </div>
  </div>

  <div class="spacer30"></div>
  <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="white-bg padding30">
            <div class="row">
              <div class="col-md-6">
                  <h6>{{'leadDetails.creditInformation' | translate}}</h6>
              </div>
              <div class="details-table">
                <table class="table">
                    <tbody>
                        <tr>
                            <td style="padding-left:0"><label>{{'leadDetails.budgetForDownPayment' | translate}}</label></td>
                            <td>
                                {{leadData?.lead_answer?.budget_down_payment ? (leadData?.lead_answer?.budget_down_payment | currency) : 'N/A'}}
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left:0"><label>{{'leadDetails.budgetForMonthlyInstallment' | translate}}</label></td>
                            <td>
                              {{leadData?.lead_answer?.credit_monthly ? (leadData?.lead_answer?.credit_monthly | currency) : 'N/A'}}</td>
                        </tr>
                        <tr>
                            <td style="padding-left:0"><label>{{'leadDetails.haveChosenTheProppertyHeSheWantToBuy' | translate}}</label></td>
                            <td>
                              {{leadData?.lead_answer?.property_want == '1' ? 'Yes' : leadData?.lead_answer?.property_want == '0' ? 'No' : 'N/A'}}</td>
                        </tr>
                        <tr>
                            <td style="padding-left:0"><label>{{'leadDetails.propertyValue' | translate}}</label></td>
                            <td>
                              {{leadData?.lead_answer?.price ? (leadData?.lead_answer?.price | currency) : 'N/A'}}
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left:0"><label>{{'leadDetails.QuoteFor' | translate}}</label></td>
                            <td>{{leadData?.lead_answer?.quote == '1' ? 'INFONAVIT' : leadData?.lead_answer?.quote == '2'? 'FOVISSSTE' : leadData?.lead_answer?.quote == '3'? 'Other' : 'N/A'}}
                            </td>
                        </tr>
                        <tr>
                          <td style="padding-left:0"><label>{{'leadDetails.liquidityCredit' | translate}}</label></td>
                          <td>{{leadData?.lead_answer?.liquidity_credit ? leadData?.lead_answer?.liquidity_credit : 'N/A'}}
                          </td>
                      </tr>
                    </tbody>
                </table>
            </div>  
          </div>
          </div>
      </div>
  </div>

  <!-- Interested Properties start -->
  <!-- <app-interested-property *ngIf="parameter?.lead_id || parameter?.user_id" [is_deal_finalised]="false" [selected_properties]="leadData?.selected_properties"
      [lead_id]="parameter.lead_id" [interested_properties]="parameter.interested_properties"
      [sent_as]="parameter.sent_as" [user_id]="parameter.user_id"></app-interested-property> -->
  <!-- Interested Properties end -->

  <!-- viewed property start -->
  <!-- <app-viewed-property *ngIf="parameter?.lead_id || parameter?.user_id" [user_id]="leadData?.user_id" [viewed_properties]="parameter.viewed_properties">
  </app-viewed-property> -->
  <!-- viewed property end -->

  <!-- Interested projects start -->
  <!-- <app-interested-project *ngIf="parameter?.lead_id || parameter?.user_id" [lead_id]="parameter.lead_id" [user_id]="leadData?.user_id" [viewed_projects]="parameter.interested_projects">
  </app-interested-project> -->
  <!-- Interested projects end -->

  <!-- viewed projects start -->
  <!-- <app-viewed-projects *ngIf="parameter?.lead_id || parameter?.user_id" [user_id]="parameter?.user_id" [viewed_projects]="parameter.viewed_projects">
  </app-viewed-projects> -->
  <!-- viewed projects end -->
  
</div>



<!-- show fav properties -->
<div class="modal" id="view-fav-property">
  <div class="modal-dialog  modal-lg">
      <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
          <h3>{{'leadDetails.favoriteProperties' | translate}}</h3>
          <hr>
          <pagination-controls id="page2" class="my-pagination" (pageChange)="getPage2($event)"></pagination-controls>
  
          <div class="scrollbox fav-prop" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
          <div class="row">
              <div class="col-lg-6 col-md-12 col-sm-12 col-12"
              *ngFor="let x of parameter.favorites| paginate: { id: 'page2', itemsPerPage: parameter.itemsPerPage, currentPage: parameter.page2, totalItems: parameter.total2 }; let in=index">
              <div class="project-des-bx white-bg-2">
                  <div class="price" *ngIf="x">
                  <p class="p10">{{x.for_sale==1 ? ('leadDetails.buy' | translate) : ('leadDetails.rent' | translate)}}</p>
                  </div>
                  <div class="fig-block">
                  <img [src]="x.image| img:'thumb'" onerror='src="assets/img/bank.png"' alt="img">
                  </div>
                  <div class="project-des-content">
                      <small title="{{'table.title.apartment' | translate}}">{{x?.name}}</small>
                  <a title="{{'table.title.building' | translate}}" routerLink="/dashboard/properties/details/{{x?.id}}">
                      <h5>{{x?.building?.name.slice(0, 15)}}</h5>
                  </a>
                  <p class="p12">{{x.building.address.slice(0, 40)}}</p>
                  <p class="p13" *ngIf="x">
                      <app-property-configuration *ngIf="x.configuration" [configuration]="x.configuration"></app-property-configuration>
                      <span>&middot; {{x.property_type.name}}</span>
                  </p>
                  <p class="p13">
                      {{x.min_price | price}}
                  </p>
                  </div>
              </div>
              </div>
          </div>
          </div>
      </div>
      </div>
  </div>
</div>

<!-- add inhouse user modal -->
<div class="modal animated" id="set_appointment">
  <!-- <div class="modal-dialog fadeIndown">
      <div class="modal-content">
          <div class="modal-header modal-header-new">
              <h4 class="modal-title">Schedule Appointment</h4>
              <button type="button" style="display: none;" class="close" data-dismiss="modal" #modalClose>&times;</button>
              <button type="button" class="close" (click)="closeModal()">&times;</button>
          </div>
  
          <form class="form-horizontal form-model0P" role="form" ngNativeValidate #addForm="ngForm" (ngSubmit)="add()">
          <div class="modal-body modal-body-new">
              <div class="row">
                  <div class="col-10">
                      <p-calendar title="Click to add" name="app" [(ngModel)]="appointment.appointment_date" [minDate]="today" showButtonBar="true" showTime="true" hourFormat="12" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2040"></p-calendar>
                  </div>
                  <div class="col-2">
                      <div class="form-group-2">
                          <a *ngIf="!appointment.id && appointment.appointment_date" class="green-color fontW500" (click)="add()" href="javascript://">Save</a>
                          <a *ngIf="appointment.id" class="green-color fontW500" (click)="add()" href="javascript://">Edit</a>
                      </div>
                  </div>
              </div>
          </div>
          </form>
      </div>
  </div> -->
  <div class="modal-dialog fadeIndown">
      <div class="modal-dialog fadeIndown">
          <div class="modal-content">
              <div class="modal-header modal-header-new">
                  <h4 class="modal-title">{{'leadDetails.scheduleMeeting' | translate}}</h4>
                  <button type="button" style="display: none;" class="close" data-dismiss="modal"
                      #modalClose>&times;</button>
                  <button type="button" class="close" (click)="closeModal()">&times;</button>
              </div>

              <form class="form-horizontal form-model0P" role="form" ngNativeValidate #addForm="ngForm"
                  (ngSubmit)="add()">
                  <div class="modal-body padding0">
                      <div class="row">
                          <div class="col-8">
                              <label>{{'leadDetails.chooseDateTime' | translate}}</label>
                              <p-calendar autocomplete="off" [locale]="locale" title="{{'table.title.clickToAdd' | translate}}" name="app" [(ngModel)]="date" [minDate]="today"
                                  showButtonBar="true" showTime="true" hourFormat="12" [monthNavigator]="true"
                                  [yearNavigator]="true" yearRange="2000:2040" hideOnDateTimeSelect="true"></p-calendar>
                          </div>
                          <div class="col-2">
                              <div class="form-group-2">
                                  <label style="display: block; margin-top: 3px;">&nbsp;</label>
                                  <a class="green-color fontW500" href="javascript://" (click)="addDateTime()">{{'leadDetails.add' | translate}}</a>
                              </div>
                          </div>
                      </div>
                      <!-- <div class="row" *ngFor="let d of data; let j=index">
                      <div class="col-8">
                          <label class="notary-ava">{{d.appointment_date | moment}}</label>
                      </div>
                      <div class="col-2">
                          <a class="green-color fontW500" (click)="deleteAppointment(d.id, j)" href="javascript://">
                              Remove
                          </a>
                      </div>
                  </div> -->
                      <div class="row" *ngFor="let a of appointment.appointment_date_array; let i=index">
                          <div class="col-8">
                              <label class="notary-ava">{{a|date:'h:mm a'|lowercase}}, {{a|date: 'MMM d y'}}</label>
                          </div>
                          <div class="col-2">
                              <a class="green-color fontW500" (click)="removeAppointment(i)" href="javascript://">
                                  {{'leadDetails.remove' | translate}}
                              </a>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-8"></div>
                          <div class="col-2">
                              <div class="btn-cont text-right">
                                  <button type="submit" class="btn btn-primary-new">{{'leadDetails.save' | translate}}</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </form>

          </div>
      </div>
  </div>
</div>


<div class="modal animated" id="get-availability1">
  <div class="modal-dialog fadeIndown">
      <div class="modal-content">
          <div class="modal-header modal-header-new">
              <h4 class="modal-title">Meeting Scheduled</h4>
              <button type="button" class="close" data-dismiss="modal" #modalClose>&times;</button>
              <!-- <button type="button" class="close" (click)="closeModal()">&times;</button> -->
          </div>

          <div class="modal-body modal-body-new">
              <div class="row">
                  <div class="col-6" *ngFor="let d of data; let j=index">
                      <label class="notary-ava">{{d.appointment_date | moment}}</label>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>