input[type="text"] {
  background-color : #d1d1d1; 
}


:host ::ng-deep .multiselect-dropdown {
  position: relative;
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  background-color: white;
}

.is_commission_sale_enabled{
  width: 25px;
  height: 25px;
}
.delete {
  background-color: #00B96F;
  color: white;
  width: 75px;
  font-size: 12px;
  border-color: #00B96F;
  text-align: center;
}
button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}