<!-- {{interested_properties|json}} -->
  <div class="spacer30"></div>
  <div class="row">
     <div class="col-6">
        <p class="p16">Interested Properties</p>
     </div>
   <div class="col-6">
        <div class="btn-cont text-right">
          <a style="display: none;" class="btn btn-fourth" #showPropertyModal href="javascript://" data-toggle="modal" data-target="#add-property">Add</a>
          <a class="btn btn-fourth" href="javascript://" (click)="showModal()">Add</a>
          <!-- <a class="btn btn-fourth" href="javascript://" (click)="showProperties(lead_id)">Add</a> -->
          <a style="display: none;" data-toggle="modal" #showInterestedProperty data-target="#view-all" class="btn btn-fourth" href="javascript://">View All</a>
          <a *ngIf="interested_properties?.length!=0" class="btn btn-fourth" href="javascript://" (click)="viewProperties(interested_properties)">View All</a>
        </div>
     </div>
  </div>
  
  <div class="spacer15"></div>
  <div class="row" *ngIf="interested_properties?.length>0">
    <div class="col-lg-4 col-md-12 col-sm-12 col-12" *ngFor="let data of interested_properties; let in=index">

    <div *ngIf="data.property.building && data && in<3" class="project-des-bx white-bg">
      <div class="price">{{data.property.min_price|thousand}}+</div>
      <div class="fig-block">
        <img [src]="data.property.image" onerror='src="assets/img/bank.png"' alt="img">
      </div>
      <div class="project-des-content">
        <small>{{data.property.building.developer.name}}</small>
        <h5>{{data.property.building.name.slice(0, 15)}}</h5>
        <p class="p12">{{data.property.building.address.slice(0, 60)}}</p>

        <p class="p13" *ngIf="data && data.property">{{data.property.configuration.name}}</p>
        <p class="p13" *ngIf="!data && !data.property">NA</p>
        <div class="dropdown threeDots">
          <button type="button" class="dropdown-toggle" data-toggle="dropdown">
            ...
          </button>
          <div class="dropdown-menu">
            <a style="display: none;" *ngIf="adminType==2" class="dropdown-item" href="javascript://" #modalOpen data-toggle="modal" data-target="#dealFinalize">Deal Finalized</a>
            <a *ngIf="adminType==2" class="dropdown-item" href="javascript://" (click)="openModal(data.property.id, data.lead_id)">Deal Finalized</a>
            <a class="dropdown-item" (click)="deleteLeadInterestedProperty(data.property.id, data.lead_id, in)">Remove Property</a>
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>
  <div *ngIf="interested_properties?.length == 0">
    <p class="show-not-found">
      {{constant.errorMsg.NO_INTERESTED_PROPERTY_FOUND}}
    </p>
  </div>



<!-- add property to interested_properties -->
<div class="modal" id="add-property">
    <div class="modal-dialog modal-lg">
      <div class="modal-content notary-avail">
          <div class="modal-header popup-header">
            <h4 class="modal-title">Properties available</h4>
            <button type="button" class="close" data-dismiss="modal" #hidePropertyModal>&times;</button>
          </div>
          <div class="modal-body">
              <!-- <div class="row">
                <div class="col-6">
                    <div class="form-group">
                      <label>Choose Country</label>
                        <select required title="Choose Country" class="form-control" (change)="setCountryId($event.target.value)">
                          <option value="" disabled>Select Country</option>
                          <option *ngFor="let country of parameter.countries" [selected]="country.id == parameter.country_id" value="{{country.id}}">{{country.name}}</option>
                        </select>
                      </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Choose State</label>
                        <select required title="Choose State" class="form-control" (change)="setStateId($event.target.value)">
                          <option value="" disabled>Select State</option>
                          <option *ngFor="let state of parameter.states" [selected]="state.id == parameter.state_id" value="{{state.id}}">{{state.name}}</option>
                        </select>
                      </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-6">
                      <div class="form-group">
                          <label>Choose City</label>
                          <select required title="Choose City" class="form-control" (change)="setCountryId($event.target.value)">
                            <option value="" disabled>Select City</option>
                            <option *ngFor="let city of parameter.countries" [selected]="city.id == parameter.city_id" value="{{city.id}}">{{city.name}}</option>
                          </select>
                        </div>
                  </div>
                  <div class="col-6">
                      <div class="form-group">
                          <label>Choose Locality</label>
                          <select required title="Choose Locality" class="form-control" (change)="setStateId($event.target.value)">
                            <option value="" disabled>Select State</option>
                            <option *ngFor="let locality of parameter.states" [selected]="locality.id == parameter.locality_id" value="{{locality.id}}">{{locality.name}}</option>
                          </select>
                        </div>
                  </div>
                </div>
   -->
              <div class="form-group">
                <select required title="Choose City" class="form-control" (change)="propertySearch($event.target.value)">
                  <option value="" disabled>Select City</option>
                  <option *ngFor="let city of parameter.cities" [selected]="city.id == parameter.city_id" value="{{city.id}}">{{city.name}}</option>
                </select>
              </div>
  
              <table class="table" *ngIf="parameter?.items?.length!=0">
                <tbody>
                  <tr *ngFor="let item of parameter.items; let i=index">
                    <td>
                        <div class="n-avail-profile">
                          <img [src]="item.image" onerror='src="assets/img/house.png"' alt="img">
                          <div class="n-avail-info">
                              <p class="p12">{{item.building.name}}</p>
                              <p class="p10 marginB0">{{item.building.address ? item.building.address : 'NA'}}</p>
                              <p class="p10">{{item.configuration.name}}</p>
                          </div>
                        </div>
                    </td>
                    <td>
                        <label class="cust-check-bx float-right">
                        <input type="radio" name="bank_id1" (click)="addLeadInterestedProperty(item.id)">
                        <span class="checkmark"></span>
                        </label>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- <div class="row" *ngIf="parameter?.items?.length!=0">
                <div class="col-12 center btn-cont">
                  <label style="display: block;">&nbsp;</label>
                  <button (click)="getInhouseUsers()" class="btn btn-primary">Add</button>
                </div>
              </div> -->
              <div *ngIf="parameter?.items?.length==0">
                <p class="show-not-found">No property found for selected filters.</p>
              </div>
          </div>
      </div>
    </div>
</div>
  
<!-- deal finalize modal -->
<div class="modal animated" id="dealFinalize">
  <div class="modal-dialog fadeIndown">
    <div class="modal-content">
      <div class="modal-header">
          <button style="display: none;" type="button" class="close" data-dismiss="modal" #modalClose>&times;</button>
          <button type="button" class="close" (click)="closeModal()">&times;</button>
      </div>

      <form class="form-horizontal form-model0P" role="form" ngNativeValidate #addForm="ngForm" (ngSubmit)="attachProperty(); addForm.reset()">
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <div class="form-group-2">
                  <label for="token_amount">Amount to be paid by user</label>
                  <div class="form-group">
                  <input id="token_amount" #token_amount=ngModel autocomplete="off" name="token_amount" [(ngModel)]="model.token_amount" type="number" class="form-control" required>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group-2">
                  <label>Commission</label>
                  <div class="form-group">
                    <input autocomplete="off" type="number" name="commision" [(ngModel)]="model.commision" class="form-control" required>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group-2">
                  <label>Total Amount</label>
                  <div class="form-group">
                    <input autocomplete="off" name="total_amount" [(ngModel)]="model.total_amount" type="number" class="form-control" required>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="spacer40"></div>
            </div>
            <div class="col-12">
              <div class="btn-cont text-right">
                  <button style="width: 100%;" type="submit" class="btn btn-primary">Finalize Deal</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- show interested_properties -->
<div class="modal" id="view-all">
  <div class="modal-dialog  modal-lg">
     <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <h3>Interested Properties</h3>
          <hr>
          <div class="scrollbox fav-prop">
            <div class="row">
              <div class="col-lg-6 col-md-12 col-sm-12 col-12" *ngFor="let x of parameter.interested_properties">
                  <div class="project-des-bx white-bg-2">
                      <div class="price">{{x.property.min_price|thousand}}+</div>
                    <div class="fig-block">
                        <img [src]="x.property.image" onerror='src="assets/img/bank.png"' alt="img">
                    </div>
                    <div class="project-des-content">
                        <small>{{x.property.building.developer.name}}</small>
                        <h5>{{x.property.building.name.slice(0, 20)}}</h5>
                        <p class="p12">{{x.property.building.address.slice(0, 55)}}</p>
                        <p class="p13" *ngIf="x && x.property">{{x.property.configuration.name}}</p>
                        <p class="p13" *ngIf="!x && !x.property">NA</p>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
     </div>
  </div>
</div>