<!-- <div id="sidebar-collapse">
    <ul class="side-menu">
        <li class="logo" routerLinkActive="active">
            <img src="../../assets/img/logo.png" width="60" height="60">
        </li>
  
        <li routerLinkActive="active">
            <a routerLink="/dashboard" routerLinkActive="active">
                <i class="sidebar-item-icon fa fa-home"></i> 
                <span class="nav-label">Dashboard</span>
            </a>
        </li>

        <li>
            <a routerLink="view-users"><i class="sidebar-item-icon fa fa-users"></i> <span class="nav-label">Users</span></a>
        </li>
  
        <li>
            <a routerLink="view-category"><i class="sidebar-item-icon fa fa-bars"></i> <span class="nav-label">Categories</span></a>
        </li>
  
        <li>
            <a routerLink="change-password"><i class="sidebar-item-icon ti-pencil"></i> <span class="nav-label">Change Password</span></a>
        </li>
    
        <li>
            <a (click)="onLoggedout()"><i class="sidebar-item-icon ti-power-off"></i><span class="nav-label">Logout</span></a>
        </li>

      <li class="dropdown dropdown-user"><a class="nav-link dropdown-toggle link" data-toggle="dropdown"><i class="sidebar-item-icon fa fa-cog"></i><span>Settings</span></a>
        <ul class="dropdown-menu dropdown-menu-right animated fadeInRight">
          <a class="dropdown-item" href="profile.html"><i class="ti-user"></i>Profile</a>
          <a class="dropdown-item" href="javascript:;"><i class="ti-support"></i>Support</a>
          <li class="dropdown-divider"></li>
          <a class="dropdown-item" href="login.html"><i class="ti-power-off"></i>Logout</a>
        </ul>
      </li>

      <li><a (click)="addExpandClass('settings')"><i class="sidebar-item-icon fa fa-cog"></i><span class="nav-label">Settings</span></a>
      <div class="nested-menu">
          <li class="nested" [class.expand]="showMenu === 'settings'">
              <ul class="submenu">
                  <li>
                      <a (click)="onLoggedout()"><i class="fa fa-sign-out"></i><span style="margin-left: 5px;">Logout</span></a>
                  </li>
              </ul>
          </li>
      </div>
      </li>
  </ul>
</div> -->





