/* .logo{
    text-align: center;
    padding: 20px;
}
.sidebar_nav_bc{
    background-color: rgb(46, 59, 75);
}
.admin_name{
    color: #fff;
}
nav{
    background: #222;
}
nav ul{
    background-color: #193952;
}
nav ul li a span{
    font-size: 15px;
}
nav .nav-header{
    text-align: center; background: #0d2d48 !important; padding: 0px; padding-top: 10px;
}
nav .nav-header span img{
    width: 60%;
}
.nested-menu .list-group-item {
    cursor: pointer; background-color: transparent; border: none; color: #b4bcc8;
}
.nested-menu .list-group-item .drop-down-nav{
    padding-left: 15px; font-family: "Poppins"; font-size: 15px; line-height: 1.42857143; color: #b4bcc8;
}
.nested-menu .list-group-item .drop-down-nav:hover{
    color: #fff;
}
.nested-menu .list-group-item:hover{
    cursor: pointer; border: none; background-color: #45627f; color: #fff; transition: color .15s ease-in-out;
}
.nested-menu .nested {
    list-style-type: none;
}
.nested-menu ul.submenu {
    display: none; height: 0; background-color: #45627f; transition: color .15s ease-in-out;
}
.nested-menu .expand ul.submenu {
    display: block; list-style-type: none; height: auto; background-color: #45627f; transition: color .15s ease-in-out;
}       
.nested-menu .expand ul.submenu li a {
    color: #FFF; padding: 10px; display: block; 
}
.nav > li > a {
    color: #fff;
} */