.filters{
    padding: 30px 20px 10px 20px;
}
.filters2{
    padding: 0px 20px 60px 20px;
}
button.btn.btn-primary-new.export-btn {
    margin-bottom: 10px;
}
.main-table table{
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: left;
  }

  /* tbody tr:nth-child(odd){
    background-color: #00B96F;
    color: black;
  } */
  th {
    background-color: #00B96F;
    color: black;
  }
  

table tr > td:first-child {
    background-color: #ff0000; 
}