.text-bold {
    font-weight: 600;
    background-color: #F9F9F9;
}
.main-table{
    height: 700px;
  }
    table.table-striped.quick-table th {
      width: 190px;
    }
    table.table-striped.quick-table {
      table-layout: fixed;
      width:100%;
    }
    /* table.table-striped.quick-table thead tr th:nth-child(1), 
    table.table-striped.quick-table thead tr th:nth-child(2), */
    /* table.table-striped.quick-table thead tr th:nth-child(3) */
    table.table-striped.quick-table thead tr th
    {
      position:sticky !important;
      left:0 !important;
      top: 0 !important;
      z-index:1 !important;
      background-color: #00B96F;
      color: #fff;
    }
    table.table-striped.quick-table th:first-child {
      z-index:2;
    }

    .box {
      border: 1px solid black;
      padding: 20px;
  }
  .hvrbox {
    position: relative;
  }
 
  .hvrbox .hvrbox-layer_bottom {
    display: block;
  }
  .hvrbox .hvrbox-layer_top {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: black;
  }
  .hvrbox:hover .hvrbox-layer_top,
  .hvrbox.active .hvrbox-layer_top {
    opacity: 1;
  }
  .hvrbox .hvrbox-text {
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  /* .hvrbox .hvrbox-text_mobile {
    font-size: 15px;
    border-top: 1px solid rgb(179, 179, 179); 
    border-top: 1px solid rgba(179, 179, 179, 0.7);
    margin-top: 5px;
    padding-top: 2px;
    display: none;
  }
  .hvrbox.active .hvrbox-text_mobile {
    display: block;
  } */
  /* .row.line {
    margin-left: 12%;
} */

@media only screen and (min-width: 1200px) {
  .row.line {
    margin-top: 12px;
    margin-left: 90px;
}
}