<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <p class="p16">{{'viewProjects.label' | translate}}</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="offset-md-4"></div>
    <div class="col-md-8 col-12">
      <div class="cust-tabs-2">
        <ul class="nav nav-tabs float-right">
          <li class="nav-item">
            <a [ngClass]="{'active':parameter.dash_flag == 1}" (click)="changeFlag(1)" class="nav-link"
              data-toggle="tab" href="#tw">{{'filters.time.thisWeek' | translate}}</a>
          </li>
          <li class="nav-item">
            <a [ngClass]="{'active':parameter.dash_flag == 2}" (click)="changeFlag(2)" class="nav-link"
              data-toggle="tab" href="#tm">{{'filters.time.thisMonth' | translate}}</a>
          </li>
          <li class="nav-item">
            <a [ngClass]="{'active':parameter.dash_flag == 3}" (click)="changeFlag(3)" class="nav-link"
              data-toggle="tab" href="#lm">{{'filters.time.lastMonth' | translate}}</a>
          </li>
          <li class="nav-item">
            <a [ngClass]="{'active':parameter.dash_flag == 4}" (click)="changeFlag(4)" class="nav-link"
              data-toggle="tab" href="#lt">{{'filters.time.lifetime' | translate}}</a>
          </li>
          <li class="nav-item">
            <a [ngClass]="{'active':parameter.dash_flag == 5}" (click)="changeFlag(5)" class="nav-link"
              data-toggle="tab" href="#cust">{{'filters.time.custom.label' | translate}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div *ngIf="parameter.dash_flag == 5" class="row">
        <div class="offset-lg-7"></div>
        <div class="col-lg-2 col-md-2 col-sm-5 col-5">
          <div class="form-group marginB0">
            <label>{{'filters.time.custom.from' | translate}}</label>
            <p-calendar [locale]="locale" showIcon="true" [(ngModel)]="parameter.min" [maxDate]="today"
              showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2040"></p-calendar>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-5 col-5">
          <div class="form-group marginB0">
            <label>{{'filters.time.custom.to' | translate}}</label>
            <p-calendar [locale]="locale" showIcon="true" [(ngModel)]="parameter.max" [minDate]="parameter.min"
              [maxDate]="today" showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true"
              yearRange="2000:2040"></p-calendar>
          </div>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-2 col-6">
          <div class="form-group btn-cont">
            <label class="addMT3">&nbsp;</label>
            <button class="btn btn-calender" href="javascript://" (click)="getListing()"
              [disabled]="!parameter.min || !parameter.max">{{'filters.time.custom.applyBtn' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <label>{{'filters.location.country' | translate}}</label>
        <select class="form-control" (change)="onCountryChange($event.target.value)" [(ngModel)]="parameter.country_id">
          <option value="0">{{'filters.location.allOption' | translate}}</option>
          <option *ngFor="let item of location.countries" [value]="item.id">{{item.name}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label>{{'filters.location.state' | translate}}</label>
        <select class="form-control" (change)="onStateChange($event.target.value)" [(ngModel)]="parameter.state_id">
          <option value="0">{{'filters.location.allOption' | translate}}</option>
          <option *ngFor="let item of location.states" [value]="item.id">{{item.name}}</option>
        </select>
      </div>
    </div>
    <!-- <div class="col-md-2">
      <div class="form-group">
        <label>{{'filters.location.city' | translate}}</label>
        <select class="form-control" (change)="onCityChange($event.target.value)">
          <option value="0">{{'filters.location.allOption' | translate}}</option>
          <option *ngFor="let item of location.cities" [value]="item.id">{{item.name}}</option>
        </select>
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group">
        <label>{{'filters.location.locality' | translate}}</label>
        <select class="form-control" (change)="onLocalityChange($event.target.value)">
          <option value="0">{{'filters.location.allOption' | translate}}</option>
          <option *ngFor="let item of location.localities" [value]="item.id">{{item.name}}</option>
        </select>
      </div>
    </div> -->

    <div class="col-lg-2 col-md-2">
      <div class="form-group">
        <label>{{'filters.location.city' | translate}}</label>
        <ng-multiselect-dropdown class="col-3 section-section2 multi-select" [placeholder]="''" name="selectedCities"
        [data]="location.cities" [(ngModel)]="selectedLocation.selectedCities" [settings]="multiDropdownSettings"
        (onDeSelect)="onCityChange()" (onSelect)="onCityChange()"
        (onSelectAll)="onCityChangeAll($event)" (onDeSelectAll)="onCityChangeAll($event)">
      </ng-multiselect-dropdown>
      </div>
    </div>

    <div class="col-lg-2 col-md-2">
      <div class="form-group">
        <label>{{'filters.location.locality' | translate}}</label>
        <ng-multiselect-dropdown class="col-3 section-section2 multi-select" [placeholder]="''" name="selectedLocalities"
        [data]="location.localities" [(ngModel)]="selectedLocation.selectedLocalities" [settings]="multiDropdownSettings"
        >
     </ng-multiselect-dropdown>
      </div>
    </div>


    <div class="col-md-2">
      <div class="form-group btn-cont">
        <label style="display: block; margin-top: 3px;">&nbsp;</label>
        <button type="button" (click)="getListing()" class="btn btn-primary-new width100P">{{'filters.location.applyBtn'
          | translate}}</button>
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group btn-cont">
        <label style="display: block; margin-top: 3px;">&nbsp;</label>
        <button type="button" (click)="resetFilters()"
          class="btn btn-primary-new width100P">{{'filters.location.resetBtn' | translate}}</button>
      </div>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-md-4">
      <div class="form-group">
      <p class="p16">Manage Projects</p>
      </div>
    </div>
    <div class="col-md-2">
  <div class="form-group">
  <label>Country</label>
    <select class="form-control" (change)="onCountryChange($event.target.value)">
      <option value="0">All</option>
      <option *ngFor="let item of location.countries" [value]="item.id">{{item.name}}</option>
    </select>
  </div>
  </div>
  <div class="col-md-2">
  <div class="form-group">
  <label>State</label>
    <select class="form-control" (change)="onStateChange($event.target.value)">
      <option value="0">All</option>
      <option *ngFor="let item of location.states" [value]="item.id">{{item.name}}</option>
    </select>
  </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
    <label>City</label>
      <select class="form-control" (change)="onCityChange($event.target.value)">
        <option value="0">All</option>
        <option *ngFor="let item of location.cities" [value]="item.id">{{item.name}}</option>
      </select>
    </div>
  </div>

  <div class="col-md-2">
  <div class="form-group">
  <label>Locality</label>
  <select class="form-control" (change)="onLocalityChange($event.target.value)">
      <option value="0">All</option>
      <option *ngFor="let item of location.localities" [value]="item.id">{{item.name}}</option>
    </select>
  </div>
  </div>
  </div> -->

  <!-- <div class="row">
        <div class="col-md-12">
            <div class="cust-tabs-2">
              <ul class="nav nav-tabs float-right">
                  <li class="nav-item">
                    <a [ngClass]="{'active':parameter.dash_flag == 1}" (click)="parameter.dash_flag=1;getListing()" class="nav-link" data-toggle="tab" href="#tw">This Week</a>
                  </li>
                  <li class="nav-item">
                    <a [ngClass]="{'active':parameter.dash_flag == 2}" (click)="parameter.dash_flag=2;getListing()" class="nav-link" data-toggle="tab" href="#tm">This Month</a>
                  </li>
                  <li class="nav-item">
                    <a [ngClass]="{'active':parameter.dash_flag == 3}" (click)="parameter.dash_flag=3;getListing()" class="nav-link" data-toggle="tab" href="#lm">Last Month</a>
                  </li>
                  <li class="nav-item">
                    <a [ngClass]="{'active':parameter.dash_flag == 4}" (click)="parameter.dash_flag=4;getListing()" class="nav-link" data-toggle="tab" href="#lt">Lifetime</a>
                  </li>
                  <li class="nav-item">
                    <a [ngClass]="{'active':parameter.dash_flag == 5}" (click)="parameter.dash_flag=5" class="nav-link" data-toggle="tab" href="#cust">Custom</a>
                  </li>
              </ul>
            </div>
        </div>
        <div class="col-12">
            <div *ngIf="parameter.dash_flag == 5" class="pull-right row">
                <div class="col-lg-4 col-md-4 col-sm-5 col-5">
                <div class="form-group marginB0">
                    <label>From:</label>
                    <p-calendar showIcon="true" [(ngModel)]="parameter.min" [maxDate]="today" showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2040"></p-calendar>
                </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-5 col-5">
                <div class="form-group marginB0">
                    <label>To:</label>
                    <p-calendar showIcon="true" [(ngModel)]="parameter.max" [minDate]="parameter.min" [maxDate]="today" showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2040"></p-calendar>
                </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-2 col-6">
                <div class="form-group btn-cont">
                    <label class="addMT3">&nbsp;</label>
                    <button class="btn btn-calender" href="javascript://" (click)="getListing()"
                [disabled]="!parameter.min || !parameter.max">Apply</button>
                </div>
                </div>
            </div>
        </div>
      </div> -->

  <div class="cust-tabs">
    <div class="row flex-wrap-reverse">

      <!-- <div class="col-xl-10 col-lg-12 col-md-12 col-sm-12 col-12">
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a [ngClass]="{'active':parameter.flag==3}" (click)="changeFlag(3)" class="nav-link" >Approved</a>
            </li>
            <li class="nav-item">
              <a [ngClass]="{'active':parameter.flag==2}" (click)="changeFlag(2)" class="nav-link" >Unapproved</a>
            </li>
            <li class="nav-item">
              <a [ngClass]="{'active':parameter.flag==4}" (click)="changeFlag(4)" class="nav-link" >Pending Review</a>
            </li>
            <li class="nav-item">
              <a [ngClass]="{'active':parameter.flag==1}" (click)="changeFlag(1)" class="nav-link" >In Draft</a>
            </li>
        </ul>
        </div> -->

      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="add-new pull-right">
          <a *ngIf="admin?.admin_acl['Project Management']?.can_create==1 || admin?.permissions?.can_data_collector==1"
            class="btn" href="javascript://" routerLink="/dashboard/projects/add-project">{{'viewProjects.addBtn' |
            translate}}</a>
        </div>
        <div class="export-project pull-right mr-4">
          <a class="btn" href="javascript://" (click)="getExportlisting()">{{'table.exportDataBtn' | translate}}</a>
        </div>
        <div class="export-project pull-right mr-4">
          <a  class="btn" href="javascript://" data-toggle="modal" data-target="#advancedSearch">
            {{'advanceSearch.advancedSearch' | translate}}</a>
        </div>
      </div>
    </div>
    <div class="tab-content white-bg">
      <div class="tab-pane active">
        <div class="tabel-section">
          <div class="table-responsive">
            <table class="table table-striped table-align-left">
              <tr>
                <th style="vertical-align:top;width:6%">
                  <div class="d-flex table-search">
                    <label>{{'table.th.image' | translate}}</label>
                  </div>
                </th>
                <th style="width:15%">
                  <div class="table-search">
                    <label>{{'table.th.nameOfBuilding' | translate}}</label>
                    <div class="searh-3">
                      <input class="width100px" type="text" [(ngModel)]="parameter.keyword"
                        (keyup.enter)="getListing()">
                      <button *ngIf="parameter.keyword" (click)="getListing()"><i class="fa fa-search"></i></button>
                    </div>
                  </div>
                </th>
                <th style="width:14%">
                  <div class="table-search">
                    <label>{{'table.th.developer' | translate}}</label>
                    <div class="searh-3">
                      <input class="width100px" type="text" [(ngModel)]="parameter.email" (keyup.enter)="getListing()">
                      <button *ngIf="parameter.email" (click)="getListing()"><i class="fa fa-search"></i></button>
                    </div>
                  </div>
                </th>
                <th style="width:15%">
                  <div class="table-search">
                    <label>{{'table.th.agency' | translate}}</label>
                    <div class="searh-3">
                      <input class="width100px" type="text" [(ngModel)]="parameter.agency_name"
                        (keyup.enter)="getListing()">
                      <button *ngIf="parameter.agency_name" (click)="getListing()"><i class="fa fa-search"></i></button>
                    </div>
                  </div>
                </th>
                <th style="width:15%">
                  <div class="table-search">
                    <label>{{'table.th.legalEntity' | translate}}</label>
                  </div>
                </th>
                <th style="width:15%">
                  <div class="table-search">
                    <label>{{'table.th.contributor' | translate}}</label>
                  </div>
                </th>
                <th style="width:15%">
                  <div class="table-search">
                    <label>{{'table.th.managedBy' | translate}}</label>
                  </div>
                </th>
                <th style="width:10%">
                  <div class="table-search">
                    <label>{{'table.th.possesion.label' | translate}}</label>
                    <select [(ngModel)]="parameter.possession_filter" (change)="getListing()">
                      <option value="0">{{'table.th.possesion.all' | translate}}</option>
                      <option value="{{apiConstant.possessionStatus.sale}}">{{'table.th.possesion.sale' | translate}}
                      </option>
                      <option value="{{apiConstant.possessionStatus.preSale}}">
                        {{'table.th.possesion.presale' | translate}}</option>
                    </select>
                  </div>
                </th>
                <th style="vertical-align:top;width:5%">
                  <div class="d-flex table-search">
                    <span><label>{{'table.th.properties' | translate}}</label></span>
                    <a (click)="sortData(parameter.property_sort==2?1:2)" href="javascript://"><img
                        [ngClass]="{'upsidedown':parameter.property_sort==2}" src="assets/img/top-arrow.png"
                        alt="img"></a>
                  </div>
                </th>
                <th style="vertical-align:top;width:5%">
                  <div class="d-flex table-search">
                    <span><label>{{'table.th.propertiesForRent' | translate}}</label></span>
                  </div>
                </th>
                <th style="vertical-align:top;width:5%">
                  <div class="d-flex table-search">
                    <span><label>{{'table.th.propertiesForSale' | translate}}</label></span>
                  </div>
                </th>
                <th style="vertical-align:top;width:5%">
                  <div class="d-flex table-search">
                    <span><label>{{'table.th.avgPrice' | translate}}</label></span>
                    <a (click)="sortData(parameter.property_sort==2?1:2)" href="javascript://"><img
                        [ngClass]="{'upsidedown':parameter.property_sort==2}" src="assets/img/top-arrow.png"
                        alt="img"></a>
                  </div>
                </th>
                <th style="vertical-align:top;width:5%">
                  <div class="d-flex table-search">
                    <span><label>{{'table.th.avgCarpetArea' | translate}}</label></span>
                    <!-- <a (click)="sortData(parameter.property_sort==2?1:2)" href="javascript://"><img
                        [ngClass]="{'upsidedown':parameter.property_sort==2}" src="assets/img/top-arrow.png"
                        alt="img"></a> -->
                  </div>
                </th>
                <th style="vertical-align:top;width:5%">
                  <div class="d-flex table-search"><span><label>{{'table.th.document' | translate}}</label></span></div>
                </th>
                <th style="width:10%">
                  <div class="table-search">
                    <label>{{'table.th.projectStatus.label' | translate}}</label>
                    <select [(ngModel)]="parameter.project_status_filter" (change)="getListing()">
                      <option value="{{apiConstant.projectStatus.all}}">{{'table.th.projectStatus.all' | translate}}</option>
                      <option value="{{apiConstant.projectStatus.without_information}}">{{'table.th.projectStatus.withoutInformation' | translate}}</option>
                      <option value="{{apiConstant.projectStatus.basic_information}}">{{'table.th.projectStatus.basicInformation' | translate}}</option>
                      <option value="{{apiConstant.projectStatus.semicompleted}}">{{'table.th.projectStatus.semicompleted' | translate}}</option>
                      <option value="{{apiConstant.projectStatus.completed}}">{{'table.th.projectStatus.completed' | translate}}</option>
                    </select>
                  </div>
                </th>
                <th style="vertical-align:top;width:100px;width:20%">
                  <div class="table-search">
                    <label>{{'table.th.actions.label' | translate}}</label>
                    <select [(ngModel)]="parameter.action_filter" (change)="getListing()">
                      <option value="0">{{'table.th.actions.all' | translate}}</option>
                      <!-- <option value="2">Pending</option> -->
                      <option value="3">{{'table.th.actions.approved' | translate}}</option>
                      <option value="4">{{'table.th.actions.unapproved' | translate}}</option>
                      <option value="1">{{'table.th.actions.blocked' | translate}}</option>
                      <option value="2">{{'table.th.actions.unblocked' | translate}}</option>
                    </select>
                  </div>
                </th>
              </tr>

              <tr
                *ngFor="let p of items | paginate: { itemsPerPage: parameter.itemsPerPage, currentPage: parameter.page, totalItems: total }; let i=index">
                <td>
                  <img *ngIf="p.main_image" [defaultImage]="p.main_image| img:'thumb'" [lazyLoad]="p.main_image"
                    class="rounded-circle" alt="img">
                  <img *ngIf="!p.main_image" class="rounded-circle" src="assets/img/default_img.png" alt="img">
                </td>
                <td class="cursor-pointer" title="{{'table.title.clickToViewDetails' | translate}}"
                  routerLink="/dashboard/projects/details/{{p.id}}">
                  <strong>{{p?.name}}</strong>
                </td>
                <td [ngClass]="{'green-color cursor-pointer': p?.developer?.name}" (click)="viewDeveloper(p)">
                  <span>{{p?.developer?.name ? p?.developer?.name : ('table.tr.td.NA' | translate)}}</span>
                </td>
                <td [ngClass]="{'green-color cursor-pointer': p?.agency?.name}" (click)="viewAgency(p)">
                  <span>{{p?.agency?.name ? p?.agency?.name : ('table.tr.td.NA' | translate)}}</span>
                </td>
                <!-- (click)="viewLegalEntity(p)" -->
                <td [ngClass]="{'green-color cursor-pointer': p?.legal_entity_info?.length > 0 }" >
                  <span (click)="this.openLegalEnityListModel(p.legal_entity_info)" *ngIf="p?.legal_entity_info?.length > 0">
                    {{this.getLegalEntityInfo(p.legal_entity_info)}}</span>
                    <span *ngIf="p?.legal_entity_info?.length == 0">{{'table.tr.td.NA' | translate}}</span>
                </td>
                 <!-- (click)="viewContributor(p)" -->
                 <td [ngClass]="{'green-color cursor-pointer': p?.building_contributors?.length > 0 }" >
                  <span (click)="this.openContributorListModel(p.building_contributors)" *ngIf="p?.legal_entity_info?.length > 0">
                    {{this.getBuildingContributorsInfo(p.building_contributors)}}</span>
                    <span *ngIf="p?.building_contributors?.length == 0">{{'table.tr.td.NA' | translate}}</span>
                </td>
                <td [ngClass]="{'green-color cursor-pointer': p?.manager?.id || p?.company?.id}"
                  (click)="viewCompanyManager(p)">
                  <span>{{p?.manager?.id ? p?.manager?.name : p?.company?.id ? p?.company?.name : ('table.tr.td.NA' |
                    translate)}}</span>
                  <div class="clearfix"></div>
                  <small>
                    {{p?.manager?.id ? ('table.tr.td.manager' | translate) : p?.company?.id ? ('table.tr.td.company' |
                    translate) : ''}}
                  </small>
                </td>
                <td>
                  <span>{{p?.possession_status_id == apiConstant.possessionStatus.sale ? ('table.tr.td.sale' |
                    translate) : ('table.tr.td.presale' | translate)}}</span>
                </td>
                <td>
                  <a title="{{'table.title.clickToViewProperties' | translate}}"
                    routerLink="/dashboard/properties/view-properties/{{p.name}}/0"><span
                      class="green-color">{{p?.properties_count_all | numberWithCommas}}</span></a>
                </td>
                <td>
                  <a title="{{'table.title.clickToViewProperties' | translate}}"
                    routerLink="/dashboard/properties/view-properties/{{p.name}}/2"><span
                      class="green-color">{{p?.rent_count_all | numberWithCommas}}</span></a>
                </td>
                <td>
                  <a title="{{'table.title.clickToViewProperties' | translate}}"
                    routerLink="/dashboard/properties/view-properties/{{p.name}}/1"><span
                      class="green-color">{{p?.sale_count_all | numberWithCommas}}</span></a>
                </td>
                <td><span>${{ p.avg_price ? (p.avg_price | number : '1.2-2') : 0.00}}</span></td>
                <td><span>{{ p.avg_carpet_area ? (p.avg_carpet_area | number : '1.2-2') : 0.00}}</span></td>
                <td>
                  <span *ngIf="!p?.document">{{'table.tr.td.NA' | translate}}</span>
                  <button *ngIf="p?.document" [disabled]="admin?.admin_acl['Project Management']?.can_read==0"
                    (click)="viewDocument(p?.document)" class="action-icon">
                    <img src="assets/img/eye-icon.png" alt="img"></button>
                </td>
                <td>
                  <span>{{(p?.is_completed == apiConstant.projectStatus.without_information) ? ('table.th.projectStatus.withoutInformation' | translate) : 
                    (p?.is_completed == apiConstant.projectStatus.basic_information) ? ('table.th.projectStatus.basicInformation' | translate) :
                    (p?.is_completed == apiConstant.projectStatus.semicompleted) ? ('table.th.projectStatus.semicompleted' | translate) : 
                    (p?.is_completed == apiConstant.projectStatus.completed) ? ('table.th.projectStatus.completed' | translate) :''}}</span>
                </td>
                <td>
                  <div class="table-actions">
                    <!-- <div class="message"> -->
                    <button [disabled]="admin?.admin_acl['Project Management']?.can_update==0"
                      routerLink="/dashboard/projects/edit-project/{{p.id}}"
                      title="{{'table.title.editDetails' | translate}}" class="action-icon"><img
                        src="assets/img/edit.png" alt="img"></button>
                    <button [disabled]="admin?.admin_acl['Project Management']?.can_delete==0" *ngIf="!p.is_blocked"
                      (click)="blockUnblock(p, 1);" class="action-icon" title="{{'table.title.block' | translate}}"><img
                        src="assets/img/block.png" alt="img"></button>
                    <button [disabled]="admin?.admin_acl['Project Management']?.can_delete==0"
                      *ngIf="p.is_blocked == true" (click)="blockUnblock(p, 0);" class="action-icon unblock-bg"
                      title="{{'table.title.unblock' | translate}}"><img src="assets/img/unblock.png"
                        alt="img"></button>
                    <!-- unapprove => when status=2(pending), 1(approved)-->
                    <a style="display:none;" #modalOpen data-toggle="modal" data-target="#addNote"></a>
                    <button (click)="openCancellationModal(p, i)"
                      [disabled]="admin?.admin_acl['Project Management']?.can_update==0"
                      *ngIf="p.status == 1 || p.status==2" class="action-icon"
                      title="{{'table.title.unapprove' | translate}}"><img src="assets/img/ic_disapprove.png"
                        alt="img"></button>
                    <!-- approve => when status=2(pending), 4(rejected)-->
                    <button [disabled]="admin?.admin_acl['Project Management']?.can_update==0"
                      *ngIf="p.status == 2 || p.status == 4" (click)="approveProject(p, 1);" class="action-icon"
                      title="{{'table.title.approve' | translate}}"><img src="assets/img/tick.png" alt="img"></button>
                    <!-- delete project -->
                    <button [disabled]="admin?.admin_acl['Project Management']?.can_purge==0"
                      (click)="deletePopup(p, i);" class="action-icon" title="{{'table.title.delete' | translate}}"><img
                        src="assets/img/ic_delete.png" alt="img"></button>
                    <!-- </div> -->
                  </div>
                </td>
              </tr>
              <!-- <tr *ngIf="total == 0">
                          <td colspan="10">
                              <img src="assets/img/404-error.png">
                          </td>
                        </tr> -->

            </table>
            <div class="padding20 center" *ngIf="total == 0">
              <img src="assets/img/404-error.png">
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane container fade" id="seller">{{'viewProjects.sellerTabOn' | translate}}</div>
    </div>
  </div>

  <div class="btn-cont marginT15" *ngIf="total">
    <div class="row">
      <div class="col-6">
        <div class="title-group">
          <p>{{'table.pagination.showing' | translate}} {{items?.length}} {{'table.pagination.outof' | translate}}
            {{total}}</p>
        </div>
      </div>
      <div class="col-6 text-right">
        <pagination-controls class="my-pagination" (pageChange)="getPage($event)"></pagination-controls>
      </div>
    </div>
  </div>
</div>



<div class="modal animated" id="addNote">
  <div class="modal-dialog fadeIndown">
    <div class="modal-content">
      <div class="modal-header modal-header-new">
        <h4 class="modal-title">{{'viewProjects.addReason' | translate}}</h4>
        <button style="display: none;" type="button" class="close" data-dismiss="modal" #modalClose>&times;</button>
        <button type="button" class="close" (click)="closeModal()">&times;</button>
      </div>

      <form class="form-horizontal form-model0P form-model-newP" role="form" ngNativeValidate #addForm="ngForm"
        (ngSubmit)="rejectProject(4); addForm.reset();">
        <div class="modal-body modal-body-new">
          <div class="row">
            <div class="col-12">
              <div class="form-group-2">
                <div class="form-group">
                  <textarea rows="4" required class="form-control note" name="reason" [(ngModel)]="reason"></textarea>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="btn-cont text-right">
                <button type="submit" [disabled]="!addForm.valid" class="btn btn-primary">{{'viewProjects.addReasonBtn'
                  | translate}}</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal animated" id="advancedSearch">
  <div class="modal-dialog fadeIndown">
    <div class="modal-content" style="
    border-top-style: solid;
    border-top-width: thick;
    border-top-color: rgb(0, 185, 111);
    padding: 10px; border-radius: 5px;
    box-shadow: 0px -2px 0px 7px rgb(105,105,105);">
      <div class="modal-header modal-header-new" style="background-color: white;">
        <h4 class="modal-title">{{'advanceSearch.advancedSearch' | translate}}</h4>
        <button style="display: none;" type="button" class="close" data-dismiss="modal" #modalClose>&times;</button>
        <button type="button" class="close" (click)="close()">&times;</button>
      </div>

      <form class="form-horizontal form-model0P form-model-newP" #addFilterForm="ngForm">
        <h4 style="color: rgb(48, 46, 46); font-size: 18px;">{{'advanceSearch.rangePrice' | translate}}</h4>
        <div class="row">
          <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="Min" name="min_price" [(ngModel)]="parameter.min_price">
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="Max" name="max_price" [(ngModel)]="parameter.max_price">
          </div>
        </div>
       
        <h4 style="color: rgb(48, 46, 46); font-size: 18px;">{{'advanceSearch.rangeCarpetArea' | translate}}</h4>
        <div class="row">
          <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="Min" name="min_carpet_area"
              [(ngModel)]="parameter.min_carpet_area">
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="Max" name="max_carpet_area"
              [(ngModel)]="parameter.max_carpet_area">
          </div>
        </div>

        <!-- <div class="btn-cont text-right"> -->

           <button type="submit" class="btn btn-success" (click)="searchProject()"
        style="border-left-color: rgb(0, 185, 111);
          border-right-color: rgb(0, 185, 111);">{{'advanceSearch.apply' | translate}}</button>&nbsp;&nbsp;

          <button type="button" class="btn btn-danger" (click)="close()"
            style="background-color: rgb(238, 123, 124);">{{'advanceSearch.cancel' | translate}}</button>
        <!-- </div> -->

      </form>
    </div>
  </div>
</div>

<a #legalEnityListModelOpen class="btn-third btn btn-block" data-target="#legal-entity-list" data-toggle="modal"></a>
<div class="modal" id="legal-entity-list">
  <div class="modal-dialog">
    <div class="modal-content notary-avail">
      <div class="modal-header popup-header">
        <h4 class="modal-title">{{'table.th.legalEntity' | translate}}</h4>
        <button type="button" class="close" data-dismiss="modal" #legalEnityListModelClose>&times;</button>
      </div>
      <div class="modal-body">
        <!-- <div class="row">
          <div class="col-md-8 col-6">
            <input style="max-width:200px" [(ngModel)]="name" class="form-control" type="text" name="keyword"
              placeholder="{{'addForm.placeholder.search' | translate}}">
          </div>
          <div class="col-md-4 col-5 btn-cont">
            <a class="btn btn-primary pull-right" href="javascript://"
              (click)="selectLegalEntity(name, 2)">{{'addForm.search' | translate}}</a>
          </div>
        </div> -->
        <div class="spacer40"></div>
        <div class="modal-table-data" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
          <div class="table-scroll">
            <table class="table">
              <tr *ngFor="let item of this.legalEntities">
                <!-- <td *ngIf="item.is_blocked!=1"> -->
                <td>
                  <div class="n-avail-profile">
                    <img [src]="item?.legal_entity?.image| img:'thumb'" onerror='src="assets/img/default_img.png"' alt="img">
                    <div class="n-avail-info" style="cursor: pointer;" (click)="this.navigateToLegalEntity(item)">
                      <p class="p12">{{item?.legal_entity?.comm_name}}</p>
                      <p class="p10">{{'addForm.phone' | translate}} : {{item?.legal_entity?.dial_code ? item?.legal_entity?.dial_code : constant.dial_code}}-{{item?.legal_entity?.phone}}</p>
                    </div>
                  </div>
                </td>
                <!-- <td *ngIf="item.is_blocked!=1">
                  <label class="cust-check-bx float-right">
                    <input type="radio" name="id" (click)="setLegalEntity(item)">
                    <span class="checkmark"></span>
                  </label>
                </td> -->
              </tr>
              <!-- <tr *ngIf="legalEntities?.length<1">
                <p class="show-not-found">{{'addForm.no' | translate}} </p>
              </tr> -->
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<a #contributorListModelOpen class="btn-third btn btn-block" data-target="#contributor-list" data-toggle="modal"></a>
<div class="modal" id="contributor-list">
  <div class="modal-dialog">
    <div class="modal-content notary-avail">
      <div class="modal-header popup-header">
        <h4 class="modal-title">{{'table.th.contributor' | translate}}</h4>
        <button type="button" class="close" data-dismiss="modal" #contributorListModelClose>&times;</button>
      </div>
      <div class="modal-body">
        <!-- <div class="row">
          <div class="col-md-8 col-6">
            <input style="max-width:200px" [(ngModel)]="name" class="form-control" type="text" name="keyword"
              placeholder="{{'addForm.placeholder.search' | translate}}">
          </div>
          <div class="col-md-4 col-5 btn-cont">
            <a class="btn btn-primary pull-right" href="javascript://"
              (click)="selectLegalEntity(name, 2)">{{'addForm.search' | translate}}</a>
          </div>
        </div> -->
        <div class="spacer40"></div>
        <div class="modal-table-data" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
          <div class="table-scroll">
            <table class="table">
              <tr *ngFor="let item of this.contributor">
                <!-- <td *ngIf="item.is_blocked!=1"> -->
                <td>
                  <div class="n-avail-profile">
                    <img [src]="item?.legal_entity?.image| img:'thumb'" onerror='src="assets/img/default_img.png"' alt="img">
                    <div class="n-avail-info" style="cursor: pointer;" (click)="this.navigateToLegalEntity(item)">
                      <p class="p12">{{item.user_type == 1 ?  (item?.users?.name + " " + (item?.users?.first_name ? item?.users?.first_name + ' ' : '') + (item?.users?.second_name ? item?.users?.second_name : '')) : item?.legal_entity?.comm_name}}</p>
                      <p class="p10">{{'addForm.phone' | translate}} : {{item?.legal_entity?.dial_code ? item?.legal_entity?.dial_code : constant.dial_code}}-{{item?.legal_entity?.phone}}</p>
                    </div>
                  </div>
                </td>
                <!-- <td *ngIf="item.is_blocked!=1">
                  <label class="cust-check-bx float-right">
                    <input type="radio" name="id" (click)="setLegalEntity(item)">
                    <span class="checkmark"></span>
                  </label>
                </td> -->
              </tr>
              <!-- <tr *ngIf="legalEntities?.length<1">
                <p class="show-not-found">{{'addForm.no' | translate}} </p>
              </tr> -->
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>