
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-6">
          <div class="title-group">
            <h5>{{'viewACL.label' | translate}}</h5>
            <p>{{'table.pagination.showing' | translate}} {{parameter?.items?.length}} {{'table.pagination.outof' | translate}} {{parameter.total}}</p>
          </div>
        </div>
        <div class="col-md-6 col-6">
          <div class="btn-cont text-right">
              <a *ngIf="admin?.admin_acl['Access Controls']?.can_create==1" class="btn btn-primary" href="javascript://" routerLink="/dashboard/access-control-mgt/add-acl-user/0">{{'table.addNewBtn' | translate}}</a>
          </div>
        </div>
    </div>
  
    <div class="white-bg">
        <div class="tabel-section">
          <div class="table-responsive">
            <table class="table table-striped table-align-left">
              <tr>
                <th style="width:6%">&nbsp;</th>
                <th style="width:20%">
                  <div class="table-search">
                      <label>{{'table.th.name' | translate}}</label>
                      <div class="searh-3">
                        <input type="text" [(ngModel)]="parameter.name" (keyup.enter)="getAclUsers(parameter.page, parameter.name, parameter.phone, parameter.email)" name="">
                        <button *ngIf="parameter.name" (click)="getAclUsers(parameter.page, parameter.name, parameter.phone, parameter.email)"><i class="fa fa-search"></i></button>
                      </div>
                  </div>
                </th>
                <th style="width:20%; text-align:left;">
                  <div class="table-search">
                      <label>{{'table.th.contactNumber' | translate}}</label>
                      <div class="searh-3">
                        <input type="text" [(ngModel)]="parameter.phone" (keyup.enter)="getAclUsers(parameter.page, parameter.name, parameter.phone, parameter.email)" name="">
                        <button *ngIf="parameter.phone" (click)="getAclUsers(parameter.page, parameter.name, parameter.phone, parameter.email)"><i class="fa fa-search"></i></button>
                      </div>
                  </div>
                </th>
                <th style="width:20%">
                  <div class="table-search">
                    <label>{{'table.th.emailAddress' | translate}}</label>
                      <div class="searh-3">
                        <input type="text" [(ngModel)]="parameter.email" (keyup.enter)="getAclUsers(parameter.page, parameter.name, parameter.phone, parameter.email)" name="">
                        <button *ngIf="parameter.email" (click)="getAclUsers(parameter.page, parameter.name, parameter.phone, parameter.email)"><i class="fa fa-search"></i></button>
                      </div>
                  </div>
                </th>
                <th style="width:10%; vertical-align: top;">
                  <div class="table-search">
                    <label>{{'table.th.empId' | translate}}</label>
                  </div>
                </th>
                <th style="width:14%">
                  &nbsp;
                </th>
              </tr>
        
              <tr *ngFor="let item of parameter.items| paginate: { itemsPerPage: parameter.itemsPerPage, currentPage: parameter.page, totalItems: parameter.total }; let i=index">
                <td> 
                    <img *ngIf="item.image" [defaultImage]="item.image| img:'thumb'" [lazyLoad]="item.image" class="rounded-circle" alt="img">
                    <img *ngIf="!item.image" class="rounded-circle" src="assets/img/default_img.png" alt="img">
                </td>
                <td class="text-left">
                  <span class="name">
                    <a data-toggle="popover" data-placement="top" title="{{item.name}}">
                      {{item.name | titlecase}}
                      <!-- {{admin?.admin_acl['Access Controls']?.can_delete}} -->
                    </a>
                  </span>
                </td>
                <td class="text-left" *ngIf="item.phone">{{item.dial_code ? item.dial_code : constant.dial_code}}-{{item.phone}}</td>
                <td class="text-left" *ngIf="!item.phone">{{'table.tr.td.NA' | translate}}</td>
                <td class="text-left" *ngIf="item.email">{{item.email}}</td>
                <td class="text-left" *ngIf="!item.email">{{'table.tr.td.NA' | translate}}</td>
                <td>{{item.id}}</td>
                <td>
                  <div class="table-actions">
                    <!-- <a href="javascript://" routerLink="/dashboard/access-control-mgt/add-acl-user/{{item.id}}" class="icon-block edit-icon"><img src="assets/img/edit.png" alt="img"></a> -->
                    <!-- <a [ngClass]="{'display-none':admin?.admin_acl['Access Controls']?.can_update==0}" href="javascript://" (click)="editData(item, item.id)" class="icon-block edit-icon"><img src="assets/img/edit.png" alt="img"></a> -->
                    <!-- <a href="javascript://" class="icon-block block-icon unblock-bg"><img src="assets/img/block.png" alt="img"></a>
                    <a href="javascript://" class="icon-block block-icon"><img src="assets/img/unblock.png" alt="img"></a> -->
                    <button title="{{'table.title.editDetails' | translate}}" [disabled]="admin?.admin_acl['Access Controls']?.can_update==0" (click)="editData(item, item.id)" class="action-icon"><img src="assets/img/edit.png" alt="img"></button>
                    <button [disabled]="admin?.admin_acl['Access Controls']?.can_delete==0"
                        (click)="blockUnblockPopup(i, item.id, item.is_blocked==1?0:1, parameter.type)" 
                        title="{{item.is_blocked==1 ? ('table.title.unblock' | translate) : ('table.title.block' | translate)}}" [ngClass]="{'unblock-bg':item.is_blocked==1}"
                        class="action-icon"><img src="assets/img/block.png" alt="img">
                    </button>
                    <button [disabled]="admin?.admin_acl['Access Controls']?.can_purge==0" (click)="deletePopup(item, i)" class="action-icon" 
                    title="{{'table.title.delete' | translate}}"><img src="assets/img/ic_delete.png" alt="img"></button>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
  
        <div class="center" *ngIf="parameter.total == 0">
          <img src="assets/img/404-error.png">
        </div>
    </div>
    
    <div class="btn-cont text-right marginT15" *ngIf="parameter.total">
      <pagination-controls class="my-pagination" (pageChange)="getPage($event)"></pagination-controls>
    </div>
    
  </div>
  
